/* the base class name is the name added to each component in the component view js (home.js) */
/* the base class name is the name added to each component in the component view js (home.js) */
.carousel {
    @include theme('whitelabel') {
        color: #fff;
        font-family: $font-family-sans-serif;

        .panel-overlay {
            .text {

                &> h3 {
                    font-size: $font-size-h3;
                }

                .text-small {
                    font-size: $font-size-small;
                }
            }

            .animate-header-button {
                .link {
                    font-size: $font-size-large;
                }
            }
        }


        /* iPads (portrait and landscape) */

        @media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) {

            .panel-overlay {
                .text {
                    &> h3 {
                        font-size: $font-size-h1;
                    }

                    .text-small {
                        font-size: $font-size-large;
                    }
                }
            }
        }

        @media only screen and (min-width: $screen-lg-min) {

            .panel-overlay {
                padding: 5.5% 13%;
                .text {
                    .text-small {
                        font-size: $font-size-large;
                    }

                    &> h3 {
                        font-size: $font-size-h1 + 6;
                    }
                }
            }
        }

        .panel-overlay {
            .text {
                 &> h3 {
                    font-family: $font-family-sans-serif;
                }

                .text-small {
                    font-family: $font-family-sans-serif;
                }
            }

        }
    }
}