@mixin transformRotate($transform) {
	-webkit-transform: rotate3d(0, 0, 1, $transform);
	-moz-transform: rotate3d(0, 0, 1, $transform);
	-ms-transform: rotate3d(0, 0, 1, $transform);
	-o-transform: rotate3d(0, 0, 1, $transform);
	transform: rotate3d(0, 0, 1, $transform);
}
@mixin transitions () {
	-webkit-transition: transform 0.4s linear 0.1s;
	-moz-transition: transform 0.4s linear 0.1s;
	-ms-transition: transform 0.4s linear 0.1s;
	-o-transition: transform 0.4s linear 0.1s;
	transition: transform 0.4s linear 0.1s;
}
