/* Place here common mixins */

@mixin u-curve-concave($percent, $color) {
	$curve : $percent;
	max-width: 1000px;

	position: relative;
	overflow: hidden;

	&:after, &:before {
		content: "";
		background-color: $color;
		position: absolute;
		height: 1.5 * $curve;
		bottom: -1.27 * $curve;
		left: -20%;
		width: 140%;
		border-radius: 100%;
	}

	&:before {
		transform: translateY(0px) rotate(-1.7deg);
		transform-origin: 20% 0;
		opacity: 0.3;
		@media (max-width:1024px) {
			transform: translateY(-2px) rotate(-2.2deg);
		}
		@media (max-width:768px) {
			transform: translateY(-4px) rotate(-2.7deg);
		}
	}
}