.c-purchase-confirmation {
	margin-top:50px;
	.o-text__heading-3 {
		margin-top:50px;
		margin-bottom:20px;
	}
	.o-text__body {
		max-width:650px;
		margin:15px auto;
	}
}
.c-purchase-confirmation__disclaimer {
	font-size:$font-size-h6;
	margin-top:50px;
	p {
		font-size:$font-size-h6;
	}
}
.c-purchase-confirmation__downloadlink {
	margin-bottom:20px;
}