.twitter-feed {

    .twitter-timeline {
        width: 100% !important;
    }

    .twitter-header {

        width: 100%;
        display: table;

        h1 {
            text-transform: uppercase;
        }

        div {
            display: table-cell;
            vertical-align: middle;
            float: none;
        }

        img {
            max-height: 24px;
            width: auto;
        }
    }
}
