.c-thumb-carousel__nav {
    width:200px;
    margin: 0 auto;
    display: none;

    .lazy-load{
        background: none;
    }
    picture{
        width: 40px;
        height: 40px;
        background-color: transparent;
        display: table;
    }

    @media(min-width: $screen-md) {
        position: absolute;
        right: 5%;
        bottom: 20%;
        display: block;
    }

    & .slick-slide {
        cursor: pointer;
        position: relative;
        border: $gray-lighter 2px solid;
        @include rounded(100px);
        padding: 8px;
        margin: 0 5px 0 5px;
        height: 55px;
        width: 55px;
    }

    & .slick-current  {
        border: $brand-primary 2px solid;
         @include theme("men-care") {
           border-color: $brand-secondary;
        }
    }

    & img{
        margin: 0 auto;
        max-width:40px;
        max-height:40px;
        display:table-cell;
        vertical-align: middle;
    }
}

.c-thumb-carousel{
    picture{
        background-color: transparent;
    }
    .slick-arrow{
        width: 18px;
        height: 40px;
        background-size: 18px 40px;
        padding: 20px;
        @include transition(all 1s ease-in-out);

        @media(min-width: $screen-md) {
            display:none!important;
        }
        &:hover{
            opacity: 1;
        }
    }

    .slick-prev{
        left:-25px;
        z-index: 2;
        padding-left: 5px;
        @media(min-width: $screen-sm) {
            left:30px;
        }
    }
    .slick-next{
        padding-right: 0;
        right:-25px;
        @media(min-width: $screen-sm) {
            right:30px;
            padding-right: 5px;
        }
    }
}

.slick-slide {
    outline: none;
}

.c-thumb-carousel__img {
    margin: 0 auto;
}

.slick-prev{
    background:url("../svgs/arrow-left.svg") no-repeat;
    background-size: 8.5px 20px;

}
.slick-next{
    background:url("../svgs/arrow-right.svg") no-repeat;
    background-size: 8.5px 20px;
}


.c-thumb-carousel__product--small{
    .c-thumb-carousel{
        .slick-arrow{
                top:75%;
        }
    }

}