.c-simple-header__logo {
	text-align: center;
	border:1px solid $btn-default-border;
	height: 65px;
	background: $white;

	@media screen and (min-width: $screen-sm) {
       height: 76px;
    }
}
.c-simple-header__link img { 
	margin: 25px 0px; 
}
.c-simple-header__copy {
	text-align: center;
	padding: 34px 0px;
	background-color:$silver;
	border: 1px solid;
}

#timerText{
	display: inline;
	margin-left: 4px;
}
.c-simple-header__copy--expiration {
	display: none;
}