.c-product-range {
	background: url('../images/product-range/product-range-bg.jpg') no-repeat;
    
    &__wrapper {
        display: table;
        padding: 15px 0px;
    }
    
    &__image {
        vertical-align: middle;
        padding: 0 15px;
        text-align: center;

        @media (min-width: $screen-sm) {
            width: 50%;
            display: table-cell;
        }

        @media (max-width: $screen-sm) {
            display: table-header-group;
        }
    }
    
    &__copy {
        vertical-align: middle;
        padding: 0 15px;

        @media (min-width: $screen-sm) {
            width: 50%;
            display: table-cell;
        }

        @media (max-width: $screen-sm) {
            display: table-footer-group;
        }
    }
    
    &__heading {
        @media (max-width: $screen-sm) {
            margin-top: 15px;
        }
    }

    &__description {
        margin: 30px 0px 60px 0px;
    }
    
    &__group {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
}