/* the base class name is the name added to each component in the component view js (home.js) */


    @media (min-width: $bp-extra-large) {
        .navigation .dropdown {
            &.open {
                &:after {
                    border-bottom-color: $gray;
                }
                &:before {
                    border-bottom-color: $gray;
                }
            }
        }
    }

    .navbar {
        background: transparent;
    }
    
    .navbar-default {
        .navbar-toggle {
            border-color: $gray;

            &:hover,
            &:focus {
                background-color: $gray;
            }
        }
    }

    .dropdown-menu {
        > div {
            border-right: 1px solid $gray-dark;
        }
    }

    .multi-column > div {
        > div {
            border-left: 1px solid $gray;
        }
    }

    .navbar-header {
        .icon-bar {
            
        }
    }

    ul.navbar-nav {

        li {
            font-size: $font-size-xx-small;
           
            color: $gray;

            a:hover {
                font-size: $font-size-xx-small;
            }
        }

       
    }

    .dropdown-menu {
        
        @media (min-width: $bp-extra-large) {
           background-color:#666666;
        }
    }

    .navbar-default .navbar-nav, .dropdown-menu {
        > .open {
            > a,
            > a:hover,
            > a:focus {
         
                font-weight: bold;
                color: $color-white;
            }
        }

        > li > a {
            color: $gray;

            &:hover, &:focus {
                font-size: $font-size-xx-small;
                color: $gray;

                @media (min-width: $bp-extra-large) {
                    font-size: $font-size-medium;
                }
            }
        }
    }

    .dropdown {
        &.open {
            a, a:focus {
             color:#fff;
            }

            @media (min-width: $bp-extra-large) {
                

                > a, > a:focus {
                   
                    color: $color-white;
                }

                ul {

                    > li {
                        font-size: $font-size-small;
					
                    }
                }

                h4 {

                    font-size: $font-size-medium;
                    color: $color-white;
                }
            }
        }
    }

    .navigation.top-navigation {
        .navbar-header {
            .navbar-toggle {
                color: $color-white;
            }
        }

        .dropdown-menu:before {
          position: absolute;
          top: -7px;
          left: 10px;
          display: inline-block;
          border-right: 7px solid transparent;
          border-bottom: 7px solid #ccc;
          border-left: 7px solid transparent;
          border-bottom-color: rgba(0, 0, 0, 0.2);
          content: '';
        }

        .dropdown-menu:after {
          position: absolute;
          top: -6px;
          left: 10px;
          display: inline-block;
          border-right: 6px solid transparent;
          border-bottom: 6px solid #ffffff;
          border-left: 6px solid transparent;
          content: '';
        }
    }


