@import 'tabbed-content-recipe-detail';

// Tabbed Control
.tabbed-content {

    &-tabs {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__tab {
        display: inline-block;
    }

    &__link {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px 0;
        border-left: 1px solid $gray;
        cursor: pointer;

        @media(max-width: $screen-sm){
            border-left-color: transparent;
            border-bottom-color: 1px solid $gray-lighter;
        }
    }

    // Disables border for:
    // - the active link
    // - the active links sibling
    // - the first link
    &__tab--is-active &__link,
    &__tab--is-active + li &__link,
    &-tabs &__tab:first-child &__link {
        border-left-color: transparent;
    }

    &__tab--is-active {
        background: white;
        border: 1px solid $gray-lighter;
        border-bottom-color: transparent;
    }

    &-panel {
        clear: both;

        @media(max-width: $screen-sm){
            padding-top: 10px;
        }
    }

    &-panel__body {
        // default
        display: none;
        background: #fff;
        padding: 40px;
        border: 1px solid $gray-lighter;
        margin-top: -1px;
    }

    &-panel__body--is-active {
        display: block;
    }

}