.recipe-detail-page {
  .tabbed-content {
    text-align: center;

    &-tabs {
      display: inline-block;
      margin: 0 auto;
      width: auto;
    }

    &__tab {
      background-color: transparent;
      border-radius: 4px;
      border: 1px solid #f7f1e6 !important;
      padding: 0 19px;
      margin: 0 10px;
      max-height: 40px;
      cursor: pointer;

      &--is-active {
        background-color: #f7f1e6;

        > .tabbed-content__link {
          color: $font-hightlight;
        }
      }
    }

    &__link {
      background-color: transparent;
      border: 0;
      box-sizing: border-box;
      color: #f7f1e6;
      display: block;
      font-weight: bold;
      height: 40px;
      line-height: 40px;
      margin: 0;
      padding: 0;
      width: auto;

      &:hover,
      &:focus {
        text-decoration: none;
        outline: none;
      }
    }

    &-panel__body {
      background: none;
      border: 0;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .recipe-detail-page {
    .tabbed-content {
      &-panel {
        .c-recipe-listing {
          &__wrapper {
            padding: 0;
          }

          &__list {
            &-item {
              width: 50% !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .recipe-detail-page {
    .tabbed-content {
      &-panel {
        .c-recipe-listing__wrapper {
          padding: 0;
        }
      }

      &-panel__body {
        padding: 40px 4.6875%;
      }

      &-tabs {
        max-width: 320px;
        width: 100%;
      }

      &__tab {
        /*width: 90%;
        display: block;
        margin: 5px auto;*/
        padding: 0 10px;
        margin: 0 2px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
