.pdp-page .turn-to {
	max-width:55%;
	margin:0 auto ;
	@media(max-width: $screen-sm) {
		max-width:80%;
	}
}
.c-turn-to{
	margin-top:40px;
}
.TurnToItemTeaser #TT2ILTcount-line {
	display:inline-block;
}
.TurnToItemTeaser #TT2ILTbutton-holder{
	display:inline-block;
	width:auto;
	background-color: $btn-primary-bg-hover;
	color: $btn-primary-color-hover;
	height: 30px;
    text-align: center;
    line-height: 30px;
	margin-right:20px;
	padding:0 20px;
	a{
		color: $btn-primary-color-hover;
		text-decoration:none;
	}
	u{
		text-decoration:none;
	}
}
.TurnToItemTeaser #TT2ILTcount-line a{
	color:$gray;
}
#TTQuestionsAndAnswers .TT3qText{
	color:$gray;
}
.c-turn-to__desc{
	margin:20px auto;
}