@import "quote-article-landing";
.c-quote {
    text-align: center;
    margin: 0 auto 50px;
    padding: 10px 20px;

    &__textblock:before{
        content: "";
        display: inline-block;
        background: url("../svgs/sprites/quote.svg")  no-repeat;
        height: 40px;
        background-size: contain;
        margin: 0 6px 0 0;
        width: 40px;
        vertical-align: middle;
    }
    &__text{
        display: inline;
		font-size: $font-size-medium;
		line-height: $font-size-large;

		p{
			display:inline;
		}

		&:after{
			content: "";
			display: inline-block;
			background: url("../svgs/sprites/quote.svg")  no-repeat;
			height: 40px;
			background-size: contain;
			margin: -20px 6px 0 0;
			width: 40px;
			transform: rotate(180deg);
		}
    }

    &__profile-panel{
        margin: 10px 0;
        img{
            max-width: 80px;
            @include rounded(80px);
        }
    }

    &__social{
        margin-top: 20px;
        .first-child {
            float: none;
            margin:0 auto;
        }
    }

}






