.article-landing-page {
  .c-quote {
    background-image: url("../images/pattern-navigation.jpg");
    background-repeat: repeat;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 25px 0;
    width: 100%;

    &__wrapper {
      max-width: 770px;
      margin: 0 auto;
      text-align: left;
      width: 100%;

      &:before {
        position: absolute;
        left: -20px;
      }
    }

    &__textblock {
      display: inline-block;
      position: relative;

      &:before {
        left: -40px;
        position: absolute;
      }
    }

    &__text { display: inline-block; }

    &__text p {
      color: #333;
      font-family: $font-family-custom;
      font-size: 34px;
      font-style: italic;
      line-height: 1.5;
      text-align: left;
    }
  }
}

@media screen and (max-width: 768px) and (max-width: 991px) {
  .article-landing-page {
    .c-quote {
      &__wrapper {
        width: 80%;
      }

      &__text { display: inline-block; }

      &__text p {
        font-size: 26px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .article-landing-page {
    .c-quote {
      &__wrapper {
        width: 75%;
      }

      &__text p {
        font-size: 24px;
      }
    }
  }
}