@import "related-articles-article-landing";

.c-related-articles {
    &__wrapper {
        text-align: center;
    }

    &-item {
        &-content {
            padding: 20px;

            &__publish-date {
                display: block;
            }
        }
        &-image__container {
            img {
                display: inline-block;
            }
        }
    }

    .slick-slider {
        padding-bottom: 40px;
    }

    .slick-prev {
        left: 15%;
        top: 100%;
        z-index: 24;
        width: 10px;
        background-size: 10px 20px;
        margin-top: -23px;

        @media(min-width: $screen-sm) {
            left: 0;
            top: 50%;
            margin-top: -10px;
        }
    }

    .slick-next {
        background-position: top right;
        right: 15%;
        top: 100%;
        z-index: 24;
        width: 10px;
        background-size: 10px 20px;
        margin-top: -23px;

        @media(min-width: $screen-sm) {
            right: 0;
            top: 50%;
            margin-top: -10px;
        }
    }
}