.c-related-articles {
    background-image: url("../images/bg-recipe-listing.jpg");
    background-repeat: repeat;
    position: relative;

    &:after {
        content: "";
        background-image: url("../images/recipe-top-section.png");
        background-repeat: repeat-x;
        width: 100%;
        display: inline-block;
        position: absolute;
        height: 18px;
        top: -17px;
    }

    .o-text__heading-2 {
        color: $color-white;
        text-align: center;
        font-size: 45px;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        margin: 35px 0;

        &:before,
        &:after {
          content: '';
          background: $color-white;
          display: inline-block;
          height: 1px;
          vertical-align: middle;
          width: 52px;
        }

        &:before {
          margin-right: 10px;
        }

        &:after {
          margin-left: 10px;
        }
    }

    &-item-content {
        text-align: left;
        color: #fff;

        .o-text__heading-2 {
            color: #fff;
            font-family: $font-family-custom;
            font-size: 18px;
            font-style: italic;
            font-weight: normal;
            line-height: 26px;
            margin: 0;
            text-align: left;
            text-transform: none;

            a {
                color: #fff;
            }

            &:before,
            &:after {
                display: none;
            }
        }

        &__publish-date {
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 10px;
        }

        &__link { display: none; }
    }

    &-carousel {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 767px) {
    .c-related-articles {
        &-item {
            padding: 0;
        }

        &-item-content {
            padding-left: 0;
            padding-right: 0;
        }

        &-heading {
            .o-text__heading-2 {
                position: relative;
                font-size: 30px;

                &:before,
                &:after {
                    position: absolute;
                    top: 50%;
                    width: 30px;
                }

                &:before {
                    left: 10px;
                }
                &:after {
                    right: 10px;
                }
            }
        }
    }
}