/* ----------------------------------------------------------------------------- *\
   DEFAULTS
\* ----------------------------------------------------------------------------- */

$theme: 'whitelabel' !default;

/* ----------------------------------------------------------------------------- *\
   CONFIG
\* ----------------------------------------------------------------------------- */

$theme: '<%= theme %>';
$font-path: '<%= fontPath %>';
$image-path: '<%= imagePath %>';

$bp-small: <%= breakpointSmall %>;
$bp-medium: <%= breakpointMedium %>;
$bp-large: <%= breakpointLarge %>;
$bp-extra-large: <%= breakpointXlarge %>;

$containerSmall: <%= containerSmall %>;
$containerMedium: <%= containerMedium %>;
$containerLarge: <%= containerLarge %>;
$containerXLarge: <%= containerXLarge %>;


$icomoon-font-path:  $font-path + 'icons/';

/* ----------------------------------------------------------------------------- *\
   MIXINS
\* ----------------------------------------------------------------------------- */

@import "mixins/rem";
@import "mixins/font-face";
@import "mixins/vw-font-size";
@import "mixins/box-shadow";
@import "mixins/opacity";
@import "mixins/grayscale";
@import "mixins/rounded";
@import "mixins/background-size";
@import "mixins/background";
@import "mixins/gradient";
@import "mixins/cq";
@import "mixins/placeholder";
@import "mixins/column-count";
@import "mixins/appearance";
@import "mixins/font-feature-settings";
@import "mixins/typography";
@import "mixins/theme";
@import "mixins/transition";
@import "mixins/utils";

@import "../js/libs/vendor/sass-bootstrap/lib/_mixins.scss";

/* ----------------------------------------------------------------------------- *\
   THEME
\* ----------------------------------------------------------------------------- */

@import "themes/<%= parentTheme %>/bootstrap-variables";

/* ----------------------------------------------------------------------------- *\
   OBJECTS STYLES
\* ----------------------------------------------------------------------------- */

@import "themes/<%= parentTheme %>/layout";
@import "themes/<%= parentTheme %>/author";

/* ----------------------------------------------------------------------------- *\
   COMPONENT DEFAULT
\* ----------------------------------------------------------------------------- */

<%
for (var key in templatePath) {
    if (templatePath.hasOwnProperty(key)) {
        var filepath = "../../../app/" + parentName + "/sass/views/" + key + "/"+ key,
            actualPath = "app/" + parentName + "/sass/views/" + key + "/_" + key + ".scss";
        if ( grunt.file.exists(actualPath)) {
%>
@import "../../../app/<%= parentName %>/sass/views/<%= key %>/<%= key %>";
<%    }}} %>


/* ----------------------------------------------------------------------------- *\
   PARTIALS
\* ----------------------------------------------------------------------------- */

@import "../../../app/<%= parentName %>/sass/views/partials/partials";

/* ----------------------------------------------------------------------------- *\
   UTILS
\* ----------------------------------------------------------------------------- */

@import "themes/<%= parentTheme %>/utils";
