/* ----------------------------------------------------------------------------- *\
   DEFAULTS
\* ----------------------------------------------------------------------------- */

$theme: 'whitelabel' !default;

/* ----------------------------------------------------------------------------- *\
   CONFIG
\* ----------------------------------------------------------------------------- */

$theme: 'whitelabel';
$font-path: 'fonts/';
$image-path: '../images/';

$bp-small: 320px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-extra-large: 1200px;

$containerSmall: auto;
$containerMedium: auto;
$containerLarge: 1024px;
$containerXLarge: 1024px;

$sapient-centro-slab-font-path:  $font-path +  'sapient-centro-slab/';
$sapient-san-font-path:  $font-path + 'sapient-sans/';

$icomoon-font-path:  $font-path + 'icons/';

/* ----------------------------------------------------------------------------- *\
   MIXINS
\* ----------------------------------------------------------------------------- */

@import "mixins/rem";
@import "mixins/font-family";
@import "mixins/font-face";
@import "mixins/vw-font-size";
@import "mixins/box-shadow";
@import "mixins/opacity";
@import "mixins/grayscale";
@import "mixins/rounded";
@import "mixins/background-size";
@import "mixins/background";
@import "mixins/gradient";
@import "mixins/cq";
@import "mixins/placeholder";
@import "mixins/column-count";
@import "mixins/appearance";
@import "mixins/font-feature-settings";
@import "mixins/typography";
@import "mixins/theme";
@import "mixins/transition";
@import "mixins/utils";

@import "../js/libs/vendor/sass-bootstrap/lib/_mixins.scss";

/* ----------------------------------------------------------------------------- *\
   THEME
\* ----------------------------------------------------------------------------- */

@import "themes/men-care/bootstrap-variables";

/* ----------------------------------------------------------------------------- *\
   OBJECTS STYLES
\* ----------------------------------------------------------------------------- */

@import "themes/men-care/layout";
@import "themes/men-care/author";

/* ----------------------------------------------------------------------------- *\
   COMPONENT DEFAULT
\* ----------------------------------------------------------------------------- */

@import "../../../app/unilever-iea/sass/views/anchor-link-navigation/anchor-link-navigation";
@import "../../../app/unilever-iea/sass/views/breadcrumb/breadcrumb";
@import "../../../app/unilever-iea/sass/views/footer/footer";
@import "../../../app/unilever-iea/sass/views/global-navigation/global-navigation";
@import "../../../app/unilever-iea/sass/views/hero/hero";
@import "../../../app/unilever-iea/sass/views/hero-launch-video/hero-launch-video";
@import "../../../app/unilever-iea/sass/views/category-overview/category-overview";
@import "../../../app/unilever-iea/sass/views/featured-product/featured-product";
@import "../../../app/unilever-iea/sass/views/product-article/product-article";
@import "../../../app/unilever-iea/sass/views/product-listing/product-listing";
@import "../../../app/unilever-iea/sass/views/product-related-alternate/product-related-alternate";
@import "../../../app/unilever-iea/sass/views/article-related/article-related";
@import "../../../app/unilever-iea/sass/views/featured-article/featured-article";
@import "../../../app/unilever-iea/sass/views/product-overview/product-overview";
@import "../../../app/unilever-iea/sass/views/product-copy/product-copy";
@import "../../../app/unilever-iea/sass/views/product-tags/product-tags";
@import "../../../app/unilever-iea/sass/views/home-story/home-story";
@import "../../../app/unilever-iea/sass/views/featured-quote/featured-quote";
@import "../../../app/unilever-iea/sass/views/video-gallery/video-gallery";
@import "../../../app/unilever-iea/sass/views/reviews/reviews";
@import "../../../app/unilever-iea/sass/views/animations/animations";
@import "../../../app/unilever-iea/sass/views/whats-new/whats-new";
@import "../../../app/unilever-iea/sass/views/body-copy/body-copy";
@import "../../../app/unilever-iea/sass/views/body-copy-steps/body-copy-steps";
@import "../../../app/unilever-iea/sass/views/search-listing/search-listing";
@import "../../../app/unilever-iea/sass/views/multiple-related-articles/multiple-related-articles";
@import "../../../app/unilever-iea/sass/views/thumb-carousel/thumb-carousel";
@import "../../../app/unilever-iea/sass/views/social-sharing/social-sharing";
@import "../../../app/unilever-iea/sass/views/zoom-modal/zoom-modal";
@import "../../../app/unilever-iea/sass/views/video-player/video-player";
@import "../../../app/unilever-iea/sass/views/multiple-related-articles-sidebar/multiple-related-articles-sidebar";
@import "../../../app/unilever-iea/sass/views/article-listing/article-listing";
@import "../../../app/unilever-iea/sass/views/body-copy-headline/body-copy-headline";
@import "../../../app/unilever-iea/sass/views/cookie-policy/cookie-policy";
@import "../../../app/unilever-iea/sass/views/sitemap/sitemap";
@import "../../../app/unilever-iea/sass/views/contact-us/contact-us";
@import "../../../app/unilever-iea/sass/views/page-divider/page-divider";


/* ----------------------------------------------------------------------------- *\
   PARTIALS
\* ----------------------------------------------------------------------------- */

@import "../../../app/unilever-iea/sass/views/partials/partials";

/* ----------------------------------------------------------------------------- *\
   UTILS
\* ----------------------------------------------------------------------------- */

@import "themes/men-care/utils";
