.c-product-variants-and-price {
    margin-bottom: 40px;
    
    .c-dropdown {
        @media(min-width: $screen-sm) {
            width: 50%;
            margin: 0 auto;
        }
        
        &-label {
            &--single {
                text-align: center;

                span {
                    float: none;
                }
            }

            &__price {
                line-height: 2.6em;
            }
        }
    }
}