.btn-buy-now {
  .call-to-action__wrapper {
    margin: 15px 0 0 0;
  }

  .container {
    padding: 0;
  }

  button {
    background: #fed141;
    border-radius: 5px;
    border: 0;
    color: #125680;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 9px;
    text-transform: uppercase;

    &:hover {
      background: #ffd85a;
      color: #125680;
    }
  }
}