@import 'buy-now';

.call-to-action {

    &__wrapper{
       margin: 50px 0 0 0;
       position: relative;
    }

    &__link{
        text-decoration:none;
        color:$color-black;
        top:30px;
        &:hover{
            text-decoration:underline;
            color:$gray-dark;
        }
    }
}