

/** BASE STYLES **/

.c-featured__products {
    margin: 0 0 50px 0;

    @media screen and (max-width: ($screen-sm - 1)) {

        margin: 150px 0 70px 0;
    }
    @media screen and (max-width: 500px) {

        margin: 150px 0 100px 0;
    }
    @media screen and (max-width: 400px) {

        margin: 220px 0 170px 0;
    }

    position: relative;

    .row {

        &:nth-child(1) {
            position: absolute;
            width: 100%;
            left: 10px;
            height: 100%;
            @media (max-width: $screen-xs-max) {
                top: -20%;
            }
        }
        &:nth-child(2) {
            @media (max-width: $screen-xs-max) {
                position: relative;
                top: 150px;
            }
        }
    }

}
.c-featured__vanilla-right , .c-featured__vanilla-left{
	@media screen and (max-width: 400px) {
        margin: 150px 0 170px 0;
    }
}
.c-featured__background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    PICTURE {
        height: 100%;
        width: 100%;
        display: block;
    }
    IMG {

        position: relative;
        @media (max-width: 837px) {
            height: 100%;
            left: 50%;
            width: auto;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }
        @media (min-width: 838px) {
            width: 100%;
            height: auto;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateX(-50%);
            transform: translateY(-50%);
        }
    }
}

.c-featured__image {
    z-index: 2;
    height: 100%;


    picture {
        display: block;
        height: 100%;
    }
    .short & picture {
        margin-top: 5%;
        @media (max-width: $screen-xs-max) {
            margin-top: -35%;
        }
    }
    IMG {
        max-width: 100%;
        @media (max-width: $screen-xs-max) {
          //  max-width: 450px;
            display: block;
            margin: 0 auto;
        }
        @media (min-width: $screen-sm) {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}

.c-featured__content {
    z-index: 3;
    text-align: center;
    @media (min-width: $screen-sm) {
        padding-top: 50px;
        padding-bottom: 50px;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        min-height: 450px;
    }
    .o-text__heading-1,
    .c-star-rating,
    .c-text__body {

        margin-bottom: 20px;

    }
    .c-star-rating {
        text-align: center;
        .bv-inline {
            display: inline-block;
        }
    }
    .o-text__heading-1 {
        .c-featured__theme-dark & {
            @media (min-width: $screen-sm) {
                color: #FFF;
            }
        }
    }
}

.c-featured__content-block {
    @media (max-width: $screen-xs-max) {
        position: relative;
        background-color: #FFF;
        & {
            max-width: 450px;
        }
        margin: 0 auto;
        padding: 0 30px;
    }


}

/** c-featured__vanilla-left **/

.c-featured__vanilla-left {
    .o-text__heading-2{
        margin-bottom: 20px;
    }
	.c-featured__image{
		IMG {
			@media (max-width: $screen-sm - 1){
				margin-top:29px;
			}
		}
	}
}

/** c-featured__vanilla-right **/

.c-featured__vanilla-right {
	.c-featured__image{
		IMG {
			margin-top:60px;
			@media (max-width: $screen-sm - 1){
				margin-top:50px;
			}
		}
	}
	.c-featured__background{
		margin-top:100px;
	}
	margin-bottom:170px;
}

/** c-featured__center-left **/

.c-featured__center-left {
    .c-featured__image {
        IMG {
            @media (min-width: $screen-sm) {
                left: -17%;
            }
        }
    }
}

/** c-featured__center-right **/

.c-featured__center-right {
    .c-featured__image {
        IMG {
            @media (min-width: $screen-sm) {
                left: 17%;
            }
            @media (max-width: $screen-xs-max) {
                position: relative;
            }
        }
    }

}


/** c-featured__panel-left **/

.c-featured__panel-left {
    margin: 200px 0 50px 0;
    @media screen and (max-width: ($screen-sm - 1)) {

        margin: 150px 0 50px 0 !important;
    }
    .c-featured__image {
        &:nth-child(1) {
            @media (max-width: $screen-xs-max) {
                display: none;
            }
            IMG {
                -webkit-transform: none;
                -ms-transform: none;
                transform: none;
                top: 100px;
                max-width: 400px;
            }
        }
        &:nth-child(2) IMG {
            -webkit-transform: none;
            transform: none;
            top: -100px;
            @media (max-width: $screen-xs-max) {
                top: 0;
                width: 80%;
            }
        }
    }

    .c-featured__content-block {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 60px 80px;
        @media (max-width: $screen-xs-max) {
            background-color: #FFF;
            padding: 0 30px;
        }
    }
}

/** c-featured__panel-right **/

.c-featured__panel-right {
    margin: 150px 0 50px 0;
    @media screen and (max-width: ($screen-sm - 1)) {

        margin: 150px 0 50px 0 !important;
        .o-btn {
            margin-bottom: 30px;
        }
    }

    .c-featured__image {
        @media (max-width: $screen-xs-max) {
            padding: 0 10px;
        }
        &:nth-child(1) {
            IMG {

                -webkit-transform: none;
                -ms-transform: none;
                transform: none;
                top: -100px;
                @media (max-width: $screen-xs-max) {
                    top: 0;
                }
            }
        }
        &:nth-child(2) {
            @media (max-width: $screen-xs-max) {
                display: none;
            }

            IMG {
                -webkit-transform: none;
                -ms-transform: none;
                transform: none;
                top: 100px;
                max-width: 400px;
                float: right;
            }
        }
    }

    .c-featured__content-block {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 60px 80px;

        @media (max-width: $screen-xs-max) {
            background-color: #FFF;
            padding: 0 30px;
        }
    }
}
