	.contact-page, .form-page, .sign-up-page, .product-gifting-page {
	.o-text__body {
		max-width:600px;
		margin:30px auto 0;
		text-align:center;
		li {
			list-style:none;
		}
		h1, h2 {
			margin:30px 0 10px;
		}
		.c-control-label {
			line-height: 24px;
		}
	}
	.body-copy {
		padding:0 15px;
		margin:20px 0;
	}	
	.form-horizontal {
		margin: 0 auto;
		max-width: 600px;
		.form-group {
			margin-left:0;
			margin-right:0;
		}
	}
	.c-form-copy-content {
		text-align: left;
		margin-bottom:20px;
	}
	input[type=text]:focus, select:focus { 
		@media (max-width: $screen-sm) {
			font-size:16px !important;
		}
	}

}
.contact-page.account-details{
	.o-text__body{
		text-align:left;
	}
}
.contact-page.account-form{
	.c-register-tab-cancel-link{
		margin-top:10px;
		font-weight:bold;
	}
	.o-text__body{
		text-align:left;
	}
}

.forgot-password{
	.c-form-submit-btn{
		float:right;
	}
}
.form-page {
	.social-sharing {
		display: none;
	}
	.c-social-sharing-inline {
		width:300px;
		margin: 0 auto;
	}
}
.c-registration-tab-return-button-content{
	display:none;
}

.form-success-msg {
	text-align:center;
}
.c-form-mandatory, .help-block-error {
	color:$color-error;
}
.c-form-file {
	border-width:0;
	padding:0;
	box-shadow:none;
}
.help-block {
	font-weight:normal;
}
.help-block {
	color:$color-error;
}
.file-error .c-form-file, .has-error-block .form-control, .has-error .form-control {
	border:solid 1px $color-error;
}
.form {
	.form-error-msg {
		&.text-danger {
			margin: 40px auto;
			text-align:center;
			max-width: 600px;
			position: absolute;
		}
	}
	.form-control {
		width:100%;
	}
	.c-control-label {
		color: $gray;
		font-weight: 700;
		margin-bottom: 10px;
		line-height: 24px;
		padding:0 15px;
	}
	.c-form-copy-content__headline {
		margin-bottom: 20px;
		margin-top: 30px;
		text-align: center;
	}
	.c-input-checkbox {
		float:left;
		margin-right:5px;
	}
	.c-form-checkbox {
		.c-control-label {
			margin-bottom:0;
			width:100%;
		}
		p {
			display:inline;
		}
	}
	.c-form-checkbox__label-copy {
		width:92%;
		display:inline-block;
		font-weight:400;
	}
	.g-recaptcha {
		text-align:center;
		margin:20px 0;
	}
	.c-form-radio.input-small {
		width: auto;
		margin: 0px 10px 0px 0px;
		display: inline-block;
	}
	.radio .help-block {
		display: block;
	}
	.c-form-phone-number {
		label {
			padding: 0;
		}
	}
}
.c-field-info__text {
	color:$gray-light;
	font-style: italic;
	font-size:$font-size-h6;
	margin-top:10px;
	display:block;
}

.c-tooltip-form {
	float:left;
	text-align: center;
	.c-tooltip-info__wrap { 
		margin-left:0;
	}
	.c-tooltip-info__copy {
		left:-150px;
		min-width:250px;
		&::before {
		    left: 150px;
		}
		img {
			margin:5px auto;
		}
		@media (min-width: $screen-md) {
			left:-50px;
			right:auto;

			&::before {
			    left: 50px;
			}
		}
		@media (max-width: $screen-sm) {
			min-width:200px;
		}
	}
}

@media (max-width: ($screen-sm - 1)) {
	.contact-page {
		.form {
			display: block;
		}
	}
}

.c-form-textarea {
    resize: none;
    line-height: 24px;
}

.c-registration-tab-link {
	float: left;
	padding: 0px 10px;
	border-right: 1px solid $gray;;
	display: inline-block;
	line-height: 14px;
	color: $gray;
	margin-bottom: 10px;

	&:hover {
		text-decoration: none;
	}
}

.is-regtablink-active {
	font-weight: bold;
}

.is-regtabcontent-active {
	display: block;
}



.c-register-tab-cancel-link {
	display: block;
	padding: 5px 8px;
}

.c-tab-element-wrapper-content {
	position: relative;
	padding-top: 30px;
	min-height: 500px;
    margin-top:50px;
}

.phonenumber-content {
	overflow: hidden;

	.form-group:first-child {
		float: left;
		width: 66%
	}
	.form-group:last-child {
		float: left;
		width: 25.6%;
	}
	.col-sm-11 {
		width: 100%;
		margin: 0px;
	}
}
.registration-page{
	.c-tab-element-wrapper-content{
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;

		.plain-text-image {
			width: 60%;

			.thumbnail {
				overflow: hidden;
			}

			.plain-image {
				width: 100px;
			    overflow: hidden;
			}

			img {
				position: absolute;
			    width: 200px;
			    left: -60px;
			    z-index: -1;
			}

			.caption {
				padding: 40px 0px 0px 100px;
			}
			 @media (max-width: $screen-sm) {
			 	width: 100%;
			 }
		}

		.form .form-error-message{
			position: absolute;
			left: 20px;
			&+form .c-registration-tab-content{
				top: 100px;
			}
			margin:40px;
		}
		form{
			.c-registration-tab-content{
				display: none;
				position: absolute;
				top: 210px;
				min-width: 360px;
                
                .body-copy{
                    padding: 15px;
                }
                @media(max-width: $screen-sm) {
                 top: 290px;
                }
			}
			&.active{
				.c-registration-tab-content{
					display: block;
				}
				.c-registration-tab-link{
					color: $gray-dark;
					font-weight: bold;
				}
			}
			.c-control-label{
				display: block;
			}
			.form-control{
				max-width: 320px;
				@media(max-width: $screen-sm) {
                	max-width: 90%;
                }
			}
			.calendar-input{
				display: inline-block;
			    height: 30px;
			    padding: 0;
			    width: 40px;
			    line-height: 30px;
			}
			button[type="submit"] {
				display: inline-block;
				border: 1px solid $gray-lighter;
				padding: 6px 20px;
				cursor: pointer;
				border-radius: 3px;
				margin: 20px 15px;
			}
		}

	}
	.c-form-btns-content {
		overflow: hidden;

		.c-cancel {
		    display: inline-block;
		    padding: 0px;
		    cursor: pointer;
		    margin: 20px 15px;
		}
		.section {

			.c-cancel {
			    padding: 6px 0px;
			}
		}
	}

	.c-calendar-content {
		.control-label {
			color: #666666;
			font-weight: 700;
			margin-bottom: 10px;
			line-height: 24px;
			padding: 0 15px;
			width: 100%;
		}
		.input-group {
			width: 91.66667%;
			padding: 0px 15px;
		}
		.input-calendar {
			width: 81%;
			background-color: white;
			cursor: text;
		}
	}
	.c-tooltip-info .c-tooltip-info__icon {
		right: 0;
		top: 10%;
		@media (max-width: screen-sm) {
			right: 16px;
		}
	}
	.c-preferences-content, .c-form-checkbox {
		label{
			.help-block{
				display: none;
			}
		}
	}
}

.profile-page {
	.c-profile-tabs-cont {
		margin-top: 50px;

		.plain-text-image {
			.thumbnail {
				overflow: hidden;
			}

			.plain-image {
				width: 100px;
			    overflow: hidden;
			}

			img {
				position: absolute;
			    width: 200px;
			    left: -40px;
			    z-index: -1;
			}

			.caption {
				padding: 40px 0px 0px 100px;
			}
		}
		form{
			button[type="submit"] {
				display: inline-block;
				border: 1px solid $gray-lighter;
				padding: 6px 20px;
				cursor: pointer;
				border-radius: 3px;
				margin: 20px 15px;
			}
		}
	}
	.tabbed-content {
		.nav-tabs {
			border: none;
			outline: none;
			margin: 0px;
			padding: 0px;

			li {
				width: auto !important; 
				padding: 0px;

				a {
					text-transform: none;
					color: $brand-primary;
					padding: 0px 15px;
				}

				&.active {
					a {
						text-transform: none;

						&:hover {
							text-transform: none;
						}

						&:focus {
							text-transform: none;
						}
					}
				}
			}
		}
	}

	.nav-tabs {
		border: none;
		outline: none;

		& li > a {
			border: none;
			background-color: transparent;
			margin-right: 0px;
		}

		& li > a:hover {
			border: none;
			background-color: transparent;
		}

		& > li.active > a {
			font-weight: bold;
		}

		& > li.active a:before {
			content: none;
		}

		& > li.active > a,
		& > li.active > a:hover, 
		& > li.active > a:focus {
		    color: $brand-primary;
		    border: none;
		    background-color: transparent;
		} 
	}

	.tab-content a {
		color: $brand-primary;
		text-decoration: none;
		padding: 0px 15px;
	}

	.c-offers-promotions-content {
		padding: 10px 0px;
		overflow: hidden;
		margin-bottom: 30px;

		a {
			display: block;
			float: left;
			clear: both;
			padding-bottom: 10px;
			font-weight: bold;
		}
	}

	.c-preferences-content {
		display: none;
		.o-text__body {
			margin: 18px 0px 10px 0px;
		}
		label{
			.help-block{
				display: none;
			}
		}
	}

	.c-form-btns-content {
		overflow: hidden;

		.c-cancel {
		    display: inline-block;
		    padding: 0px;
		    cursor: pointer;
		    margin: 20px 15px;
		}
		.section {
			float: left;

			.c-cancel {
			    padding: 6px 0px;
			}
		}
        
	}

	.profile-form-success-msg {
        color: $color-white;
        padding: 10px 15px;
        margin-bottom: 20px;
        background-color: $color-error;

        p {
            color: $color-white;
            line-height: 1;
            margin: 0;
            padding: 0;
            font-size: inherit;
        }
    }

	.c-calendar-content {
		.c-control-label {
			color: #666666;
			font-weight: 700;
			margin-bottom: 10px;
			line-height: 24px;
			padding: 0 15px;
			width: 100%;
		}
		.input-group {
			width: 91.66667%;
			padding: 0px 15px;
		}
		.input-calendar {
			width: 81%;
		}
	}

	.o-text__body {
		padding: 0px 15px;
	}

	.form-group .col-sm-11 {
		@media (min-width: $screen-sm) {
			width: 50%;;
		}
		float: none;

		select {
			width: 80%;
		}
	}

	.c-form-zipcode, .c-form-phonenumber {
		input {
			width: 80%;
		}
	}
}

.forgot-password-page {
	button[type="submit"] {
		display: block;
		border: 1px solid $gray-lighter;
		padding: 6px 20px;
		cursor: pointer;
		border-radius: 3px;
		margin: 20px 15px;
	}

	.c-remember-password {
		padding: 0px 15px;
	}

	.forgot-page-redirect-content {
		.c-call-out-button {
			display: none;
			.container {
				margin: 0px;
				.c-call-out-button__copy {
					text-align: left;
				}
			}
		}
	}
}

.reset-password-page {
	.reset-page-redirect-content {
		.c-call-out-button {
			display: none;
			.container {
				margin: 0px;
				.c-call-out-button__copy {
					text-align: left;
				}
			}
		}
	}

	button[type="submit"] {
		display: inline-block;
		border: 1px solid $gray-lighter;
		padding: 6px 20px;
		cursor: pointer;
		border-radius: 3px;
		margin: 20px 15px;
	}

	.c-form-btns-content {
		overflow: hidden;

		.c-cancel {
		    display: inline-block;
		    padding: 0px;
		    cursor: pointer;
		    margin: 20px 15px;
		}
		.section {
			float: left;

			.c-cancel {
			    padding: 6px 0px;
			}
		}
        
	}

	.progress {
		margin-top: 5px;
		border: 1px solid $gray-light;
		height: 8px;

		.progress-bar-danger, .progress-bar-warning, .progress-bar-success  {
			height: 8px;
			background-color: $gray-lighter;
		}
	}
}

.forgot-password-page, .reset-password-page {
	.form-success-msg, .form-error-msg {
		padding: 0px 15px;
		text-align: left;
	}
	.o-text__body {
		padding: 0px 15px;
	}
	.form-error-msg{
		p{
			color: $color-error;
		}
	}
}

.forgot-password-page .form-horizontal, .reset-password-page .form-horizontal {
	max-width: 400px;

	.plain-text-image {
		clear: both;

		.plain-image {
		    width: 40%;
			float: left;
			overflow: hidden;
			margin-left: -40px;
			margin-right: -40px;
		}
		.caption {
			float: left;
			width: 60%;
			padding-top: 28px;
		}
	}
}

.c-login-wrapper, .c-login-wrap {
	form {
		.thumbnail {
			overflow: hidden;
			.plain-image {
				width: 50px;
			    height: 80px;
			    float: left;
			    position: relative;
			    overflow: hidden;

			    img {
			    	position: absolute;
				    top: 0px;
				    left: -50px;
				    width: auto;
				    height: 80px;
				    max-width: none;
				    margin-top: -17px;
			    }
			}

			.caption {
			    float: none;
			    padding:12px 0px 0px 12px;
			    margin-left: 50px;
			    overflow: hidden;

			    h3 {
			    	margin-bottom: 5px;
			    }

			    h4 {
			    	padding-left: 15px;
			    	margin-left: 0px;
			    }
			}
		}

		button[type="submit"] {
			display: inline-block;
		    border: 1px solid #ccc;
		    cursor: pointer;
		    border-radius: 3px;
		    margin: 20px 15px;
		    padding: 6px 20px;
		}


		.form-group {
			margin-left:0;
			margin-right:0;

			.col-sm-11 {
				width: auto;
				float: none;
			}
		}
		
		.end {
			.c-form-submit-btn{
				margin:0px auto;
			}
		}
		.plain-text-image{
			padding-left:15px;
		}

		.o-text__body {
			padding: 0px;
		}

		.c-tooltip-form {
			.c-tooltip-info__copy {
				left: auto;
				right: -20px;

				&:before {
					left: auto;
	    			right: 20px;
				}
			}
		}
		.form-control.input-md {
			height: 30px;
			font-size: $font-size-base;
		}
		.c-tooltip-info .c-tooltip-info__icon {
			right: 0;
			top: 10%;
		}
		.c-form-checkbox{
			label{
				.help-block{
					display: none;
				}
			}
		}
	}

	.body-copy {
		padding:0 15px;
		margin:20px 0;
		margin: 0 auto;
		max-width: 1000px;

	}
}

.c-form-help-info {
	position: absolute;
	top: 0px;
	right: 0px;
}

.registration-page, .profile-page {
	.progress {
		margin-top: 5px;
		border: 1px solid $gray-light;
		height: 8px;

		.progress-bar-danger, .progress-bar-warning, .progress-bar-success  {
			height: 8px;
			background-color: $gray-lighter;
		}
	}
}
.form-error-msg ~ form .c-registration-tab-content{
	margin-top:90px;
}
.profile-page {
	.form-error-msg {
		&.text-danger {
			position: relative;
		}
	}
}
.read-only-field {
	background-color: white;
	cursor: text;
}

.login-page-iframe {
	margin-top: 0px;
	input[type="text"], input[type="password"] {
		width: 97%;
		height: 30px;
		font-size: $font-size-base;
		padding: 4px 10px;
	}	
}
.contact-page, .sign-up-page {
	.form-error-msg.text-danger {
		position: relative;
		margin: 0 auto;
	}
}