.page-divider {

    .rip {
        background: url('../images/dig/content-rip.png') top center no-repeat;
        background-size: cover;
        width: 100%;
        height: 54px;
        position: relative;
        z-index: 2000;
        top: -54px;

        &.bottom {
            background: url('../images/dig/content-rip-alt.png') top center no-repeat;
            background-size: cover;
            top: $base-spacing*2;
        }
    }
}
