.c-rich-text-v2 {
  color: $color-white;
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;

  .c-rich-text-v2__description {
    display: inline-block;
    vertical-align: middle;

    &:before,
    &:after {
      content: '';
      background: $color-white;
      display: inline-block;
      height: 1px;
      vertical-align: middle;
      width: 52px;
    }

    &:before {
      margin-right: 10px;
    }

    &:after {
      margin-left: 10px;
    }
  }
}

@media (max-width: 767px) {
  .c-rich-text-v2  {
    margin-left: 0;
    width: 100%;

    &__wrapper {
      margin: 55px auto 20px;
    }

    &__description {
      position: relative;
      font-size: 3.000rem;
      line-height: 1.1;
      max-width: 257px;
      width: 100%;
      margin: 0;

      &:before,
      &:after {
        box-sizing: border-box;
        position: absolute;
        margin: 0 !important;
        top: 50%;
        transform: scaleY(-50%);
        max-width: 4.6875%;
      }

      &:before {
        right: 0;
      }

      &:after {
        left: 0;
      }
    }
  }

  .rich-text-related-products {
    .c-rich-text-v2 {
      &__wrapper {
        margin: 55px auto 20px;
      }
    }
  }
}
