.rich-text-related-products {
  color: $font-hightlight;

  .c-rich-text-v2__description {
    color: $color-white;
    font-weight: normal;
    text-shadow:
      -1px -1px 0 $font-hightlight,
      1px -1px 0 $font-hightlight,
      -1px 1px 0 $font-hightlight,
      1px 1px 0 $font-hightlight;
    &:before,
    &:after {
      background: $font-hightlight;
    }
  }
}