// mobile
@media screen and (max-width: 767px) {
  .our-story-page {
    .c-rich-text-v2 {
      &__wrapper {
        margin-bottom: 35px;
      }

      &__description {
        max-width: none;
        width: auto;

        &:before {
          margin-right: 0;
          left: -25px;
        }

        &:after {
          margin-left: 0;
          left: auto;
          right: -25px;
        }
      }
    }
  }
}