@import 'default';
@import 'rich-text-v2-recipes';
@import 'rich-text-v2-about';
@import 'rich-text-landing-products';
@import 'rich-text-related-products';
@import 'rich-text-main-content-text';
@import 'rich-text-v2-suggested-recipes';
@import '_rich-text-v2-recipes-detail-relatated-mayonnaise';

.c-rich-text-v2 {
    &__wrapper {
        margin: 70px auto;
    }

    a {
        color: $gray-dark;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }

    .honerte {
        @include o-text__heading-1;
    }

    .htworte {
        @extend .o-text__heading-2;
    }

    .hthreerte {
        @extend .o-text__heading-3;
    }

    .hfourrte {
        @extend .o-text__heading-4;
    }

    .hfiverte {
        @extend .o-text__heading-5;
    }

    .hsixrte {
        @extend .o-text__heading-6;
    }
}
