.c-rich-text-v2 {
  &.main-content-text {
    .c-rich-text-v2__wrapper {
      margin: 0 auto;
      max-width: 770px;
      width: 100%;
    }

    .c-rich-text-v2__description {
      &:before,
      &:after { display: none; }
    }

    .c-rich-text-v2__description p {
      color: #333;
      font-size: 16px;
      line-height: 24px;
      margin-top: 0;
      margin-bottom: 35px;
      text-transform: none;
      text-align: left;
    }

    .c-rich-text-v2__description h2 {
      font-size: 24px;
      color: #333;
      margin-bottom: 15px;
      text-transform: none;
      text-align: left;
    }
  }

  &.main-content-text--highlight {
    .c-rich-text-v2__description p {
      font-size: 28px;
      line-height: 36px;
    }
  }
}

@media screen and (max-width: 767px) {
  .c-rich-text-v2 {
    &.main-content-text {
      .c-rich-text-v2__description {
        max-width: none;
      }
    }

    &.main-content-text--highlight {
      .c-rich-text-v2__description p {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }
}
