.recipe-detail-related-mayonnaise {
  .container {
    .c-rich-text-v2 {
      &__wrapper {
        margin: 55px auto 25px;
      }

      &__description {
        color: #004976;

        &:before,
        &:after {
          background-color: #004976;
        }
      }
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .recipe-detail-page {
    .product-listing {
      .c-product-listing__product-list {
        font-size: 0;
      }
    }
  }
}
