@mixin buttonTheme($color, $bgColor) {
    background-color: transparent;
    color: $color;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 50%;
    position: relative;
    z-index: 1;
    font-size: 28px;
    font-weight: 700;
    width: 160px;
    height: 49px;
    background: url('../images/common/buttons/button-#{$bgColor}.png') center center;
    background-size: 160px 49px;

    &:hover,
    &:focus {
        top: 3px;
    }
}
