//----------------------------------------------\\
// THEME TYPOGRAPHY
//----------------------------------------------\\

// Typekit FOUT prevention (Usage: @include preventFOUT)
@mixin preventFOUT {
    .wf-loading & {
        visibility: hidden;
    }
}

@mixin fs-body {
    font-family: $font-family-sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: $base-lineHeight;
    @include preventFOUT;
}

@mixin fs-headers {
    font-family: $font-family-serif;
    font-style: normal;
    @include preventFOUT;
}

// Base Typography Styles
body {
    @include fs-body;
}

h1, h2, h3, h5 {
    font-family: $font-family-serif;
    margin: 0;
}

a {
    text-decoration: none;
    transition: all .3s ease-in-out;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
