.c-order-summary {	
    margin: 0 auto 40px;
    @media(min-width: $screen-sm) {
		width: 75%;
	}
	@media(max-width: 380px) {
		.c-tooltip-info__wrap {
			position:static;
		}
		.c-tooltip-info__copy {
			left:20px;
			top:60px;
			&:before {
				left:85px;
			}
		}
	}	
}
.form .c-order-summary {
	width:100%;
}
.c-order-summary__title {
	border-bottom: 1px solid $gray-light;
    padding-bottom: 25px;
    margin: auto;
}
.o-product-label {
	font-size:$font-size-h4;
}

.c-order-summary__container {
    margin: auto;
	padding: 10px 0;
	border-bottom: 1px solid $gray-light;

	.c-order-summary__label {
	    margin: 5px auto;
	}
}
.c-order-summary__total {
    margin: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-light;
}
.c-order-summary__leftpane, .c-order-summary__rightpane {
	.o-product-label, .o-product-price {
		margin:5px 0;
		display: block;
	}
}
.o-product-price-gift {
	font-weight:bold;	
}