.c-recipe-attributes {
    &__list {
        text-align: center;
        padding: 0;
        margin: 10px 0;
        display: inline-block;
        &-item {
            list-style-type: none;
            display: inline-block;
            float: left;
            padding: 5px;
            border: 1px solid #000;
            min-height: 56px;
            min-width: 100px;
            margin: 2px;
            text-align: center;
            @media(max-width: $screen-sm) {
                width: 48%;
            }  
        }
    }
    &-value {
        display: inline-block;
        font-size: 17px;
        font-weight: bold;
    }
    &__value {
        font-size: 14px;
    }
}
