.c-social-gallery__wrapper {
	margin-bottom:50px;
}
.c-social-gallery__title {
	margin-bottom:40px;
}
.c-social-gallery__list {
    position:relative;
	top: 30px;
	opacity: 0;
	min-height:300px;
	text-align: center;
	font-size: 0px;
}
.c-social-gallery__item {
    margin-bottom:30px;
    padding:0 8px;
	display: inline-block;
	float: none;
	font-size: 14px;

    &.active {
    	.c-social-gallery__item-arrow {
    		opacity:1;
    	}
    }
    .o-icon-article {
    	position:absolute;
    	bottom:10px;
    	left:8%;
    }
}
.c-social-gallery__panel{
	@media(min-width: $screen-sm) {
		text-align: left;	
	}
}
.c-social-gallery__loadmore {
	min-height:70px;
    .o-preloader {
		min-height:70px;
		background-position: center 20px;
		top:0;
	}
}
.c-social-carousel__profile-panel{
	display: block;
	margin-bottom: 15px;
	.c-social-carousel__profile-img{
		width: 40px;
	}
}