.c-shoppbale-view-bag-inner-container {
    background: #fff;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 0px 15px #AAA;
    border-radius: 0px;
    padding-top: 1%;
    width: 100%;
    position: relative;
    h2 {
        padding-bottom: 25px;
        margin: 0px -10px;
    }
    .bar-btn {
        clear: both;
    }
    .c-btn1 {
        text-transform: uppercase;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        padding: 8px 22px;
        color: darkgray;
        &:hover {
            text-decoration: underline;
        }
        &:after {
            border-top: 8px solid transparent;
            border-left: 5px solid transparent;
            border-bottom: 7px solid transparent;
            border-right: 9px solid darkgray;
            right: 13%;
            width: 0;
            height: 0;
            content: '';
            display: block;
            position: relative;
            margin-top: -10%;
        }
    }
    .c-btn {
        text-transform: uppercase;
        color: darkgray;
        font-size: 15px;
        line-height: normal;
        font-family: Trebuchet MS, Helvetica, sans-serif;
        font-weight: 700;
        border-color: darkgray;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        background-color: #fff;
        background-image: none;
        filter: none;
        padding: 8px 17px 10px 10px;
        &:hover {
            background-color: darkgrey;
            color: #fff;
            &:after {
                border-left: 9px solid #fff;
            }
        }
        &:after {
            border-top: 8px solid transparent;
            border-left: 9px solid darkgray;
            border-bottom: 7px solid transparent;
            border-right: 5px solid transparent;
            left: 105%;
            width: 0;
            height: 0;
            content: '';
            display: block;
            position: relative;
            margin-top: -22%;
        }
    }
    .checkout-wrapper {
        padding: 20px 0;
        width: 100%;
        border-top: 1px solid #ebebeb;
        margin-top: -1px;
        float: left;
        
        .chkTotal {
            float: right;
            width: 32%;
            padding-bottom: 40px;
            .subtotal {
                font: bold 20px Trebuchet MS;
                color: #23339e;
                padding-bottom: 40px;
            }
            .msg {
                font: normal 16px Trebuchet MS;
                color: #36383e;
                font-style: italic;
                text-align: right;
            }
        }
    }
    .col-heading {
        border-top: 1px solid #a7a7a9;
        border-bottom: 1px solid #a7a7a9;
        padding: 10px 0px;
        margin: 20px 0px 0px 0px;
        font-weight: bold;
        color: #36383e;
        text-transform: uppercase;
        font-size:11px;
    }
    .col-heading ul {
        margin: 0px;
        padding: 0px;
    }
    .col-heading ul li {
        list-style: none;
    }
    
    .shoppable-grid-items {
        ul{
            margin: 0px;
            padding: 0px;
            li{
                border-bottom: 1px solid #ebebeb;
                list-style: none;
                float: left;
            }
        }
        
        span.txt {
            display: none;
        }
        .list-items {
            display: inline-block;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 10px;
            min-height: 185px;
            .product_field {
                margin-left: -25px;
            }
            .action {
                margin-left: 25px;
                a {
                    cursor: pointer;
                    font-weight: bold;
                }
            }
            .detail {
                /*margin-left: 10px;*/
                margin-left: 0px;
            }
            .merchant_field {
                margin-left: 40px;
            }
            .size {
                margin-left: -5px;
            }
            .product_quantity {
                margin-left: 15px;
            }
            .product_price { 
                /* margin-right: -13px; */
                margin-left: 0px;
                /* clear: right; */
            }
            .product_total {
                /*float: right;
                margin-right: -30px;
                margin-top: -16px;*/
                float: right;
                margin-right: -10px;
            }
        }
    }
    .VirtualProductEdit {
        width: 100%;
        padding: 20px 2%;
        min-height: 360px;
        z-index: 99999;
        position: relative;
        background: #fff;
        ul{
            border: none;
            margin: 0;
            padding: 0;
        }
        .virtualProduct-items{
            padding-bottom: 10px;
            padding-top: 20px;
            border:none;
            .product_field img {
                max-width: 100%;
                height: auto;
            }
            .detail{
                margin-left: 25px;
            }
            .merchant_field {
                margin-left: 0px;
            }
            .size {
                margin-left: 50px;
            }
            .product_price {
                margin-top: 5px;
                margin-left: -3px;
            }
            .product_total {
                margin-top: 5px;
                margin-right: -4px;
            }
        }
    }
    @media (max-width: ($screen-sm - 1)) {
        h2 {
            padding: 10px 0px 20px;
        }
        .bar-btn {
            position: relative;
            height: 80px;
            text-align:center;
        }
        .js-shopping-btn {
           
        }
        .js-checkout-btn {
           border: 1px solid;
           width: 100%;
            &:after {
                display: none;
            }
        }
        .checkout-wrapper {
            
            .tnc {
                width: 100%;
            }
            .chkTotal {
                width: 100%;
                text-align: center;
                .msg {
                    font-size: 12px;
                    text-align: center;
                }
            }
        }
        .shoppable-grid-items {   
            .list-items {
                .merchant_field {
                    margin-left: 10px;
                    padding-top: 10px;
                }
                .size {
                    margin-left: 10px;
                    padding-top: 10px;
                }
                .product_quantity {
                    margin-left: 10px;
                    padding-top: 10px;
                }
                .product_price {
                    float: left;
                    padding-top: 10px;
                    margin-left: 10px;
                }
                .product_total {
                    float: none;
                    margin-left: 10px;
                    clear: both;
                    padding-top: 10px;
                }                
            }
        }
    }
}


.VirtualProductEdit ul.clearfix {
    border-bottom: 1px solid #a7a7a9;
    float: left;
    width: 100%;
    padding: 0 0 10px;
    font-weight: bold;
    li {
        border-bottom: 0px;
    }
}

.VirtualProductEdit select {
    width: 80%
}

.VirtualProductEdit .txt {
    display: none
}

.VirtualProductEdit .cancel {
    cursor: pointer
}

.VirtualProductEdit li {
    border: none
}

#virtualProduct-header,
.VirtualProductEdit li.virtualProduct-items {
    width: 100%
}

#virtualProduct-header span.clr {
    display: none
}
#viewMyBag {
    display: none;
}

.virtualProduct-items .virtualProduct-items {
    padding-top: 20px;
    padding-bottom: 10px;
}

.virtualProduct-items {
    /*display: block;
    max-width: 100%;
    height: auto;*/
    width: 100%;
}

.overlEdit{
    padding-top: 20px;
    padding-bottom: 10px;
}
.addtobag {
    position: relative;
    display: inline-block;
    .loading {
        background: #fff url("../images/loader/ajax-loader.gif") center center no-repeat;
        top: 0px;
        height: 100%;
    }
    
}
.shoppable_tnc {
    padding: 20px 0;
    width: 32%;
    float: right;
    clear: both;
    p {
        font: normal 13px Trebuchet MS;
        color: #36383e;
    }
}