.c-smart-label-v2 {
    &__wrapper {
        position:relative;
    }

    &__heading {
        letter-spacing: 0.3px;
        text-align: center;
        color: $gray-dark;
        width: 40%;
        margin: 0 auto;
    }

    &__logo {
        width: 166px;
        height: 35px;
        background: url("/images-cms/smart-label/smartlabel.png") no-repeat;
        top: 2px;
        position: absolute;
        margin-left: 86px;
    }

    &__sub-heading p {
        text-align: center;
        color: $gray-dark;
        width: 40%;
        margin: 30px auto 0;
    }

    &__cta-btn {
        margin: 0;
        text-align: center;
    }

    &__product-variants {
        text-align: center;
        margin: 20px auto 15px;
    }

    &__select {
        width:40%;
        font-size:16px;
        color: $gray-dark;
        
        @media(min-width: $screen-sm) {
            width:18%;
        }    
    }

    &__dropdown-item {
        font-size:14px;
    }
}