.o-hero-section {
    position: relative;
}

.c-hero-body {
    position: relative;
    @media (max-width: ($screen-sm - 1)){
        padding-left: 24px;
        padding-right: 24px;
    }
    .c-hero-variation-article2 & {
        top: -60px;
        @media (min-width: $screen-sm) {
            top: -200px;
        }
    }

    .c-breadcrumb__list {
        margin-top: 0;
        padding-left:0;
        text-align: center;
    }
    .c-breadcrumb {
        padding-top: 30px;
        padding-bottom: 10px;
        @media (max-width: ($screen-sm - 1)){
            display: none;
        }
    }
    .c-breadcrumb__item {
        padding: 5px 0;
    }

}

.c-hero-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 5000;
}

.c-hero-ratio {
    position: relative;

    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 33%;
        .is-hero-video-open & {
            padding-top: 56.25%;
        }

    }
}

.c-hero-video-container {
    position: absolute;
    opacity: 0;
    transition: opacity 2s;

    .is-hero-video-open & {
        opacity: 1;
    }

    &.container {

        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        @media (max-width: 767px) {

            padding: 0;
        }
    }

    .c-video-btn {

        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
        z-index: 1;
        opacity: 0;
        cursor: pointer;

        &.hidden {

            display: none !important;
        }
    }
}

.is-hero-video {

    .c-hero-play {
        content: "";
        display: block;
        width: 100%;
        min-width: 320px;
        height: 100%;
        position: absolute;

        top: -30px;
        .c-hero-variation-article & {

            top: 0;
        }
        @media (max-width: $screen-xs-max) {
            top:0;
        }
        background: url(/svgs/play-video.svg) center no-repeat;
        background-size: 90px;
        z-index: 6;
        cursor: pointer;

        @media (max-width: ($screen-sm - 1)) {
            background-size: 60px;
        }
    }
}

.c-hero-image-adaptive {
    transition: opacity 2s;
    .is-hero-video-open & {
        opacity: 0;
    }
}

.c-hero-button-readmore, .c-hero-button-readmore:hover, .c-hero-button-readmore:focus {

    display: table;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    clear: both;

    .c-hero-variation-article &,.c-hero-variation-article2 & {
        display: none;
    }
}

.c-svg-chevron {
    height: 5px;
    width: 5px;
}

.c-hero-image {

    overflow: hidden;

    PICTURE {
        //position: absolute;
        top: 0;
        min-width: 320px;
    }
    &.is-hero-video-open {
        height: auto;
        max-height: initial;
        background-color: $color-black;
    }
    source, img {
        width: 100%;
    }
}

// Modfications
.c-hero-image {
    position: relative;

    &-wrap {
        position: relative;
    }
}

.c-hero-copy {
    text-align: center;
    padding: $base-spacing;

    @include breakpoint(medium) {
        color: #fff;
        @include center(xy);
    }

    @include breakpoint(large) {
       max-width: 45%;

       .hero-dirt-is-good & {
            max-width: 20%;
       }

    }

    h1 {
        font-size: 32px;
        padding: $base-spacing $base-spacing $base-spacing/2 $base-spacing;

        @include breakpoint(medium) {
            @include skew($bg: $digBlueDarken, $deg: -10deg, $right: 0, $width: 100%);
            color: #fff;

            &:after {
                content: "";
                width: 120%;
                background: $digBlueDarken;
                width: 120%;
                display: block;
                height: 50%;
                position: absolute;
                left: 50%;
                bottom: 0px;
                /* margin-left: -50%; */
                transform: translateX(-50%) skew(-10deg);
                z-index: -1;
            }

            .hero-dirt-is-good & {
                @include skew($bg: $digGreen, $deg: -10deg, $right: 0, $width: 100%);

                &:after {
                    background: $digGreen;
                }
            }
        }

        @include breakpoint(x-large) {
            @include font-size(48px);
        }

    }

    p {
        @include font-size(20px);
    }
}
