.o-hero-section {
    position: relative;
}

.c-hero-body {
    position: relative;
    @media (max-width: ($screen-sm - 1)){
        padding-left: 24px;
        padding-right: 24px;
    }
    .c-hero-variation-article2 & {
        top: -60px;
        @media (min-width: $screen-sm) {
            top: -200px;
        }
    }

    .c-breadcrumb__list {
        margin-top: 0;
        padding-left:0;
        text-align: center;
    }
    .c-breadcrumb {
        padding-top: 30px;
        padding-bottom: 10px;
        @media (max-width: ($screen-sm - 1)){
            display: none;
        }
    }
    .c-breadcrumb__item {
        padding: 5px 0;
    }

}

.c-hero-body-wrap {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-sm-column-offset(3);
    margin-bottom: 20px;

    @include theme("men-care") {
        @include make-sm-column(7);
    }

    .c-hero-variation-article2 & {
        margin-bottom: -60px;
        @media (min-width: $screen-sm) {
            @include make-xs-column(6);
            margin-bottom: -200px;
        }
        @media (min-width: $screen-md) {
            @include make-xs-column(7);
        }
    }
    .c-hero-variation-article & {
        @include make-sm-column-offset(2);
        @include make-sm-column(8);
    }

}

.c-hero-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
}

.c-hero-ratio {
    position: relative;

    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 33%;
        .is-hero-video-open & {
            padding-top: 56.25%;
        }

    }
}

.c-hero-video-container {
    position: absolute;
    opacity: 0;
    transition: opacity 2s;

    .is-hero-video-open & {
        opacity: 1;
    }

    &.container {

        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        @media (max-width: 767px) {

            padding: 0;
        }
    }

    .c-video-btn {

        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
        z-index: 1;
        opacity: 0;
        cursor: pointer;

        &.hidden {

            display: none !important;
        }
    }
}

.is-hero-video {

    .c-hero-play {
        content: "";
        display: block;
        width: 100%;
        min-width: 320px;
        height: 100%;
        position: absolute;

        top: -30px;
        .c-hero-variation-article & {

            top: 0;
        }
        @media (max-width: $screen-xs-max) {
            top:0;
        }
        background: url(/svgs/play-video.svg) center no-repeat;
        background-size: 90px;
        z-index: 6;
        cursor: pointer;

        @media (max-width: ($screen-sm - 1)) {
            background-size: 60px;
        }
    }
}

.c-hero-image-adaptive {
    transition: opacity 2s;
    .is-hero-video-open & {
        opacity: 0;
    }
}

.c-hero-button-readmore, .c-hero-button-readmore:hover, .c-hero-button-readmore:focus {

    display: table;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    clear: both;

    .c-hero-variation-article &,.c-hero-variation-article2 & {
        display: none;
    }
}

.c-svg-chevron {
    height: 5px;
    width: 5px;
}

.c-hero-image {

    overflow: hidden;

    PICTURE {
        //position: absolute;
        top: 0;
        min-width: 320px;
    }
    &.is-hero-video-open {
        height: auto;
        max-height: initial;
        background-color: $color-black;
    }
    source, img {
        width: 100%;
    }
}