.main-footer {
    background: url('../images/dig/main-footer.png') no-repeat;
    background-size: cover;
    width: 100%;
    padding: $base-spacing*3;

    &-inner {
        position: relative;
    }

    .link-list {
        color: #fff;

        a {
            color: #fff;
        }
    }
}

.footer-modules {
    @include cf;

    a {
        color: #fff;
    }

    svg {
        stroke: #fff;
    }

    p {
        margin-bottom: 0;
    }

    .footer-module {
        text-align: center;

        @include breakpoint(medium) {
            @include gallery(4);
            text-align: left;
        }

        li:not(:last-child) {
            margin-bottom: $base-spacing;
        }

        .select,
        &.footer-logo {
            margin-top: $base-spacing;
            margin-bottom: $base-spacing;

            @include breakpoint(medium) {
                text-align: center;
                margin-top: 0;
            }
        }
    }

    .footer-selector {

        &-wrap {
            display: inline-block;
            padding: 14px 18px;
            background: $digBlueDarken;
        }

         span {
            display: inline-block;
            vertical-align: middle;
            margin-right: $base-spacing/2;
        }

        @include breakpoint(medium) {
            text-align: center;
        }
    }

}
