/* the base class name is the name added to each component in the component view js (home.js) */

@include theme('whitelabel') {
    .panel {
        &.component {
            color: $color-white;
           
            .panel-overlay {

                .text {

                    &> h3 {
                        font-size: $font-size-h3;
                    }

                    .text-small {
                        font-size: $font-size-large;
                    }
                }

                .animate-header-button {
                    .link {
                        font-size: $font-size-large;
                    }
                }
            }

            

            @media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) {

                .panel-overlay {
                    .text {
                        &> h3 {
                            font-size: $font-size-h1;
                        }

                        .text-small {
                            font-size: $font-size-large;
                        }
                    }
                }
            }

            @media only screen and (min-width: $screen-lg-min) {

                .panel-overlay {
                    .text {

                        .text-small {
                            font-size: $font-size-large;
                        }

                        &> h3 {
                            font-size: $font-size-h1 + 6;
                        }
                    }
                }
            }
        }
    }
}



