.body-copy-headline {
    margin-top: $base-spacing*2;
    margin-bottom: $base-spacing*2;
    text-align: center;

    h1 {
        font-size: 42px;
        display: inline-block;
        line-height: 1;
        padding: 30px $base-spacing $base-spacing $base-spacing;
        background: url("../images/dig/title-bar-blue.png") no-repeat top center;
        background-size: cover;
        color: #fff;
        margin-bottom: $base-spacing*2;
    }

    .body-copy-headline-text {
        text-align: left;
        margin: 0 auto;

        @include breakpoint(medium) {
            max-width: 65%;
        }

    }

    &.body-copy-orange {
        h1 {
            background: url("../images/dig/title-bar-orange.png") no-repeat top center;
        }
    }

    &.body-copy-green {
        h1 {
            background: url("../images/dig/title-bar-green.png") no-repeat top center;
        }
    }
}


