//----------------------------------\\
// BREAKPOINTS & MEDIA QUERIES
//----------------------------------\\

$S:      480px;
$M:      820px;
$L:      1024px;

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@mixin breakpoint($canvas) {
  @if $canvas == small {
   @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == medium {
   @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == large {
   @media only screen and (min-width: $L) { @content; }
  }
}

@mixin tweakpoint($canvas) {
    @media only screen and (min-width: $canvas) { @content;
    }
}
