// DIG
.dig-country-selector {
    text-align: center;
    margin: $base-spacing*2 auto;

    a {
        color: $digBlue;

        &:hover,
        &:focus {
            color: darken($digBlue, 15%);
        }
    }

    li {
        &:not(:last-child) {
            margin-bottom: $base-spacing;
        }
    }

    .brand-logo,
    h3 {
        margin-bottom: $base-spacing;
    }

    h2, h3 {
        @include fs-body;
    }

    .region {
        margin: $base-spacing*2 0;
    }
}
