/* the base class name is the name added to each component in the component view js (home.js) */
.video {

}

@include theme('whitelabel') {

    .video {

        .video-details {
            h5 {

                font-weight: normal;

            }
        }

        div.video-frame, .video-container{
            background-color: #444;
        }


        .video-details {
            p {
                color: $base-font-color;
            }
        }
    }

    .mfp-content .video-container{
        background-color:  #444;
    }
}

