.c-page-property {
    &-item {
        margin-bottom: 10px;
        
        &__prefix {
            display: inline-block;
            font-weight: bold;
            
            p {
                display: inline;
            }
        }

        &__text {
            display: inline-block;
        }
    }
}