$img_width: 30px;
$seperation_width: 10px;
.list {
	h4 {
		margin-bottom: 17px;
	}

	h5 {
		margin-bottom: 20px;
	}

	img {
		max-width: $img_width;
		max-height: $img_width;
	}

	a[disabled] {
		cursor: default;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		&::after, &::before {
			content: "";
			display: table;
		}
	}

	li {
		margin-bottom: 18px;
		display: table;
		width: 100%;
		> div {
			display: table-cell;
			vertical-align: middle;
			&.thumbnail-image {
				width: $img_width+10;
			}
		}
	}

	p {
		margin: 0;
		padding: 2px 0 0;
	}
}

.cq-wcm-edit {
    .component.list {
        img {
            width: auto;
        }
    }
}