.c-simple-footer__section {
    border-top: 1px solid $gray-lighter;
    padding:30px 0;
}
.c-simple-footer__list {
    list-style: none;
    text-align: center;
    margin:0;
    padding:0;
    @media screen and (min-width: $screen-sm) {
        float: left;
    }
}  
.c-simple-footer__item {
    margin: 15px 0px;   
    @media screen and (min-width: $screen-sm) {
        display: inline;
        padding:0 15px;
        border-left: 1px solid $gray-lighter;
        &:first-child {
            border-left:0 none;
        }
    }
   
} 
.c-simple-footer__link {
    color: $gray;
}
.c-simple-footer__copyright {
    text-align: center;
    @media screen and (min-width: $screen-sm) {
        float: right;
    }
}
.c-simple-footer {
    .c-footer-unilever, .c-copyright-label {
        display: inline-block;
        margin-left: 10px;
    }
}
