.c-where-to-buy {
	.c-where-to-buy-product-list {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: 10px;
			a {
				display: block;
				div {
					display: inline-block;
					vertical-align: top;
				}
				&:link, &:visited, &:hover, &:active, {
					text-decoration: none;
				};
			}
		}
	}

	.c-where-to-buy-product-info {
		padding: 0px 10px
	}

	.c-where-to-buy-product-variant__list {
		margin: 0px;
		padding: 10px 0px;
		list-style: none;
		display: none;
	}

	.c-where-to-buy__select {
		margin: 0 0 15px 0;
	}

	.o-where-to-buy-header {
		padding: 15px 0px;
	}

	.c-where-to-buy__form .input-md {
	    height: 50px;
	}

	.c-where-to-buy__form-wrapper {
		display: none;

		select {
			margin: 0;
		}
	}
}