.recipe-detail-page {
  .recipe__introduction {
    height: auto;
    margin: 0 auto;
    padding: 60px 0 40px;
    max-width: 800px;

    .c-recipe-content-ingredients {
      .o-text__heading-2,
      &__list {
        display: none;
      }

      .o-text__heading-5 {
        font-family: $font-family-sans-serif;
        color: $neutral-5-color;
        font-size: 24px;
        line-height: 30px;
        text-align: left;
      }
    }
    
  }
  .recipe__ingredients {
    background: url('../images/recipe-copy/recipe-detail/bg-recipe-copy-1.png');
    background-position: top right;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 740px;
    padding-left: 60px;
    width: 48.623853211%;

    .c-recipe-content {
      height: auto;
      padding: 0;
      
      &-ingredients {
        font-size: 12px;
        padding-top: 31px;
        width: 100%;

        .o-text__heading-2 {
          background: url('../images/recipe-copy/recipe-detail/recipe-copy-heading.png');
          background-position: center;
          background-repeat: no-repeat;
          display: block;
          font-size: 0;
          height: 65px;
          width: 100%;
        }

        .o-text__heading-5 {
          display: none;
        }

        &__list {
          margin-bottom: 10px;
          margin-top: 20px;
          padding: 0 32px;
          width: 100%;
          
          &-item {
            border: 1px dotted $font-hightlight; 
            border-bottom: 0;
            border-left: 0;
            border-right: 0;
            box-sizing: border-box;
            color: $font-hightlight;
            font-size: 16px;
            line-height: 32px;
            padding: 7px 0;
            padding-left: 20px;
            width: 100%;

            &:last-child {
              border-bottom: 1px dotted $font-hightlight;
            }

            &:after {
              display: block;
              content: '';
              clear: both; 
            }
          }
        }
      }
    }

    &__cta {

      &-nutrition,
      &-buy {
        .call-to-action__wrapper {
          margin: 0;

          button {
            border: 0;
            border-radius: 4px;
            color: $font-hightlight;
            display: block;
            font-family: $font-family-sans-serif;
            font-size: 14px;
            font-weight: bold;
            height: 50px;
            line-height: 50px;
            margin: 10px auto;
            text-transform: uppercase;
            width: 270px;

            &:hover {
              background-color: $font-hightlight;
              color: $neutral-light-color;
            }
          }
        }
      }

      &-nutrition .call-to-action__wrapper button {
        background-color: $neutral-light-color;
      }

      &-buy .call-to-action__wrapper button {
        background-color: $brand-yellow-button;
      }
    }
  }
}

//mobile
@media screen and (max-width: 767px) {
  .recipe-detail-page {
    .recipe {
      &__introduction {
        padding: 40px 4.6875% 30px;

        .o-text__heading-5 {
          font-size: 20px;
          line-height: 28px;
        }
      }

      &__ingredients {
        display: block;
        margin: 0 auto;
        max-width: 380px;
        padding: 0 2.34324%;
        width: 100%;
        
        &__cta {
          &-nutrition,
          &-buy {
            .call-to-action__wrapper button {
              max-width: 270px;
              width: 100%;
            }
          }
        }
      }

      .c-recipe-content-ingredients__list {
        padding: 0 3.75%;

        &-item {
          line-height: 30px;
        }
      }
    }
  }
}