@import 'recipe-copy-recipe-detail';

.c-recipe-content {
	padding: 5px;
    @media(max-width: $screen-sm) {
    	text-align: center;
    }  
    .o-text__heading-1{
        margin-bottom: 20px;          
    }
    
	&-ingredients {
		.o-text__heading-2 {
			text-align:center;
			padding: 10px 0;
		}
		&__list-item {
			list-style-type: none;
			padding: 5px 0;
			text-align:left;
		}
	}    
    &__tips{
        padding: 15px;
        border: 1px solid $gray;
        .o-text__heading-2 {
            text-align: center;
        }
        .o-text__heading-3 {
            margin: 0 0 15px;
        }
    }
}