/* the base class name is the name added to each component in the component view js (home.js) */
@include theme('whitelabel') {    
    .content-results-grid {
        clear: both;

        .grid-header {
            h2 {
                font-size: $font-size-x-large;
                border-bottom: 1px solid $gray-dark;
            }
        }

        .sortby {
            font-family: $font-size-medium;
        }

        .grid-body-head {
            font-size: $font-size-large;
        }

       

        .caption {

            h4 {
                a {
                    font-size: $font-size-medium;
                }
            }

            p {
                font-size: $font-size-small;
            }
        }

        .grid-body-head {
            .total-res {
                font-family: $font-family-sans-serif;
            }
        }

        .thumbnail {
            

            .thumbnail-arrow {
                color: #d4d1c7;
            }
        }

        .caption {
				text-align:center;
            h4 {
                a {
                    color:$gray;
                    font-size: $font-size-medium;
                }
            }
			a{
				color:$gray;
			}
            p {
               
                font-size: $font-size-small;
            }
        }

        .dropdown-toggle {
            background-color: $color-white;
            color: $color-black;
        }

        ul.dropdown-menu {
            background-color: $color-white;

            li > a{
                color: $color-black;
            }
        }

        .btn-group {
            button {
                font-size: $font-size-medium;
            }
        }

        .btn-group.open {
            .dropdown-toggle {
                font-family: $font-size-medium;
                background-color: $color-white;
                color: $color-black;
            }
        }
    }
}

@include theme('aurora') {

    .content-results-grid {
        .thumbnail {
            background: $color-white;
            border-bottom: 1px dotted $gray;
        }

        .caption {

            h4 {
                a {
                    color: $gray;
                    font-size: $font-size-medium;
                }
            }

            p {
                color: $gray-dark;
                font-size: $font-size-small;
            }
        }
    }
}