.c-social-gallery__wrapper {
	margin-bottom:50px;
}
.c-social-gallery__title {
	margin-bottom:40px;
}
.c-social-gallery__list {
    position:relative;
	top: 30px;
	opacity: 0;
	min-height:300px;
	
	.o-quick-panel{
		text-align: left;
	}
}
.c-social-gallery__item {
    margin-bottom:30px;
    padding:0 8px;

    &.active {
    	.o-quick-panel__item-arrow {
    		opacity:1;
    	}
    }
    .o-icon-article {
    	position:absolute;
    	bottom:10px;
    	left:8%;
    }
}
.c-social-gallery__loadmore {
	min-height:70px;
	.o-preloader {
		min-height:70px;
		background-position: center 20px;
		top:0;
	}
}
.c-social-gallery__img {
	max-width:100%;
}
.c-social-gallery__panel-imgwrap__link {
    display: block;
}
.c-social-gallery__profile-panel{
	display: block;
	max-width: 60px;
	.c-social-gallery-video__profile-img{
		width: 40px;
	}
}
.c-social-gallery__panel-icon{
	.c-svg{
		display: block;
		margin-bottom: 10px;
	}
	.c-social-gallery__panel-viewcount{
		font-size: 14px;
	}
}
.c-social-gallery__panel-content{
	margin-top: 15px;
	@media(min-width: $screen-sm) {
		margin-top: 0;
	}
}