.c-search-store-results {
	margin-top: 10px;
    .input-md{
            height:50px;
            margin-top: 10px;
        }
	.c-search-store-form {
        margin-top: 30px;
        margin-bottom: 50px;
		.c-control-label {
			display: block;
		}
        .form-group {
            padding: 0 20px;
        }
        .o-btn {
            margin-top: 20px;
			padding: 0 20px;
        }
	}
    .c-search-store .o-dropdown
        {
            margin-left: 0px;
            @media(max-width: $screen-sm) {
               //width: 85%;
            }
        }

    .c-search-store {
		text-align:center;

        .postalCode{
            //width: 85%;
        }
        .c-form-help-info{
            top:40%;
            right: 10%;
        }
        .c-tooltip-info__copy{
            left:-70px;
            min-width:200px;
           @media(max-width: ($screen-md - 1)) {
                left:-175px;
            }
        }
    }



	#map-canvas {
        height: 200px;
        width: 100%;
        @media(min-width: $screen-sm) {
           height: 300px;
        }
        h4,p {
        @media(max-width: $screen-sm) {
           margin:0;
           font-size: 12px;
        }
        }
    }
	.c-result-list-header span {
		font-weight: bold;
	}
	.c-buy-store-result {
        display: none;
        &.success-state {
            display: table;
            width: 100%;
            @media(min-width: $screen-sm) {
                display: block;
                width: auto;
            }
        }
	}
    .js-store-info + div {
        display: table-caption;
		margin-bottom:30px;
         @media(min-width: $screen-sm) {
            display: block;
        }
    }
    .o-store-info--desc{
        padding:10px 15px;
        display: table-header-group;
        @media(min-width: $screen-sm) {
            display: block;
        }
    }
	.c-result-list-body{
		clear: both;
	}
    .c-result-list-body ul{
        margin: 0;
        padding: 0;
    }
	.c-result-list-body li {
		list-style: none;
		overflow: auto;
		margin-bottom: 20px;
        padding: 20px 0;
        background: #e7e7e7;
        .c-store-titile {
            font-weight: bold;
        }
        &.active {
            border: 1px solid;
        }
	}
	.c-result-list-body p {
		font-size: $font-size-base;
		padding: 5px 0 0;
		margin: 0;
	}
	.c-result-list-body p + p {
		padding: 0 0 5px;
	}
	.c-product-info {
		position: relative;
        margin-top: 20px;
	}

	.o-product-info-front{
		text-align: center;

		.label {
			text-align: left;
		}
		a {
			display: inline-block;
			width: 90px;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

    .o-store-info--desc{
        a{
            color: #333;
            text-decoration: none;
            float:right;
        }
    }

	.o-product-info-back {
		background-color: #ddd;
		position: absolute;
		top: 0;
		text-align: center;
		padding: 10px 15px;

		a {
			display: inline-block;
			width: 90px;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

    .search-desc {
        display: inline-block;
    }

	.etale-popup {
		height: 560px;
        border: 1px solid #000;
        width:500px;
        @media(min-width: $screen-sm) {
            width: 100%;
        }
	}

	.c-etale-popup {
		width: 305px;
		margin: 20px auto;
	}

	.c-buyonline {
		display: block;
		vertical-align: middle;

		.addtobag{
			margin-top: 20px;
			margin-left: 10px;
			.btn{
				line-height: 49px;
				padding: 0 20px;
			}
		}
	}
	.c-buy-online-prefix{
		display:block;
		margin-top:20px;
		margin-bottom:20px;
	}
}


@media print {
    .footer--nav, .o-navbar-tier1-scroller-wrapper .o-navbar-collapse, .js-btn-loadmore,.c-store-search-listing__item a:link:after, .c-store-search-listing__item a:visited:after, .c-search-wrapper, #product-teaser-93, .c-productTeaser.col-sm-3, .c-search-store .o-text__heading-2, .c-search-store form, .o-navbar-tier1-wrapper, .o-store-info--desc.col-xs-12 a,.c-secondary-nav{
        display: none !important;
        content: "";
    }

	header {
		margin-top: -100px;
	}
	.o-navbar, .c-secondary-nav {
		border-bottom: transparent;
		position: relative;
	}
	.o-navbar-logo {
		display: block;
		margin: 0 auto;
		width: auto;

        img{
            margin:0 auto;
        }
	}
    a[href]:after {
        content: none !important;
    }
    .c-search-store.col-sm-3.col-md-3{
        width: 25%;
        float: left;
    }
    .o-text__heading-2{
        font-size: $font-size-h3;
        padding: 0;
    }
    .c-search-store.col-sm-9.col-md-9{
        width: 75%;
        float: right;
    }
    .c-result-list-header span {
        display: inline-block;
        float: left;
        width: 25%;
        padding-top:  10px;
        padding-bottom: 10px;
    }
    img {
        max-width: none !important;
    }
    .search-desc.visible-xs {
        display: none !important;
    }
    .c-result-list-header, div#map-canvas ,.c-search-store,.hidden-xs.search-desc{
        display: block !important;
    }
	.o-store-info--desc {
        margin-top: 430px;
    }
    .js-store-info, .o-store-info--desc {
        width: 100% !important;
        float: left;
    }
    .js-store-info + div{
        /*display: inline-block !important;*/
        width: 100% !important;
        /*float: right;*/
        position: absolute !important;
    }
    .buy-in-store-search-result {
        .c-result-list-body p{
            font-size: $font-size-h6;
            padding-top: 0;
        }
    }
    .buy-in-store-search-result {
        .c-result-list-body li{
            margin-bottom: 0;
            padding: 0;
        }
    }
    #map-canvas{
        height: 400px !important;
        top: 70px !important;
        position: static !important;
        width: 100%;
        a[href]:after {
                content: none !important;
         }
     }
    p,.o-text__body {
        line-height: 18px;
    }
    .js-store-info ul li {
        display: block;
        width: 100%;
    }
    .js-store-info ul li div {
        width: 23% !important;
        display: inline-block !important;
    }
	.buy-in-store-search-result {
		margin-top: 20px;
	}
}

@media print and (orientation:landscape) {
	header {
		margin-top: -200px;
	}
	.buy-in-store-search-result {
		margin-top: 70px;
	}
}