.c-expandcollapse {
	border-bottom:solid 1px $gray-light;

    .c-expandcollapse__link {
        .c-svg.plus {
            fill:$gray;
            float:right;
            height:20px;
            stroke:$gray;
            width:20px;

            @include theme("whitelabel") {
                margin-top:4px;
            }

            @include theme("men-care") {
                margin-top:1px;
            }
        }
    }
}

.c-expandcollapse__title, .c-expandcollapse__body {
    padding-right:30px;
}

.c-expandcollapse__header {
    &.expanded {
        .c-svg.plus {

        }
    }
}

.c-expandcollapse__body {
    background:$color-white;
    padding:0 15px 15px;
}
