.o-global-search {
	.o-modal {
		z-index:99;
	}
	.o-btn--close {
		position:absolute;
		right:10px;
		top:10px;
		border:0 none;
		text-indent:-999px;
	}
	.o-modal-content {
		white-space: inherit;
		cursor:default;
	}
	.o-modal-header {
		padding:30px 0;
		@media(min-width: $screen-sm) {
			padding:100px 0 30px;
		}
	}	
}
.c-global-search {
	margin-top:20px;
	@media(min-width: $screen-sm) {
		float:none;
		margin:50px auto 0;
	}
}
