.js-btn-search {
	position:absolute;
	left:0;
	top:15px;
	@media(min-width: $screen-sm) {
		float:right;
		position:relative;
		top:0;
	}
}
.c-global-search__wrapper {
	position:relative;
}
.c-global-search__textbox {
	width:100%;
	background:transparent;

	@media(min-width: $screen-sm) {
		width:85%;
		float:left;
	}
}

/* How'd you like them apples IE 10? */
.c-global-search__textbox::-ms-clear {
  	display: none;
}