.form {
    .form-horizontal {
        .control-label {
            text-align: left;
            padding-bottom: 7px;
            text-transform: capitalize;
            font-weight: bold;

            @media (min-width: $screen-sm) {
                font-weight: normal;
            }

            @media (min-width: $screen-md) {
                font-weight: normal;
                padding-right: 0;
                padding-left: 0;
                padding-bottom: 0;
            }

            &.sr-only {
                padding: 0;
            }
        }

        .form-group {
            margin-left: 0;
            margin-right: 0;
            margin-top: 14px;

            .multivalue-field {
                padding-bottom: 10px;

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }

    legend {
        padding: 6px 0 20px 15px;
        margin-bottom: 0;
    }

    label {
    	font-weight: normal;
    }

    .form-control {
        &.input-md {
            height: 44px;
        }
    }

    select {
        &.form-control {
            &.input-md {
                height: 30px;
                padding: 4px 12px;
                &[multiple] {
                    height: auto;
                }
            }
        }
    }

    .input-group {
        .icon-close-light {
            font-size: 13px;
        }

    }

    .input-group-addon {
        cursor: pointer;
        cursor: hand;
        padding: 5px 12px;
        .icon-calendar-new {
            font-size: 11px;
        }
    }

    .form-error-msg {
        .error-msg-text {
            padding-left: 10px;
        }
    }

    .form-success-msg {
        .success-msg-text {
            padding-left: 10px;
        }
    }

    @media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) {
            .input-calendar {
                width: percentage((12 / $grid-columns));
                display: inline-table;
            }
        }

    @media (min-width: $screen-sm-min) {
        legend {
            padding: 10px 0 22px 15px;
            margin-bottom: 0;
        }

        .form-horizontal {
            .form-group {
                margin-top: 15px;
            }
        }

        .form-control {
            &.input-md {
                height: 30px;
            }
        }

        select {
            &.form-control {
                &.input-md {
                    height: auto;
                }
            }
        }
        .input-xsmall {
            width: percentage((1 / $grid-columns));
            display: inline-table;
        }

		.input-small {
            width: percentage((7 / $grid-columns));
	    }


	    .input-medium {
	    	width: percentage((9 / $grid-columns));
	    	display: inline-table;
	    }

        .input-large {
            width: percentage((12 / $grid-columns));
            display: inline-table;
        }

	    .help-block {
	    	display: inline-block;
            padding-left: 5px;
	    }
    }

    @media (max-width: $screen-xs-max) {
		button {
			margin-bottom: 30px;
		}

		select.input-md {
			height: auto;
		}
    }

    @media (min-width: $screen-sm-min) {
        .form-horizontal {
            .form-group {
                margin-top: 18px;
                margin-bottom: 10px
            }
        }
    }
}
