.c-media-gallery-v2 {
    &__heading {
        text-align: center;
    }

    &__list {
        position:relative;
        margin-top: 30px;
    }

    &__item {
        margin-bottom:30px;
        padding:0 8px;
        text-align: center;
        display: none;

        &.active {
            .c-media-gallery-v2__item-arrow {
                opacity: 1;
            }
        }

        &-arrow {
            content: "";
            position: absolute;
            bottom:-30px;
            left: 50%;
            width: 0;
            height: 0;
            opacity: 0;
            margin-left:-15px;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid $gray-pale;
            @media (min-width: $screen-sm) {
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 20px solid $gray-pale;
                margin-left:-20px;
            }
        }
    }

    &__loadmore {
        min-height:70px;
        text-align: center;
    }

    &__panel {
        display:none;
        background: $gray-pale;
        z-index: 1;
        position: absolute;
        z-index: 10;

        @media(max-width: ($screen-sm - 1)) {
            min-height: 420px;
        }
        @media(min-width: ($screen-sm)) {
            min-height: 380px;
        }

        &.active {
            .c-media-gallery-v2__panel-imgwrap {
                display: block;
            }
        }

        &-wrap {
            padding:30px 50px;
            text-align: center;

            @media (max-width: ($screen-sm - 1)) {
                padding: 50px;
            }
        }

        &-imgwrap {
            position: relative;

            &__link {
                display: block;
            }

            img {
                max-width: 100%;
            }
        }

        &-videowrap {
            position: relative;

            &__video {
                width: 100%;
                height: 90%;
            }
        }

        &.active {
            display:block;
        }

        &-close {
            position: absolute;
            right: 15px;
            top: 15px;
            border: 0 none;
            background: url("../svgs/sprites/cross.svg") center no-repeat;
            width: 20px;
            height: 20px;
            text-indent: -9999px;
        }
    }

    .o-arrow__prev, .o-arrow__next {
        position:absolute;
        top:43%;
        z-index: 2;
        width:17px;
        height:40px;
        border:0 none;
        text-indent: -9999px;
        display:none;
        @media(max-width: ($screen-sm - 1)) {
                top: 40%;
        }
    }

    .o-arrow__prev {
        background:url("../svgs/arrow-left.svg") no-repeat;
        background-size: 17px 40px;
        left:25px;
       @media(max-width: ($screen-xs)) {
            left:10px;
        }
    }
    .o-arrow__next {
        background:url("../svgs/arrow-right.svg") no-repeat;
        background-size: 17px 40px;
        right:25px;
        @media(max-width: ($screen-xs)) {
            right:10px;
        }

    }

    &__thumbnail {
        a {
            display: block;
        }

        &-subheading {
            display: block;
            margin: 15px 0;
        }

        &-caption {
            padding: 0px 15px;
            overflow: hidden;
            min-height: 40px;

            p {
                height: 30px;
                line-height: 30px;
                margin: 0;
            }

            @media(max-width: ($screen-sm - 1)) {
                min-height: 150px;
            }
        }

        &-img {
            position: relative;

            img {
                max-width: 100%;
            }
        }
    }

    &-player__btn {
        position: absolute;
        top: 0;
        left: 0;
    }
}


