
.c-body-copy-headline__wrap {
    margin:0 auto;
    @media (min-width: $screen-sm) {
        max-width:66.66667%;
    }
}

.c-body-copy-headline__body {
    position: relative;
   .bws-sharenav-wrapper {
       margin: 0 auto;
    }
    margin-bottom: 30px;
}

.c-body-copy-headline__copy {
    text-align: center;
    overflow: hidden;

    .c-body-copy-headline__container {
        height: 0;
        .c-body-copy-headline__article {
            margin-bottom: 0;
            padding-bottom: 20px;
        }
    }

    .o-text__heading-1 {
        line-height: 40px;
        margin-bottom: 20px;
        padding-top: 1px;
    }
	ul {
    	margin:8px auto;
    	text-align:left;
    	font-size:16px;
    	line-height:26px;        
        .c-social-sharing-list {
            margin-bottom: 20px;
        }
	}
}

.c-body-copy-headline__article {   
    line-height: 26px;
    margin-bottom: 0;
    text-align: center;
	@media(max-width:$screen-sm){
		padding:0 24px 0 24px;
	}
}

.article-steps-page .c-body-copy-headline {
    margin-bottom: 35px;
}