<style>
	body{
	 	color:#666666; 
		font-family:sans-serif;
	}

	body a{
		text-decoration:none;
		color:#666666;
		font-family:sans-serif;
		font-weight:bold;
		font-size:0.83em;
	}

	body h1 { color:#002663; }
	body p { font-size:0.83em; margin:0 0 5px;}
	td {
        
	}
</style>
<body>
<table align="center" cellpadding="0" cellspacing="0" width="100%" style="width:700px" bgcolor="#ffffff">
	<tr>
		<td valign="top" align="center">
		  <table width="100%" cellpadding="0" cellspacing="0" style="background-color: #ffffff;">
		  <!--header -->
			<tr>
				<td colspan="5" border="1" valign="middle" height="60" align="center" style="background: #ffffff;">
					<a href="http://dove.com"><img src="/images/email-template-images/dove_logo.png" width="70px" height="60px" style="display: block;" /></a>
					<hr style="height:1px; background:#DBC081; border:none;">
				</td>
			</tr>
			<!-- row1 -->
			
			<tr>
				<td colspan="5" border="1" valign="top" height="200" style="background: #ffffff;">
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td style="text-align:center;">
								<h1>Thank You!</h1>
								<p>Dear[full name]</p>
								<p>Thank you for your recent purchase with Dove.</p>
								<p>We aim to deliver orders <b>within 5-7 business days.</b></p>
								<p>Below is summary of your order.</p>
							</td>
						</tr>
					</table>
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td width="50%"><p>Order number <b>123456789XYZ</b></p></td>
							<td width="50%"><p style="text-align:right;">Date of order <b>2015/11/13 at 21:47:24</b></p></td>
						</tr>
					</table>
					<!-- horizontal line -->
					<table width="100%" cellpadding="0" cellspacing="0" style="margin-top:10px; margin-bottom:10px;">
						<tr>
							<td valign="top" style="background:#DBC081; height:1px; padding:0px; margin:0px;"></td>
						</tr>
					</table>
				</td>
			</tr>
			<!-- row2 -->
			<tr>
				<td colspan="5" border="1" valign="top" height="90" style="background: #ffffff;">
					<table width="100%" ellpadding="0" cellspacing="0">
						<tr>
							<td width="70%" valign="top">
								<h5>DermaSpa Goodness' Gift Box Set</h5>
								<p>Exclusive Dove gift wrapping</p>
								<p>"To the Best Mum | Love You Loads Love Ellie xxx"</p>
								<p>Qty:1</p>
							</td>
							<td width="30%" valign="top">
								<h5 style="text-align:right;">&pound 26.00</h5>
								<p style="text-align:right;"><b>FREE</b></p>
								<p style="text-align:right;"></p>
								<p style="text-align:right;"></p>
							</td>
						</tr>
					</table>
					<!-- horizontal line -->
					<table width="100%" cellpadding="0" cellspacing="0" style="margin-top:10px; margin-bottom:10px;">
						<tr>
							<td valign="top" height="2" style="background:#f0f0f0;"></td>
						</tr>
					</table>
				</td>
			</tr>
			
			<!-- row3 -->
			<tr>
				<td colspan="5" border="1" valign="top" height="90" style="background: #ffffff;">
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr style="">
							<td width="70%" valign="top"><h5>DermaSpa Goodness' Gift Box Set</h5>
								<p>Exclusive Dove gift wrapping</p>
								<p>"To the Best Sis | Love You Loads Love Ellie xxx"</p>
								<p>Qty:1</p>
							</td>
							<td width="30%" valign="top"><h5 style="text-align:right;">&pound 26.00</h5>
								<p style="text-align:right;"><b>FREE</b></p>
								<p style="text-align:right;"></p>
								<p style="text-align:right;"></p>
							</td>
						</tr>
					</table>
					<!-- horizontal line -->
					<table width="100%" cellpadding="0" cellspacing="0" style="margin-top:10px; margin-bottom:10px;">
						<tr>
							<td valign="top" height="2" style="background:#f0f0f0;"></td>
						</tr>
					</table>
				</td>
			</tr>
			<!-- row4 -->
			<tr>
				<td colspan="5" border="1" valign="top" height="50" style="background: #ffffff;">
					<table width="100%">
						<tr>
							<td valign="top"><p>Standard UK Delivery</p>
								<h4 style="color:#002663;">Total</h4>
							</td>
							<td valign="top"><h5 style="text-align:right;">FREE</h5>
								<h4 style="text-align:right; color:#002663;">&amp;pound 52.00</h4>
							</td>
						</tr>
					</table>
					<!-- horizontal line-->
					<table width="100%" style="margin-top:10px; margin-bottom:10px;">
						<tr>
							<td valign="top" height="2" style="background:#f0f0f0;"></td>
						</tr>
					</table>
				</td>
			</tr>
			<!-- row5 -->
			<tr>
				<td colspan="5" border="1" valign="top" height="300" style="background: #ffffff;">
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td width="50%" valign="top"><h5>Delivery address</h5>
								<p>Ms kate Smith</p>
								<p>15 Thames St, paddington, london, W6 9SJ,</p>
								<p>United kingdom</p>
							</td>
							<td width="50%" valign="top"><h5 style="text-align:left;">Payment details</h5>
								<p style="text-align:left;">Paid by credit card</p>
							</td>
						</tr>
					</table>
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td valign="middle" height="150px;">
								<h5>Please contact us if you have any queries</h5>
								<p>If you experiance any difficulties with your order, please contact customer services quoting your order number using the following contact details:</p>
							</td>
							<td></td>
						</tr>
					</table>
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td width="50%" valign="top"><h5>call us*</h5>
								<p style="color:#002663;"><b>0150 7602101<b></p>
							</td>
							<td width="50%" valign="top"><h5 style="text-align:left;">or send us an Email</h5>
								<p style="text-align:left; color:#002663; word-break: break-all;"><b>
								<a href="mailto:dovecustomerservices@intervino.co.uk">dovecustomerservices@intervino.co.uk</a></b></p>
							</td>
						</tr>
					</table>
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td width="50%" valign="middle"  height="100px;"><p>Thank you,</p>
								<p>Dove Customer Services</p>
							</td>
							<td width="50%" valign="top"></td>
						</tr>
					</table>
					<!-- horizontal line -->
					<table width="100%" cellpadding="0" cellspacing="0" style="margin-top:10px; margin-bottom:10px;">
						<tr>
							<td width="100%" valign="top" height="2" style="background:#f0f0f0;"></td>
						</tr>
					</table>
				</td>
			</tr>
			<!-- row6 -->
			<tr>
				<td colspan="5" border="1" valign="top" style="background: #ffffff; padding:20px;">
					<p><b>*Note:</b> (placeholder text) calls to this standard UK landline number will be charged at the standard geographic rate. This should be included in any call plans you may have on landlines or mobile phones.Mobile and international call charges may vary.</p>
				</td>
			</tr>
			<!-- footer-->
			<tr>
				<td colspan="5" style="background: url('/images/email-template-images/bg_curve.png') center no-repeat; background-size: 100%;">
					<table width="100%" cellpadding="0" cellspacing="0" valign="maddle" height="100">
						<tr>
							<td width="25%"><a href="http://Showcase-eu-qa.unileversolutions.com/content/whitelabel/en_gb/home/disclaimer.html">Terms of sale</a></td>
							<td width="20%"><a href="http://Showcase-eu-qa.unileversolutions.com/content/whitelabel/en_gb/home/disclaimer.html">Terms of use</a></td>
							<td width="10%"><a href="http://Showcase-eu-qa.unileversolutions.com/content/whitelabel/en_gb/home/disclaimer.html">FAQs</a></td>
							<td width="20%"></td>
							<td width="5%"><a href="http://Showcase-en-uk-qa.unileversolutions.com/uk/home.html"><img src="/images/email-template-images/Unilever_logo.png" height="36px" width="33px"></a></td>
							<td width="30%" style="text-align:left;"><a href="#">@2015 Unilever</a></td>
						</tr>
					</table>
				</td>
			</tr>
		  </table>
		</td>
	</tr>
</table>
 </body>