@import 'newsletter_sign-up-form';

.c-form-dropdown[readonly] {
  cursor: default;
  pointer-events: none;
}

.c-form-dropdown[disabled] {
  cursor: not-allowed;
  pointer-events: auto;
}

.fileupload .form-control[disabled]{
  background-color: transparent;
}

.fileupload .form-control[readonly] {
  background-color: transparent;
  cursor: default;
  pointer-events: none;
}

.form {
  .c-control-label {
    color: $font-hightlight;
    font-size: 16px;
  }

  .c-tooltip-info__icon,
  .c-form-mandatory {
    display: none !important;
  }
}

#submit {
  background: #004976;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  margin-top: 32px;
  padding: 13px 10px;
  text-transform: uppercase;

  &:hover {
    background: #035d94;
  }
}

.form {
  .form-control {
    background: #ffffff;
    border: 0;
    height: auto !important;
    padding: 14px;
  }

  .form-control.c-form-textarea {
    height: 150px !important;
  }

  .c-form-dropdown {
    border: 1px solid #004976;
    border-radius: 5px;
    background: none;
  }

  input[type="radio"],
  input[type="checkbox"],
  .c-form-checkbox__label-copy {
    vertical-align: middle
  }

  .c-form-checkbox__label-copy {
    color: #333333;
    margin-left: 23px;
  }
}

@media screen and (max-width: 767px) {
  #submit {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .form {
    .c-form-checkbox__label-copy {
      width: 85%;
    }
  }
}

@media screen and (min-width: 768px) {
  #submit {
    width: 25%;
  }
}
