.expand-collapse {

    .expandcollapse-header {
        cursor: pointer;
        background: $white;

        h3 {
            padding: 14px 14px 14px 18px;
            margin: 0;
        }

        a {
            text-decoration: none;
            display: block;
        }
    }

    .expandcollapse-body {
        padding: 28px 10px 10px;

        img {
            float: right;
            margin: 0 0 20px 20px;
            width: auto;
        }

        p {
            margin-bottom: 0;
        }

        &:after {
            clear: both;
            display: block;
            content: "";
        }
    }

    .hiding {        
        display: none;
    }
}