.carousel-product {
  margin-top: 3vw;

  .c-recipe-listing-heading,
  .c-recipe-listing-filter,
  .c-filter-tags,
  .c-recipe-listing-sorting,
  .c-recipe-listing-pagination {
    display: none;
  }

  .c-recipe-listing{
    &-item {
      border: 0;
      position: relative;
    }

    &-item-content {

      &__container {

        p,
        .c-recipe-attributes,
        .c-recipe-dietary-attributes,
        .c-recipe-listing__cta {
          display: none !important;
        }
      }
    }

    &__list-item {
      width: 100%;
    }
  }

  .c-recipe-listing__list-item:first-child {
    &:before {
      content: '';
      background: url("../images/carousel-product-arrow.png");
      cursor: pointer;
      display: block;
      height: 23px;
      left: -37px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 15px;
      margin-left: 20px;
    }
  }

  .c-recipe-listing__list-item:last-child {
    &:after {
      content: '';
      background: url("../images/carousel-product-arrow.png") -15px 0 no-repeat;
      cursor: pointer;
      display: block;
      height: 23px;
      position: absolute;
      right: -37px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 15px;
      margin-right: 20px;
    }
  }
}

@media (max-width: 767px) {
  .carousel-product {
    .c-recipe-listing__list-item {
      &:first-child:before {
        margin-left: 0;
      }

      &:last-child:after {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 991px) {
  .carousel-product {
    .c-recipe-listing__list-item:first-child {
      &:before {
        left: 0;
      }
    }

    .c-recipe-listing__list-item:last-child {
      &:after {
        right: 0;
      }
    }
  }
}