.featured-recipe-listing {
  .c-recipe-listing-heading,
  .c-recipe-listing-filter,
  .c-filter-tags,
  .c-recipe-listing-sorting,
  .c-recipe-listing-pagination {
    display: none;
  }

  .c-recipe-listing{
    &-item {
      border: 0;
      position: relative;
    }

    &-item-content {
      background-color: $bg-bar-color;
      bottom: 0px;
      position: absolute;
      height: auto;
      width: 100%;

      &__container {
        text-align: left;

        &-heading {
          color: $color-white;
          font-size: 24px;
          line-height: 27px;
          font-family: $font-family-custom;
          font-style: italic;
        }

        p,
        .c-recipe-attributes,
        .c-recipe-dietary-attributes,
        .c-recipe-listing__cta {
          display: none !important;
        }
      }

      &:before {
        background: url("../images/top_arrow_pattern.png");
        background-repeat: repeat-x;
        content: '';
        display: block;
        height: 8px;
        position: absolute;
        top: -8px;
        width: 100%;
      }
    }

    &__list {
      text-align: center;
    }

    &__list-item {
      display: none;
      width: 100%;
      min-height: 411px;

      &:first-child {
        display: inline-block;
      }
    }
  }
}

@media(max-width: 767px) {
  .featured-recipe-listing {
    .c-recipe-listing{
      &__list-item {
        min-height: 0;
      }
    }
  }
}