.recipe-category-page {
  &__recipe-finder {
    position: relative;
    background-image: url("../images/bg-recipe-finder-light.jpg");
    background-repeat: repeat;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../images/bg-recipe-finder-dark.jpg");
      height: 381px;
      width: 100%;
    }

    .c-recipe-listing__cta,
    .c-recipe-attributes,
    .c-recipe-dietary-attributes,
    .c-recipe-listing-filter__container,
    .c-recipe-listing-sort__dropdown,
    .c-filter-tags .c-filter__resultCount {
      display: none;
    }

    .c-recipe-listing__wrapper {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .c-recipe-listing__list {
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    .c-filter__resultCount { margin-right: 15px; }

    .c-recipe-listing-sorting {
      margin: 5px  5px 50px;

      .o-filter-dropdown {
        float: left;
      }
    }

    .c-recipe-listing-heading__heading-container {
      color: $font-hightlight !important;
    }

    .o-text__heading-3,
    .o-text__heading-4 {
      font-size: 16px;
    }

    .c-recipe-listing-filter__container--checks {
      max-width: 520px;
      width: 100%;
      margin-right: 0;
    }

    .c-filter-submit {
      clear: both;
    }

    .c-recipe-listing-filter__block,
    .c-recipe-listing-filter__container {
      border: 0;
      text-align: left;
      float: left;
      margin-right: 40px;

      label {
        font-size: 14px;
        color: $font-hightlight;
      }
    }

    .c-recipe-listing-filter__container {
      label {
        background: transparent;
        border: 1px $font-hightlight solid;
        color: $font-hightlight;
        cursor: pointer;
        padding: 11px;
        border-radius: 5px;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          background: $font-hightlight;
          color: #fff;
        }
      }
    }

    .c-recipe-listing-filter {
      &__filter {
        display: none;
      }
    }

    .o-filter-dropdown {
      font-size: 14px;
      border-bottom: 0;
      margin-left: 0;
    }

    .c-filter-tags .js-filter-tags {
      display: block;
      padding: 0;
    }

    .c-filter-tags__label,
    .c-filter__resultCount {
      font-weight: bold;
      color: $font-hightlight;
    }

    .c-filter-tags li {
      background: transparent;
      border: 1px $font-hightlight solid;
      color: $font-hightlight;
      cursor: pointer;

      &:hover {
        background: $font-hightlight;
        color: #fff;
      }
    }

    .o-btn--primary {
      background-color: #fff;
      color: $font-hightlight;
      text-transform: uppercase;
      font-weight: bold;
      border: 0;

      &:hover {
        color: #fff;
        background-color: $font-hightlight;
      }
    }

    .js-clear-filters,
    .js-apply-filters,
    .js-cancel-filters,
    .js-more-filters {
      background-color: #fff;
      color: $font-hightlight;
      text-transform: uppercase;
      font-weight: bold;
      border: 0;
      line-height: 35px;
      padding: 0 20px;

      &:hover {
        color: #fff;
        background-color: $font-hightlight;
      }
    }

    .c-filter-tags .c-filter-see,
    .c-filter-tags .c-filter-clear {
      float: none;
    }

    .js-btn-loadmore {
      padding: 7px 0;
      width: 40% !important;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 991px) {
  .recipe-category-page {
    &__recipe-finder {
      padding: 50px 15px;
    }

    .c-recipe-listing-filter__container--checks {
      max-width: 320px;
    }
  }
}

@media screen and (max-width: 767px) {
  .recipe-category-page {
    &__recipe-finder {
      .o-btn--primary {
        width: 100%;
        display: block;
      }

      .row.c-recipe-listing-pagination {
        margin-left: 0;
        margin-right: 0;
      }

      .c-recipe-listing__list-item {
        padding: 0;
      }

      .js-btn-loadmore {
        border-radius: 4px;
        margin: 0 auto;
        padding: 7px 0;
        width: 90% !important;
      }
    }
  }
}