.recipe-detail-page {
  &__listing-recipes {
    background-image: url("../images/bg-recipe-listing.jpg");
    background-repeat: repeat;
    position: relative;

    &:after {
      background: url("../images/recipe-bottom-section.png");
      background-repeat: repeat-x;
      bottom: -17px;
      content: "";
      display: block;
      height: 18px;
      position: absolute;
      width: 100%;
      z-index: 10;
    }

    .c-recipe-listing-filter,
    .c-filter-tags,
    .c-filter-tags__label,
    .c-filter-clear,
    .c-recipe-listing-sorting,
    .c-recipe-listing-pagination,
    .c-recipe-listing__cta,
    .c-recipe-attributes,
    .c-recipe-dietary-attributes {
      display: none;
    }
  }
}

// mobile and tablet
