@import "featured-recipe-listing";
@import "carousel-product";
@import "recipe-category-detail-defaults";
@import "recipe-category-finder-recipe";
@import "recipe-category-listing-items";
@import "recipe-detail-listing-items";

.c-recipe-listing {
    &-item {
        margin-bottom: 10px;
        border: 1px solid #000;
        text-align: center;
        //min-height: 420px;
        &-image__container img {
            max-width: 100%;
        }
        &-content__container {
            text-align: center;
            padding: 15px 18px;
        }
        .c-recipe-dietary-attributes {
            position: relative;
            &__list-item {
                display: inline-block;
            }
        }
    }
    &__tags-item {
        top: -25px;
        padding: 5px;
        background: #ccc;
        border-radius: 5px;
        position: relative;
        margin-right: 5px;
        display: inline-block;
        list-style-type: none;
    }
    &__list {
        list-style: none;
        padding: 0;
    }
    &__list-item {
        padding: 0 5px;
    }
    &__loadmore {
        min-height: 100px;
        position: relative;
        .o-preloader {
            min-height: inherit;
        }
    }
    &-filter {
        text-align: center;
        padding-bottom: 20px;
    }
    &-filter__container {
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }
    &-filter__expand {
        display: none;
    }
    &-heading {
        text-align: center;
        &__sub-heading-container {
            font-size: 17px;
        }
        &__heading-container {
            margin: 20px 0;
            font-size: 27px;
        }
    }
    &-listing__list {
        list-style: none;
        li:nth-child(3n+4) {
            clear: left;
        }
    }
    &-filter-cta {
        display: inline-block;
    }
    &-filter__block {
        border: 1px solid #ccc;
        width: 100%;
    }
    &-filter__dropdown {
        width: auto;
    }
    &-pagination,
    &__loadmore {
        text-align: center;
    }
    &-pagination {
        .o-btn--primary:focus {
            color: #fff;
        }
        &__first-btn[disabled],
        &__last-btn[disabled],
        &__next-btn[disabled],
        &__previous-btn[disabled] {
            opacity: 0.65;
            background-color: $gray-light;
        }
    }
    &-sorting {
        margin: 5px;
        text-align: right;
    }
    &-noResult {
        display: none;
    }
}

.c-filter-tags {
    li {
        display: inline-block;
        padding: 5px;
        margin: 0 5px;
        background: #ccc;
        border-radius: 5px;
        list-style-type: none;
        .js-remove-filterTag {
            position: relative;
            top: -4px;
            left: 5px;
            cursor: pointer;
            display: inline-block;
            padding: 3px;
        }
    }
    &__label {
        display: inline-block;
    }
    .c-filter-see,
    .c-filter-clear {
        display: inline-block;
        float: right;
    }
    .js-filter-tags{
        display: inline-block;;
        width: 65%;
    }
    .c-filter__resultCount {
        display: inline-block;
    }
}
.stick {
    position: fixed;
    width: 85%;
    z-index: 100;
    top:0;
    border: 1px solid #ccc;
    background: #fff;
}
.c-recipe-list-carousel {
    .slick-slider {
        padding-bottom: 40px;
    }
    .slick-prev {
        left: 0;
        z-index: 9999;
        width: 10px;
        height: 100%;
        background-size: 10px 20px;
    }
    .slick-next {
        background-position: top right;
        right: 0;
        z-index: 9999;
        width: 10px;
        height: 100%;
        background-size: 10px 20px;
    }
}

.c-recipe-listing__featured {
    list-style-type: none;
    .c-recipe-listing {
        &-item-image {
            float: right;
        }
        &-item {
            padding: 5px;
            min-height: 340px;
        }
        &__tags {
            display: block;
            margin-top: 10px;
            text-align: right;
            span {
                position: static;
                top: 0;
            }
        }
    }
}


