.recipe-category-page,
.recipe-detail-page {
  .c-recipe-listing-item {
    position: relative;
    border: 0;
    margin-bottom: 30px;
  }

  .c-recipe-listing__list {
    font-size: 0;
  }

  .c-recipe-listing__list-item {
    padding: 0 15px;
  }

  .c-recipe-listing-heading__heading-container {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .c-recipe-listing-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    background-color: rgba(0, 73, 118, 0.4);
    font-family: $font-family-custom;
    color: #fff;
    font-size: 24px;
    width: 100%;

    &:before {
      background: url("../images/top_arrow_pattern.png");
      background-repeat: repeat-x;
      position: absolute;
      top: -8px;
      left: 0;
      height: 8px;
      display: block;
      content: '';
      clear: both;
      width: 100%;
    }
  }

  .c-recipe-listing-item-content__container-subheading,
  .c-recipe-listing-item-content__container-heading {
    font-family: $font-family-custom;
    font-size: 20px;
    color: #fff;
    font-style: italic;
    text-align: left;
    line-height: 1.2;
    font-weight: normal;
  }
}

// mobile and tablet
@media screen and (max-width: 991px) {
  .recipe-category-page {
    .c-recipe-listing {
      &__wrapper {
        padding: 0 !important;
      }
    }
  }
}