@mixin c-form-global(){
    font-family: "HelveticaNeueW01-45Light";
    font-size: 16px;
    line-height: 24px;
    color: $gray;
    border: 1px solid $gray-lighter;
    border-radius: 3px;
    padding: 10px;
    height: auto;
    margin-bottom: 15px;
}

@mixin c-form-dropdown(){
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../svgs/dropdown-arrow.svg");
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 45px 28px;
    line-height: inherit;
}
@mixin c-control-label{
    width: auto;
    display: block;
    margin: 0 0 20px 10px;
    font-size: $font-size-medium;
}

@mixin c-form-radio(){
    display: inline-block;
    vertical-align: top;
    padding-right: 15px;
    margin-bottom: 15px;
    input[type="radio"]{
        -webkit-appearance: none;
        background-color: white;
        border-radius: 50%;
        border: 1px solid $gray-light;
        float:none;
        margin: 0 10px;
        height: 25px;
        width: 25px;
        display: inline-block;
        vertical-align: middle;
    }
    input[type="radio"]:checked {
        border: 1px solid $gray-dark;
        background:url(../svgs/radio-checked.svg) center center no-repeat;
        height: 24px;
        width: 24px;
        background-size: 65%;
    }
}

@mixin c-form-checkbox(){
    input[type="checkbox"] {
        -webkit-appearance: none;
        background-color: white;
        border-radius: 4px;
        border: 1px solid $gray-light;
        height: 24px;
        width: 24px;
        margin-right: 8px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        float: left;
    }
    input[type="checkbox"]:checked {
        background:url(../svgs/checkbox-checked.svg) center center no-repeat;
        border: 1px solid $gray-dark;
        height: 24px;
        width: 24px;
        background-size: 65%;
    }

}
