@mixin print-setup(){
    h1, h2, h3, ol, ul, div {
        width: auto;
        border: 0;
        margin: 0 5%;
        padding: 0;
        float: none;
        position: static;
        overflow: visible;
    }
}