/* Place here common mixins */

@mixin u-curve-concave($percent, $color) {
	$curve : $percent;
	max-width: 1000px;

	position: relative;
	overflow: hidden;

	&:after, &:before {
		content: "";
		background-color: $color;
		position: absolute;
		height: 1.5 * $curve;
		bottom: -1.27 * $curve;
		left: -20%;
		width: 140%;
		border-radius: 100%;
	}

	&:before {
		transform: translateY(0px) rotate(-1.7deg);
		transform-origin: 20% 0;
		opacity: 0.3;
		@media (max-width:1024px) {
			transform: translateY(-2px) rotate(-2.2deg);
		}
		@media (max-width:768px) {
			transform: translateY(-4px) rotate(-2.7deg);
		}
	}
}
@mixin u-curve-arc($color) {
	&:after, &:before {
		content: "";
		position:absolute;
		height: 40px;
		bottom: -5px;
		border-radius:0 0 50% 50%;
		background:$gray-pale;
		width:150%;
		left:-25%;
		@media(min-width: $screen-sm) {
			width:120%;
			left:-10%;
			height: 60px;
			bottom: -35px;
		}
	}
	&:before {
		background:$color;
		top: 0;
		bottom:auto;
		
		@media(min-width: $screen-sm) {
			top: -24px;
		}
	}
}
@mixin u-curve-prod-feature() {
	&:before {
        content: "";
        background: url("../svgs/product-curve.svg");
        background-size: cover;
        background-position: center top;
        position: absolute;
        top: -33px;
        height: 33px;
        width: 100%;
        z-index: 1;
        left: 0;
    }
}
@mixin u-curve-prod-feature-rotate() {
	&:after {
        content: "";
        background: url("../svgs/product-curve.svg");
        background-size: cover;
        background-position: center top;
        position: absolute;
        bottom: -33px;
        height: 33px;
        width: 100%;
        z-index: 1;
        left: 0;
        transform: translateY(0) rotate(180deg);
        -webkit-transform: translateY(0) rotate(180deg);

    }
}
@mixin u-margin($t, $r, $b, $l) {
	margin: $t $r $b $l;
}
@mixin u-margin-tb($t, $b) {
	margin: $t 0 $b 0;
}
@mixin u-margin-lr($l, $r) {
	margin: 0 $r 0 $l;
}
@mixin u-float($pos) {
	float: $pos;
}
@mixin u-blur($blur) {
	-webkit-filter: blur($blur);
	-moz-filter: blur($blur);
	-o-filter: blur($blur);
	-ms-filter: blur($blur);
	filter: blur($blur);
}
