.animations {
	.animation-wrapper {
		margin-bottom: 30px;
	}
	.summary {
		margin-bottom: 60px;
		padding-bottom: 40px;
		border-bottom: 1px solid #EEE;

		ul {
			margin-top: 20px;
		}
	}
	.example {
		margin: 50px 0;
	}
}

