//----------------------------------------------\\
// FOOTER
//----------------------------------------------\\

.main-footer {
    background: url('../images/common/main-footer.png') no-repeat;
    background-size: cover;
    width: 100%;
    padding: $base-spacing*3;

    &-inner {
        position: relative;
    }

    .link-list {
        color: #fff;

        a {
            color: #fff;
        }
    }
}
