//----------------------------------------------\\
// HERO UNIT (VIDEO)
//----------------------------------------------\\

.video-wrapper {
    position: relative;
}

.video {

    .video-overlay {
        position: relative;
        display: block;
    }

    img {
        width: 100%;
    }

    .video-details {
        width: 100%;
        float: none;
        text-align: center;

        @include breakpoint(medium) {
           @include center(xy);
           color: #fff;
        }

        h5 {
            font-size: 42px;

            @include breakpoint(medium) {
                color: #fff;
                font-size: 60px;
            }

            @include breakpoint(large) {
                color: #fff;
                font-size: 72px;
            }
        }

        p {
            margin: 0 auto;
            display: block;
            padding: $base-spacing;

            @include breakpoint(small) {
                font-size: 20px;
            }

            @include breakpoint(medium) {
                max-width: 30%;
            }
        }

        .socialmission-home & {

            &:before {
                content: "";
                display: block;
                background: url('../images/video/play-icon.png') no-repeat top center;
                width: 80px;
                height: 79px;
                background-size: 80px 79px;
                @include center(x);
                top: 0;

                @include breakpoint(medium) {
                    top: -140px;
                    width: 155px;
                    height: 153px;
                    background-size: 155px 153px;
                }
            }
        }
    }
}
