//----------------------------------------------\\
// NAVIGATION & HEADER
//----------------------------------------------\\

.main-header {
    background: url('../images/common/main-header.png') no-repeat;
    background-size: 100% 100%;
    width: 100%;
    position: relative;
    z-index: 1000;
    padding: $base-spacing;
    @include cf;

    .main-logo {
        background: url('../images/common/main-logo.png') no-repeat;
        background-size: 150px 83px;
        width: 150px;
        height: 83px;
        position: absolute;
        top: 0;

        h1 {
            @include visuallyhidden();
        }

        @include breakpoint(large) {
            background-size: 298px 165px;
            width: 298px;
            height: 165px;
        }
    }

    .navbar {
        background: transparent;

        @include breakpoint(large) {
           @include center(y);
           right: 0;
        }

        li {
            display: inline-block;
            padding: 0;

            &:not(:last-child) {
                margin-right: $base-spacing*2;
            }

            > a {
                color: $base-font-color;
                text-transform: none;
                line-height: 1;
                padding: $base-spacing;
                display: block;

                @include breakpoint(large) {
                   color: #fff;
                   background: $digBlueDarken;
                   @include skew($bg: $digBlueDarken, $deg: -10deg, $right: 0, $width: 100%);
                   font-size: 20px;

                   &:hover,
                   &:focus {
                        color: #fff;
                        background: darken($digBlueDarken, 10%);
                        @include skew($bg: darken($digBlueDarken, 10%), $deg: -10deg, $right: 0, $width: 100%);
                        font-weight: normal;
                    }
                }

                &:before {
                    transition: all .3s ease-in-out;
                }
            }
        }
    }

    .navbar-collapse {
        background: #fff;
        margin-top: 50px;

        @media only screen and (min-width: 1024px) {
            background: transparent;
            color: #fff;
            margin-top: 0;
        }

        &.in {
            overflow-y: auto;
        }
    }

    .navbar-toggle {
        margin: 0;
        padding: $base-spacing;
        top: $base-spacing/2;

        .icon-bar {
            width: 30px;
            height: 4px;
            background-color: #fff;

            + .icon-bar {
                margin-top: $base-spacing/4;
            }
        }

        &:hover,
        &:focus {
            background: darken($digBlue, 20%);
        }
    }
}
