//----------------------------------------------\\
// IMAGE & TEXT COMPONENT OVERRIDES
//----------------------------------------------\\

@include theme('socialmission') {

    .text-image-blocks {
        list-style: none;
        padding: $base-spacing*2 0;
        margin: 0;
        @include cf;
        @include fs-body;

            li {
                @include cf;

                img {
                    width: 100%;
                }

                .caption {

                    h3 {
                        color: #fff;
                        font-size: 40px;
                        position: relative;
                        display: inline-block;
                        padding: $base-spacing;
                        margin-top: $base-spacing;
                        background: url('../images/common/title-bar-blue.png') no-repeat top center;

                        @include breakpoint(large) {
                            margin-top: 0;
                            background-size: contain;
                        }
                    }

                    h4 {
                        text-transform: none;
                        color: $base-font-color;
                        @include fs-body;
                    }
                }

                &:not(:last-child) {
                    padding-bottom: $base-spacing*2;
                }
            }

            .btn {
                @include buttonTheme($digBlue, blue);
            }

        // Social Mission homepage layout
        &.socialmission-home {

            li {

                @include breakpoint(large) {
                    .caption {
                        @include span(6 last);
                    }

                    .plain-image {
                        @include span(6);
                    }
                }

                &:nth-child(odd) {

                    @include breakpoint(large) {
                        .caption {
                            @include span(6);
                        }

                        .plain-image {
                            @include span(6 last);
                        }
                    }

                    .btn {
                        @include buttonTheme($digOrange, orange);
                    }

                    h3 {
                        background: url('../images/common/title-bar-orange.png') no-repeat top center;

                        @include breakpoint(large) {
                            background-size: contain;
                        }
                    }
                }
            }
        }

        // Social Mission Get Ideas page layout
        &.socialmission-ideas {

            li {

                @include breakpoint(medium) {
                     @include gallery(6);
                }

                @include breakpoint(large) {
                     @include gallery(4);
                }

                &:not(:last-child) {
                    margin-bottom: $base-spacing*2;
                }

                    .caption {

                        h3 {
                            color: #fff;
                            font-family: $font-family-sans-serif;
                            text-align: center;
                            font-size: 24px;
                            position: relative;
                            top: -20px;
                            margin-bottom: 0;
                            padding: $base-spacing;
                            z-index: 5;
                            margin-top: -5px;
                            width: 100%;
                            display: inline-block;

                            &:before {
                                content: "";
                                display: block;
                                position: absolute;
                                width: 110%;
                                background: $digDarkOrange;
                                transform: skew(-2deg, 0deg);
                                z-index: -1;
                                height: 100%;
                                top: 0;
                                left: -5%;
                            }
                        }

                        h4 {
                            color: #fff;
                            padding: $base-spacing;
                        }
                    }

                    .plain-image {
                        width: 100%;
                        position: relative;
                        z-index: -5;

                        img {
                            float: none;
                            margin: 0;
                            display: block;
                        }
                    }

                .thumbnail {
                    background: url('../images/common/module-bg.png') no-repeat top center;
                    background-size: 100% 100%;
                    margin: 0;
                    padding: 12px;

                    &:after {
                        content:"";
                        width: 100%;
                        height: $base-spacing*2;
                        background: $digOrange;
                        display: block;
                        transform: skew(0deg, -1deg);
                        position: relative;
                        top: -15px;
                    }
                }

                .btn {
                    @include buttonTheme($digOrange, orange);
                }

                .caption {
                    background: $digOrange;
                }
            }
        }
    }
} // END text-image-blocks

.featured-article {
    @include cf;
    @include with-layout($removeGutters) {

        .caption {
            color: #fff;
            background: #35a4cd;
            padding: $base-spacing*2;
            position: relative;
            z-index: 5;
            @include skew($bg: #35a4cd, $deg: -2deg, $right: 0, $width: 100%);

            h3 {
                text-align: center;
                @include fs-body;
            }

            .btn {
                @include buttonTheme($digBlue, blue);
            }

            @include breakpoint(medium) {
                @include span(6);
                left: 3%;
            }

            @include breakpoint(large) {
                @include span(4);
            }

        }

        .image-link {
            position: relative;

            &:after {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                background: url('../images/common/featured.png') no-repeat top center;
                background-size: 100% 100%;
                width: 100%;
                height: 100%;
            }

            img {
                width: 100%;
                padding: $base-spacing;
            }

            @include breakpoint(medium) {
                @include span(6 last);
            }

            @include breakpoint(large) {
                @include span(8 last);
            }
        }
    }
}
