/* _iea-variables.scss  -  overriding the default boorstrap theme variables with iea style  */

@import "colors";
@import "fonts/font";

// Iconography
// -------------------------

$icon-font-path: $font-path + "sass-bootstrap/" !default;
$icon-font-name: "glyphicons-halflings-regular" !default;


// images
//---------------------------
$image-path: "../images/" !default;

// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)

$padding-base-vertical:          6px !default;
$padding-base-horizontal:        12px !default;

$padding-large-vertical:         10px !default;
$padding-large-horizontal:       16px !default;

$padding-small-vertical:         5px !default;
$padding-small-horizontal:       10px !default;

$line-height-large:              1.33 !default;
$line-height-small:              1.5 !default;

$border-radius-base:             0px !default;
$border-radius-large:            0px !default;
$border-radius-small:            0px !default;

$caret-width-base:               4px !default;
$caret-width-large:              5px !default;

// Tables
// -------------------------

$table-cell-padding:                 8px !default;
$table-condensed-cell-padding:       5px !default;

// Forms
// -------------------------
$line-height-base:        1.2 !default; //
$line-height-computed:    floor($font-size-base * $line-height-base) !default; // ~20px
$input-border-radius:            $border-radius-base !default;
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-large:             (floor($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)

$z-index: 1;
$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1010 !default;
$zindex-tooltip:           1030 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;

// Media queries breakpoints
// --------------------------------------------------

// Media queries breakpoints
// --------------------------------------------------

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  $bp-small !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  $bp-medium !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  $bp-large !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  $bp-extra-large !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// custom breakpoint variables
$screen-large-mobile:          700px;
$screen-small-mobile-max:      699px;
$screen-large-desktop:         1281px;
$screen-mobile-landscape : 	   ($screen-md - $screen-sm) !default;


// Grid system
// --------------------------------------------------

// Number of columns in the grid system
$grid-columns:              12 !default;
// Padding, to be divided by two and applied to the left and right of all columns
$grid-gutter-width:         30px !default;
// Point at which the navbar stops collapsing
$grid-float-breakpoint:     $screen-md-max !default;

// Navbar
// -------------------------

// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             $border-radius-base !default;
$navbar-padding-horizontal:        floor($grid-gutter-width / 2) !default;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;

// Navs
// -------------------------

$nav-link-padding:                          10px 15px !default;

// Pager
// -------------------------

$pager-border-radius:                  15px !default;


// Jumbotron
// -------------------------

$jumbotron-padding:              30px !default;
$jumbotron-color:                inherit !default;
$jumbotron-bg:                   $gray-lighter !default;
$jumbotron-heading-color:        inherit !default;
$jumbotron-font-size:            ceil($font-size-base * 1.5) !default;


// Tooltips
// -------------------------
$tooltip-max-width:           200px !default;
$tooltip-color:               $color-white !default;
$tooltip-bg:                  $black !default;

$tooltip-arrow-width:         5px !default;
$tooltip-arrow-color:         $tooltip-bg !default;


// Popovers
// -------------------------
$popover-max-width:                   276px !default;
$popover-arrow-width:                 10px !default;
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;


// Modals
// -------------------------
$modal-inner-padding:         20px !default;
$modal-title-padding:         15px !default;

// Alerts
// -------------------------
$alert-padding:               15px !default;

// Thumbnails
// -------------------------
$thumbnail-padding:           4px !default;
$thumbnail-caption-padding:   9px !default;
$thumbnail-border-radius:     $border-radius-base !default;


// Badges
// -------------------------
$badge-font-weight:           bold !default;
$badge-line-height:           1 !default;
$badge-border-radius:         10px !default;

// Panels
// -------------------------
$panel-border-radius:         $border-radius-base !default;

// List group
// -------------------------
$list-group-border-radius:    $border-radius-base !default;

// Pills
$nav-pills-border-radius:     $border-radius-base !default;

// Carousel
// ------------------------

$pre-scrollable-max-height:   340px !default;

// Horizontal forms & lists
$component-offset-horizontal: 180px !default;

// Container sizes
// --------------------------------------------------


// Small screen / tablet
$container-tablet:             ($containerMedium) !default;
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            ($containerLarge) !default;
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      ($containerXLarge) !default;
$container-lg:                 $container-large-desktop !default;

// Large screen / wide desktop
$container-desktop-wide:      ($containerXLarge) !default;
$container-xlg:               $container-desktop-wide !default;
