/* _buttons.scss  */

@mixin o-btn() {
    background-color: none;
    border: 0 none;
    padding: 0 20px;
    line-height: 35px;
    outline: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    font-size: $font-size-base;
    text-align: center;
    margin-top:10px;
    border-radius: 1.5px;
}

@mixin o-btn--primary() {
    border: solid 1px $gray;
    color: $color-white;
    background-color: $gray;
    position: relative;

    &:hover, &:focus {
        color: $color-white;
        background-color: $gray-light;
    }
}

@mixin o-btn--secondary() {
    border: solid 1px $gray;
    color: $gray;
    background-color: $color-white;

    &:hover, &:focus {
        background-color: $gray-pale;
    }
}

@mixin o-btn--ternary() {
    border: solid 1px $gray;
    color: $color-white;
    background-color: $gray;
    position: relative;

    &:hover, &:focus {
        color: $color-white;
        background-color: $gray-light;
    }
}

.o-btn {
    @include o-btn;

    &--primary {
        @include o-btn--primary();
    }

    &--secondary {
        @include o-btn--secondary();
    }

    &--ternary {
        @include o-btn--ternary;
    }

    &--readmore, &--readmore:hover, &--readmore:focus {
        background: url("../svgs/arrow-down.svg") right 8px no-repeat;
        background-size: 12px auto;
        padding-right: 16px;
        color: $gray;
        text-decoration: none;
        &.js-show-less {
            background-image: url("../svgs/arrow-up.svg")
        }
    }

    &-search, &--search {
        background: transparent url("../svgs/search.svg") 0 0 no-repeat;
        background-size: 20px 20px;
        border: 0 none;
        width: 20px;
        height: 20px;
    }

    &--close {
        background:none;
        border: 0 none;
        .c-global-search__close {
            display:block;
            width: 20px;
            height: 20px;
            stroke:$brand-primary;
            stroke-width:2px;
        }
        .icon-cross {
            display: block;
            width: 30px;
            height: 30px;
            stroke: $brand-primary;
            stroke-width: 2px;
        }
    }

    &--pause {
        @media(min-width: $screen-sm) { 
            background: $gray;
            border-radius: 50%;
            opacity: 0.8;
            padding: 0;
            width: 50px;
            height: 50px;
        }
        .o-navbar-bar {
            display: inline-block;
            width: 5px;
            height: 15px;
            background: $gray;
            margin: 15px 1px 0;

            @media(min-width: $screen-sm) {
                width: 6px;
                height: 20px;
                background: $color-white;
            }
        }

        &.o-btn--play {
            .o-navbar-bar {
                content: "";
                width: 0;
                height: 0;
                border-radius: 0;
                
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 12px solid $gray;
                background: none;

                @media(min-width: $screen-sm) {
                    border-top: 12px solid transparent;
                    border-bottom: 12px solid transparent;
                    border-left: 15px solid $color-white;
                }
                &:first-child {
                    display: none;
                }
            }
        }
    }

    &--zoom {
        width: 50px;
        height: 50px;
        padding: 0;
        border-radius: 50%;
        color: $gray;
        font-size: $font-size-xx-small;
        line-height: 18px;
        margin: 0;
    }

    &--active, &--active:focus {
        color: $color-white;
        background-color: $gray;
    }

    &--page {
        background: none;
        padding: 0 10px;
        &.o-btn--disabled {
            &, &:hover, &:focus {
                cursor: default;
                background: none;
                .c-svg {
                    opacity: 0.5;
                }
            }
        }
    }

    &--play-video {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 10;
        margin: -25px 0 0 -25px;
        border: none;
        background: none;

        @media(min-width: $screen-md) {
            margin: -45px 0 0 -45px;
        }

        .icon-play-video {
            height: 50px;
            width: 50px;

            @media(min-width: $screen-md) {
                height: 90px;
                width: 90px;
            }
        }
    }
}

@mixin o-dropdown() {
    color: $brand-primary;
    margin: 10px;
    border: 1px solid $gray-lighter;
    min-width: 100px;   
    height: 50px;
    padding: 0 65px 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../svgs/dropdown-arrow.svg");
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 45px 28px;
    &:active, &:focus {
        outline: 0;
    }
    cursor: pointer;
}

.o-dropdown {
    @include o-dropdown;
}

.o-filter-dropdown {
    color: $brand-primary;
    margin: 0 10px;
    border: none;
    border-bottom: 1px solid $brand-primary;
    font-size: 20px;
    background-color: transparent;
    border-radius: 0;
    line-height: 26px;
    padding: 0 25px 0 3px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../svgs/arrow-drop.svg");

    background-repeat: no-repeat;
    background-position: right 3px bottom 3px;
    background-size: 22px 15px;
    width: 145px;
    cursor: pointer;
    &:active, &:focus {
        outline: 0;
    }

    .lt-ie10 & {
        background-image: none;
        padding: 0;
    }
}

.o-link {
    font-size: $font-size-medium;
    color: $gray;
    cursor: pointer;
    
    a {
        text-decoration: none;
    }
}

.o-product__tag--customizable {
    border: solid 1px $gray-lighter;
    padding:3px;
    display:inline-block;
    font-style:italic;
}

.o-disabled, .o-btn--disabled {
    cursor: default;
    background-color: $gray-lighter;
    color: $gray-pale;
    &:hover, &:link, &:focus {
        background-color: $gray-lighter;
        color: $gray-pale;
    }
}

.o-icon-play {
    background: url("../svgs/play-video.svg") center center no-repeat;
    background-size: 60px;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 6;
    cursor: pointer;
       
    @media (min-width: $screen-sm) {
        background-size: 90px;
    }        
}

.o-featured-tags {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid $gray-lighter;
    font-size: $font-size-xx-small;
    background: $lighter;
    margin: 5px 3px;
    border-radius: 12px;
}