.contact-us-page {
  background: url("../images/background-where-to-buy.png") repeat-x;
  height: 100%;
  width: 100%;

  .title-page-contact {
    padding: 190px 0 100px;

    .c-rich-text-v2__description:before,
    .c-rich-text-v2__description:after {
      content: none;
    }
  }

  .form-v2 {
    background: #e5ecf1;
    padding-bottom: 72px;

    .form-group {
      margin-left: 0!important;
      margin-right: 0!important;
      margin-top: 0!important;
      margin-bottom: 18px;

      .c-control-label {
        padding: 0;
      }

      .col-sm-12 {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .contact-us-page {
    background-position: 0 -250px;

    .contry-contacts {
      background: #ffffff;
      margin-top: -25px;
    }

    .accordion-v2 {
      .accordion-v2-panel-heading__icon-collapse,
      .accordion-v2-panel-heading--is-collapsed .accordion-v2-panel-heading__icon-expand {
        right: 19px;
        top: 21px;
      }
    }

    .form-v2 {
      padding-top: 34px;

      .hidden-xs {
        display: block !important;
      }
      .container,
      .reviews
      .rr-widget-container {
        padding: 0 22px;
      }

      .input-md {
        font-size: 14px;
      }
    }

    .title-page-contact {
      padding: 110px 0 60px;
    }

    .c-rich-text-v2__wrapper {
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .contact-us-page {
    .title-page-contact {
      padding: 190px 0 100px;
    }
  }
}

@media screen and (min-width: 768px) {
  .contact-us-page {
    .form-v2 {
      padding-top: 64px;
    }
  }
}

@media screen and (min-width: 992px) {
  .contact-us-page {
    .title-page-contact {
      padding: 190px 0 100px;
    }
  }
}