.home-page {
  .featured-content,
  .recipe-listing {
    display: inline-block;
    vertical-align: top;
  }

  .featured-content {
    width: 59.5%;
  }

  .recipe-listing {
    margin-left: 2%;
    width: 38%;
  }

  .featured-recipe-listing {
    .c-recipe-listing{
      &-item {
        &:before,
        &:after {
          background: url("../images/recipe-listing-arrow.png") 0 0 no-repeat;
          width: 24px;
          height: 45px;
          content: '';
          cursor: pointer;
          display: block;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }

        &:before {
          left: -43px;
        }

        &:after {
          background-position: -29px 0;
          right: -43px;
        }
      }
    }
  }

  //Newsletter Bar
  .newsletter {
    background-color: $font-hightlight;
    height: 100px;
    position: relative;
    width: 100%;

    &__wrapper {
      display: block;
      height: 100%;
      margin: 0 auto;
      max-width: 1190px;
      text-align: center;
      width: auto;
    }

    &__close-btn {
      background-color: transparent;
      border: 0;
      color: $color-white;
      font-family: $font-family-sans-serif;
      font-size: 20px;
      font-weight: bold;
      height: 20px;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 20px;
      text-align: center;
      text-transform: uppercase;
      top: 20px;
      width: 20px;
    }
    
    .rich-text-v2 {
      display: inline-block;
      width: auto;
      vertical-align: top;
      height: 100%;
    }
    .c-rich-text-v2 {
      display: block;
      height: 100%;

      &__wrapper,
      .container {
        height: 100%;
        margin: 0;
        max-width: none;
        padding: 0;
        width: auto;
      }

      &__description {
        color: $color-white;
        font-family: $font-family-custom;
        font-size: 18px;
        font-style: italic;
        line-height: 100px;
        text-align: center;
        text-transform: none;

        &:after,
        &:before {
          display: none;
        }
      }
    }

    .call-to-action {
      height: 100px;
      display: inline-block;

      .container,
      &__wrapper {
        margin: 0;
        padding: 0;
        height: 100%;
        max-width: none;
        min-width: unset;
        width: auto;
      }

      .container {
        padding: 0 35px;
      }
      
      button {
        background-color: $neutral-light-color;
        border: 0;
        border-radius: 5px;
        box-shadow: none;
        color: $font-hightlight;
        display: block;
        font-family: $font-family-sans-serif;
        font-size: 16px;
        font-weight: bold;
        height: 50px;
        line-height: 50px;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        top: 50%;
        transform: translateY(-50%);
        width: 168px;
      }
    }

    &:after {
      clear: both;
      content: '';
      display: block;
    }
  }
}

@media (max-width: 991px) {
  .home-page {
    .featured-content {
      width: 100% !important;

      .c-featured-content {
        display: block;
        margin: 0 auto;

        &-image__link {
          width: 100%;
        }
      }
    }

    .featured-recipes {

      .recipe-listing,
      .rich-text-v2 {
        margin-left: unset !important;
      }
    }
  }
}

@media (max-width: 767px) {
  .home-page {
    .newsletter {
      height: auto;

      &__wrapper {
        width: 100%;
        height: auto;
        padding: 15px 4.6875%;

        &:after {
          clear: both;
          content: '';
          display: block;
        }
      }

      &__close-btn {
        top: 15px;
      }

      .rich-text-v2,
      .c-rich-text-v2 {
        display: block;
        height: auto;
        margin-bottom: 10px;
        width: 100%;

        .container,
        &__wrapper {
          height: auto;
          display: block;
        }

        &__description {
          display: block;
          line-height: 28px;
          text-align: left;
        }
      }

      .call-to-action {
        display: block;
        height: auto;
        width: 100%;
        text-align: center;
        
        &__wrapper,
        .container {
          display: block;
          height: auto;

          &:after {
            clear: both;
            content: '';
            display: block;
          }
        }

        .container {
          padding: 0;
          text-align: left;
        }

        button {
          display: block;
          top: unset;
          transform: none;
        }

        &:after {
          clear: both;
          content: '';
          display: block;
        }
      }
    }
  }
}