@import "home";
@import "product-page";
@import "product-detail";
@import "our-mission";
@import "article-landing-page";
@import "newsletter_sign-up";
@import "recipe-detail";
@import "recipe-category";
@import "search-result";
@import "where-to-buy";
@import "where-to-buy-results";
@import "contact-us";

/* _layout.scss  */

// Common Styles
// --------------------------------------------------

.o-content-wrapper {
    overflow:hidden;
    margin:0;
}

.container-fluid {
    margin: 0 auto;
    width:100%;
}

.container, .reviews .rr-widget-container {
    margin:0 auto;
    width:100%;
    max-width: $container-lg;
    position:relative;
    padding: 0 37px;
}

.o-content-border {
    position: relative;
	clear:both;
}

.o-absolute-header .o-content-wrapper {
    margin-top: 0;
}

.o-sticky-nav-enabled {
    padding-top: 100px;
}

.o-content-wrapper__in {
    position: relative;
    z-index: $z-index;
}

.o-no-padding {
    padding: 0;
}
.o-desc {
    margin:20px 0;
}

/** TEXT **/

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: $gray;
    margin-top: 0;
    -webkit-text-size-adjust:100%;
    &.product-gifting-page {
        margin-top: 172px;
    }
    &.timer-inactive {
        margin-top: 92px;
    }
}

a, a:hover, a:focus {
    outline:0 none;
}


p, .o-text__body {
    font-size: $font-size-h4;
    line-height: 20px;
    color: $gray;
}
.o-text__quote {
    font-style:italic;
    margin:15px 0;
}
.o-text__bold {
    font-weight:bold;
}

@mixin o-text__heading-1() {
    font-size: $font-size-h1;
    line-height: 53px;
    color: $gray;
    margin:0;
    padding:0;
}

.o-text__heading-1 {
    @include o-text__heading-1;
}

@mixin o-text__heading-2() {
    font-size: $font-size-h2;
    line-height: 36px;
    color: $gray;
    margin:0;
    padding:0;
}

.o-text__heading-2 {
    @include o-text__heading-2;
    color: $gray;
    a, a:hover, a:focus {
        text-decoration:none;
        color: $brand-primary;
    }
}

@mixin o-text__heading-3() {
    font-size: $font-size-h3;
    line-height: 24px;
    color: $gray;
    margin:0;
    padding:0;
}

.o-text__heading-3 {
    @include o-text__heading-3;
}

@mixin o-text__heading-4() {
    font-size: $font-size-h4;
    line-height: 20px;
    color: $gray;
    margin:0;
    padding:0;
}

.o-text__heading-4 {
    @include o-text__heading-4;
}

@mixin o-text__heading-5() {
    font-size: $font-size-h5;
    line-height: 20px;
    color: $gray;
    margin:0;
    padding:0;
}

.o-text__heading-5 {
    @include o-text__heading-5;
}

@mixin o-text__heading-6() {
    font-size: $font-size-h6;
    line-height: 20px;
    color: $gray;
    margin:0;
    padding:0;
}

.o-text__heading-6 {
    @include o-text__heading-6;
}

.o-text__small {
    a {
        color: $gray-dark;
        text-decoration: underline;
    }
}

.o-tag {
    font-size: 14px;
    height: 24px;
    margin-bottom: 0;
    line-height: 24px;
    background-color: $brand-secondary;
    color: $color-white;
    padding: 0 10px;
    display: inline-block;
}

.o-continue-arrow {
    background-image: url("../svgs/arrow-drop.svg");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    @include rounded(25px);
    height: 35px;
    width: 15px;
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid $gray-lighter;
    opacity: 0;
    z-index: 999;
}
.o-modal-open {
    position:fixed;
    overflow:hidden;
    width: 100%;
}

.o-play-icon {
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    left:50%;
    margin:-16px 0 0 -18px;
    background: url("../svgs/play-video.svg") center no-repeat;
    background-size: 36px;
    z-index: 6;
    cursor: pointer;

    @media (min-width: $screen-sm) {
        width: 70px;
        height: 70px;
        background-size: 70px;
        margin:-34px 0 0 -35px;
    }
    &.o-play-icon-lg {
        background-size:100px;
        width:100px;
        height:100px;
        margin:-50px 0 0 -50px;
    }
}

picture img, .o-thumbnail-img {
    max-width:100%;
}

picture.is-loading, picture.is-lazyload {
    background:url(../images/loader/ajax-loader.gif);
    height: 100%;
    background-size: 26px;
    min-height: 100px;
    width: 100%;
    margin: 0 5px 5px 0;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    &.lazyloadcomplete {
        background-image: none;
    }
}

.o-preloader {
    background: $color-white url(../images/loader/ajax-loader.gif) center 50px no-repeat;
    position:absolute;
    width:100%;
    z-index:2;
    min-height:200px;
    height:100%;
    text-indent:-9999px;
}
pre {
    display: block;
    font-family: inherit;
    margin: 0;
    padding:0;
}
html {
   -ms-overflow-style: scrollbar;
}

.o-hidden {
    display:none;
}

.u-blur-background {
    filter: blur(5px);
}

.o-icon-article {
    background: $color-white url("../svgs/sprites/book.svg") center center no-repeat;
    background-size: 20px;
    border-radius: 100%;
    padding: 20px;
}

.overlay {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    position: fixed;
    z-index: 25;
    display:none;
}

.close-overlay-btn {
  background: $color-white;
  float: right;
  margin: 41px 10px;
}

.close-icon {
  display: block;
  width: 20px;
  height: 20px;
  stroke: $brand-primary;
  stroke-width: 2px;
}

.featured-recipes {
  padding: 0 30px 5%;
  background-color: #014a77;
  background: url("../images/bg-recipe-listing.jpg");
  background-repeat: repeat;
  position: relative;

  &:after {
    background: url("../images/recipe-bottom-section.png");
    background-repeat: repeat-x;
    bottom: -17.2px;
    content: '';
    display: block;
    height: 18px;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
}

// .product-detail-section-holder {
//   font-size: 0;
//   max-width: 1440px;
//   margin: 0 auto;
//   height: 40.66666666666666666vw;
//   text-align: center;
// }

.product-detail-section {
    font-size: 0;
    max-width: 1440px;
    margin: 0 auto;
    height: 40.66666666666666666vw;
    text-align: center;
    // width: 100%;
    // background-image: url("../images/product-page/pattern.jpg");

    .product-images {
      width: 49.027777777777778%;
    }

    .c-product-copy-v2__wrapper,
    .btn-buy-now .call-to-action__wrapper {
        text-align: left;
    }

    .info-product-holder {
      background: url("../images/content-paper.jpg");
      font-size: 0;
      height: 100%;
      margin: 0;
      padding: 0 29px;
      position: relative;
      width: 27.791666666666667%;

      .c-product-copy-v2 {
        &-heading__text {
          font-size: 30px;
          line-height: 34px;
          color: #004976;
          padding-top: 3vw;
          padding-bottom: 39px;
          font-family: $font-family-custom;
          font-style: italic;
        }
      }

      .product-rating-overview {
        text-align: left;
        position: absolute;
        top: 0;
        padding-top: 39%;
        left: 35px;
      }

      &:before {
        background: url("../images/paper-before-content.png");
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        height: 100%;
        width: 4px;
        top: 0;
        left: -4px;
        content: '';
      }
    }

    .info-product-carousel {
      width: 23.180555555555556%;
      height: 100%;
      margin: 0;
    }
}

@media (min-width: 992px) {
  .featured-recipes {

    &:after {
      margin: 0 -30px;
    }
  }
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
  }

  section {
    overflow: hidden;
    display: block;
  }

  .featured-recipes {
    padding: 40px 4.6875% 0;

    &:after {
      left: 0;
    }

    .rich-text-v2 {
      //margin-left: -4.6875%;
      width: 100%;
    }

    .c-rich-text-v2  {
      padding-bottom: 20px;
      width: 100%;

      &__wrapper {
        margin: 0 auto;
      }

      &__description {
        font-size: 3.500rem;
        box-sizing: border-box;
        line-height: 1.1;
        margin: 0;
        position: relative;
        width: auto;

        &:before,
        &:after {
          position: absolute;
          margin: 0 !important;
          top: 25%;
          -webkit-transform: translateY(-0.5);
          -ms-transform: translateY(-0.5);
          transform: translateY(-0.5);
          max-width: 4.6875%;
        }

        &:before {
          right: -18px;
        }

        &:after {
          left: -18px;
        }
      }
    }

    .featured-content {
      width: 100%;

      &-recipe-home .c-featured-content-image image {
        height: 92.5vw;
      }
    }

    .recipe-listing {
      margin: 9.375% 0;
      //margin-left: -4.6875%;
      width: 100%;
    }

    .c-recipe-listing {

      &__wrapper {
        padding: 0 !important;
        width: 100%;
      }

      &__list {
        font-size: 0;
        display: inline-flex;
        padding: 0;

        &-item {
          box-sizing: content-box;
          display: block !important;
          font-size: 1.8em;
          min-width: 90.625%;
          padding-left: 2.34375%;
          padding-right: 2.34375%;

          &-image__container img {
            max-width: 90.625%;
          }

          &:first-child {
            padding-left: 4.6875%;
          }
        }
      }

      &-item {
        &:before,
        &:after {
          display: none !important;
        }
      }
    }
  }

  .highlight-product {
    .c-hero-v2__copy {
      left: 0 !important;

      .o-text__heading-1 {
        max-width: 320px;
        font-size: 1.725em;
        line-height: 1.6;
      }

      .o-text__body {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-detail {
    .featured-recipes {
      padding: 48px 60px 0;

      .c-recipe-listing__list {
        max-width: none;
      }
    }

    .featured-recipe-listing {
      .c-recipe-listing__list-item {
        min-height: 0;
      }
    }

    .rich-text-v2-recipes {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 18px;
  }

  .featured-recipes {
    padding: 80px 60px 0;

    &:after {
      left: 0;
    }

    .rich-text-v2 {
      margin-left: -60px;
      width: 100%;
    }

    .c-rich-text-v2  {
      width: 100%;

      &__wrapper {
        margin: 0 auto;
      }

      &__description {
        font-size: 3.500rem;
        box-sizing: border-box;
        line-height: 1.1;
        margin: 0;
        max-width: 290px;
        position: relative;
        width: 100%;

        &:before,
        &:after {
          position: absolute;
          margin: 0 !important;
          top: 25%;
          transform: translateY(-0.5);
          max-width: 4.6875%;
        }

        &:before {
          right: -4%;
        }

        &:after {
          left: -4%;
        }
      }
    }

    .featured-content {
      width: 100%;

      &-recipe-home .c-featured-content-image image {
        height: 92.5vw;
      }
    }

    .recipe-listing {
      width: 100%;
      padding-bottom: 4.125%;
    }

    .c-recipe-listing {

      &__wrapper {
        width: 100%;
      }

      &__list {
        font-size: 0;
        padding: 0;
        max-width: 480px;
        margin: 0 auto;

        &-item {
          box-sizing: content-box;
          display: none;
          font-size: 1.8em;
          margin: 0 auto;

          &-image__container img {
            max-width: 90.625%;
          }

          &:first-child {
            display: block;
          }
        }
      }
    }
  }

  .highlight-product {
    .c-hero-v2__copy {
      padding: 0 !important;
      left: 44%;
      max-width: 415px;

      -o-text__heading-1 {
        max-width: 440px;
      }
    }
  }
}

@media (max-width: 991px) {
  .hero-article {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1441px) {
  .product-detail-section {
    max-height: 600px;
  }
}

@media screen and (max-width: 1247px) {

    .c-product-images .slick-slider img {
        width: 700px;
        max-width: none;
        margin-left: -8vw !important;
    }

    .product-detail-section {
        height: auto;

        .info-product-holder {
            height: 597px;
        }

        .info-product-carousel {
            height: 597px;
        }

        .info-product-holder {
            .product-rating-overview {
                padding-top: 39%;
            }
        }

        .info-product-holder {
            .c-product-copy-v2-heading__text {
                font-size: 25px;
                line-height: 30px;
            }
        }
    }
}

@media (max-width: 991px) {
  .product-detail-section {
    .product-images,
    .info-product-holder,
    .info-product-carousel {
      width: 100%;
    }

    .c-product-images .slick-slider img {
      width: 100%;
      max-width: 100%;
      margin-left: 0 !important;
    }

    .info-product-holder {
      background: none;
      padding-bottom: 30px;
      height: auto;
    }

    .info-product-carousel {
      height: auto;
      padding: 20px 0;

      .c-recipe-listing__list {
          padding: 0;
      }
    }

    .info-product-holder {
      .product-rating-overview {
          padding-top: 0;
          top: 20%;
          left: 26px;
      }
    }
    .rr-widget-container {
        margin: 0;
    }
  }
}