.home-page {
  .featured-content,
  .recipe-listing {
    display: inline-block;
    vertical-align: top;
  }

  .featured-content {
    width: 61%;
  }

  .recipe-listing {
    width: 38%;
  }

  .featured-recipe-listing {
    .c-recipe-listing{
      &-item {
        &:before,
        &:after {
          background: url("../images/recipe-listing-arrow.png") 0 0 no-repeat;
          width: 24px;
          height: 45px;
          content: '';
          cursor: pointer;
          display: block;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }

        &:before {
          left: -43px;
        }

        &:after {
          background-position: -29px 0;
          right: -43px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .home-page {
    .featured-content {
      width: 100% !important;

      .c-featured-content {
        display: block;
        margin: 0 auto;
      }
    }
  }
}