.product-page {
  background-image: url('../images/product-page/pattern.jpg');
  .c-product-listing__overlay,
  .c-product-overview__awards {
    display: none;
  }

  .c-inline-review > .c-inline-review {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .c-rich-text-v2 {
    font-size: 42px;
  }

  .col-sm-offset-2,
  .col-sm-offset-4 {
    margin-left: 0;
  }
}

@media(max-width: 767px) {
  .product-page {
    .rich-text-landing-products {
      display: none;
    }
  }
}