.recipe-category-page {
  &__wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    position: relative;
    padding: 0;
  }

  .c-recipe-listing-filter__block {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .recipe-category-page {
    .recipe-category-page__recipe-finder {
      .c-recipe-listing__list {
        margin: 0 -15px;
      }
    }
  }
}