.recipe-detail-page {
  .c-hero-v2__copy {
    top: auto;
    bottom: 250px;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);


    .o-btn {
      background-color: #ffffff;
      color: #004976;
      border: 1px solid #ffffff;

      &:hover {
        background: #004976;
        color: #ffffff;
        border: 1px solid #004976;
      }
    }
  }

  .c-product-images {
    margin: 0;
  }

  .product-images,
  .info-product-holder,
  .info-product-carousel {
    display: inline-block;
    vertical-align: top;
  }

  .product-images {
    width: 702px;
  }

  .c-product-images-thumbnail__img {
    margin-bottom: 0;
  }

  .info-product-holder {
    background: url('../images/product-copy-v2/bg-product-copy.jpg');
    height: 597px;
    margin-left: -7px;
    width: 433px;

    .rr-widget-container {
      line-height: 0;
    }

    .c-product-copy-v2 {
      .container {
        padding: 0;
      }
    }
  }

  .featured-recipe-listing {
    .c-recipe-listing__list-item {
      margin-right: 30px;
      width: 30% !important;
      display: inline-block;
      vertical-align: middle;
      float: none;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .info-product-carousel {
    background: url('../images/product-copy-v2/bg-carousel-detail-product.jpg');
    height: 597px;
    margin-left: -7px;
    width: 350px;

    .featured-recipe-listing {
      .c-recipe-listing-item-content {
        background-color: transparent;
        position: relative;
        height: auto;

        &:before {
          content: none;
        }
      }
    }

    .c-recipe-listing__list-item {
      width: 84% !important;
      float: none;
      margin: 0 auto;
    }

    .c-recipe-listing-item-content__container-subheading {
      display: block !important;
    }

    .c-recipe-listing-item-image__container {
      img {
        width: auto;
      }
    }

    .c-recipe-listing-item-content__container-heading {
      font-size: 18px;
      color: #004976;
      text-transform: uppercase;
      margin-bottom: 8px;
      font-family: 'Libre Baskerville', serif;
      font-style: italic;
    }

    .c-recipe-listing-item-content__container-subheading {
      text-align: center;
      font-size: 16px;
      color: #333333;
    }
  }

  .o-btn--zoom {
    display: none;
  }

  .c-product-images {
    .container {
      padding: 0;
    }
  }

  .featured-recipe-listing {
    .c-recipe-listing__list {
      &-item:first-child {
        &:before {
          content: '';
          background: url("../images/recipe-listing-arrow.png");
          cursor: pointer;
          display: block;
          height: 45px;
          left: -43px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          width: 24px;
        }
      }

      &-item:last-child {
        &:after {
          content: '';
          background: url("../images/recipe-listing-arrow.png") -29px 0 no-repeat;
          cursor: pointer;
          display: block;
          height: 45px;
          position: absolute;
          right: -43px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 24px;
        }
      }
    }
  }

  .related-products {
    background-image: url('../images/pattern-recipe-detail-related.jpg');
    text-align: center;

    .js-product-listing__list-item {
      display: inline-block;
      vertical-align: top;
    }

    .c-product-listing__product-wrap {
      float: none;
      display: inline-block;
      margin: 0;
    }

    .c-product-listing__overlay,
    .c-product-overview__awards {
      display: none;
    }

    .c-inline-review > .c-inline-review {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
    .c-rich-text-v2 {
      font-size: 42px;
    }

    .col-sm-offset-2,
    .col-sm-offset-4 {
      margin-left: 0;
    }
  }

  //RECIPE SECTION
  .recipe {
    background-color: #f7f1e6;

    &__wrapper {
      display: block;
      margin: 0 auto;
      max-width: 1090px;
      padding: 0;
      font-size: 0;
    }

    &__ingredients,
    &__method {
      display: inline-block;
      vertical-align: top;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .recipe-detail-page {
    .featured-recipe-listing {
      text-align: center;

      .c-recipe-listing__list-item {
        display: inline-block;
        vertical-align: top;
        float: none;
        width: 43% !important;

        &:first-child {
          display: inline-block;
        }

        &:nth-child(2n) {
          margin-right: 0;

          &:after {
            content: '';
            background: url("../images/recipe-listing-arrow.png") -29px 0 no-repeat;
            cursor: pointer;
            display: block;
            height: 45px;
            position: absolute;
            right: -43px;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
          }
        }

        &:last-child {
          display: none;
        }

        &:last-child:after {
          content: none;
        }
      }
    }

    .info-product-carousel {
      .c-recipe-listing__list-item {
        display: block;
      }
    }

    .product-listing {
      .c-product-listing {
        &__product-wrap {
          margin-bottom: 25px;
          width: 100%;
        }

        &__product-item {
          margin-bottom: 30px;
        }
      }
    }

    .c-hero-v2__copy {
      bottom: 70px;
    }
  }
}

@media screen and (max-width: 767px) {
  .recipe-detail-page {
    .product-listing {
      display: block;
    }

    .c-hero-v2__copy {
      bottom: 150px;
    }

    .olapic {
      min-height: 185vw;
    }

    &__listing-recipes {
      .c-rich-text-v2__description {
        &:after,
        &:before {
          top: 25%;
        }
      }
    }
    .related-products {
      padding-bottom: 30px;

      .c-rich-text-v2__description {
        &:after,
        &:before {
          top: 25%;
        }

        &:before {
          right: -20px;
        }

        &:after {
          left: -20px;
        }
      }
    }
  }
}