.search-result-page {
  background: url('../images-cms/hero-v2/search-result/hero-search-result-1.png');
  background-position: top center;
  background-repeat: repeat-x;
  height: 100%;
  width: 100%;
}