.where-to-by-results {
  background: url("../images/background-where-to-buy-results.jpg") repeat-x;
  height: 100%;
  width: 100%;

  .container,
  .reviews .rr-widget-container {
    max-width: none;
    padding: 0;
  }

  .c-search-store.col-sm-12 {
    background: #f2f6f8;
    max-width: none;
    padding: 0;

    &:before {
      content: '';
      background: url("../images/recipe-bottom-section.png") repeat-x;
      width: 100%;
      height: 18px;
      display: block;
    }
  }

  .c-search-store {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 37px;
  }

  .c-search-store-form {
    .col-sm-4,
    .form-group {
      float: none !important;
      padding: 0 !important;
      width: 100%;
    }

    .col-sm-4 {
      margin-left: 0;
    }

    .form-group {
      margin: 0;
      padding: 0;
    }
  }

  .c-search-results-reset {
    .c-search-reset {
      background: #004976;
      border-radius: 5px;
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      padding: 6px !important;
      text-transform: uppercase;
      width: 100%;

      &:hover {
        background: #035d94;
      }
    }
  }

  .c-store-search--heading  {
    margin-top: 185px;
  }

  .c-search-store-results {
    margin-top: 0;
    padding-bottom: 60px;
  }

  .title-page-where-to-buy-results {
    padding: 190px 0 71px;

    .c-rich-text-v2__description:before,
    .c-rich-text-v2__description:after {
      content: none;
    }
  }

  .c-search-store {
    .o-text__heading-2 {
      display: none;
    }
  }

  .c-icon-tooltip {
    .c-tooltip-info__icon {
      display: none;
    }
  }

  .o-store-info--desc {
    a {
      display: none !important;
    }
  }

  .search-desc {
    color: #004976;
    font-size: 24px;
    margin-top: 45px;
    margin-bottom: 38px;
  }

  .c-search-store-results {

    .c-result-list-body {
      li {
        background: none;
        text-align: left;
      }
    }
  }

  #map-canvas {
    background: #e7eef2;
  }

  .c-search-store-results {
    .c-buy-online-prefix {
      display: none;
    }
  }

  .c-search-store-results {
    .c-result-list-body {
      p {
        font-size: 16px;
        margin-bottom: 6px;
      }
    }

    .c-result-list-body {
      li {
        padding: 0 0 20px 40px;
        position: relative;

        &:before {
          content: "\e639";
          color: #004976;
          font-family: 'icomoon';
          font-size: 31px;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          left: 0;
          line-height: 1;
          position: absolute;
          speak: none;
          text-transform: none;
          top: 8px;

          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        .c-store-titile {
          font-size: 19px;
          color: #004976;
        }
      }
    }
  }

  .js-btn-show-store {
    background-color: #e7eef2;
    border-radius: 5px;
    border: none;
    color: #125680;
    font-weight: bold;
    padding: 7px;
    position: relative;
    text-transform: uppercase;
    width: 100%;

    &:hover {
      background-color: #cfd6da;
    }
  }
}

@media screen and (max-width: 767px) {
  .where-to-by-results {
    background-position: 0 -220px;

    .title-page-where-to-buy-results {
      padding: 110px 0 27px;
    }

    .c-rich-text-v2__wrapper {
      margin: 0 auto;
    }

    .c-search-store.col-sm-12 {
      padding: 0 0 5px;
    }

    .c-search-store-results {
      .c-search-store-form {
        padding: 0 15px;
        width: 100%;
      }

      .input-md {
        font-size: 16px;
      }
    }

    .search-desc {
      font-size: 19px;
      text-align: left;
    }

    .c-buy-store-result {
      .col-sm-7,
      .col-sm-5 {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .where-to-by-results {
    #map-canvas {
      height: 393px !important;
    }
  }
}

@media screen and (min-width: 768px) {
  .where-to-by-results {
    .c-buy-store-result {
      .col-sm-5 {
        width: 35.66667%;
      }

      .col-sm-7 {
        width: 64.33333%;
      }
    }

    .c-search-store-results {
      .c-search-store-form {
        width: 36%;
        float: right;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .where-to-by-results {
    #map-canvas {
      height: 597px !important;
    }
  }
}
