.where-to-buy {
  background: url("../images/background-where-to-buy.png") repeat-x;
  background-position: top center;
  height: 100%;
  width: 100%;

  .c-store-search--heading  {
    margin-top: 185px;
  }
}