.pinterest {

    .pinterest-header {
        display: table;
        height: 100px;
        max-height: 100px;
        width: 100%;

        h1 {
            text-transform: uppercase;
        }

        .button-wrapper {
            vertical-align: middle;
        }

        & > div {
            display: table-cell;
            float: none;
            vertical-align: middle;
        }

        img {
            width: auto;
        }

    }

    .pinitfeeds {
        margin-bottom: 25px;
        margin-top: 25px;
        width: 100%;
        
        @media (min-width: $bp-large) {
            margin-top: 30px;
        }

        @media (min-width: $bp-extra-large) {
            margin-top: 40px;
        }

        ul.stream {
            list-style: none;
            margin: 0 auto;

            img {
                width: 100%;
            }

            p {
                padding: 10px;
                margin-bottom: 2px;
            }
        }

        .item {
            width: 82%;
            padding-bottom: 5px;
            margin-bottom: 5px;
            margin-bottom: 20px;
            overflow: hidden;
            @include rounded($radius: 8px);
			
            p {
                word-wrap: break-word;
            }
        }

        @media (min-width: $bp-large) {
            .item {
                width: 28%;
            }
        }

        @media (min-width: $bp-extra-large) {
            .item {
                width: 22%;
            }
        }
    }

    .pinterest-header {
        padding: 18px 0;

        a {
            line-height: 1.2;

            &:hover {
                text-decoration: none;
            }
        }

        h1 {
            margin: 0;
            padding-bottom: 10px;
            @media (min-width: $bp-large) {
                padding-bottom: 8px;
            }
            @media (min-width: $bp-extra-large) {
                font-size: 24px;
                padding-bottom: 12px;
            }
        }

        p {
            margin: 0;
        }

        .title-wrapper {
            padding-left: 15px;
            padding-right: 15px;
        }

        .icon-wrapper {
            text-align: right;
            margin-top: 10px;
            padding-right: 10px;

            @media (min-width: $bp-large) {
                margin-top: 8px;
            }
            @media (min-width: $bp-extra-large) {
                margin-top: 12px;
            }
            img {
                max-width: 78px;
                max-height: 20px;

                @media (min-width: $bp-large) {
                    max-width: 155px;
                    max-height: 40px;
                }
            }
        }
    }
}