.footer {
  background-image: url('../images/background/bg-footer.jpg');
  background-repeat: repeat-x;

  &:after {
    content: '';
    width: 100%;
    height: 12px;
    background: $font-hightlight;
    display: block;
    position: absolute;
    margin-top: -31px;
  }
}

.c-footer-container {
  padding:0;
  max-width: 1130px;
  margin: 0 auto;
}

.footer--nav {
  width: 100%;
  padding: 40px 40px 18px 40px;

  .container {
    padding: 0;
  }
}

.c-svg-icon {
  height: 14px;
  width: 14px;
  margin: 12px;
  vertical-align: middle;
}

.c-svg-logo {
  display: none;
}

.c-logo-copy {
  font-size: $font-size-large;
  text-align: center;
  padding: 20px 50px;
}

.c-footer-logo {
  text-align:center;
  display: none;
}

.c-footer-logo__link {
  margin: 0 auto;
  img {
    width:75px;
  }
}

.c-svg-flag {
  height: 11px;
  width: 17px;
}

.c-svg-unilever {
  height: 36px;
  width: 33px;
}

.c-footer-unilever {
    display: none;
}

.footer--section {
  list-style: none;
  padding: 0;
}

.c-footer-social {
  margin-top: -50px;
}

.c-footer-social-link {
  display: inline-block;

  &:not(:last-child) {
    margin: 0 10px 25px 0;
  }
}

.c-svg-container , .c-img-container {
  display: inline-block;
  width: 50px;
}

.c-social-icons-list {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  img {
    width: 100%;
  }
}

.c-social-links {
  text-align: center;
}

.c-footer-list {
  list-style: none;
  text-decoration: none;
  text-align: center;
  position: relative;
  margin-top: -25px;
}

.c-contact-list {
  text-align: left;
  list-style: none;
  padding: 0;

  .c-footer-contact {

    .c-append {
      display: none !important;
    }
  }
}

.c-signup-list{
  list-style: none;
  padding-top: 15px;
}

.c-footer--flag {
  display: none;
}

.c-social-icon-names {
  display: none;
}

.c-footer-contact, .c-footer-signup {
  margin-top: 35px;
  display: inline-block;
  padding-left: 10px;

  &:not(:first-child) {
    border-left: 1px solid $font-hightlight;
    margin-left: 5px;
  }

  a {
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: $font-hightlight;
    font-weight: 500;

    &:hover {
      color: $font-hightlight;
      text-decoration: underline;
    }
  }
}

// .c-footer-contact .c-append {
//   @media (min-width: $screen-xs) and (max-width: 767px) {
//     display: inline !important;
//     display: inline !important;
//     color: $gray;
//     text-decoration: none;
//   }
// }

.o-link-icons {
  margin: 35px 0 25px 0;
}

.c-footer-terms {
  padding: 15px 0;
}

.c-copyright {
  margin: 30px 0 0;

  .c-copyright-label {
    margin-top:20px;

    p {
      font-size: 12px;
      padding: 0 10px;
      color: $font-hightlight;
      font-weight: 500;
      text-transform: uppercase;
      background-image: url('../images/background/bg-copy.jpg');
      position: absolute;
      z-index: 1;
      margin-top: -10px;
    }
  }
}

.o-footer-links {
  &:hover {
    text-decoration: none;
  }
}

.c-language-selector {

  select {
    margin: 0;
    background: transparent;
    border: none;
    color: $font-hightlight;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &:before {
    content: '';
    display: inline-block;
    background-image: url('../images/background/arrow-select.png');
    width: 15px;
    height: 9px;
  }
}

.o-footer-links__adchoiceTxt{padding-left: 3px;}




// Media Queries

@media screen and (min-width: 992px) {
  .c-social-links {
    text-align: right;
  }

  .c-copyright {

    .c-copyright-label {

      &:after {
        content: '';
        display: inline-block;
        background-image: url('../images/background/loop-icon.jpg');
        width: 99px;
        height: 35px;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 70px;
      }
    }
  }

  .c-language-selector  {
    position: absolute;
    top: 35px;
    right: -5px;
  }
}

@media screen and (max-width: 991px) {
  .footer {
    background-image: url('../images/background/bg-footer-mobile.jpg');
    background-size: contain;

    &:after {
      margin-top: -33px;
    }
  }

  .footer--nav {
    padding: 40px 30px 20px;
  }

  // .c-footer-social {
  //   margin-top: 100px;
  // }

  .c-footer-list {
    margin-top: 25px;
  }

  .c-footer-contact, .c-footer-signup {
    display: block;
    margin-top: 10px;

    &:not(:first-child) {
      border: none;
      margin-left: 0;
    }
  }

  .c-copyright {

    .c-copyright-label {

      &:after {
        content: '';
        display: inline-block;
        background-image: url('../images/background/loop-icon.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 61px;
        height: 25px;
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: -46px;
      }
    }
  }

  .c-language-selector  {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;

    &:before {
      display: none;
    }

    &:after {
      content: '';
      display: inline-block;
      background-image: url('../images/background/arrow-select.png');
      width: 15px;
      height: 9px;
      margin-left: 20px;
    }

    select {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 350px) {
  .c-img-container {
    width: 40px;
  }
}