.ifaq { 
    .c-expandcollapse__title, .c-expandcollapse__body{
        width: 100%;
    }
    .container {
        margin-top: 20px;
    }
    .span-c-ifaq-cta {
        float: left;
        padding: 15px 15px 15px 0;
        display: block;
    }
    .c-ifaq_btn.o-btn.o-btn--ternary {
        margin-top: 0;
    }
	.c-expandcollapse{
		width: 100%;
		float: left;
	}
	.c-ifaq_contactSec {
		margin-top: 20px;
		float: left;
	}
    .c-faq-partial__sitename {
        float: left;
        padding: 10px;
        width: 100%;
        text-transform: capitalize;
        color: #666666;
        border-bottom: 1px solid #cccccc;
    }
	pre {
   		line-height: 24px;
	}
	.c-expandcollapse__desc {
        margin-top: 10px;
	}
    .c-expandcollapse .c-expandcollapse__link .c-svg.plus{
        margin-top: 0px;
        background: url("../svgs/sprites/plus.svg") 50% no-repeat;
    }
    @media (max-width: $bp-medium) {
        font-size: $font-size-small;
     }
    
}