.c-social-gallery-carousel-thumbnail__list{
	text-align: center;
	font-size: 0px;
	
	.c-social-gallery-carousel__item{
		display: inline-block;
		float: none;
		font-size: 14px;
	}
}
.c-social-gallery-carousel-thumbnail__copy {
	float:none;
	margin:0 auto 40px;
}
.c-social-gallery-carousel-thumbnail__cta {
	margin-bottom: 40px;
}