/**
 * Dropdown mixin.
 */

@mixin c-dropdown__select {
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    @media(min-width: $screen-md) {
        display: inline-block;
    }
    @media(min-width: $screen-sm) {
        width: 100%;
    }
}

.c-dropdown {
    position: relative;

    &__select select:focus {
        outline: none;
    }

    &__label, &-label {
        left: 10px;
        top: 5px;
        text-align: left;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        background-color: white;
        pointer-events: none;
        width: 76%;
        height: 60%;

        @media(min-width: $screen-md) {
            width: 85%;
        }
        span {
            padding-left: 5px;
            line-height: 3em;
        }
        &__price, &__retail {
            float: right;
        }
    }

    &__item__span, &__price {
        float: right;
        margin-top: 5px;
    }

    &__price {
        margin-top: -7px;
    }

    &__select, &-select {
        @include c-dropdown__select;
        .lt-ie10 & {
            background-image: none;
            padding: 0;
        }
    }
}