.article-landing {
  .c-hero-v2__copy {
    text-shadow: 1px 1px 4px rgba(150, 150, 150, 0.6);

    .o-text__heading-1 {
      font-size: 68px;
      line-height: 1.3;
      max-width: 900px;
      margin: 0 auto;
    }

    .o-text__body p {
      font-family: $font-family-sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: bold;
      line-height: 33px;
      padding-top: 15px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

//tablet
@media screen and (max-width: 991px) and (min-width: 768px) {
  .article-landing {
    .c-hero-v2__copy {
      padding-top: 45px;

      .o-text__heading-1 {
        font-size: 58px;
        line-height: 65px;
        padding: 0 20px;
      }
    }
  }
}

//mobile
@media screen and (max-width: 767px) {
  .article-landing {
    .c-hero-v2__copy {
      top: 50%;

      .o-text__heading-1 {
        font-size: 50px;
        line-height: 1.3;
      }
    }
  }
}