.home-page {
  .bottom-hero-home {
    .c-hero-v2__copy {
      -ms-transform: translate(0);
      -webkit-transform: translate(0);
      min-width: 460px;
      text-align: left;
      top: 10%;
      transform: translate(0);
      width: 25%;
    }
  }
}

@media screen and (min-width: 992px) {
  .home-page { 
    .bottom-hero-home {
      .c-hero-v2__copy {
        min-width: auto;
        left: 48%;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .home-page { 
    .bottom-hero-home {
      .c-hero-v2__copy {
        min-width: auto !important;
      }
    }
  }
}