.home-page {
  .content-hero-home {
    .c-hero-v2__copy {
      width: 30%;
      min-width: 470px;

      .o-text__heading-1 {
        padding-bottom: 40px;
        position: relative;

        &:after {
          background-color: $color-white;
          bottom: 20px;
          content: '';
          display: block;
          height: 1px;
          left: 50%;
          position: absolute;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          width: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home-page {
    .content-hero-home {
      .c-hero-v2__copy {
        min-width: unset;
      }
    }
  }
}
