.c-hero-v2 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.c-hero-v2__wrapper,
picture img,
.o-thumbnail-img {
  width: 100%;
}

.c-hero-v2__copy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  .o-text__heading-5,
  .o-text__heading-1 {
    color: $color-white;
  }

  .o-text__heading-1,
  .o-text__body p {
    font-family: $font-family-custom;
    font-style: italic;
  }

  .o-text__body {
    p {
      color: $color-white;

    }
  }

  .c-hero-v2-cta {
    &__primary a {
      background-color: #004976;
      color: $color-white;
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      border-radius: 4px;
      height: 50px;
      width: auto;
      line-height: 50px;
      text-decoration: none;

      &:hover {
        background: $color-white;
        color: #004976;
        border: 1px solid #004976;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .hero-v2 {
    .c-hero-v2 {
      &__wrapper {
        min-height: 0;
      }
    }
  }
}

@media (max-width: 991px) {
  .c-hero-v2__copy {
    font-size: 16px;
    padding: 0 4.6875%;
    width: 100% !important;
  }

  .c-hero-v2-cta__primary {
    font-weight: 500;
    font-size: 1.5em;
  }
}
