@import 'default';
@import 'article-landing-top-hero';
@import 'newsletter_sing-up-hero';
@import 'top-hero-home';
@import 'top-hero-recipe-landing';
@import 'top-hero-recipe-category';
@import 'top-hero-recipe-detail';
@import 'top-hero-contact-us';
@import 'heroes-our-story';
@import 'content-hero-home';
@import 'bottom-hero-home';
@import 'full-hero';

.c-hero-v2 {
  &__wrapper {
    position: relative;
    margin: 0 auto;
    min-height: 400px;
  }

  .c-video-player-v2-video__player {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      transition: opacity 1s;
      display: none;
      z-index: 27;
  }

	&__longcopy {
		height: 0;
		overflow: hidden;
	}

	&__wrapper--textonly {
		.c-hero-v2__copy {
			position: static;
		}
	}

	.o-btn {
		clear: both;

		&--readmore, &--readmore:hover, &--readmore:focus {
		    .icon-plus {
		        width: 12px;
		        height: 12px;
		        margin: 4px 0 0 5px;
		        -moz-transition: all 0.4s ease-out;
		        -o-transition: all 0.4s ease-out;
		        -ms-transition: all 0.4s ease-out;
		        -webkit-transition: all 0.4s ease-out;
		        transition: all 0.4s ease-out;
		        stroke: $gray-dark;
		        stroke-width: 10px;
		    }

			&.is-open {
		        .icon-plus {
		        	@include transformRotate(45deg);
		        }
		        .js-btn-readmore__more {
		        	display: none;
		        }
		        .js-btn-readmore__less {
			    	display: inline-block;
			    }
		    }
		}
	}
	.js-btn-readmore__less {
    	display: none;
    }
}

@media (max-width: 767px) {
  .c-hero-v2 {
    &__wrapper {
      min-height: 0;
    }
  }
}