.our-story {
  &__hero-dest {
    text-shadow: 1px 1px 4px rgba(150, 150, 150, 0.6);

    .o-text__heading-1 {
      font-size: 98px;
      line-height: 1;
    }

    .o-text__body p {
      font-family: $font-family-sans-serif;
      font-size: 24px;
      font-style: normal;
      line-height: 33px;
      margin: 0 auto;
      max-width: 600px;
    }
  }

  &__hero-mission {
    text-shadow: 1px 1px 4px rgba(150, 150, 150, 0.6);

    .o-text__heading-1 {
      font-family: $font-family-sans-serif;
      font-size: 42px;
      font-style: normal;
      line-height: 1;
      margin-bottom: 25px;
      text-transform: uppercase;
    }

    .o-text__body p {
      font-family: $font-family-sans-serif;
      font-size: 18px;
      font-style: normal;
      line-height: 25px;
      margin: 0 auto 40px;
      max-width: 620px;
    }

    .c-hero-v2-cta__primary a {
      background-color: $neutral-light-color;
      color: $brand-blue-button;
    }
  }

  &__hero-on-the-side {
    .c-hero-v2__copy {
      left: 30%;
      text-align: left;
      max-width: 360px;
    }

    .o-text__heading-1 {
      font-size: 36px;
      color: $font-hightlight;
      font-weight: normal;
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 20px;

      &:before {
        content: "";
        width: 80px;
        height: 1px;
        background-color: $font-hightlight;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .o-text__body p {
      font-family: $font-family-sans-serif;
      font-size: 16px;
      font-style: normal;
      line-height: 25px;
      color: #333;
    }
  }
}

// tablet
@media screen and (min-width: 768px) and (max-width: 991px) {
  .our-story {
    &__hero-dest {
      .c-hero-v2__copy {
        padding-top: 20px;
      }

      .o-text__heading-1 {
        font-size: 55px;
        line-height: 70px;
      }

      .o-text__body p {
        font-size: 17px;
        line-height: 20px;
      }
    }

    &__hero-on-the-side {
      .c-hero-v2__copy {
        left: 0;
        transform: translate(0, -50%);
      }

      .o-text__heading-1 {
        padding-bottom: 10px;
        font-size: 28px;
      }
    }

    &__hero-mission {
      .o-text__heading-1 {
        font-size: 32px;
        line-height: 40px;
      }

      .o-text__body p {
        margin-bottom: 20px;
        font-size: 16px;
      }
    }
  }
}

// mobile
@media screen and (max-width: 767px) {
  .our-story {
    &__hero-dest {
      .c-hero-v2__copy {
        padding-top: 15px;
      }

      .o-text__heading-1 {
        font-size: 55px;
        line-height: 70px;
      }

      .o-text__body p {
        font-size: 17px;
        line-height: 24px;
        padding: 0 18px;
      }
    }

    &__hero-on-the-side {
      .c-hero-v2__copy {
        left: 0;
        top: 24%;
        transform: translate(0, -50%);
      }

      .o-text__heading-1 {
        font-size: 30px;
        padding-bottom: 12px;
        line-height: 40px;

        &:before {
          width: 60px;
        }
      }

      .o-text__body p {
        color: $neutral-5-color;
        font-weight: 600;
        max-height: 148px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__hero-mission {
      .c-hero-v2__copy {
        max-width: 390px;

        .c-hero-v2-cta__primary a {
          background: none;
          box-sizing: border-box;
          color: $color-white;
          height: auto;
          line-height: 16px;
          padding: 0 25px;
          margin: 0;
          text-transform: none;
          position: relative;

          &:before {
            background: url('../images-cms/hero-v2/our-story/hero03/down-arrow.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            clear: both;
            content: '';
            display: block;
            height: 2.8125vw; //rever
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 4.6875%;
          }
        }
      }

      .o-text__heading-1 {
        font-size: 30px;
        letter-spacing: 0.6px;
        line-height: 36px;
      }

      .o-text__body p {
        padding-bottom: 10px;
        margin-bottom: 0;
      }
    }

    .c-carousel-v2 {
      .slick-arrow {
        top: 31vw;
      }
    }
  }
}
