.newsletter_sign-up-page {

  .c-hero-v2 {
    &__image {
      display: none;
    }

    &__copy {
      margin-top: 70px;
      
      .o-text__heading-1 {
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-size: 45px;
        color: $color-white;
        letter-spacing: 0.3px;
        line-height: 1.3;
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
      }

      .o-text__body {
        font-size: 24px;
        line-height: 30px;
        color: $color-white;
      }
    }
  }
}

// @media (min-width: 768px) and (max-width: 991) {}

// @media (max-width: 797px) {}
