.contact-us-page {
  .c-hero-v2 {
    &__wrapper {
      min-height: auto;
    }

    &__copy {
      top: 68%;
      
      .o-text__heading-1 {
        font-family: $font-family-sans-serif;
        font-size: 45px;
        font-style: normal;
        text-transform: uppercase;
        margin-bottom: 18px;
      }
    }
  }
}


//mobile
//@media screen and (max-width: 767px) {}