.recipe-landing-page {
  .c-hero-v2__copy {
    .o-text__heading-1 {
      font-size: 58px;
      margin-bottom: 10px;
    }

    .o-text__body p {
      font-family: $font-family-base;
      font-style: normal;
      font-size: 22px;
      line-height: 24px;
      text-align: center;
      padding-top: 12px;
    }
  }
}

//mobile
@media screen and (max-width: 767px) {
  .recipe-landing-page {
    .c-hero-v2{
      &__image {
        max-height: 100vh;
      }

      &__copy {
        max-width: 340px;
        margin: 0 auto;

        .o-text__heading-1 {
          font-size: 65px;
          line-height: 80px;
        }

        .o-text__body p {
          font-size: 32px;
          line-height: 48px;
        }
      }
    }
  }
}