.top-hero-home {
  .o-text__body {
    p {
      font-size: 100px;
      line-height: 100px;
    }
  }
}

@media (max-width: 767px) {
  .top-hero-home {
    font-size: 16px;
    
    .o-text__heading-1 {
      font-size: 1.250em;
      line-height: 1.5;
    }
  
    .o-text__body p {
      font-size: 3.125em;
      line-height: 1;
    }
  }
}

@media (max-width: 798px) {
  /*.c-hero-v2 {
    &__wrapper {
      min-height: inherit !important;
    }
  }*/

  .o-navbar {
    transition: background-color 1s;
    
    &.open {
      background-color: $navbar-brand-color;
      opacity: 0.8;
    }

    &-overlay {
      background-color: $navbar-brand-color;
      opacity: 1 !important;
      min-height: 100vh;
    }

    &-menu-wrapper {
      padding: 0 5% !important;
      list-style: none;
    }

    &-item {
      background-color: $navbar-brand-bg;
      box-sizing: content-box;
      margin: 1px !important;
      height: 12.5vw;
    }

    &-label {
      width: 100%;
      line-height: 12.5vw !important;
    }
  }

  /*.loaded { display: none; } //display in link click*/
 
}
