.our-story__hero-dest {
  .o-text__heading-1 {
    font-size: 98px;
    line-height: 1;
  }

  .o-text__body p {
    font-family: $font-family-sans-serif;
    font-size: 24px;
    font-style: normal;
    line-height: 33px;
    margin: 0 auto;
    max-width: 600px;
  }
}