.recipe-category-page {
  .c-hero-v2__copy {
    .o-text__heading-1 {
      font-size: 36px;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-family: $font-family-base;
      font-style: normal;
      font-weight: bold;
    }

    .o-text__body p {
      font-family: $font-family-custom;
      font-size: 86px;
      line-height: 24px;
      text-align: center;
      padding-top: 12px;
    }
  }
}

//mobile
@media screen and (min-width: 768px) and (max-width: 991px) {
  .recipe-category-page {
    .c-hero-v2 {
      &__copy {
        .o-text__heading-1 {
          font-size: 28px;
          line-height: 80px;
        }

        .o-text__body p {
          font-size: 66px;
        }
      }
    }
  }
}

//mobile
@media screen and (max-width:767px) {
  .recipe-category-page {
    .c-hero-v2{

      &__copy {
        max-width: 340px;
        margin: 0 auto;

        .o-text__heading-1 {
          font-size: 24px;
        }

        .o-text__body p {
          font-size: 56px;
          line-height: 1;
        }
      }
    }
  }
}