.recipe-detail-page {
  .c-hero-v2__copy {
    .o-text__heading-1 {
      font-size: 58px;
      margin-bottom: 18px;
    }

    .o-text__body p {
      font-family: $font-family-base;
      font-size: 20px;
      font-style: normal;
      line-height: 22px;
      margin-top: 50px;
      text-align: center;

      strong {
        text-transform: uppercase;
        padding-left: 18px;
      }
    }
  }
}

//mobile
@media screen and (max-width: 767px) {
  .recipe-detail-page {
    .c-hero-v2{
      &__image {
        max-height: 100vh;
      }

      &__copy {
        max-width: 340px;
        margin: 0 auto;

        .o-text__heading-1 {
          font-size: 65px;
          line-height: 80px;
        }

        .o-text__body {
          span {
            padding: 2.5px 0;
            display: block;            
            text-align: center;
            width: 100%;
          }

          p {
            font-size: 20px;
            line-height: 22px;
          }

          strong {
            letter-spacing: 0.15px;
          }
        }
      }
    }
  }
}