.video {
    legend {
        &.video-title {
            padding-bottom: 10px;
            margin-bottom: 15px;

            @media (min-width: $bp-large) { 
            margin-bottom: 28px;
            padding-bottom: 20px;
            }

            @media (min-width: $bp-extra-large) { 
            padding-bottom: 10px;
            margin-bottom: 40px;
            }
        }
    }
    
    &.carousel-video {
        legend {
            &.video-title {
                padding-bottom: 0px;
                margin-bottom: 10px;
            }
        }
    }

    .video-fallback-image {
        width: 100%;
    }

    .video-details {
        float: left;
        width: 100%;

        h5 {
            color: $brand-primary;
            margin: 12px 0 0;
            @media (min-width: $bp-large) { 
                margin: 26px 0 0;
            }
            @media (min-width: $bp-extra-large) { 
                margin: 15px 0 0;
            }
        }

        p {
            line-height: 1em;
            margin: 12px 0;
            
            @media (min-width: $bp-large) { 
                margin: 15px 0;
            }
            
            @media (min-width: $bp-extra-large) { 
                margin: 12px 0 16px;
            }

        }
    }

    .video-frame{
        width: 100%;

        object, iframe, video{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .video-container{
        position: relative;
        float: left;
        height: 0;
        width: 100%;
        padding-bottom: 56.25%;

        object, iframe, video{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .white-popup-block .popup-content{
            padding-bottom: 0;
        }
    }

    .video-overlay {
        display: block;

        img {
            width: 100%;
        }
    }

    .video-content.mfp-hide {
        display: none !important;
    }
}

.brightcove-content{

    .popup-content{
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        width: 100%;

        .BrightcoveExperience {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.mfp-content .video-container {
    position: relative;
    float: left;
    height: 0;
    width: 300px;
    padding-bottom: 56.25%;

    @media only screen and (min-width: $screen-sm) {
        width: 450px;
    }

    @media only screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {
        width: 100%;
    }

    object, iframe, video {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/* iPads and above */
@media only screen and (min-width: $screen-md) {
    .video {
        .video-details {
             h3.video-title {
                margin: 28px 0 15px;
            }
        }
    }
}


/* iPads (portrait) ----------- */
@media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) and (orientation: portrait) {
    .mfp-content .video-container {
        width: 600px;
        padding-bottom: 56.25%;

        object, iframe, video{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

/* iPads (landscape) */
@media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) and (orientation: landscape) {
    .mfp-content .video-container {
        width: 600px;
        padding-bottom: 56.25%;

        object, iframe, video{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

@media only screen and (min-width: $screen-lg-min) {
    .mfp-content .video-container {
        width: 960px;
        padding-bottom: 56.25%;

        object, iframe, video{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .video {
        .video-details {
            h3.video-title {
                margin: 12px 0 10px;
            }
        }

        .video-container {
            object, iframe, video{
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            .white-popup-block .popup-content{
                padding-bottom: 0;
            }
        }

    }
}

@media only screen and (min-width: $screen-md) {

    .video {
        .video-details {
            h3.video-title {
                margin: 12px 0 10px;
            }
        }
    }
}
