
.o-step-list {
    margin-bottom:50px;
    position: relative;
    padding: 0;

    li {
        list-style: none;
        position: relative;
        overflow: hidden;
    }
    .o-text__heading-2 {
        color: $gray;
    }
}
.c-step-list_number--wrap,
.c-step-list_content {
    padding: 0;
    float:left;
}

.c-step-list_content--wrap {
    position: relative;
    padding-top: 35px;
    @media(min-width: $screen-md) {
        padding-top: 0;
    }    
}
.c-step-list_number--wrap {
    width:30%;
}
.c-step-list_content {
    text-align: center;
    padding: 15px 30px;
    z-index:2;
    width:70%;
    border-left: solid 2px $gray;

    @media(min-width: $screen-sm) {
        text-align: left;
        margin-top: 0;
    }
    
    h3 {
        margin-bottom: 25px;
        @media(min-width: $screen-xs-max) {
            margin-bottom: 14px;
        }
    }
}

.c-step-list_content--table-cell {
    display: table-cell;
    vertical-align: middle;
}

.c-step-list--align-left {
    .c-step-list_number--wrap {
       
    }
    .c-step-list_content {
        
    }
}

.c-step-list_number {
    width: 100%;
    font-size: 80px;
    position: relative;
    margin: 0 auto;
    display:table;

    span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

}

.c-step-list_image--wrap {
    position: relative;

    .c-step-list_number {
        font-size: 40px;
        position: absolute;
    }
}

.c-step-list_number--wrap, .c-step-list_image--wrap {
    text-align: center;
}




