/* the base class name is the name added to each component in the component view js (home.js) */
.twitter-feed {
    @include theme('whitelabel') {
        .twitter-header {
            background-color: $color-white;
            color: $color-white;
        }

        a {
            color:  $color-white;
            

            &:hover {
                color:  $color-white;
                text-decoration: none;
            }
        }

        .button-wrapper {
            padding: 10px;
            text-align: right;
        }

        h1 {
            padding: 4px 0 0 10px;
        }

        p {
            padding: 0 0 8px 10px;
        }

        .btn {
            background-color: #fff;
            padding: 5px 10px;
            text-transform: capitalize;
        }

        @media (min-width: $bp-large) {

            .twitter-header {
                margin-bottom: 10px;
                max-height: 100px;
            }

        }

        @media (min-width: $bp-extra-large) {

            .twitter-header {
                margin-bottom: 20px;
            }

            p {
                padding-top: 8px;
            }

        }

        iframe {
            padding: 10px;
        }

        .small-container, .x-small-container {

            .twitter-header {
                h1 {
                    padding: 4px 0 0 10px;
                   
                }

                p {
                    padding: 0 0 8px 10px;
                    
                }

                .btn {
                    padding: 5px 10px;
                  
                }
            }
        }

        .medium-container {
            .twitter-header {
                margin-bottom: 10px;
                max-height: 100px;

            }
        }

    }
}
