.c-article-featured {
    margin: 0px auto 50px auto;
}

.c-article-featured__image {
    position: relative;
    overflow: hidden;

    & PICTURE, .c-article-featured__image-wrap {
        .ie11 & {
            left: -1px;
        }
    }

    PICTURE, IMG {
        width: 100%;
    }

}

.c-article-featured__content {
    .c-article-featured__label {
        display: inline-block;
        margin-bottom: 15px;
        padding-left: 35px;
        background: url("../svgs/sprites/book.svg") left center no-repeat;
        background-size: 20px;
    }

    .c-article-featured__text {
        margin-bottom: 20px;
    }
    .o-text__tight {
        @media (max-width: $screen-xs-max) {
            max-width: 300px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .o-btn {
        @media (min-width: $screen-sm) {
            margin-top: 20px;
        }
    }
    .o-article-featured__link {
        display: inline-block;
        color: #666;
        background: url("../svgs/arrow-link.svg") right center no-repeat;
        background-size: 8px;
        padding-right: 17px;
        @media (min-width: $screen-sm) {
            margin-top: 25px;
        }
    }

}

/** variant BIG **/
.c-article-featured__big {
    .c-article-featured__container {
        @media (min-width: $screen-md) {
            display: table;
            width: 105%;
            margin-left: -16px;
        }
        @media (min-width: $screen-lg) {
            display: table;
            width: 100%;
        }
    }

    .c-article-featured__image {
        & PICTURE, .c-article-featured__image-wrap {
            top: -18%;

        }
        @media (min-width: $screen-sm) {
            display: table-cell;
            float: none !important;
            padding: 0 15px;
        }
        & PICTURE {
            @media (min-width: $screen-sm) {
                top: -16%;
            }
            @media (min-width: $screen-lg) {
                top: -21%;
            }
        }
    }
    .c-article-featured__content {
        @media (min-width: $screen-sm) {
            height: 100%;
        }

        @media (max-width: $screen-xs-max) {
            text-align: center;
        }
        @media (min-width: $screen-sm) {
            display: table-cell;
            float: none !important;
            vertical-align: middle;
            padding: 0 15px;
        }
		@include make-xs-column(12);
        @include make-sm-column(6);

        @media (max-width: $screen-xs-max) {
            position: relative;
        }
    }
}

/** variant SMALL **/
.c-article-featured__small {
    .c-article-featured__image {
		@include make-xs-column(12);
        @include make-sm-column(4);
        @include make-sm-column-offset(2);

        .c-article-featured__image-wrap {
            @media (min-width: $screen-sm) {

                display: block;
                margin: 0 10px;
                overflow: hidden;
                height: 100%;
                width:100%;
            }
        }
        picture {
            height: 100%;
            width: auto;
        }
        IMG {
            height: 100%;
            width: 100%;
        }
    }
    .c-article-featured__content {
        position: relative;
        @media (max-width: $screen-xs-max) {
            top: -20px;
            text-align: center;
        }

        @media (min-width: $screen-sm) {

            right: 10px;
            height: 100%;
        }

        .o-text__tight {
             display: none;
             @media (min-width: $screen-md) {
                 display: block;
             }
         }
    }

    .o-text__heading-2 {
        margin-bottom: 20px !important;
    }

    .c-article-featured__image-wrap {
        height: 100%;
        width: 100%;
        left: 0;
        @media (max-width: $screen-xs-max) {
            left: 10px;
        }
    }

}

.c-article-featured__group {
    display: table;
    height: 100%;
    margin: 0 auto;

}

.c-article-featured__group--center {
    display: table-cell;
    vertical-align: middle;
	padding-top:10%;
	@media (max-width: $screen-sm) {
        padding-top:20%;
    }
}

.c-article-featured-2__content .o-btn {
    display: none !important;
}

