.recipe-category-page {
  .search-input-v2-recipe-category {
    position: absolute;
    top: 59px;
    right: 3%;
    width: 25%;
    min-width: 300px;
  }

  .c-search-input-v2-form__textbox {
    font-size: 15px;
    line-height: 20px;
  }

  .c-search-input-v2 {
    &__wrapper {
      box-sizing: border-box;
      font-size: 0;
      max-width: 804px;
      min-height: auto;
      padding: 0;
      width: 100%;
    }

    &__logo {
      display: none;
    }

    &__header {
      display: block;
      margin: 0;
      vertical-align: top;
      width: 100%;
    }

    &-form { //549px
      box-sizing: content-box;
      display: inline-block;
      font-size: 0;
      margin: 0;
      width: 100%;

      &__elements {
        margin: 0;

        button {
          position: relative;
          background-color: $brand-blue-button;
          border-radius: 5px;
          box-sizing: border-box;
          float: right;
          font-weight: bold;
          height: 38px;
          line-height: 38px;
          margin: 0;
          padding-left: 40px;
          padding-right: 0;
          text-transform: uppercase;
          max-width: 149px;
          font-size: 0;

          &:before {
            content: "\e631";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'icomoon';
            font-size: 17px;
            color: #fff;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
          }
        }

        .o-btn--search,
        .o-btn--reset {
          display: none !important;
        }
      }

      &__textbox {
        height: 37px;
        border: 0;
        box-sizing: border-box;
        padding-left: 4px;
        width: 67.3952641165%;
      }

      &:after {
        display: block;
        content: '';
        clear: both;
      }
    }

    .o-text__heading-2 {
      color: $font-hightlight;
      font-size: 17px;
      line-height: 22px;
      font-weight: bold;
      margin: 0;
    }

    .twitter-typeahead {
      width: 83%;
      height: 50px;
      padding: 0;
      margin: 0;
    }
  }
}

//tablet
@media screen and (min-width: 768px) and (max-width: 991px) {
  .recipe-category-page {
    .search-input-v2-recipe-category {
      top: 0;
      right: 0;
    }
  }
}

//mobile
@media screen and (max-width: 767px) {
  .recipe-category-page {
    .search-input-v2-recipe-category {
      top: 0;
      right: 0;
      width: 100%;
      min-width: 0;
    }

    .c-search-input-v2__wrapper {
      margin: 50px auto 0;
    }

    .c-search-input-v2 {

      &__header {
        display: none;
      }

      .twitter-typeahead {
        width: 100%;
      }
    }

    .c-recipe-listing-filter {
      padding-top: 59px;

      &__block {
        width: 100%;
      }
    }

    .js-more-filters {
      padding-top: 7px;
      padding-bottom: 7px;
      background: $font-hightlight;
      color: $color-white;
      border-radius: 5px;
      width: 100%;
    }

    .c-filter-tags {
      display: none;
    }
  }
}