.recipe-landing-page {
  .c-search-input-v2 {
    &__wrapper {
      box-sizing: border-box;
      font-size: 0;
      max-width: 804px;
      min-height: auto;
      padding: 0;
      width: 100%;
    }

    &__logo {
      display: none;
    }

    &__header {
      display: inline-block;
      margin: 0;
      vertical-align: top;
      width: 33.3737864077%;
    }

    &-form { //549px
      box-sizing: content-box;
      display: inline-block;
      font-size: 0;
      margin: 0;
      width: 66.6262135923%;

      &__elements {
        margin: 0;

        button {
          background-color: $brand-blue-button;
          border-radius: 5px;
          box-sizing: border-box;
          float: right;
          font-weight: bold;
          height: 50px;
          line-height: 50px;
          margin: 0;
          padding-left: 56px;
          padding-right: 30px;
          text-transform: uppercase;
          max-width: 149px;

          &:before {
            color: $color-white;
            content: "\e631";
            font-family: 'icomoon';
            font-size: 22px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            left: 20px;
            line-height: 50px;
            position: absolute;
            speak: none;
            text-transform: none;
            top: 50%;
            transform: translate(0%, -50%);
          }
        }

        .o-btn--search,
        .o-btn--reset {
          display: none !important;
        }
      }

      &__textbox {
        height: 50px;
        border: 1px solid $input-blue-border;
        box-sizing: border-box;
        padding-left: 4px;
        width: 67.3952641165%;
      }

      &:after {
        display: block;
        content: '';
        clear: both;
      }
    }

    .o-text__heading-2 {
      color: $font-hightlight;
      font-family: $font-family-custom;
      font-size: 26px;
      font-style: italic;
      line-height: 50px;
      margin: 0;
    }

    .twitter-typeahead {
      width: 67.3952641165755%;
      height: 50px;
      padding: 0;
      margin: 0;
    }
  }
}

//tablet
@media screen and (min-width: 768px) and (max-width: 991px) {
  .recipe-landing-page {
    .c-search-input-v2 {
      &__wrapper {
        padding: 0 4.6875%;
      }

      &__header {
        display: block;
        margin-bottom: 5px;
        width: 100%;
      }

      &-form {
        display: block;
        width: 100%;
      }

      .twitter-typeahead {
        width: 75%;
      }
    }
  }
}

//mobile
@media screen and (max-width: 767px) {
  .recipe-landing-page {
    .c-search-input-v2 {
      &__wrapper {
        margin-top: 30px;
        padding: 0 4.6875% !important;
      }

      &__header {
        display: block;
        text-align: center;
        padding-bottom: 10px;
        width: 100%;
      }

      &-form {
        display: block;
        width: 100%;

        &__elements {
          width: 100%;

          .o-btn--search,
          .o-btn--reset {
            display: none !important;
          }

          button {
            display: block !important;
            float: none;
            margin-top: 10px;
            max-width: none;
            padding: 0;
            text-align: center;
            width: 100%;

            &:before {
              left: 20px;
            }
          }
        }
      }

      .twitter-typeahead {
        display: block;
        width: 100%;
      }
    }
  }
}
