@import "recipe-category-search";
@import "recipe-landing-search";

.c-search-input-v2 {
    &__wrapper {
        max-width: 700px;
        min-height: 600px;
        margin: 50px auto;
        padding:0 20px;
    }
    
    &__textbox {
        height: 35px;
    }

    &-form__elements {
        margin-top: 40px;
        position: relative;
    }

    .twitter-typeahead {
        width: 100%;
        position: relative;

        @media(min-width: $screen-sm) {
            width: 79%;
            padding-left: 0;
        }

        .c-search-input-v2-form__textbox {
            width:100%;
        }
    }

    &__header {
        margin-bottom: 40px;
        text-align: center;

        @media(min-width: $screen-sm) {
            text-align: left;
        }
        .o-text__heading-2 {
            margin-top: 15px;
            display: inline-block;
        }
    }

    &__logo {
        margin: 0 auto;
        margin-right:30px;
        @media(min-width: $screen-sm) {
            float: left;
        }
    }

    &-form__textbox {
        font-size: $font-size-h3;
        text-transform: none;
        border: 0 none;
        border-bottom: solid 1px $gray-light;
        box-shadow: none;
        height: auto;
        padding-left: 0;
        padding-right: 15px;
        display: inline-block;

        &:focus {
            border-color: $brand-primary;
            box-shadow:none;
        }
        @media(min-width: $screen-sm) {
            font-size: $font-size-h2;
            line-height: 36px;
            padding-right: 35px;
            width: 79%;
        }
    }

    .o-btn {
        &--primary {
            float: right;
            min-width: inherit;
        }

        &--reset {
            border: 0 none;
            width: 30px;
            height: 20px;
            padding: 0;
            text-indent: -999px;
            background: none;
            position: absolute;
            right: 20%;
            top: 15px;
            background: url("../svgs/cross.svg") right center no-repeat;
            background-size: 15px;
            min-width: 20px;
            margin-top: 0;

            @media(min-width: $screen-sm) {
                right: 20%;
                background-position: center center;
            }
        }

        &--search {
            position: absolute;
            right: 0;
            top: 7px;
        }
    }
}
    