.search-input {

}

@include theme('whitelabel') {

    .search-input {

        .search-submit-btn, .search-textbox {
            background-color: $color-white;
            color: $gray-lighter;
        }

        .search-submit-btn {
            border: 1px solid $gray;
        }

        .btn-iea {
            &.btn[disabled] {
               
                border-bottom: 1px solid $gray;
            }
        }

       
    }
}

@include theme('aurora') {

    .search-input {

    }
}
