.our-story-page,
.article-landing-page {
  .c-carousel-v2-progress-bar,
  .c-carousel-v2-pause,
  .c-carousel-v2-nav { display: none !important; }

  .c-carousel-v2,
  .c-carousel-v2__wrapper {
    width: 100%;
  }

  .c-carousel-v2 {
    margin-bottom: 150px;

    .slick{
      &-arrow {
        height: 49px;
      }

      &-dots {
        display: none !important;
      }

      &-next {
        background: none;

        &:after {
          content: "";
          background-image: url("../images/carousel-control-right.png");
          width: 26px;
          height: 49px;
          display: inline-block;
        }
      }

      &-prev {
        background: none;

        &:after {
          content: "";
          background-image: url("../images/carousel-control-left.png");
          width: 26px;
          height: 49px;
          margin-left: -14px;
          display: inline-block;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .our-story-page,
  .article-landing-page {
    .c-carousel-v2 {
      .container {
        padding: 0;
      }

      .slick {
        &-arrow {
          top: 32%;
          transform: translateY(-50%);
        }

        &-next {
          right: 30px !important;
        }

        &-prev {
          left: 30px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .our-story-page,
  .article-landing-page {
    .c-carousel-v2 {
      margin-bottom: 50px;

      .container {
        padding: 0;
      }

      .slick {
        &-arrow {
          top: 25%;
          transform: translateY(-50%);
        }

        &-next {
          right: -20px !important;
        }

        &-prev {
          left: -20px !important;
        }
      }
    }
  }
}