.our-story-page {
  .sustainability {
    background-image: url("../images/our-story/bg-sustainability.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .c-hero-v2__wrapper {
      font-size: 0;
      min-height: auto;
      width: 100%;
    }

    .c-hero-v2__image {
      width: 100%;
      display: inline-block;
    }

    .c-hero-v2__copy {
      display: inline-block;
      left: 60px;
      text-align: left;
      transform: translate(0, -50%);
    }

    .c-tags {
      text-align: center;
      margin-bottom: 28px;
    }

    .c-tags__wrapper {
      text-align: center;
      display: inline-block;
      border-radius: 5px;
    }

    .c-tags-list {
      background-color: #f9f9f7;
      border-radius: 3px;
      border: 1px #ecf0f0 solid;
      font-size: 0;
      margin: 0;
      padding: 1px;
    }

    .c-tags-heading {
      display: none;
    }

    .c-tags-list-item {
      margin: 0;
    }

    .c-tags-list-item__link {
      border-radius: 5px;
      border: 0;
      color: $font-hightlight;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      height: auto;
      line-height: 40px;
      padding-left: 20px;
      padding-right: 20px;
      transition: background-color .2s,color .2s ease;

      &:hover {
        background-color: $font-hightlight;
        color: #fff;

      }
    }

    .rich-text-v2-recipes {
      color: $font-hightlight;

      .c-rich-text-v2__description:before,
      .c-rich-text-v2__description:after { background-color: $font-hightlight; }
    }

    .o-text__heading-1 {
      font-size: 36px;
      color: #fff;
      font-weight: normal;
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 20px;
      width: 470px;

      &:before {
        content: "";
        width: 80px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .o-text__body p {
      font-family: $font-family-sans-serif;
      font-size: 16px;
      font-style: normal;
      line-height: 25px;
      color: #fff;
      width: 470px;
    }
  }
}

// tablet
@media screen and (min-width: 768px) and (max-width: 991px) {
  .our-story-page .sustainability {
    .c-rich-text-v2__description {
      &:before {
        left: -5px;
      }

      &:after {
        left: auto !important;
        right: -5px;
      }
    }
    .c-carousel-v2 {
      .slick {
        &-arrow {
          top: 50%;
          transform: translateY(-50%);
        }

        &-prev {
          left: 12px !important;
        }

        &-next {
          right: 12px !important;
        }
      }
    }
  }
}

// mobile
@media screen and (max-width: 767px) {
  .our-story-page .sustainability {
    .c-tags {
      &-list {
        width: 100%;

        &-item {
          width: 100%;
          padding: 2px 0;
          display: block;

          a {
            width: 100%;
          }
        }
      }
    }

    .c-carousel-v2 {
      &-item {
        margin: 0;
        width: 100%;
      }

      .slick {
        &-arrow {
          display: none;
        }

        &-track {
          font-size: 0;
        }
      }

      .c-hero-v2 {
        margin: 0 2.34375%;
      }
    }

    .c-hero-v2__copy {
      left: 0;
    }

    .o-text__heading-1 {
      font-size: 28px;
      padding-top: 6px;
      padding-bottom: 12px;
    }

    .o-text__body p {
      max-width: 100%
    }

    .c-hero-v2-cta__primary {
      display: none;
    }
  }
}