.our-story-page {
  .timeline-our-story {
    background-color: #f7f1e6;

    .c-hero-v2__wrapper {
      font-size: 0;
      min-height: auto;
      width: 100%;
    }

    .c-hero-v2__image {
      width: 470px;
      display: inline-block;
      vertical-align: top;
    }

    .c-hero-v2__copy {
      width: 470px;
      display: inline-block;
      position: static;
      transform: translate(0, 0);
      vertical-align: top;
      text-align: left;
      margin-left: 30px;
    }

    .rich-text-v2-recipes {
      color: $font-hightlight;

      .c-rich-text-v2__description:before,
      .c-rich-text-v2__description:after { background-color: $font-hightlight; }
    }

    .o-text__heading-1 {
      font-size: 36px;
      color: $font-hightlight;
      font-weight: normal;
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 20px;

      &:before {
        content: "";
        width: 80px;
        height: 1px;
        background-color: $font-hightlight;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .o-text__body p {
      font-family: $font-family-sans-serif;
      font-size: 16px;
      font-style: normal;
      line-height: 25px;
      color: #333;
    }
  }
}

// tablet

@media screen and (min-width: 768px) and (max-width: 991px) {
  .our-story-page {
    .timeline-our-story {
      .c-hero-v2__copy {
        margin-left: 0;
        padding-top: 15px;
      }
    }
  }
}

// mobile
@media screen and (max-width: 767px) {
  .our-story-page {

    .timeline-our-story {
      padding: 0 9.375%;

      .rich-text-v2 {
        margin-left: -9.375%;
      }

      .c-rich-text-v2__description {
        max-width: 200px;

        &:before,
        &:after {
          top: 25%;
          transform: translateY(-50%);
        }

        &:before {
          left: 30px;
        }

        &:after {
          left: auto;
          right: 30px;
        }
      }

      .c-hero-v2__image,
      .c-hero-v2__copy {
        max-width: 470px;
        width: 100%;
      }

      .c-hero-v2__copy {
        margin-left: 0;
      }

      .o-text__heading-1 {
        font-size: 22px;
        padding-bottom: 12px;
        padding-top: 10px;
        line-height: 26px;

        &:before {
          width: 60px;
        }
      }

      .c-carousel-v2 {
        margin-bottom: 150px;

        .slick-arrow {
          top: 31vw;
        }
      }
    }
  }
}