@import "carousel-default";
@import "carousel-v2-our-story-timeline";
@import "carousel-v2-our-story-sustainability";
@import "carousel-v2-article-landing";

.c-carousel-v2 {
    .c-hero-v2 {
        margin: 0;
        min-height: 211px;
        __copy {
            padding: 15px;
            width: auto;
        }
    }

    &__wrapper {
        @media(min-width: $screen-sm) {
            width: 75%;
            margin: 0 auto;
        }
    }

    &-nav {
        margin-top: 15px;

        &__heading {
            font-size: $font-size-xx-small;
            text-align: center;
        }

        &__image {
            opacity: 0.4;
        }

        &__item {
            position: relative;
            margin: 0 10px;
            cursor: pointer;

            &.slick-current {
                .c-carousel-v2-nav__image {
                    opacity : 1;
                }
                .c-carousel-v2-nav__pointer {
                    opacity : 1;
                }
            }
        }

        &__pointer {
            content: "";
            position: absolute;
            top:0;
            left: 49%;
            width: 0;
            height: 0;
            opacity: 0;
            margin-left: -10px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid $gray-pale;
        }

        .o-icon-play {
            background-size: 50px;
            background-position: center 30%;
        }
    }

    &-item {
        margin: 0 10px;
    }

    &-progress-bar {
        background: $color-white;
        height: 10px;
        margin: 0 6.1%;
        box-shadow: 0.5px 0.5px 4px 0 $gray;
        &__track {
            background: $gray-dark;
            display: block;
            height:100%;
        }
    }

    &-pause {
        position: relative;
        .o-btn--pause {
            position: absolute;
            top: -47px;
            right: 0;

            @media(min-width: $screen-sm) {
                top: -80px;
                right: 7%;
            }
        }
    }

    .slick-list {
        @media(min-width: $screen-sm) {
            margin: 0 5%;
        }
    }

    .slick-arrow {
        width: 12px;
        height: 12px;
        bottom: 8px;
        top: auto;
        z-index: 1;
        background-size: 8px 12px;

        @media(min-width: $screen-sm) {
            background-size: 12px 20px;
            height: 20px;
            top: 50%;
            bottom: auto;
        }

        &.slick-prev {
            left: 12%;
            @media(min-width: $screen-sm) {
                left: -30px;
            }
        }

        &.slick-next {
            right: 12%;
            @media(min-width: $screen-sm) {
                right: -30px;
            }
        }
    }

    .slick-dots {
        bottom: 0;
        border: 0 none;
        li {
            border: 0 none;
            button {
                border-color: $gray;
            }
            &.slick-active button:before {
                background : $gray;
                opacity:1;
                border-width: 1px;
            }
        }
    }
}

