.article-landing-page {
  .carousel-default {
    .c-hero-v2 {
      .o-text__body p {
        color: #333;
        font-family: $font-family-custom;
        font-size: 22px;
        font-style: italic;
        font-weight: normal;
        line-height: 25px;
        margin-top: 25px;
        padding-left: 25px;
        text-align: left;
        text-shadow: none;
        text-transform: none;
      }
    }

   .c-hero-v2__wrapper {
      font-size: 0;
      min-height: auto;
      width: 100%;
    }

    .c-hero-v2__image {
      width: 100%;
      display: block;
    }

    .c-hero-v2__copy {
      width: 100%;
      display: block;
      position: static;
      transform: translate(0, 0);
      text-align: left;
    }

    .rich-text-v2-recipes {
      color: $font-hightlight;

      .c-rich-text-v2__description:before,
      .c-rich-text-v2__description:after { background-color: $font-hightlight; }
    }
  }

  .accordion-v2-panel__body {
    color: #333;
    font-size: 16px;
    line-height: 24px;
    padding: 10px auto;
  }
}

// tablet
@media screen and (min-width: 768px) and (max-width: 991px) {
  .article-landing-page {
    .carousel-default {
      .c-carousel-v2 {
        .slick {
          &-prev {
            left: 15px !important;
          }

          &-next {
            right: 15px !important;
          }
        }
      }
    }

    .rich-text-image {
      max-width: 674px;
      margin: 0 auto;
      display: block;
      float: none;
    }
  }
}

// mobile
@media screen and (max-width: 767px) {
  .article-landing-page {
    .carousel-default {
      .c-carousel-v2 {
        .slick-prev,
        .slick-next {
          display: none !important;
        }
      }

      .c-hero-v2 {
        .o-text__body p {
          padding-left: 0;
          margin-top: 5px;
        }
      }
    }

    .c-video-player-v2__wrapper {
      min-height: auto;
    }

    .accordion-v2 .icon-arrow{
      &-down {
        margin: 8px 10px !important;
      }

      &-up {
        margin: 1px 10px !important;
      }
    }
  }
}