.c-call-out-button {
	margin-bottom:40px;
}

.c-call-out-button__copy {
	display:block; 
	text-align: center; 
	margin: 0 auto;

	.o-btn {
		display:inline-block;
	}
	.c-svg.lock-icon {
		display:inline-block;
		width:20px;
		height:20px;
		vertical-align:top;
		margin:14px 5px 0 0;
	}
}
.c-call-out-button_image--wrapper{
	background: url("../svgs/cards.svg") no-repeat;
	width:400px;
	height:35px;
	background-position: center; 
}
.c-call-out-button__desc {
	margin-bottom:40px;
}
.c-svg.cards {
	width: 250px;
	height: 35px;
	@media(min-width: $screen-sm){
		width: 400px;
	}
}
.shopping-basket-error{
	margin-top:20px;
	border:1px solid $color-error;
	display:block;
	height:40px;
	padding:10px;
}
 a[disabled] {
	cursor: default;
    background-color: $gray-light;
    color:$white;
    &:hover {
        background-color: $gray-light;
        color:$white;
    }
}