.c-product-awards-overview {
    &__wrapper {
        position: absolute;
        z-index: 9;
    }
    
    &-list {
        margin: 5px 0;
        &__cta {
            color: $gray-dark;
            margin-top: 10px;
            display: inline-block;
            text-decoration: underline;
            font-weight: 600;

            &:hover {
                text-decoration: none;
            }
        }
    }
}