.c-spotlight {
	margin:50px 0;
	position:relative;
	overflow:hidden;
}
.c-spotlight__bg {
	position:absolute;
	width:100%;
	height:100%;
}
.c-spotlight__container {
	padding:20px 0;
}
.c-spotlight__lifestyle {
	background:$gray-pale;
}
.c-spotlight__image-wrap, .c-spotlight__center {
	text-align:center;
}
.c-spotlight__image-wrap picture {
	margin:0 auto;
}
.c-spotlight__image-wrap a, .c-spotlight__copy {
	@media (min-width: $screen-sm) {
        display: -webkit-flex;
        display: flex;
        align-items: center;
        min-height: 450px;
    }
}
.c-spotlight__copy {
	margin-top:20px;
	text-align:center;
	@media (min-width: $screen-sm) {
		margin-top:0;
		text-align:left;
	}
}
.c-spotlight__center {
	 .c-spotlight__copy-block {
	 	margin:0 auto;
	 	text-align:center;
	 }
}
.c-spotlight__left {
	.c-spotlight__image, .c-spotlight__copy {
		float:right;
	}
}
.c-spotlight-btn {
    margin: 5px 0px;
}
