/* the base class name is the name added to each component in the component view js (home.js) */

    .instagram-feed {
		.instagram-feed-header{
			img{
				max-height: 24px;
				width: auto;
			}
		}
        .instagram-feed-wrapper {

            .thumbnail {
                background: #ecedee;
            }
        }
    }

   

   

