.social-gallery-tab-v2 {
    .c-social-gallery-tab-v2 {
        &-panel__social-count,
        &-panel__cta {
            font-size: 12px;
        }

        &-heading__cta {
            margin-bottom: 20px;
        }

        &-pagination {
            .o-btn:focus {
                color: $white;
            }

            .selected {
                background-color: $silver;
            }

            &__first-btn[disabled],
            &__last-btn[disabled],
            &__next-btn[disabled],
            &__previous-btn[disabled] {
                opacity: 0.65;
                background-color: $gray-light;
            }
        }   

        // Overrides .c-social-gallery__panel-icon
        &__panel-icon span.c-svg {
            display: inline-block;
            margin-bottom: 0;
            margin-right: 5px;
        }

        &-associated-page__image {
            float: left;
            margin-right: 15px;
        }
    }

    .c-svg.social-channel {
        width: 18px;
        height: 18px;
    }

    .c-social-gallery__thumbnail {
        .c-social-gallery-tab-v2__link {
            display: inline-block;
            position: relative;
        }
        
        .c-svg-social-twitter, .c-svg-social-instagram {
            position: absolute;
            right: 10px;
            top: 10px;    
        }
    } 
}