.c-featured-social-topic__img.featured-social-topic__img-mask{
    @media(min-width: $screen-sm) {
        right:0;
        float:right;
    }
}

.c-featured-social-topic {
    h2 {
        padding:15px;
    }
    a {
        text-decoration: none;
    }
    picture img {
        max-width: 100%;
    }
    .c-social-sharing-icons{
        border: solid 1px #000;
        margin-left: 15px;
        margin-bottom: 10px;
        display: block;
        margin: 0 auto;
        padding: 0px;
        
        @media(min-width: $screen-sm) {
            display: block;
            margin-left: 15px;
        }
    }
}

.c-featured-social-topic__img.featured-social-topic__img-mask img {
    width: 100%;
    height: 100%;
}
.c-featured-social-topic__left-content {
    @media(min-width: $screen-sm) {
        margin-top: 20px;
    }
}
.c-featured-social-topic .c-svg.arrow-right {
    height: 9px;
    stroke: $gray;
    stroke-width: 3px;
    float:none;
    margin: 0px 10px;
}

.c-featured-social-topic__img-icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.c-social-icons-list img {
    width: 20px;
    margin: 0 auto;
    display: block;
    
    @media(min-width: $screen-sm) {
        margin: 9px;
        display: block;
    }
}

.c-featured-social-topic__social-icon{
    margin-bottom: 10px;
    @media(min-width: $screen-sm) {
       position: absolute;
    }
    
}

.c-featured-social-topic__copy{
    @media(min-width: $screen-sm) {
      margin-top: 30px;
    }   
}
 