/* the base class name is the name added to each component in the component view js (home.js) */
@include theme('whitelabel') {

    .tabbed-content {

        .panel-group .panel {
            border: 1px solid $gray;

        .panel-heading{
            background: none  $gray;
            border: 1px solid  $gray;
            color: $brand-primary;

                .panel-title{

                    a{
                        
                        font-size: $font-size-large;
                        @include background("tabbed-content/accrodion-arrow.png",$image-path,'no-repeat','right','center');
                    }

                    a.collapsed {
                        color: $brand-primary;
                    }
                }
            }

            .panel-body{

                h4{
                    color: $brand-primary;

                    a {
                        color: $brand-primary;
                    }
                }
            }

            &.active{
                .panel-heading{
                    border-bottom: 0.125em solid $brand-primary;

                    &:after{
                        border-bottom: 0.5em solid $brand-primary;
                    }
                }

                .panel-title a{
                    color: $color-black;
                }

                .panel-collapse{
                    border-top: 3px solid $gray;
                }
            }
        }
    }

    /* iPads (portrait and landscape) */
    @media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) {
        .tabbed-content{

            .nav-tabs{
                background-color: $color-white;
                border: 1px solid $color-white;
                outline: 1px solid $gray;

                li{
                    border-right: 1px solid $gray;

                    &:after {
                        border-right: 1px solid $color-white;
                    }

                    a, a:hover, a:focus{
                        color: $brand-primary;
                        font-size: normal;
                    }
                }

                >li.active {
                    a, a:hover, a:focus{
                        color: #434343;
                        
                    }

                    a:after, a:before{
                        border-bottom: 1px solid $gray;
                    }

                    a:before{
                        border-bottom: 5px solid $brand-primary;
                    }
                }
            }

            .tab-content{

                .tab-pane{

                    p{
                        
                        a{
                            color: #16bee2;
                            &.btn-iea {
                                color: $color-white;
                            }
                        }
                    }
                }

            }

            .panel-group .panel{
                border: 1px solid $gray;

            .panel-heading{
                background: none $gray;
                border: 1px solid $gray;
                color: $brand-primary;
                font-size: normal ;
            }

                .panel-collapse .panel-body{
                    p{
                        color: $color-black;
                        font-size: normal ;

                       
                    }

                    h3{
                        color: $color-black;
                        
                    }

                    h4{
                        color: $color-black;
                        
                    }

                }

                &.active{
                    .panel-heading{
                        border-bottom: 0.125em solid $gray;

                        &:after{
                            border-bottom: 0.2em solid $gray;
                        }

                        a{
                            color: $color-black;
                        }
                    }

                    .panel-collapse{
                        border-top: 1px solid $gray;
                    }
                }
            }
        }
    }

    /* iPads (landscape) */
    @media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) and (orientation: 'landscape') {
        .tabbed-content{
            .nav-tabs li{
                padding: 0 2.2em;
            }
        }
    }

    @media only screen and (min-width: $screen-lg-min) {

        .tabbed-content{

            .nav-tabs{
                background-color: $color-white;
                border: 1px solid $gray;
                outline: 1px solid $gray;

                li{
                    border-right: 1px solid $gray;

                    &:after {
                        border-right: 1px solid $color-white;
                    }
                }

                >li.active{
                    a, a:hover, a:focus{
                        color: #434343;
                       

                    a:after, a:before{
                        border-bottom: 1px solid $gray;
                    }

                    a:before{
                        border-bottom: 5px solid $brand-primary;
                    }
                }

                >li{
                    a, a:hover, a:focus{
                        color: $brand-primary;
                        
                    }
                }
            }

            .tab-content{

                .tab-pane{
                    p{
                        color: $color-black;
                        font: normal 1.286em $font-family-base;

                        a{
                           
                            &.btn-iea {
                                color: $color-white;
                            }
                        }
                    }

                    h3{
                        color: $brand-primary;
                       
                    }

                }
            }
        }
	}
    }
}

