.section-navigation {


    /* Generic icons for the component */
    .sub-menu {
        .glyphicon-chevron-down{
			float: right;
			height: 25px;
			width: 25px;
			font-size:13px;
			color:$gray-lighter;
		}
        

        .expanded {
           .glyphicon-chevron-down{
				transform:rotate(180deg);
				-moz-transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				float: right;
				height: 25px;
				width: 25px;
				font-size:13px;
				color:$gray-lighter;
				margin-right:13px;
			}
        }
    }



    /* Theme specific changes */
   

        .title {
            font-size: $font-size-large;

        }

    	.parent-label, .navbar-header {
    		
            font-size: $font-size-medium;
    	}

        .navbar-default .navbar-toggle {
        	&:active, &:hover, &:focus {
                background-color: transparent;
            }
        }

}