.diagnostic-tool-question {
    .c-que {
        text-align: center;
        position: relative;

        &.que-active {
            display: block;
        }

        &__timer {
            display: none;
        }
    }
    
    .c-single-ans-yes-no-que{
        .c-res-wrap{
            position: relative;
        }
    }

    .c-single-ans-scale-que {
        .position-center {
            @media (max-width: $screen-sm - 1) {
                width: 80%;
            }
        }

        .c-res-wrap{
            position: relative;
            &__absolute-container{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
            &__options-titles-container{
                position: relative;
                padding-top: 40px;
            }
            &__options-titles-wrapper{
                display: inline-block;
                position: relative;
                &::before{
                    width: 98%;
                    height: 2px;
                    content: "";
                    background: grey;
                    display: block;
                    position: absolute;
                    bottom: 23px;
                }
            }
            &__caption-container {
                top: auto;
                height: auto;
            }
        }

        .c-res {
            &:first-child{
                margin-left:0;
            }
            &:last-child{
                margin-right: 0;
            }
            input.radio{
                position: relative;
                width: auto;
                height: auto;
                top: auto;
                right: 0px;
                opacity: 1;
            }
            label{
                display:none;
                position: absolute;
                top: -25px;
                left: 0;
                right: 0;
            }
            .active-radio{
                display:none;
            }
            &__bgimg-wrap{
                display:none;
                &.img-active{
                    display: block;
                }
            }
            &.res-active{
                label{
                    display: block;
                }
            }
        }
    }

    .c-res {
        display: inline-block;
        text-align: center;
        margin: 15px;
        vertical-align: top;

        &__heading {
            font-weight: normal;
            font-size: 18px;
            margin: 10px 0px;
        }

        &__img {
            &-highlight {
                padding: 10px;
            }

            &-wrap {
                position: relative;
                cursor: pointer;
            }
        }

        &__text{
            display: none;
        }

        input.radio {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            right: 0px;
            opacity: 0;
        }

        input.checkbox {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            right: 0px;
            opacity: 0;
        }

        &.res-active {
            .c-res__img-highlight {
                border: 2px solid $gray;
            }

            .c-res__text{
                display:block;
            }

            .c-res__heading {
                font-weight: bold;
            }
        }
    }
    
    .c-section-divider {
        position: relative;
    }
    
    .position-center {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto
    }
}