.c-breadcrumb {
    .c-svg.arrow-right {
        width:5px;
        height:10px;
        float:right;
        margin:3px 10px;
        stroke:$gray;
        stroke-width:2px;
    }
    
    &__item {
        display: inline-block;
        padding:15px 0;
        
        &.is-active {
            &:after {
                content: "";
                padding:0;
            }
            font-weight:600;
        }
    }
    
    &__link,
    &__link:hover {
        color:$gray;
    }
    
    &__list {
        font-size:$font-size-x-small;
        text-align:center;
    }
}