.olapic {
    text-align: center;

    .container {
        @media (min-width: $screen-lg) {
            width: 1200px !important;
        }
        @media (min-width: $screen-md) {
            width: 1024px !important;
        }
        @media (min-width: $screen-sm) {
            width: auto !important;
        }
    }

    .olapic-cover h2 {
        font-size: 30px;
        line-height: 36px;
        color: #333;
        margin-bottom: 14px;
    }

    .olapic-wall-header .olapic-top .olapic-tools {

        .btn {
            background-color: white;
            border: 1px solid;
            width: auto;
            padding: 0 30px;
            height: 51px;
            line-height: 50px;
            outline: none;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            text-transform: lowercase;
            font-size: 16px;
            text-align: center;
            display: inline-block;
            background: none;
            background-image: none;
            -o-transition: background-color .6s ease-out, border-color .6s ease-out;
            -ms-transition: background-color .6s ease-out, border-color .6s ease-out;
            -moz-transition: background-color .6s ease-out, border-color .6s ease-out;
            -webkit-transition: background-color .6s ease-out, border-color .6s ease-out;
            transition: background-color .6s ease-out, border-color .6s ease-out;
        }

        .btn-info {
            border-color: #cccccc !important;
            color: #333;
            background-color: #fff !important;
            text-shadow: none;
            border-radius: 0;
            margin: 0 5px;

            &:hover, &:active {
                border-color: #cccccc !important;
                color: #333;
                background-color: #cccccc !important;
                box-shadow: none;
                padding: 0px 30px;
            }

            &:focus {
                color: #333;
            }
        }
    }
}