.c-video-player-v2 {
    max-width: 970px;
    min-height: auto;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    &__wrapper { min-height: auto !important; }

    &-info {
        padding: 0 !important;
        border: 0 !important;
    }

    &__description p {
        font-family: $font-family-custom;
        font-style: italic;
        font-size: 22px;
        margin-top: 25px;
        padding-left: 25px;

    }

    &__description {
        top: auto !important;
        left: auto !important;
    }

    .o-btn--play-video {
        background-color: $font-hightlight;
        display: inline-block;
        height: 52px;
        margin: auto;
        transform: translate(-50%, -50%);
        width: 52px;

        &:after {
            content: "";
            border-top: 12px transparent solid;
            border-bottom: 12px transparent solid;
            border-left: 15px #fff solid;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            position: absolute;
        }

        svg {
            display: none;
        }
    }
}