@import "video-player-v2-article-landing";
@import "video-player-v2-recipe-detail";

.c-video-player-v2 {
    &__wrapper {
        position: relative;
        margin: 40px 0 0;
        min-height: 400px;
        z-index:27;
    }

    &__title {
        color: $color-white;
        position: absolute;
        top: 25%;
        left: 39%;
        width: 30%;
    }

    &__play-video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        transition: opacity 1s;
        display: none;
        z-index: 27;
    }

    &-info {
        padding: 40px 0px 20px 115px;
        border-bottom: 1px solid #5a5a5a;
    }

    &__play-icon{
        .c-svg {
            height: 23px;
            width: 23px;
            position: relative;
            left: 0px;
        }
    }

    &__description {
        position: relative;
        top: -24px;
        left: 65px;
    }

    @media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {

        &__wrapper {
            margin: 80px 0 0;
        }

        &__title {
            top: 0;
            left: 0;
            width: 100%;
        }

        &__btn {
            height: 60px;
            width: 60px;
            background-size: 60px;
            left: 40%;
            top: 38%;
        }

        &-info {
            padding: 10px 0;
        }

        &__description {
            left: 26px;
        }
    }

    &-overlay__wrapper {
        min-height: 800px;
        float: none;
        margin: 0 auto;
        .o-btn--close {
            float: right;
            margin: 20px 0;
        }
    }
}
