.recipe-detail-page {
  .c-video-player-v2 {
    position: relative;
    max-width: none;
    width: 100%;
    
    &__wrapper {
      margin: 0;
    }

    &__description {
      position: absolute;
      left: 12.222222222222% !important;
      top: 2.77777777777777% !important;
      z-index: 30;

      p {
        padding-left: 0;
        color: $color-white;
        line-height: 28px;
      }
    }

    .o-btn--play-video {
      background-color: $blue-button-video;
      border-radius: 4px;
    }
  }
}

//mobile
@media screen and (max-width: 767px) {
  .recipe-detail-page {
    .c-video-player-v2 {
      &__description {
        box-sizing: border-box;
        padding: 0 4.6875%;
        left: 0 !important;
        width: 100%;

        p {
          font-size: 22px;
          line-height: 26px;
          margin-top: 18.125vw;
        }
      }
    }
  }
}
