//----------------------------------------------\\
// REMS
// rem fallback
//----------------------------------------------\\

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}
