.reviews {
    margin-bottom: 50px;
    padding:0;

	/* kritique pagination */
	.rr-widget-container {
		&.rr-no-reviews {
			margin:0;
			padding:35px 0 50px;
			
		    h2 {
				display:block;
				margin-bottom:15px;
			}
			.average-rating {
				display:none;
			}
			&.rr-widget-container {
				max-width:100%;
				background-color: #f4f4f4;
				text-align:center;
				border:0 none;
			}
			.averageRingBlock {
				width:100%;
				margin:0;
				padding:0;
				&:before{					
					position: static;
					margin:0 auto;
					border:0 none;								
				}
				.write-review-btn {					
					width:90%;
					margin:0 auto;
					position: static;
					@media(min-width: $screen-sm) {
				        margin:0 auto;
				        width:auto;
				    }			
				}
				& > H3 {
					display:none;
				}
			}
		}
	}
	
	.rr-product-reviews {
		@include make-row();
		margin:0 auto !important;

		& > H2 {
			display: none;
		}
		.averageRingBlock {
			.aggregateRating {
				position: absolute;
				top: 33px;
				left: 100px;
				@media (max-width: $screen-xs-max) {
				   top: 13px;
					left: 110px;
				}
				img {
					width: 110px;
				}
				.agRatingSelect {
					margin-top: 0;
				}
			}
			.total-reviews {
				font-weight: 600;
				text-align: left;
				margin-bottom: 20px;
			}
		}
		.write-review-btn {
			right: 10px;
			top: 33px;
			@include o-btn;
			@include o-btn--ternary;
			position: absolute;
			text-transform: lowercase;
			
			@media (max-width: $screen-xs-max) {
				position: relative;
				top: 0;
				width: 100%;
				margin: auto;
				left: 0;
			}
		}
		.review-block {
			border-bottom: solid 1px $gray-light;
			border-top: solid 0 $gray-light;
			padding: 40px 0 0 0;
			&:first-child {
				border-top: solid 1px $gray-light;
			}
			@media (max-width: $screen-xs-max) {
				padding: 20px 0 0 0;
			}
			
			.aggregateRating IMG {
				width: 110px;
			}
			.agRatingSelect {
				margin-top: 0;
			}
			.rating-container {
				@media (max-width: $screen-xs-max) {
					padding: 0;
				}
			}
		}
	}

}

.rr-inline-widget {	
	&.rr-no-reviews {
		.firstReview, .firstReview a {
			display:block;
		}
		.customReview {
			display:none;
		}
	}
}