/*INLINE*/
.c-social-sharing-component, .c-body-copy-headline__copy .c-social-sharing-component {
    list-style: none;
    width: auto;
    margin: 0;
    display: inline-block;
}

.c-social-sharing-inline .c-social-sharing-component {

    @media (min-width: 340px) {
        margin-left: 10px;
    }
}

.c-social-sharing-list {
    display: table;
    margin-left: 6px;
    float: left;

    &:first-child {
        margin-left: 0;
    }
}

.c-social-sharing-list--block {
    margin: 0;
    float: left;
}

.c-social-sharing-icons,
.c-social-sharing-icons--block {
    width: 30px;
    height: 30px;
}

.first-child {
    margin-left: 0;
    line-height: 45px;
    @media (max-width: 340px) {
        float: none;
        margin: 0 auto !important;
    }
}

.c-social-sharing-text {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    padding: 0;

    @media (max-width: 340px) {
        width: 135px;
        display: block;
        margin: 0 auto;
    }
    .o-text__heading-3 {
        font-weight: bold;
    }
    .c-social-sharing-list {
        margin-bottom: 50px;
        border: 1px solid $gray;
        @include rounded(50px);
        display: table;
        width: 40px;
        height: 40px;
        & a {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
        & svg {
            margin-top: 3px;
            width: 15px;
            height: 15px;
            fill: $gray;
            
        }
    }
}

.c-body-copy-headline__copy .c-social-sharing-inline {
    max-width: 270px;
    margin: 0 auto;
}

.c-body-copy-headline__copy .c-social-sharing-list svg {
   
   
}

/*STACK*/

.c-social-sharing-stack {
    padding: 0;
    display: inline-block;
    position: relative;
    .c-social-sharing-icons--blocks {
        background-color: $gray-pale;
    }

    .c-social-sharing-list--block {
        display: inline-block;
        float: none;

        @media(min-width: $screen-sm) {
            display: block;
        }
    }

    .second-child {
        @media (max-width: ($screen-sm - 1)) {
            float: left;
        }
        .c-social-sharing-icons--blocks {
            position: relative;
            z-index: 2;
            @media (min-width: $screen-md) {
                background-color: $gray-pale;
            }
        }
    }

    .c-social-sharing-icon-wrapper {
        background-color: $gray-pale;
    }

    .c-social-sharing-icon {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: block;
        background-color: $gray-pale;
    }

    .c-social-sharing-list {
        display: none;
        opacity: 0;
        position: absolute;
        float: none;
        @media (max-width: ($screen-sm - 1)) {
            position: static;
            float: left;
        }
    }

    .c-social-sharing-icons {
        width: 14px;
        height: 14px;
        margin:8px;
    }

    .c-social-sharing-facebook {
        @media(min-width: $screen-sm) {
            top: -30px;
        }
    }

    .c-social-sharing-twitter {
        @media(min-width: $screen-sm) {
            top: -60px;
        }
    }

    .c-social-sharing-email {
        @media(min-width: $screen-sm) {
            top: -90px;
        }
    }

}
.sign-up-page .social-sharing {
	display:none;
}
.product-gifting-page .social-sharing {  
    z-index:9;
    @media(min-width: $screen-sm) {
        position:absolute;
        right:5%;
        top: 40px;
    }
    .c-social-sharing-text .c-social-sharing-list {
        margin-bottom:0;
    }
    .c-social-sharing-inline {
        width:300px;
        margin:40px auto 0;
         @media(min-width: $screen-sm) {
            margin:0;
        }
    }
}