.c-recipe-products {
    background: #efefef;
    &__image,
    &__details {
        width: 50%;
        display: inline-block;
        padding: 5px;
        @media(max-width: ($screen-sm - 1)) { 
            width: 100%;
        }
    }
    &__image {
        width: 49%;
        @media(max-width: ($screen-sm - 1)) { 
            width: 100%;
        }
    }
    &-item {
        padding: 5px;
    }
    .slick {
        &-slider {
            padding: 0 20px 40px;
        }
        &-prev {
            left: 0;
            z-index: 9999;
            width: 10px;
            height: 100%;
            background-size: 10px 20px;
        }
        &-next {
            background-position: top right;
            right: 0;
            z-index: 9999;
            width: 10px;
            height: 100%;
            background-size: 10px 20px;
        }
    }
}
