<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= name %></title>

    <meta name="description" content="">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- build:css(.tmp) css/main.css -->
    <link rel="stylesheet" href="css/iea.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->

    <!-- build:js js/libs/vendor/modernizr/modernizr.js -->
    <script src="js/libs/vendor/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/libs/vendor/html5shiv/dist/html5shiv.js"></script>
        <script src="js/libs/vendor/respond/dest/respond.min.js"></script>
        <![endif]-->

</head>
<!--[if IE 7 ]><body class="ie ie7 lt-ie8 lt-ie9 lt-ie10 no-mq"><![endif]-->
<!--[if IE 8 ]><body class="ie ie8 lt-ie9 lt-ie10 no-mq"><![endif]-->
<!--[if IE 9 ]><body class="ie ie9 lt-ie10"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->

<body data-config="data/config.json">
    <!--<![endif]-->
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container-fluid">
        <header class="row clearfix">

        </header>
    </div>

    <div class="container">
        <section class="row clearfix">
            <div>Welcome to the new page!!</div>
        </section>
    </div>


    <!--[if lte IE 8 ]>
        <script src="bower_components/jquery/jquery-1.11.0.min.js"></script>
        <![endif]-->
    <!--[if gt IE 8 ]><!-->
    <!--<script src="bower_components/jquery/jquery-2.1.0.min.js"></script>-->
    <!--<![endif]-->

    <!-- build:js js/main.js -->
    <script data-main="js/main" src="js/libs/vendor/requirejs/require.js"></script>
    <!-- endbuild -->
</body>

</html>
