.c-shopping-basket {
	.container {
		float:none;
		margin:40px auto 0;
	}
}
.c-shopping-basket__wrapper {
	text-align: left;
	position:relative;
	min-height:400px;
	@media (min-width: $screen-sm) {
		width:75%;
		margin:0 auto;
	}
}
.c-shopping-basket__title, .c-shopping-basket__product, .c-shopping-basket__giftwraps, .c-shopping-basket__quantitywrap, .c-shopping-basket__cta {
	margin-bottom: 40px;
}
.o-product-label, .o-product-value, .c-shopping-basket__customization--label {
	display:block;
	margin-bottom:10px;
}
.c-shopping-basket__product-info {
	.o-text__heading-2 {
		margin-bottom:20px;
	}
}
.c-shopping-basket__customization--value {
	font-size:$font-size-h3;
}

.c-shopping-basket__customization {
	margin-bottom:20px;
}
.c-shopping-basket__product-info, .c-shopping-basket__giftwraps-info {
	@media (min-width: $screen-sm) {
		padding-top:30px;
	}
}
.c-shopping-basket__product-image {
	text-align:center;
}
.c-shopping-basket__list {
	margin:0 0 40px;
	padding:0;
	list-style: none;
}
.c-shopping-basket__item {
	border-bottom: solid 1px $gray-border;
	padding-top:40px;
	&.c-shopping-basket__item--first {
		border-top: solid 1px $gray-border;
	}
}
.c-shopping-basket__quantitywrap {
	text-align:center;
	.quantitywrap__cta, .o-text__heading-3 {
		display:inline-block;
	}
	padding:30px 0 40px;
	border-top: solid 1px $gray-border;
	border-bottom: solid 1px $gray-border;
	
	.quantitywrap__price {
		display:block;
		margin-top:30px;
		@media (min-width: $screen-sm) {
			display:inline-block;
			margin-top:0;
		}
	}
}
.quantitywrap__cta {
	margin:0 10px;
	@media (min-width: $screen-sm) {
		margin:0 30px;
	}
}
.c-shopping-basket__cta {
	text-align:center;
}
.quantitywrap__cta-quantity {
	padding:0 10px;
}
.c-shopping-basket__cta {
	.o-btn {
		margin:0 10px;
		vertical-align: top;
	}
}
.c-shopping-basket__no-product {
	.o-text__heading-3 {
		padding-bottom:200px;
	}
}