.recipe-detail-page {
  .recipe__method {
    box-sizing: border-box;
    margin: 0;
    padding-left: 5.187835420%;
    width: 51.376146789%;

    .c-recipe-cooking-method {
      border: 0;
      margin: 0;
      padding: 0;
      
      .o-text__heading-3 {
        font-family: $font-family-custom;
        font-style: italic;
        color: $font-hightlight;
        text-align: left;
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 20px;
      }

      .o-text__heading-5 {
        display: none;
      }

      &__list-item {
        padding: 0;
      }

      //COMPONENTS INNER LIST ITENS

      &__position {
        border: 0;
        color: $font-hightlight;
        display: inline-block;
        font-family: $font-family-custom;
        font-size: 24px;
        font-style: italic;
        height: auto;
        margin-left: 4px;
        text-align: left;
        width: auto;

        &-lbl {
          border: 0;
          font-size: inherit;
          font-style: inherit;
          font-weight: 500;
          height: auto;
          line-height: inherit;
          padding-top: 3px;
          width: auto;
        }
      }

      &__description {
        color: $neutral-5-color;
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        margin-left: 24px;
        max-width: 90%;
        width: auto;
      }
    }
  }
}

//tablet
@media screen and (min-width: 768px) and (max-width: 991px) {
  .recipe-detail-page {
    .recipe {
      &__wrapper {
        padding: 0 30px 30px;
      }

      &__ingredients {
        padding-left: 0 !important;

        .c-recipe-content-ingredients__list {
          padding: 0 20px !important;
        }
      }
    
      &__method {
        .c-recipe-cooking-method {
          &__list-item {
            padding-left: 0;
            margin-bottom: 12px;

            &:after {
              display: none;
            }
          }

          &__description {
            max-width: 86%;
          }
        }
      }
    }
  }
}

//mobile
@media screen and (max-width: 767px) {
  .recipe-detail-page {
    .recipe__method {
      padding: 0 4.6875% 30px;
      width: 100%;

      .c-recipe-cooking-method {
        &__description {
          max-width: 85%;
          padding-left: 0;
        }

        &__list-item {
          margin-bottom: 12px;
        
          &:after {
            display: none;
          }
        }
      }
    }
  }
}