@import "recipe-cooking-method-recipe-detail";

.c-recipe-cooking-method {
    margin: 10px 0;
    padding: 5px 5px 5px 10px;
    border-left: 1px solid #ccc;

    
    .o-text__heading-3{
        text-align: center;
    }
    
    &__list {
        position: relative;
        display: inline-block;
        padding: 0;
        margin: 0;
        
        &-item {
            list-style: none;
            padding: 10px 5px 10px 5px;
            margin-bottom: 8px;
            vertical-align: middle;
            
            &:last-child{
                margin-bottom: 0;
            }
            
            .c-recipe-cooking-method__position{
                display: table-cell;
                vertical-align: top;
                text-align: center;
                
                &-lbl{
                    width: 36px;
                    height: 36px;
                    border: 1px solid $gray;
                    border-radius: 50%;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 34px;
                    display: inline-block;
                }
            }
            .c-recipe-cooking-method__description{
                display: table-cell;
                vertical-align: middle;
                padding-left: 10px;
            }
            &:after {
                @media(max-width: $screen-sm) {
                    display: block;
                    content: ' ';
                    border-bottom: 1px solid #ccc;
                    margin: 3% 30% 0 30%;
                }                
            }
        }
    }
}