/* ----------------------------------------------------------------------------- *\
   CONFIG
\* ----------------------------------------------------------------------------- */

$theme: '<%= theme %>';

$font-path: '<%= fontPath %>';
$image-path: '<%= imagePath %>';

$bp-small: <%= breakpointSmall %>;
$bp-medium: <%= breakpointMedium %>;
$bp-large: <%= breakpointLarge %>;
$bp-extra-large: <%= breakpointXlarge %>;
$bp-desktop: <%= breakpointXlarge %>;

$containerSmall: <%= containerSmall %>;
$containerMedium: <%= containerMedium %>;
$containerLarge: <%= containerLarge %>;
$containerXLarge: <%= containerXLarge %>;

$sapient-centro-slab-font-path:  $font-path +  'sapient-centro-slab/';
$sapient-san-font-path:  $font-path + 'sapient-sans/';

$brush-kent-font-path:  $font-path + 'brush-of-kent/';

/* ----------------------------------------------------------------------------- *\
   MIXINS
\* ----------------------------------------------------------------------------- */

@import "mixins/rem";
@import "mixins/font-family";
@import "mixins/font-face";
@import "mixins/vw-font-size";
@import "mixins/box-shadow";
@import "mixins/opacity";
@import "mixins/grayscale";
@import "mixins/rounded";
@import "mixins/background-size";
@import "mixins/background";
@import "mixins/gradient";
@import "mixins/cq";
@import "mixins/placeholder";
@import "mixins/column-count";
@import "mixins/appearance";
@import "mixins/font-feature-settings";
@import "mixins/typography";
@import "mixins/theme";
@import "mixins/transition";
@import "mixins/utils";
@import "mixins/animations";
@import "mixins/form";

/* ----------------------------------------------------------------------------- *\
   THEME
\* ----------------------------------------------------------------------------- */

@import "themes/<%= parentTheme %>/base/normalize";
@import "mixins/theme";
@import "mixins/font-face";

@import "themes/<%= parentTheme %>/colors";
@import "themes/<%= parentTheme %>/variables";
@import "themes/<%= parentTheme %>/fonts/font";

@import "themes/<%= parentTheme %>/bootstrap-variables";
@import "themes/<%= parentTheme %>/layout";

@import "themes/<%= parentTheme %>/tools/rems";
@import "themes/<%= parentTheme %>/tools/center";
@import "themes/<%= parentTheme %>/tools/hide";
@import "themes/<%= parentTheme %>/tools/clearfix";
@import "themes/<%= parentTheme %>/tools/skew";
@import "themes/<%= parentTheme %>/tools/breakpoints";

@import "themes/<%= parentTheme %>/base/typography";
@import "themes/<%= parentTheme %>/base/buttons";
@import "themes/<%= parentTheme %>/base/susy";
@import "themes/<%= parentTheme %>/base/base-general";

// DiG Modifications
@import "themes/<%= parentTheme %>/components/nav";


/* ----------------------------------------------------------------------------- *\
   COMPONENT STYLES
\* ----------------------------------------------------------------------------- */

@import "../../../app/<%= name %>/sass/views/global-navigation/global-navigation";
@import "../../../app/<%= name %>/sass/views/hero/hero";
@import "../../../app/<%= name %>/sass/views/video-player/video-player";
@import "../../../app/<%= name %>/sass/views/hero-launch-video/hero-launch-video";
@import "../../../app/<%= name %>/sass/views/body-copy-headline/body-copy-headline";
@import "../../../app/<%= name %>/sass/views/page-divider/page-divider";
@import "../../../app/<%= name %>/sass/views/plain-text-image/plain-text-image";
@import "../../../app/<%= name %>/sass/views/rich-text-image/rich-text-image";
@import "../../../app/<%= name %>/sass/views/home-story/home-story";
@import "../../../app/<%= name %>/sass/views/footer/footer";
@import "../../../app/<%= name %>/sass/views/form/form";
@import "../../../app/<%= name %>/sass/views/form/select";
@import "../../../app/<%= name %>/sass/views/featured-product/featured-product";
@import "../../../app/<%= name %>/sass/views/country-selector/country-selector";


/* ----------------------------------------------------------------------------- *\
   IEA components specific styles
// \* ----------------------------------------------------------------------------- */

@import "../../../app/<%= name %>/sass/views/video/video";
@import "../../../app/<%= name %>/sass/views/adaptive-image/adaptive-image";

