.c-brand-social-channels {
	margin: 20px 0;
	
    &__a {
        text-decoration: none;
	}
    
    &__copy {
        display: block;
        margin: 0 auto 40px;
        width: 100%;
        
        @media (min-width: $screen-sm) {
            width: 80%;
        }
    }

    &__links {
        display: block;
        width: 100%;
        margin: 0 auto;
        font-size: 0px;
        
        @media (min-width: $screen-sm) {
            width: 80%;
        }
    }

    &__link {
        margin: 0 0 30px;
        font-size: 14px;
        display: inline-block;
        float: none;
        
        @media (min-width: $screen-sm) {
            margin: 0px;
        }
    }

    &__image {
        text-align: center;
        margin: 0 auto 10px;
        
        img{
            width:20px;
            margin: 9px;
        }
    }

    &__name {
        color: $gray;
    }
}