// import font/icons
// -------------------------

@import "icon";

// Typography
// -------------------------

$font-family-sans-serif:  Arial, sans-serif !default;

$font-family-base: $font-family-sans-serif;

$font-size-base:          14px !default;
$font-size-x-large:       ceil($font-size-base * 2.25) !default; // ~32px
$font-size-large:         ceil($font-size-base * 1.25) !default; // ~18px
$font-size-medium:        ceil($font-size-base * 1.10) !default; // ~16px
$font-size-small:         $font-size-base !default;              // ~14px
$font-size-x-small:       ceil($font-size-base * 0.85) !default; // ~12px
$font-size-xx-small:      ceil($font-size-base * 0.78) !default; // ~11px

$font-size-h1:            floor($font-size-base * 2.6) !default; // ~36px
$font-size-h2:            floor($font-size-base * 2.15) !default; // ~30px
$font-size-h3:            ceil($font-size-base * 1.7) !default; // ~24px
$font-size-h4:            ceil($font-size-base * 1.25) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil($font-size-base * 0.85) !default; // ~12px

$line-height-base:        1.2 !default; //
$line-height-computed:    floor($font-size-base * $line-height-base) !default; // ~20px

$headings-font-family:    $font-family-base;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

$desktop-font-size-x-large:      32px;
$desktop-font-size-large:        18px;
$desktop-font-size-medium:       16px;
$desktop-font-size-small:        14px;
$desktop-font-size-x-small:      12px;

$tablet-font-size-x-large:       30px;
$tablet-font-size-large:         24px;
$tablet-font-size-medium:        18px;
$tablet-font-size-small:         16px;
$tablet-font-size-x-small:       14px;

$mobile-font-size-x-large:       22px;
$mobile-font-size-large:         18px;
$mobile-font-size-medium:        16px;
$mobile-font-size-small:         14px;
$mobile-font-size-x-small:       12px;


// IEA Framework FIX
// -------------------------
$font-sapient-centroslab-light: Arial, sans-serif;
$font-sapient-centroslab-regular: Arial, sans-serif;
$font-sapient-centroslab-medium: Arial, sans-serif;
$font-sapient-centroslab-bold: 'sapient_centro_slabblack';