.c-buy-in-store-search {
	.c-buy-in-store-search-list {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: 10px;
			min-height: 90px;
			a {
				display: block;
				div {
					vertical-align: top;
				}
				&:link, &:visited, &:hover, &:active, {
					text-decoration: none;
				};
			}

			li {
				margin: 0 0 0 100px;
				min-height: 30px;
			}
		}
	}

        .postalCode{
                width: 65%;
        }
        .c-form-help-info{
                top:10%;
                right: 28%;
        }
        .c-tooltip-info__copy{
            left:-70px;
            min-width:165px;
           @media(max-width: ($screen-md - 1)) {
                left:-175px;
            }
        }

       .o-dropdown{
            @media(max-width: $screen-sm) {
               width: 65%;
            }
        }

	.c-buy-in-store-search-info {
		padding: 0px 10px;
		margin-left: 90px;
	}

	.c-buy-in-store-search-variant__list {
		margin: 0px;
		padding: 10px 0px;
		list-style: none;
		display: none;
		overflow: inherit !important;
	}

	.c-buy-in-store-search__select {
		margin: 0 0 15px 0;
	}

	.o-buy-in-store-search-header {
		padding: 15px 0px;
	}

	.c-buy-in-store-search__form .input-md {
	    height: 50px;
	}

	.c-buy-in-store-search__form-wrapper {
		display: none;

		select {
			margin: 0;
		}
	}

	.c-buy-in-store-search-thumb picture {
		float: left;
	}

	.etale-popup {
		height: 560px;
        border: 1px solid #000;
        width:500px;
         @media(min-width: $screen-sm) {
            width: 100%;
        }
	}

	.c-etale-popup {
		width: 305px;
		margin: 20px auto;
	}

	.c-buyonline{
		.addtobag{
			margin-top: 15px;
			.btn{
				line-height: 49px;
				padding: 0 20px;
			}
		}
	}
}