.dig-form {
    margin-top: $base-spacing*2;
    margin-bottom: $base-spacing*2;
    @include cf;

    // Text inputs
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=time],
    input[type=date],
    input[type=datetime-local],
    input[type=tel],
    input[type=number],
    input[type=search],
    textarea,
    select {
        border: 0;
        outline: none;
        width: 100%;
        @include font-size(18px);
        padding: $base-spacing;
        box-shadow: none;
        text-align: left;
        background: #efefef;
        margin-bottom: $base-spacing*2;
    }

    [type=submit] {
        outline: none;
        border: 0;
    }


    h3 {
       color: #fff;
       @include font-size(40px);
       position: relative;
       display: inline-block;
       padding: $base-spacing;
       background: url('../images/dig/title-bar-orange.png') no-repeat top center;
       line-height: 1;

       @include breakpoint(large) {
           margin-top: 0;
           background-size: cover;
       }
    }

    label {
        @include visuallyhidden;
    }

    &-intro {
        @include breakpoint(medium) {
            @include span(6);
        }
    }

    &-inputs {
        @include breakpoint(medium) {
            @include span(6 last);
        }
    }

    .g-recaptcha {
        margin-bottom: $base-spacing*2;
    }

}
