//----------------------------------\\
// SELECT BOX
//----------------------------------\\

.select {
    position: relative;
    display: inline-block;
    color: $digBlue;
    width: 100%;

    @include breakpoint(medium) {
        width: auto;
    }
}

.select select {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 14px;
    line-height: 1.5;
    color: $digBlue;
    background-color: #fff;
    border: 0;
    cursor: pointer;
    outline: 0;
    appearance: none;
}

/* Undo the Firefox inner focus ring */
.select select:focus:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
}

/* Focus */
.select select:focus {
    box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}

/* Active/open */
.select select:active {
    color: #fff;
    background-color: #0074d9;
}

/* Hide the arrow in IE10 and up */
.select select::-ms-expand {
    display: none;
}

/* Media query to target Firefox only */
@-moz-document url-prefix() {
  /* Firefox hack to hide the arrow */
    .select select {
        text-indent: 0.01px;
        text-overflow: '';
        padding-right: 1rem;
    }

    /* <option> elements inherit styles from <select>, so reset them. */
    .select option {
        background-color: #fff;
    }
}

/* IE9 hack to hide the arrow */
@media screen and (min-width:0\0) {
    .select select {
        z-index: 1;
        padding: .5rem 1.5rem .5rem 1rem;
    }
    .select:after {
        z-index: 5;
    }
    .select:before {
        position: absolute;
        top: 0;
        right: 1rem;
        bottom: 0;
        z-index: 2;
        content: "";
        display: block;
        width: 1.5rem;
        background-color: #eee;
    }
    .select select:hover,
    .select select:focus,
    .select select:active {
        color: #555;
        background-color: #eee;
    }
}
