/*
@import 'shoppable-view-bag';
*/

//colors
$color_cararra_approx: #ebebeb;
$color_fuscous_gray_approx: #555;
$color_wild_sand_approx: #f5f5f5;
$color_boulder_approx: #77787b;
$black: #000;
$gray:  grey;
$white: white;
$color_lucky_point_approx: #15206c;
$red: #f00;
$color_celeste_approx: #ccc;
$color_mine_shaft_approx: #333;
$color_nobel_approx: #b3b3b3;
$color_mercury_approx: #e6e6e6;
$color_shady_lady_approx: #a7a7a9;
$color_gallery_approx: #f1f0ee;
$gold:  gold;
$color_deep_sapphire_approx: #002964;
$color_gravel_approx: #4c4c4c;

//fonts
$font_0: Helvetica;
$font_1: Arial;
$font_2: Sans Sarif;
$font_3: sans-serif;

//urls
$url_0: url(../images/shopping-bag.png);

//@extend-elements
//original selectors
//#shoppable_magic_v1_pdp_container h1.name, #shoppable_magic_v1_pdp_container h2
%extend_s1 {
  text-indent: inherit;
  line-height: 24px!important;
  font: bold 21px $font_0, $font_1, $font_2;
  margin-top: 10px;
}

//original selectors
//#shoppable_magic_v1_pdp_container select, .virtualProduct-items select
%extend_s2 {
  width: auto;
  font: 400 12px/1.3 "Helvetica Neue", sans-serif;
  border: 1px solid $gray;
  outline: 0;
  color: $gray;
  border-color: $gray;
  padding: 0.65em 2.5em 0.55em 0.75em;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
  background-color: $white;
  background: linear-gradient(grey, $gray) no-repeat, linear-gradient(-136deg, rgba(255,255,255,0) 50%, $white 50%) no-repeat, linear-gradient(-226deg, rgba(255,255,255,0) 50%, $white 50%) no-repeat, linear-gradient($color_lucky_point_approx, $color_lucky_point_approx) no-repeat;
  background-size: 1px 100%, 20px 20px, 20px 20px, 20px 60%;
  background-position: right 20px center, right bottom, right bottom, right bottom;
  appearance: none;
}

//original selectors
//#shoppable_magic_v1_pdp_container .add-to-cart, #shoppable_magic_v1_pdp_container .continue-shopping-block
%extend_s3 {
  float: left;
  cursor: pointer;
  border: 1px solid $color_celeste_approx;
  padding: 4px 12px;
  display: inline-block;
  color: $color_mine_shaft_approx;
  font-size: 14px;
  line-height: 20px;
  font-family: $font_1, $font_0, $font_3;
  font-weight: 400;
  border-color: $color_nobel_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 4px;
  background-image: linear-gradient(to bottom, $white 0,$color_mercury_approx 100%);
}

//original selectors
//#shoppable_magic_v1_pdp_container .add-to-cart:hover, #shoppable_magic_v1_pdp_container .add-to-cart:focus, #shoppable_magic_v1_pdp_container .continue-shopping-block:hover, #shoppable_magic_v1_pdp_container .continue-shopping-block:focus
%extend_s4 {
  color: $color_mine_shaft_approx;
  background-color: $color_mercury_approx;
  background-image: none;
}

//original selectors
//.bws-shoppable-bag .col1, .bws-shoppable-bag .col2, .bws-shoppable-bag .col3, .bws-shoppable-bag .col4, .bws-shoppable-bag .col5, .bws-shoppable-bag .col6, .bws-shoppable-bag .col7
%extend_s5 {
  margin-right: 1%;
  float: left;
  list-style: none;
  padding: 10px 0;
}

//original selectors
//.viewMyBag .product_quantity, .viewMyBag .product_total
%extend_s6 {
  width: 18%;
  text-align: right;
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}

//original selectors
//.viewMyBag ul li, .viewMyBag .product-calculation-summary, .viewMyBag .bar-btn, .button-continue-container .bar-btn
%extend_s7 {
  padding: 3% 6%;
  clear: both;
  width: 100%;
  float: left;
}

%js-shopping-btn {
        text-transform: uppercase;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        padding: 8px 22px;
        color:darkgray;
        &:hover{
            text-decoration: underline;  
        }
        &:after{
            border-top: 8px solid transparent;
            border-left: 5px solid transparent;
            border-bottom: 7px solid transparent;
            border-right: 9px solid darkgray;
            right: 13%;
            width: 0;
            height: 0;
            content: '';
            display: block;
            position: relative;
            margin-top: -10%;
        }
      }


.o-shoppingCart {
    background:  url("../images/shoppable-cart/shopping-bag.png") 0 0 no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    position: fixed;
    top: 70px;
    right: 0px;
    z-index: 30;
    a {
        display: block;
        line-height: 28px;
        text-align: center;
        width: 29px;
        color: #666666;
        font-weight: bold;
        text-decoration: none;
        padding-top: 8px;
    }
    img.product_image {
        width: 120px;
    }
    @media(max-width: ($screen-sm)) {
        top: 53px;
    }
}

.bws-shoppable-bag {
  .row {
    margin-left: 0!important;
  }
  .checkoutwrapper {
    border-top: 1px solid $color_cararra_approx;
    float: left;
    padding: 20px 0;
    width: 100%;
    .cntShop {
      float: left;
    }
    .chkTotal {
      float: right;
      width: 32%;
    }
    .tnc {
      padding: 20px 0;
      width: 32%;
      float: right;
      clear: both;
      p {
        font-size: 12px;
      }
    }
  }
  .bws-sp-grid-item-detail {
    width: 100%;
    min-height: 335px;
    .loader {
      width: 100%;
      min-height: 330px;
      line-height: 240px;
      text-align: center;
      margin: 0 auto;
    }
    .product_field {
      .detail {
        width: 55%;
        float: left;
      }
      img {
        width: 150px;
      }
    }
    .txt {
      display: none;
    }
    .VirtualProductEdit {
      width: 96%;
      padding: 0 2%;
      min-height: 335px;
      select {
        width: 80%;
      }
      .txt {
        display: none;
      }
      .cancel {
        cursor: pointer;
      }
      li {
        border: none;
        &.virtualProduct-items {
          width: 100%;
        }
      }
    }
    .overlEdit {
      position: relative;
      z-index: 99999;
      background-color: $white;
    }
    ul li {
      border-bottom: 1px solid $color_cararra_approx;
      list-style: none;
      float: left;
      > div {
        float: left;
      }
      &.list-items {
        width: 100%;
        min-height: 280px;
        padding-top: 10px;
        a {
          text-decoration: underline;
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .col-str {
    border-bottom: 1px solid $color_shady_lady_approx;
    float: left;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    font-weight: bold;
    div {
      float: left;
      padding: 10px 0;
    }
    .col2 {
      text-indent: -9999px;
    }
  }
  .col1 {
    width: 15%;
    @extend %extend_s5;
  }
  .col2 {
    width: 20%;
    @extend %extend_s5;
    p {
      margin-bottom: 2px;
    }
  }
  .col3 {
    width: 18%;
    @extend %extend_s5;
  }
  .col4 {
    width: 10%;
    @extend %extend_s5;
  }
  .col5 {
    width: 10%;
    @extend %extend_s5;
  }
  .col6 {
    width: 10%;
    @extend %extend_s5;
  }
  .col7 {
    width: 10%;
    @extend %extend_s5;
  }
  .order-summary {
    display: block;
    border-bottom: 1px solid $color_mercury_approx;
    margin-bottom: 10px;
  }
  .bar-btn {
    padding: 20px 0;
    width: 100%;
  }
  .bws-sp-grid-header {
    padding: 10px 0;
    border-style: solid;
    border-color: $black;
    border-width: 1px 0 1px 0;
    margin: 10px 0;
    font-weight: bold;
  }
}
#shoppable_magic_v1_cart_tab {
  display: none!important;
}
#shoppable_magic_v1_pdp_container {
  position: absolute;
  width: 600px;
  z-index: 99999999;
  top: 19%;
  left: 29%;

  .modal-header {
    padding: 0;
    border: none;
  }
  .modal-body {
    max-height: none;
    padding: 0;
    overflow: hidden;
  }
  .pdp-header {
    padding: 10px 0;
    text-align: center;
    color: $color_fuscous_gray_approx;
    background-color: $color_wild_sand_approx;
    font-size: 20px;
  }
  .product-pdp {
    width: 96%;
    padding: 2%;
    float: left;
  }
  .product-image-container {
    width: 35%;
    float: left;
    .product-image {
      text-align: center;
      img {
        max-width: 60%;
      }
    }
  }
  .main {
    width: 65%;
    float: left;
  }
  h2 {
    @extend %extend_s1;
  }
  .retailer-block {
    margin-top: 3%;
    width: 96%;
    float: left;
  }
  .selects-container {
    width: 96%;
    margin-top: 2%;
    float: left;
  }
  .label {
    background: none;
    color: $black;
    line-height: inherit;
  }
  select {
    @extend %extend_s2;
    float: left;
  }
  #myPopupDiv {
    height: auto !important;
  }
  .block {
    margin-right: 6%;
    float: left;
    &.select-right.qty-block {
      margin-top: 20px;
    }
  }
  .price-number {
    margin-top: 5px;
  }
  #warning {
    margin-left: 20px;
    color: $red;
    float: left;
  }
  .button-continue-container {
    position: relative;
    vertical-align: top;
    display: table;
    padding: 40px 0;
    margin: 0 auto;
  }
  .red-border {
    border: 1px solid $red;
  }
  .right {
    float: right;
  }
  .add-to-cart {
    @extend %extend_s3;
    &:hover {
      @extend %extend_s4;
    }
    &:focus {
      @extend %extend_s4;
    }
  }
  .continue-shopping-block {
    @extend %extend_s3;
    margin-right: 10px;
    &:hover {
      @extend %extend_s4;
    }
    &:focus {
      @extend %extend_s4;
    }
  }
  #shoppable_magic_select_merchant {
    float: left;
  }
  h1.name {
    @extend %extend_s1;
  }
  p.description {
    color: $color_boulder_approx;
    margin-top: 10px;
    line-height: 1.2em;
    font: normal 12px $font_0, $font_1, $font_2;
  }
}
select::-ms-expand {
  display: none;
}
.viewMyBag {
    width: 550px;
    position: fixed;
    right: 5px;
    top: 114px;
    z-index: 9999999;
    border: 1px solid $color_cararra_approx;
    background: $white;
        @media(max-width: ($screen-sm)) {
            top: 95px;
        }
    .arrowLink {
        position: absolute;
        width: 0;
        height: 0;
        right: 1px;
        top: -14px;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 13px solid $color_cararra_approx;
        z-index: 99999999;
   }
   .breadcrumb{
        font: bold 24px Trebuchet MS;
        padding: 16px 6%;
        border-bottom: 1px solid $color_cararra_approx;
        background-color: #f1f0ee;
        margin: 0px;   
    }
    .bar-btn {
        clear:both;
    }
    .c-btn1 {
        text-transform: uppercase;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        padding: 8px 22px;
        color:darkgray;
        &:hover{
            text-decoration: underline;  
        }
        &:after{
            border-top: 8px solid transparent;
            border-left: 5px solid transparent;
            border-bottom: 7px solid transparent;
            border-right: 9px solid darkgray;
            right: 13%;
            width: 0;
            height: 0;
            content: '';
            display: block;
            position: relative;
            margin-top: -10%;
        }
      }
      .c-btn {
            text-transform: uppercase;
            color: darkgray;
            font-size: 15px;
            line-height: normal;
            font-family: Trebuchet MS,Helvetica,sans-serif;
            font-weight: 700;
            border-color: darkgray;
            border-radius: 0;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            background-color: #fff;
            background-image: none;
            filter: none; 
            padding:8px 17px 10px 10px;
            &:hover{
                background-color: darkgrey;
                color:#fff;
                &:after{
                    border-left: 9px solid #fff;
                }
            }
            &:after{
                border-top: 8px solid transparent;
                border-left: 9px solid darkgray;
                border-bottom: 7px solid transparent;
                border-right: 5px solid transparent;
                left: 105%;
                width: 0;
                height: 0;
                content: '';
                display: block;
                position: relative;
                margin-top: -22%;
        }
    }

  .product_field {
    float: left;
    width: 32%;
  }
  .product_quantity {
    float: left;
    @extend %extend_s6;
  }
  .product_total {
    float: left;
    @extend %extend_s6;
  }
  .detail {
    float: left;
    width: 32%;
  }
  #closeViewBag {
    position: absolute;
    right: 27px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .product-calculation-summary {
    border-top: 2px solid $color_cararra_approx;
    @extend %extend_s7;
    background: $color_gallery_approx;
    .product_quantity {
      width: 40%;
      text-align: right;
    }
    .product_total {
      width: 28%;
      text-align: right;
    }
  }
  .listing {
    height: auto;
    float: none;
    ul {
      margin: 0;
      min-height: 135px;
      max-height: 276px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
  .clr {
    clear: both;
    text-indent: -999999px;
  }
  .loader {
    text-align: center;
    margin: 0 auto;
    min-height: 175px;
  }
  .bar-btn {
    @extend %extend_s7;
    background: $color_gallery_approx;
  }
  .js-close-btn {
    text-decoration: underline;
  }
  .no-product-added-list {
    padding: 40px 0;
    width: 100%;
  }
  ul li {
    border-bottom: 1px solid $color_cararra_approx;
    list-style: none;
    padding: 6% 6% 4%;
    @extend %extend_s7;
    &:last-child {
      border-bottom: none;
    }
  }
}

.c-shopping-checkout {
    .bar-btn{
       clear:both;
       a { 
            margin: 20px 0px 0px 5px;
            &:after{
                position: absolute;
                margin-top: -17px;
                border-top: 8px solid transparent;
                border-left: 5px solid transparent;
                border-bottom: 7px solid transparent;
                width: 0;
                height: 0;
                content: '';
                display: block;
                border-right: 9px solid darkgray;
                margin-left: 9px;
            }
            .txt {
                padding: 0px 25px;
                margin: 0px;
                top: 5px;
                text-transform: uppercase;
                display: inline-block;
                font-size: 16px;
                font-weight: bold;
                /*padding: 8px 22px;*/
                color:darkgray;
                &:hover{
                    text-decoration: underline;  
                }
            }
        } 
    }
    h2{
       padding: 18px 0;
       text-transform: uppercase;
       color:darkgray;
       margin-left:-5px;
    }
    
}

#VirtualProductEdit {
  display: none;
}
.loading {
  width: 100%;
  height: 76%;
  top: 15px;
  left: 0;
  position: absolute;
  display: block;
  opacity: 0.7;
  background-color: $white;
  z-index: 99;
  text-align: center;
}
#loading-image {
  position: absolute;
  top: 0;
  width: 35px;
  left: 0;
  z-index: 100;
  height: 35px;
}
.add-to-bag {
  position: relative;
}
.loader-wrapper {
  position: relative;
}
#virtualProduct-header {
  width: 100%;
  span.clr {
    display: none;
  }
}
#shoppingBag-header {
  float: left;
  width: 100%;
}
.no-product-pdp {
  width: 90%;
  padding: 2% 5%;
  div.main {
    width: 100%;
    position: inherit;
  }
}
.no-product-add-to-cart {
  background-color: $white;
  border: 5px solid $gold;
  border-color: $gold;
  padding: 10px;
  text-align: center;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  color: $color_deep_sapphire_approx;
  bottom: 10px;
  font-size: 12px;
  font-weight: bold;
}
.no-product-added-list {
  width: 100%;
  padding: 124px 0;
  text-align: center;
}
.shopableSection {
  width: 100%;
}
.bws-shoppable-thankyou {
	padding-left: 20px;
	display: inline-block;
}
.bws-sp-tnc {
	text-align: right;
	padding: 20px 0;
	display: inline-block;
}

/* Tablet view */
@media(max-width: 979px) and(min-width: 768px) {
  .no-product-added-list {
    padding: 90px 0;
  }
  .navbar-static-top .nav-collapse {
    clear: inherit;
  }
  .navbar .nav-collapse {
    width: 96%;
  }
}

/* Mobile landscape view */
@media screen and(max-width:767px) {
  #shoppable_magic_v1_pdp_container {
    left: 0;
    width: auto;
    #myPopupDiv {
      height: auto!important;
      width: 90%!important;
      width: 100%;
    }
    .product-pdp {
      padding: 4%;
      width: 92%;
    }
    h1 {
      font-size: 26px;
      line-height: 30px!important;
      &.name {
        margin-top: 0;
      }
    }
    .button-continue-container {
      margin-left: 0;
      text-align: center;
      padding: 2%;
      width: 96%;
      .continue-shopping-block {
        margin-right: 14px;
        margin-bottom: 10px;
        float: inherit;
      }
    }
    .right {
      float: inherit;
    }
    .product-image-container {
      text-align: center;
      width: 30%;
      padding-right: 10px;
      .product-image img {
        max-width: 100%;
      }
    }
    .main {
      width: 66%;
      select {
        width: 100%;
      }
    }
    h2 {
      margin-top: 0;
    }
    .block {
      width: 100%;
    }
    .retailer-block {
      width: 100%;
    }
    .selects-container {
      width: 100%;
    }
    #warning {
      margin-bottom: 10px;
      margin-left: 0;
    }
  }
  .no-product-added-list {
    padding: 90px 0;
  }
  .bws-shoppable-bag {
    .bws-sp-grid-item-detail {
      min-height: 215px;
      .VirtualProductEdit {
        width: 92%;
        padding: 0 4%;
        min-height: 215px;
        select {
          width: 100%;
        }
        li.virtualProduct-items {
          padding: 20px 0;
        }
      }
      section {
        float: right;
        width: 58%;
      }
      .txt {
        display: inline-block;
        padding-right: 5px;
      }
      ul li {
        &.list-items {
          padding: 20px 0;
          min-height: 200px;
          section div:last-child {
            text-align: right;
            font-weight: bold;
          }
        }
        &:first-child {
          border-top: 1px solid $color_cararra_approx;
        }
        .VirtualProductEdit .txt {
          display: block;
          padding-right: 5px;
        }
        &.virtualProduct-items section div:last-child {
          text-align: left;
        }
      }
    }
    .col-str {
      display: none;
    }
    .checkoutwrapper {
      .cntShop {
        display: none;
      }
      .tnc {
        width: 100%;
        width: 100%;
        width: 100%;
      }
      .chkTotal {
        width: 70%;
      }
    }
    .col2 {
      width: 100%;
      padding: 4px 0;
    }
    .col3 {
      width: 100%;
      padding: 4px 0;
    }
    .col4 {
      width: 100%;
      padding: 4px 0;
    }
    .col5 {
      width: 100%;
      padding: 4px 0;
    }
    .col6 {
      width: 100%;
      padding: 4px 0;
    }
    .col7 {
      width: 100%;
      padding: 4px 0;
    }
    .col1 {
      width: 40%;
      margin-right: 0;
      padding: 0;
    }
  }
  .viewMyBag {
    width: 278px;
    right: 0;
    .head {
      text-align: left;
      padding-left: 3%;
    }
    .listing {
      .detail {
        width: 60%;
      }
      .product_field img {
        display: none;
      }
    }
    .bar-btn {
      padding: 3%;
      width: 94%;
    }
    .product_quantity {
      text-align: left;
    }
    .product_total {
      text-align: left;
    }
    ul li {
      min-height: 80px;
    }
  }
  
  .bws-shoppable-btn.pull-right {
    float: inherit;
  }
  .virtualProduct-items section .bws-shoppable-bag .bws-sp-grid-item-detail .VirtualProductEdit select {
    margin: 0;
  }
  form.navbar-form.form-search.pull-right {
    margin-right: 0;
  }
  article .thumbnail .add-to-bag {
    height: inherit!important;
    width: auto;
    margin-top: 10px;
    display: inline-block!important;
  }
}

/* Mobile portrait view */
@media(max-width: 480px) {
  article .thumbnail .add-to-bag {
    float: left;
  }
}
.nav-collapse .navbar-form {
  margin-right: 2%;
}
.navbar .nav-collapse {
  width: 97%;
  float: left;
}
form.navbar-form.form-search.pull-right {
  margin-right: 25px;
}
.single-product-detail .buy-wrapper .buy-in-store {
  margin-right: 0;
}
.virtualProduct-items select {
  @extend %extend_s2;
  padding: 4px 6px;
  background-size: 0 100%, 20px 20px, 20px 20px, 20px 60%;
}
.button-continue-container .bar-btn {
  @extend %extend_s7;
}
.thank-you figure {
  text-align: center;
  margin-top: 18px;
}
div.overl {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background: $color_gravel_approx;
  opacity: 0.9;
}
*.bws-shoppable-bag a {
  cursor: pointer;
}
.bws-sp-grid-item-detail .list-items {
	.size {
		text-align: right;
	}
	.product_quantity {
		text-align: right;
	}
	.product_price {
		text-align: center;
	}
}