.gift-configurator {
	min-height:400px;
}
.c-gift-configurator {
	margin-bottom:40px;
}
.c-gift-configurator__title {
	margin-bottom:40px;
	margin-top:40px;
	
	@media screen and (min-width: $screen-sm) {
       margin-top:100px;
    }
    @media screen and (min-width: $screen-md) {
       margin-top:40px;
    }
    .o-text__heading-2 {
		padding-bottom:20px;
	}
}
.c-gift-configurator__image-wrap {
	position:relative;
	display:inline-block;
	margin:0 auto 20px;
}
.c-gift-configurator__image-label {
	position:absolute;
	top:40%;
	width:100%;
}
.c-gift-configurator__label {
	display:block;
	font-size:24px;
}

.c-form-radio.input-small {
	margin:15px 0 30px;
	
	input[type="radio"]{
		margin-left:0;
		margin-right:10px;
	}
}
.c-gift-configurator__form {
	margin: 40px auto;
}

.c-gift-configurator__form--group {
	margin-bottom: 15px;
}

.c-gift-configurator__form--label {
	font-size: $font-size-h3;
	margin:10px 0;
	font-weight:normal;
	display:block;
}
.c-gift-configurator__form--text {
	position: relative;
}
.c-gift-configurator__form--copy {
	margin:40px 0;
}
.c-gift-configurator__form--desc {
	margin:20px 0;
}
.c-gift-configurator__info {
	text-align:center;
	margin-top:20px;
	padding-bottom:10px;
	.o-btn {
		display:inline-block;
		margin:20px 0;
	}
}
.c-gift-configurator__info--price {
	padding:20px 0;
	font-size:$font-size-h3;
	border-top:solid 1px $gray-light;
	border-bottom:solid 1px $gray-light;
	.o-text__body {
		text-align: center;
		margin:0;
	}
	margin-bottom:40px;
}
.c-gift-configurator__price--wrap {
	margin-bottom:10px;
}
.c-gift-configurator__info--copy {
	display:inline-block;
	vertical-align: middle;
}
.c-gift-configurator__form--imagewrap {
	margin: 15px 0;
}
.character-left {
	position:absolute;
	top:5px;
	right:10px;
}

