.c-country-selector {
    .c-expandcollapse {
        clear: both;
        overflow: hidden;
        margin: 15px 0px;
    }

    .c-expandcollapse__body {
        display: none;

        @media(min-width: $screen-sm) {
            display: block;
        }
    }
    
    &__heading,
    &__slogan {
        text-align: center;
        margin: 15px 0px;
    }
    
    &__brand {
        text-align: center;
        
        &-logo,
        &-quote {
            padding: 10px 0px;
        }
    }
    
    &__wrapper {
        .c-expandcollapse__hidden-link {
            color: $gray;
            padding: 12px 15px 10px;
        }
    }
    
    &__list {
        list-style: none;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    &__item {
        &-region {
            .plus {
                @media (min-width: $screen-sm) {
                    display: none;
                }
            }
        }
        
        @media(max-width: $screen-sm) {
            text-align: center;
        }
        
        &-lang {
            list-style: none;
            margin: 0;
            padding: 0;

            &__link {
                color: $gray;
                display: table;
            }
            
            &__item {
                padding: 10px 0px;    
                
                .c-svg {
                    height: 20px;
                    margin-right: 5px;
                    width: 20px;
                }
                
                .c-language-label {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
}