/*multiple related Tweet Left*/
.c-multiple-related-tweet{
	margin: 40px auto;
}
.multiple-related-tweets-TAB  {
    a {
        text-decoration: none;
    }
	.c-svg.arrow-right {
		height: 9px;
		stroke: $gray;
		stroke-width: 3px;
		float: none;
		margin: 0 10px;
		display: inline-block;
	}
}

.c-multiple-related-tweet__wrapper{
	text-align: center;
	display: block;
	border: 1px solid $hr-border;
}
.c-multiple-related-tweet__tweet-panel{
	padding:15px;
}

.c-multiple-related-tweet__carousel-panel{
	padding:15px 15px 0;
	.c-multiple-related-tweet__desc.o-text__body{
		font-style: italic;
	}
}

.c-multiple-related-tweet__icon{
	margin-bottom: 10px;
	text-align: center;

	.c-svg-twitter{
		margin-left: 15px;
		margin-bottom: 10px;
		display: block;
		margin: 0 auto;
		padding: 0px;
		width: 30px;
		height: 30px;

		@media(min-width: $screen-sm) {
			display: block;
			margin-top: 34px;
		}

	}
}

.c-multiple-related-tweet__carousel{
	padding-bottom: 35px;
	
	@media(min-width: $screen-sm) {
		min-height: 263px;
	}
}
.c-multiple-related-tweet__carousel .o-text__body{
	margin-top: 10px;
}

.o-text__heading-5 {
	text-align: center;
}

.c-multiple-related-tweet__desc.o-text__body{
	margin-top: 20px;
}
.c-featured-tweet__author-details {
	font-size: $font-size-h5;
	margin:15px 0;
}

.c-multiple-related-tweet__image{
	width:100%;
	display: block;
	text-align: center;
	
	img{
		margin: 0 auto;
	}
}

.c-multiple-related-tweet__copy{
	@media(min-width: $screen-sm) {
		margin-top: 15px;
	}
	@media(max-width: $screen-sm) {
		text-align: center;
	}
}

.slick-dots {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 0;
	margin: 0 auto;
    list-style: none;
    text-align: center;
	
	li {
		position: relative;
		display: inline-block;
		width: 30px;
		height: 26px;
		padding: 0 5px;
		cursor: pointer;
		border: 1px solid $silver-light;
		border-width: 1px 0 1px 0px;
		
		&:first-child{
			border-left-width: 1px;
		}
		
		&:last-child{
			border-right-width: 1px;
		}
		
		button {
			font-size: 0;
			line-height: 0;
			display: block;
			width: 20px;
			height: 26px;
			padding: 5px;
			cursor: pointer;
			color: transparent;
			border: 0;
			outline: none;
			background: transparent;
			
			&::before {
				font-size: 0px;
				position: absolute;
				top: 8px;
				left: 10px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				content: "•";
				text-align: center;
				opacity: 0.25;
				border: 2px solid $gray;
			}
		}
		
		&.slick-active {
			button::before {
				background: $gray-light;
				border-color: $gray-dark;
			}
		}
	}
}