.c-product-crossell {
    @media(min-width: $screen-sm) {
        .u-listing-sm-offset-0 {
            margin-left:0;
        }
    }
    margin-bottom:40px;
}
.c-product-crossell__title {
    margin-bottom:40px;
}
.c-product-crossell__product {
    margin-bottom:20px;
}

.c-product-crossell__product--image {
    margin-bottom:20px;
    position:relative;
    .c-product-crossell__tag {
        position: absolute;
        bottom: -20px;
        right: 0;
        margin: 7px 0 0;
    }
}

.c-product-crossell__product--title, .c-product-crossell__tag, .c-product-crossell__product--price {
    margin-bottom:10px;
}

.c-product-crossell__tag--customizable {
    border: solid 1px $gray-lighter;
    padding:3px;
    display:inline-block;
    font-style:italic;
}

