.expand-collapse {

    /* Generic icons for the component*/
    .expanded {
		.glyphicon-chevron-down{
			transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			float: right;
			height: 20px;
			width: 20px;
			margin-top: -40px;
			color:$gray-lighter;
		}
    }

    .collapsed {
		.glyphicon-chevron-down{
			float: right;
			height: 20px;
			width: 20px;
			margin-top: -40px;
			color:$gray-lighter;
		} 
    }



    /* Theme specific changes */

        .expandcollapse-header {

            h3 {
				color:$gray;
                &:before {
                    
                   
                    line-height: $font-size-large;
                    float: right;
                }
            }

            a:active, a:hover, a:focus {
               
                outline: none;
            }
        }

       
        .expandcollapse-body {

            font-size: $font-size-small;
            
            

            p {
                text-align: justify;
            }

            h3 {
                font-size:$font-size-h3;
            }

            a {
                text-decoration: none;
                font-size: $font-size-small;
               
            }

            @media (min-width: $bp-large) {
                font-size: $font-size-small;

                h3 {
                    font-size: $font-size-x-large;
                }

                a {
                    font-size: $font-size-small;
                }
            }

            @media (min-width: $bp-extra-large) {
                font-size: $font-size-small;

                h3 {
                    font-size: $font-size-x-large;
                }

                a {
                    font-size:$font-size-small;
                }
            }
        }
}