#rr-lightbox ::-webkit-input-placeholder {color: #ccc;}
#rr-lightbox :-moz-placeholder {color: #ccc;}
#rr-lightbox ::-moz-placeholder {color: #ccc;}
#rr-lightbox :-ms-input-placeholder {color: #ccc;}
.rr-widget-container textarea, #rr-lightbox textarea,
.rr-widget-container input[type="text"], #rr-lightbox input[type="text"],
.rr-widget-container input[type="button"], #rr-lightbox input[type="button"],
.rr-widget-container input[type="submit"], #rr-lightbox input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}

/* R&R Widget */
.rr-widget-container{clear:both; color: #333; font-size: 16px; font-family: 'din_funmonger_mediumregular', Arial, Helvetica, sans-serif; font-weight: 400; line-height: 1.5em; margin: 0; position: relative; padding: 0;}
.rr-product-reviews{background: #fff; /*max-width: 1180px;*/ margin: 0 auto; position: relative;}
.rr-widget-container h1,
.rr-widget-container h2,
.rr-widget-container h3,
.rr-widget-container h4,
.rr-widget-container h5,
.rr-widget-container h6{font-weight: 400; font-family: inherit; margin: 0; padding: 0;}

.rr-widget-container a{text-decoration: none; color: inherit;}
.rr-widget-container a:hover{text-decoration: underline;}

/* Headings */
.rr-heading-2{font-size: 1.8em;}
.rr-heading-3{font-size: 1.4em;}

/* Star Ratings */
.rr-widget-container .wRtng{font-size: 1.125em; margin-left:5px; text-decoration: underline;}
.rr-widget-container .wRtng:hover{text-decoration: none;}
.rr-widget-container .aggregateRating{float: left;}
.rr-inline-widget .aggregateRating{float: none; display: inline-block; vertical-align: top;}
.rr-inline-widget{font-size: 1.125em;}
.rr-widget-container .aggregateRating div, .aggregateRating img{display: block; margin-top: 0; padding: 0; vertical-align: baseline;}
.rr-widget-container .aggregateRating > div + div{margin-top: -25px; overflow: hidden;}
.rr-widget-container .aggRtng, .rr-widget-container .tRtng {font-size: 1.125em; font-weight: 700; line-height: 1.55em; margin-left: 16px}
.rr-inline-widget .aggRtng, .rr-inline-widget .tRtng, .rr-inline-widget .wRtng{font-size: 1em;}
.rr-widget-container .tRtng{margin-left: 3px;}
.rr-widget-container .pdRating{cursor: pointer;}

.rr-star-percentage .aggregateRating{position: relative;}
.rr-star-percentage .aggregateRating > div + div{left: 0; margin-top: 0; position: absolute; top: 0;}

/* Show Reviews Section */
.rr-product-reviews h2{font-size: 2.25em; padding: 15px 0;}
.rr-product-reviews .averageRingBlock{background: #f4f4f4; margin: 15px 0 0; padding: 30px 40px; position: relative;}
.rr-product-reviews .averageRingBlock h3{font-size: 1.5em; padding: 0 0 20px;}
.rr-product-reviews .average-rating{padding: 0 0 10px;}
.rr-product-reviews .total-reviews{font-size: 1.125em;}
.rr-product-reviews .total-reviews span{font-size: 1.111em; margin-left: 6px;}
.rr-product-reviews .total-reviews .aggRtng{background: url(../images/divider.png) no-repeat 100% 50%; padding: 0 21px 0 19px; margin: 0 14px 0 0;}
.rr-product-reviews .write-review-btn, .rr-button{background: #333; color: #fff; font-size: 1.125em; position: absolute; top: 45px; right: 40px; padding: 13px 22px; text-decoration: none;}
.rr-product-reviews .write-review-btn:hover, .rr-button:hover, .rr-button:focus{background: #555; text-decoration: none;}
.rr-product-reviews .write-review-btn[disabled], .rr-button[disabled], .rr-button[disabled], .rr-submission-form .rr-button[disabled]{background: #999; cursor:default;}

/* Reviews */
.rr-widget-container .review-block{border-top: 1px solid #b5b5b5; padding: 38px 40px 34px; clear: both; overflow: hidden; position: relative; word-wrap:break-word;}
.rr-widget-container .review-leftBlock{float: left; margin: 0; width: 29%;}
.rr-widget-container .review-rightBlock{float: right; min-height: 44px; padding: 0 0 62px; position: relative; width: 69%;}
.rr-widget-container .review-block h3{clear: both; font-size: 1.5em; margin:0 0 11px; padding:0;}
.rr-widget-container .review-block p{margin: 0 31% 0 0;}
.rr-widget-container .rating-container{margin:0;}
.rr-widget-container .reviewDate{font-size: 1.125em; position: absolute; right: 40px; top: 42px;}
.rr-widget-container .reviewer-name{clear: both; color: #666; font-size: 1.125em; margin: 0 0 24px;}
.rr-widget-container .socialBtn{color: #666; position: absolute; bottom: 0; right: 0;}
.rr-widget-container .socialBtn span{cursor: pointer; margin: 0 0 0 10px;}
.rr-widget-container .socialBtn img{border:0;}
.rr-widget-container .feedback-container {color: #666; position: absolute; bottom: 0; margin: 0; left: 0; background: url(../images/repeat.png) repeat-x 0 -1000px;}
.rr-widget-container .helpful{background:url("../images/icons.png") no-repeat 0 -91px; margin: 0 0 0 16px; padding: 0 0 0 23px;}
.rr-widget-container .un-helpful{background:url("../images/icons.png") no-repeat 0 -118px; margin: 0 0 0 27px; padding: 0 0 0 23px;}
.rr-widget-container .report-btn{background:url("../images/icons.png") no-repeat 21px -148px; padding: 0 0 0 41px;}
.rr-widget-container .feedback-container dd + dd{background: url(../images/divider.png) no-repeat 0 50%; margin:0 0 0 29px;}
.rr-widget-container .rr-disabled{color:#ccc;cursor: default;text-decoration:none}
.rr-widget-container .rr-disabled:hover, .rr-widget-container .helpful:hover, .rr-widget-container .un-helpful:hover{text-decoration:none}
.rr-widget-container .helpful.rr-disabled{background-position: 0 -172px}
.rr-widget-container .un-helpful.rr-disabled{background-position: 0 -200px}
.rr-widget-container .report-btn.rr-disabled{background-position: 21px -230px}
.rr-widget-container .average-rating > span{float: left;}
.rr-widget-container .reviewer-name + strong{float: left; margin:0 10px 0 0;}
.rr-widget-container .feedback-container dt, .rr-widget-container .feedback-container dd{float: left; margin:0;}
.rr-badge-text{display: block; font-size: 0.9em; font-style: italic; margin: 0 31% 0 0;}

/* Filter and Sorting */
.rr-widget-container .sort-container{font-size: 1.125em; padding: 29px 0 40px; text-align: right;}
.rr-widget-container .sort-container span{color: #666;}
.rr-widget-container .sort-container select{border: 1px solid #999; font-size: 1em; font-family: inherit; color: inherit; padding: 6px 10px; margin: 0 0 0 18px; width: 280px;}
.rr-widget-container.rr-no-reviews .sort-container{display:none;}

/* Pagination */
.rr-widget-container .paging{text-align: center; padding: 0 ; margin: 0 ; border-top: 1px solid #b5b5b5;}
.rr-widget-container .paging-links{display: inline-block;}
.rr-widget-container .paging a, .rr-widget-container .rr-paging-data{display: inline-block; font-size: 1.125em; height: 24px; margin: 0 5px; min-width: 10px; padding: 3px 10px; text-align: center; vertical-align: top;}
.rr-widget-container .paging a.current-page{background: #333; color: #fff; font-weight: bold;cursor:default}
.rr-widget-container .paging a.current-page:hover{text-decoration: none;}

.rr-widget-container .paging-links .rr-paging-data, .rr-widget-container .rr-short-pagingnav .paging-links a{display: none;}
.rr-widget-container .rr-short-pagingnav .rr-paging-data{display: inline-block;}
.rr-paging-data small{font: inherit;}

.rr-widget-container .paging a.prev{background:url("../images/icons.png") no-repeat 5px -274px;}
.rr-widget-container .paging a.next{background:url("../images/icons.png") no-repeat 5px -321px;}
.rr-widget-container .paging a.prev.disable{cursor: default; background-position: 5px -370px;}
.rr-widget-container .paging a.next.disable{cursor: default; background-position: 5px -415px;}

/* Report Review */
.rr-widget-container .reported{font-style: italic;}

/* lightbox  */
#rr-overlay{background-color: rgba(255,255,255,0.8);height:120%;left:0;position:fixed;top:0;width:100%;z-index: 9998;background: url(../images/overlay.png) repeat 0 0\9;}
#rr-lightbox{color: #333; font-size: 16px; font-family: 'din_funmonger_mediumregular', Arial, Helvetica, sans-serif; font-weight: 400; line-height: 1.5em;height:100%;left:0;position:absolute;top:0;width:100%;z-index: 9999;}
#rr-lightbox a{color: inherit; text-decoration: underline;}
.rr-modalWidowcontent{background-color:#fff;border: 1px solid #ccc; padding: 37px 79px 70px;-webkit-border-radius: 10px;-moz-border-radius: 10px; border-radius:10px;position: relative;overflow: hidden;}
a.closeButton {background:url("../images/icons.png") no-repeat right -58px;cursor:pointer;height:20px;position:absolute; right:33px; top:34px;text-indent:-90000px;width:20px; z-index:2;}
#rr-lightbox .rr-Form{max-width: 820px;margin:30px auto;}
#rr-lightbox .rr-Form #content{overflow-y:auto }
#rr-lightbox .rr-alertBox{width: 320px;height: 200px;margin:0 auto;top: 200px;}
#rr-lightbox .rr-alertBox h3{margin-top:20px;text-align: center}

/* Product Info Sidebar */
.rr-product-info{float: left; width: 30%;}
.rr-product-image{margin: 28px 0 17px; text-align: center;}
.rr-product-image img{border:0; display: inline; max-width: 100%;}
.rr-product-info .rr-heading-3{color: #666; font-size: 1.125em; font-weight: 400; line-height: 1.25em; margin: 0; padding: 0 10px; text-align: center;}

/* Review Secion Form */
.rr-review-section{float: right; width: 67%;}
.rr-submission-form{padding: 0 0 20px;margin:21px 0 0}
.rr-box-wrapper .rr-heading-2{font-size: 1.5em; font-weight: 400; margin: 0; padding: 30px 0 36px; text-align: center; border-bottom: 1px solid #ccc;}
.rr-fieldset{border: 0; border-bottom: 1px solid #ccc; margin: 0; padding: 0 0 35px;}
.rr-review-section>ul{margin: 0; padding: 0;}
.rr-review-section>ul>li{border: 0; clear: both; margin: 0 0 17px; list-style: none; overflow: hidden; position: relative;}
.rr-review-section .rr-label, label.myStarRating{color: #666; float: left; margin: 9px 3% 11px 0; position: relative; text-align: right; width: 24%;}
.rr-review-section>ul>li.rr-submit-rating{margin-bottom: 19px; padding-top:20px; background: url(../images/repeat.png) repeat-x -1000px -1000px;}
.rr-review-section>ul>li.rr-button-container{overflow: hidden;}
.rr-review-section>ul>li.rr-button-container:hover{background: none;}

/* Form Fields */
.rr-text-field{border:1px solid #999; font: inherit; float: left; margin: 0; padding: 7px 2.5%; width: 67%;}
.rr-textarea{border:1px solid #999; padding: 10px 2.5%; display: block; width: 67.3%; margin: 0; height: 128px;font-size: 12px; font: inherit; resize:none;}
.rr-text-field:focus, .rr-textarea:focus{border-color: #000;}
.rr-submission-form .rr-button{border: 0; float: right; font:inherit; font-size: 1.125em; cursor:pointer; margin: 30px 0 0; position: static;}
.rr-submission-form .rr-termandconditions{float: none; display: block; margin: 0 0 0 27%; text-align: left; width: auto;}
.rr-submission-form .rr-termandconditions input[type="checkbox"]{width: 18px; height: 18px; vertical-align: top;}
.rr-mandatory{color: #cc3333;}
label .rr-mandatory{position: absolute; right: -8px; top: 0;}
.sucessMsg{position:fixed; bottom:0; right:5px; padding:40px; background-color:#FFFB00; display:none; font-weight:bold}
.rr-info-text{clear: both; font-size: 0.75em; color: #999; display: block; margin: 0 0 7px 27%;}

/* Post Star Ratings */
.postReviewStarRating .starRatingsContainer {display:inline-block; margin: 8px 0 0; overflow: hidden;position: relative; vertical-align:middle;}
.postReviewStarRating .starRatingsContainer ul{margin: 0; padding: 0;}
.postReviewStarRating .starRatingsContainer ul li {background: url("../images/rating-small.png") no-repeat scroll 0 center;cursor: pointer;float: left;height: 25px;list-style: none; margin: 0 8px 0 0; width: 25px;}
.postReviewStarRating .starRatingsContainer ul li.hover {background: url("../images/rating-highlight-small.png") no-repeat scroll 0 center;}
.postReviewStarRating .starRatingsContainer ul li:focus{border:1px dotted;}
.postReviewStarRating{vertical-align:middle;}

/* Give Star Rating */
.rr-submit-rating .rr-label{float: left;}
.rr-submit-rating .rr-star-rating{float: left; margin: 0 20px;}
.rr-submit-rating .rr-field-info{font-size: inherit; left: 59%; position: absolute; top: 31px; vertical-align:middle;}

.rr-box-wrapper .rr-error-holder{background-color: #f4f4f4;color: #FF0000;display: none;margin:15px 0 0;padding: 18px 20px;line-height:1.3em;}
.rr-box-wrapper .rr-error-holder span{color:#333;margin-bottom:10px; margin-bottom:5px; display:block;}

/* Close Button */
.rr-close-button{position: absolute; top: 10px; right: 10px;}

.rr-product-reviews .morelink{cursor: pointer; font-weight: 700;}

/* Response block */
.rr-review-response{clear: both; float: right; margin: 20px 3% 0 0; position: relative; width: 63%;}
.rr-review-response h5{font-size: 1em; margin: 0 35% 5px 0;}
.rr-review-response p{border-top: 1px solid #b5b5b5; font-size: 0.95em;}
.rr-widget-container .review-block .rr-review-response p{margin: 0}
.rr-review-response .responseDate{font-size: 0.95em; position: absolute; right: 0; top: 0;}
.rr-review-response .responseDate small{font-size:inherit; color:#b1b8c1;}

#rrRatingLoader{vertical-align: middle;}

/* Read Panel : Type-6 */
.averageRingBlock2 .think-text{ line-height:55px; font-size:1.125em}
.averageRingBlock2 .aggRtng{float:left; font:72px/72px arial; margin-right:15px;}
.averageRingBlock2 .pdRating{ display:inline-block}
.averageRingBlock2 .right-section{ float:left; margin-top:15px;}
.averageRingBlock2  .aggregateRating{  float:none;}
.averageRingBlock2 .average-rating{ float:left}
.averageRingBlock2 .right-review-area{ float:right; width:50%;padding:12px 0px; text-align:right; border-left:1px solid #ccc}
.averageRingBlock2  .right-review-area .write-review-btn { position:inherit !important; margin-left:10%;}
.clearfix:after{ clear:both; content:'';height:0; width:100%; display:block; line-height:0 }

/* Ipad Breakpoint */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #rr-lightbox .rr-Form{margin: 30px; padding: 30px;}
    .rr-submit-rating .rr-field-info{left: 62%;}
    .rr-submit-rating .rr-field-info{left: 66%;}
    .rr-widget-container .review-leftBlock{width: 34%;}
    .rr-widget-container .review-rightBlock{width: 65%;}
    .rr-widget-container .review-block p{margin-right: 37%;}
    .rr-widget-container .reviewDate{font-size: 1em;}
    .rr-review-response{width: 59%;}
    .averageRingBlock2 .right-review-area .write-review-btn{margin-left:0}
}
/* Mobile Breakpoint */
@media only screen and (max-width: 767px) {
    .rr-widget-container{margin: 20px; line-height: 1.25em;}
    .rr-product-reviews .averageRingBlock{padding: 16px 16px 20px;}
    .rr-product-reviews h2{text-align: center; font-size: 1.875em;}
    .rr-product-reviews .averageRingBlock{text-align: center; margin-top:7px;}
    .rr-product-reviews .averageRingBlock h3{font-size: 1.25em; padding-bottom: 13px;}
    .rr-product-reviews .write-review-btn, .rr-button{position: static; display: block; padding: 15px 22px;}
    .rr-widget-container .averageRingBlock .aggregateRating{float: none; margin: 0 auto; width: 158px;}
    .rr-star-percentage .averageRingBlock .aggregateRating{display: inline-block; width: auto;}
    .rr-product-reviews .total-reviews{margin: 8px 0 0;}
    .rr-product-reviews .total-reviews .aggRtng{padding-left: 0}
    .rr-widget-container .sort-container{text-align: center; padding: 20px 0;}
    .rr-widget-container .sort-container select{width: 70%; margin-left: 5px;}
    .rr-widget-container .review-block{padding: 26px 0;}
    .rr-widget-container .review-leftBlock, .rr-widget-container .review-rightBlock{width: auto; float: none;}
    .rr-widget-container .reviewer-name{float: left; font-size: 1em; margin: 0;}
    .rr-widget-container .reviewDate{border-left:2px dotted #ccc; color: #666; font-size: 1em; position: static; float: right; margin: 0 0 0 20px; padding: 0 0 0 20px;}
    .rr-widget-container .rating-container{clear: both; padding: 7px 0 0;}
    .rr-widget-container .feedback-container dd + dd{background:none; margin: 0; text-align: right;}
    .rr-widget-container .helpful, .rr-widget-container .un-helpful{width: 35px; display: inline-block;}
    .rr-widget-container .un-helpful{margin: 0;}
    .rr-widget-container .review-block h3{font-size: 1.25em;}
    .rr-widget-container .socialBtn{position: static; clear: both; margin: 20px 0 0;}
    .rr-widget-container .socialBtn span{margin: 0 0 0 30px;}
    .rr-widget-container .feedback-container{position: static; overflow: hidden; background-position: 0 0; padding: 20px 0 0; margin: 14px 0 0; width: 100%;}
    .rr-widget-container .review-rightBlock{padding: 13px 0 0;}
    .rr-widget-container .report-btn{border: 0; margin-left: 0; padding: 0 0 0 18px; background-position: -2px -148px;}
    .rr-widget-container .report-btn.rr-disabled{background-position: -2px -230px;}
    .rr-widget-container .review-block p{margin: 0;}
    .rr-modalWidowcontent{padding: 15px;}
    #rr-lightbox .rr-Form{margin: 20px; padding: 15px 15px 28px;}
    .rr-box-wrapper .rr-heading-2{font-size: 1.25em; padding: 12px 48px 26px;}
    a.closeButton{right: 15px; top: 14px;}
    .rr-review-section, .rr-product-info{width: 100%;}
    .rr-product-info{border-bottom: 1px solid #ccc;}
    .rr-product-info .rr-heading-3{font-size: 0.938em; padding: 0 20px 33px;}
    .rr-review-section .rr-label, label.myStarRating{float: none; display: block; margin: 0; padding-bottom: 3px; text-align: left; width: 100%;}
    .postReviewStarRating{text-align: center;}
    .rr-submit-rating .rr-field-info{position: static; display: block; text-align: center; margin: 12px 0 0;}
    .rr-review-section > ul > li.rr-submit-rating{background-position: 0 100%; padding: 26px 0 26px;}
    label.myStarRating{text-align: center; font-size: 1.25em; color: #333;}
    .rr-text-field, .rr-textarea{float: none; width: 86%; padding: 12px 6.5%;}
    .rr-submission-form{margin: 34px 0 0; padding-bottom: 0;}
    .rr-info-text{margin: 12px 0 0; line-height: 1.25em;}
    .rr-submission-form .rr-termandconditions{font-size: 0.813em;}
    .rr-termandconditions .rr-label-text{display: block; line-height: 1.25em; padding: 0 0 0 40px;}
    .rr-review-section > ul > li.rr-button-container{border-top: 1px solid #ccc; margin-top: 27px; padding:26px 0 0;}
    .rr-submission-form .rr-termandconditions input[type="checkbox"]{float: left; width: 25px; height: 25px;}
    .rr-fieldset{border: 0; padding-bottom: 0;}
    .rr-submission-form .rr-button{display: block; float: none; margin: 6px 0 0; width: 100%;}
    .rr-product-image{display: none;}
    label .rr-mandatory{position: static;}
    #rr-lightbox .rr-alertBox{width:auto; height: 200px;margin:0 20px;top:20px}

    .rr-review-response{width: auto; float: none;}
    .rr-review-response p{clear: both;}
    .rr-widget-container .review-block .rr-review-response p{margin: 5px 0 0; padding: 5px 0 0;}
    .rr-review-response .responseDate{position: static; clear: both; font-size: 0.9em;}
    .rr-review-response h5{margin-right: 0;}
    .averageRingBlock2 .aggRtng{margin-left:0; margin-right:5px;font-size:2.5em}
    .averageRingBlock2 .right-section{text-align:left}
    .averageRingBlock2  .average-rating{border-bottom:1px solid #ccc;}
    .averageRingBlock2 .right-review-area{width:100%; border-left:0; text-align:center}
    .averageRingBlock2 .right-review-area .write-review-btn{ margin:0 auto;}
}
