.c-smart-label-wrap {
		
	@media(max-width: $screen-sm) {
		padding:0;
	}

	select.c-dropdown__select {
		width: 50%;
	}
	.o-smart-label-logo {
		width:166px;
		height:35px
	}
	.o-btn-smart-label {
		margin: 30px 0;
	} 
	.c-expandcollapse {
		float: none;
        margin: 0 auto;
        overflow: hidden;
		@media(min-width: $screen-sm){
			max-width:67%;
			margin:0 auto;
		}	
	}
	.o-text__heading-3 {
		font-size: 20px;
	}
    .o-text__productName {
        font-size: 20px;
        text-decoration: none;
        color: #000;
        cursor: pointer;
    }
    .o-text__productName:hover {
        text-decoration: underline;
        color: darkgrey;
    }
	.c-smart-label__description {
		margin: 0 auto;
  		margin-bottom: 25px;
	}
	h1, h2, h3 {
		margin-top: 15px;
    	margin-bottom: 15px;
	}
	.c-expandcollapse__title, .c-expandcollapse__body {
		padding-right: 5px;
	}
	.o-smart-label__details {
  		text-align: center;
  		margin: 0 auto;
  		width: 100%;
	}
	.c-smart-label__price {
  		margin-bottom: 25px;
	}
	.c-smart-label__price span {
  		padding: 0 2px 0 2px;
	}

	@media (min-width: 768px) {
  		.o-smart-label__details {
    		width: 60%;
  		}
	}
	@media (min-width: 992px) {
		.o-smart-label__details {
    		max-width: 45%;
  		}
	}	
	@media screen and (max-width: 767px) and (min-width: 320px) {
		.c-smart-label-wrap .o-text__heading-3 {
			font-size: 22px;
		}
		.c-smart-label-wrap .o-smart-label-logo {
			width: 30%;
		}
	}
}