/* MODAL*/

.o-modal {
    background: rgba(255, 255, 255, .9);
    width: 100%;
    height: 100%;
    display: none;
    zoom: 1;
    top: 0;
    left: 0;
    padding: 0;
    position: fixed;
    z-index: 26;
    @include transform(translateZ(1px));
    -webkit-overflow-scrolling: touch;

    &-content {
        padding: 0;
        border-top: 0;
        border-bottom: 0;
        cursor: pointer;
        position: relative;
        white-space: nowrap;
        overflow: scroll;
        overflow-x: scroll;
        width: 100%;
        height: 100%;
        @include transform(scaleX(1));
        -ms-overflow-style: none;

        @media(min-width: $screen-md) {
            height: 100%;
            width: 100%;
            background-position: center center;
        }
    }

    &-nav, &-slider-nav {
        position: fixed;
        top: 50%;
        width: 50px;
        height: 90px;
        z-index: 5;
        display: block;
        stroke: $gray-light;
        background-color: $color-white;
        @media(min-width: $screen-md) {
            background-color:transparent;
        }

        svg {
            margin: 25px auto;
            display: block;
            width: 18px;
            height: 40px;
            text-align: center;
        }
        &.o-modal-nav--prev, &.o-modal-prev {
            left: 20px;
        }
        &.o-modal-nav--next, &.o-modal-next {
            right: 20px;
        }
    }
    &-image {
        position: absolute;
        background-repeat: no-repeat;
        background-size: auto 95%;
        background-position: center;
        cursor: url('../images/animations/zoom-close.png'), not-allowed;
    }
}

.c-zoom-modal .o-modal-content {
     @media(min-width: $screen-md) {
        overflow-x: hidden;
     }
}
