.content-results-grid {
    clear: both;

    .grid-header {
        h2 {
            text-transform: uppercase;
            margin-top: 35px;
            padding-bottom: 10px;
            margin-bottom: 14px;
        }
    }

    .sortby {
        text-align: right;
    }

    .total-res {
        padding-top: 3px;
    }

    .grid-body-section {
        clear: both;
        padding-top: 4px;
    }

    .article-container {
        margin: 0;
    }

    .thumbnail {
        border-radius: 0;
        padding: 0;
        margin-bottom: 0;

        img {
            width: 100%;
        }
    }

    article {
        padding: 20px 10px;
    }

    @media (max-width: $bp-large) {
        .hide-mobile {
            display: none;
        }

        .hide-large-device {
            display: block;
        }
    }

    @media (min-width: $bp-large) {
        .hide-large-device {
            display: none;
        }

        .hide-mobile {
            display: block;
        }
    }

    .dropdown-menu {
        min-width: 108px;

        @media (min-width: $bp-large) {
            min-width: 130px;
        }
    }

    .caption {
        padding: 1.5% 3% 22px;

        p {
            margin: 0 0 6%;
        }
    }

	.thumbnail {

		.thumbnail-arrow {
			top: -17px;
			left: 10%;
			font-size: 22px;
		}
	}
	.caption {

		h4 {
			margin: -20px 0 9px;
		}

		p {
			margin: 0 0 6%;
		}
	}

	ul.dropdown-menu {
		margin-top: 0;
		padding: 6px 0;

		li > a{
			text-align: left;
		}
	}
	
	.btn-group {
		button {
			height: 24px;
			padding-top: 3px;
            line-height: 1em;

			@media (min-width: $bp-large) {
				width: 130px;
			}

            .selected-sort-key {
                float: left;

            }

            .caret {
                float: right;
                margin-top: 7px;
            }
		}
	}
}
