.is-hero-launch-video {
    .c-hero-play {
        content: "";
        display: block;
        width: 100%;
        min-width: 320px;
        height: 100%;
        position: absolute;

        top: -30px;
        .c-hero-variation-article & {

            top: 0;
        }
        @media (max-width: $screen-xs-max) {
            top:0;
        }
        background: url(../svgs/play-video.svg) center no-repeat;
        background-size: 90px;
        z-index: 6;
        cursor: pointer;

        @media (max-width: ($screen-sm - 1)) {
            background-size: 60px;
        }
    }
}
.c-hero-copy {

    text-align: center;
    margin-top: 15px;
    overflow: hidden;

    .c-hero-article-container {
        height: 0;

        .o-hero-article {

            margin-bottom: 0;
            padding-bottom: 20px;
        }
    }

    .o-text__heading-1 {

        line-height: 40px;
        margin-bottom: 20px;
    }

    .o-text__tight {
        font-size: 16px;
    }

    .c-hero-variation-article2 & {
        margin: 0 10% 40px 10%;
    }

    .c-hero-variation-article2 & .o-text__heading-1 {

        @media (min-width: $screen-sm) {
            text-align: left;
        }
    }
}
.o-hero-article {
    margin-bottom: 20px;
    .c-hero-variation-article &,.c-hero-variation-article2 & {
        height: auto;
    }
    .c-hero-variation-article & {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 0;
        @media (min-width: $screen-md) {
            text-align: left;
        }

    }

    .c-hero-variation-article2 & {
        @media (min-width: $screen-sm) {
            text-align: left;
        }
    }
}
.hub-page{
    .o-hero-article{
        font-size: $font-size-large;

    }
}

