.c-expandcollapse {
	border-color:$gray-lighter;
	@extend .o-content-wrapper__in;
	-webkit-backface-visibility: hidden;
}

.c-expandcollapse__link, .c-expandcollapse__link:hover, .c-expandcollapse__link:focus, .c-expandcollapse__body {
	color:$gray;
	text-decoration:none;
	padding:15px 15px 18px;
}

.c-svg.plus {
	fill: $brand-primary;
	stroke: $brand-primary;
}
.c-expandcollapse__body {
	padding-top:0;
}
.c-expandcollapse__desc {
    font-size: $font-size-h4;
    line-height: 26px;
    color: $gray;
    
	@include u-margin-tb(10px, 20px);
	h3, h4, strong {
		font-size: $font-size-h4;
	}
	h3 {
		line-height: 22px;
	}
	p {
		margin:0;
		padding:0;
	}
}