.o-global-search {
  padding: 0;
  margin: 0;

  .o-modal {
    background-color: $bg-blue-overlay;
    z-index: 2;
    
    &-content {
      overflow: hidden !important;
    }

    &-header {
      padding: 0;
      padding-top: 200px;
      
      .c-search-logo {
        display: none;
      }
    }

    &-body {
      max-width: 407px;
      margin: 0 auto;
      display: block;
      
      &:after {
        clear: both;
        content: '';
        display: block;
      }
    }

    .c-global-search {
      margin: 0 auto;
      float: none;
      width: 100%;

      &__form {
        display: block;
        margin: 0 auto;
        margin: 0;
        max-width: 1170px;
        padding: 0;
      }

      &__wrapper {
        display: block;
        float: none;
        margin: 0 !important;
        padding: 0;
        position: relative;
        width: 100%;
        
        button {
          background-color: transparent !important;
          background-position: center;  
          border-radius: unset;
          border: 0;
          height: 43px !important;
          left: unset;
          position: absolute;
          padding: 0;
          right: 0;
          top: 0;

          &.o-btn--ternary {
            font-size: 0;
            overflow: visible;

            &:before {
              color: $font-hightlight;
              content: "\e631";
              font-family: 'icomoon';
              font-size: 22px;
              font-style: normal;
              font-variant: normal;
              font-weight: normal;
              right: 50%;
              line-height: 43px;
              position: absolute;
              speak: none;
              text-transform: none;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }

          &.o-btn-search {
            display: none !important;
          }
        }

        &:after {
          clear: both;
          content: '';
          display: block;
        }
      }
      
      //Input
      .twitter-typeahead {
        width: 100%;

        .tt{
          &-menu {
            padding: 0;
            margin: 0;
            width: 100%;
          }

          &-suggestion {
            background: $sugestion-search-bg;
            border-bottom: 1px solid $sugestion-border-bottom;
            box-sizing: border-box;
            height: 44px;
            line-height: 43px;
            margin: 0;
            padding: 0;
            vertical-align: top;
            width: 100%;

            p {
              color: $font-hightlight;
              font-family: $font-family-sans-serif;
              font-size: 18px !important;
              line-height: 43px;
              padding: 0;
              padding-left: 19px;
              width: 100%;
            }
          }
        }
      }

      &__textbox {
        background-color: $color-white;
        border: 0;
        box-shadow: none;
        font-size: 18px !important;
        height: 43px;
        line-height: 43px;
        margin: 0;
        padding: 0;
        padding-left: 19px;
        width: 100%;
      }

      //Close Button
      .o-btn--close {
        top: 35px;
        padding: 0;
        right: 25px;
      }

      &__close {
        width: 31px;
        height: 31px;
        stroke: $color-white;
        stroke-width: 4px;
      }
    }
  }
}

//MOBILE
@media screen and (max-width: 767px) {
  .o-global-search {
    .o-modal {
      &-header {
          padding-top: 19vw; //rever
      }

      .c-global-search {
        &__wrapper {         
          button {
            &.o-btn--ternary {

              &.hidden-xs {
                display: inherit !important; 
              }
              &:before {
                font-size: 20px;
              }
            }
          }
        }
      
        //Close button
        .o-btn--close {
          top: 4.6875%;
          right: 4.6875%;
        }

        &__close {
          height: auto; //rever
          min-width: 30px;
          max-height: 40px;
          stroke-width: 4px;
          stroke: $color-white;
          width: 6.71875%;
        }
      }
    }
  }
}
