@import "global-search-default";

.c-search-logo {
	margin:20px auto;
	display:block;
	@media(min-width: $screen-sm) {
		float:left;
		margin:0 20px 0 0;
	}
	line-height:35px;
	img {
		width:40px;
	}
}
.c-global-search {
	margin-top:0;
	min-height:800px;
	@media(min-width: $screen-sm) {
		float:none;
		margin:60px auto 0;
		min-height:600px;
	}
	.o-text__heading-3 {
		font-size:$font-size-h3;
		text-transform: none;
		line-height:normal;	
		text-align:center;
		font-weight:normal;
		@media(min-width: $screen-sm) {
			text-align: left;
			font-size:$font-size-h2;
		}
	}
	.c-global-search__wrapper {
		&.form-group {
			margin:0 10px;
		}
	}
	.js-btn-search {
		margin-top:0;
	}
}
