.c-pagination {
	text-align: center;
	&-list {
		list-style: none;
	}
	&-item {
		display: inline-block;
	}
	&-item {
		&--prev {
			margin-right: 20px;
		}
		&--next {
			margin-left: 20px;
		}
	}
	.page {
		&-next, &-prev {
			width: 12px;
			height: 9px;
			stroke: $gray;
			stroke-width: 3px;
		}

		&-first, &-last {
			width: 10px;
			height: 9px;
		}
	}
}