.c-product-listing__info {
    width:100%;
    padding:20px;
}
.js-btn__info.is-active {
	background-color: $btn-secondary-bg-hover
}
.js-btn__info.is-active ~ .c-product-listing__info-wrap-arrow {
	opacity: 1;
}
.c-product-listing__info--nav {
	border-bottom:solid 1px $gray-pale;
	margin-bottom:20px;
}
.c-product-listing__info--nav__list {
	padding:0;
	margin:40px 0;
}
.c-product-listing__info--nav__item {
	list-style:none;
	display:table-cell;
}
.c-product-listing__info--nav__link {
	padding:15px 30px;
	border:solid 1px $gray-pale;
	&.is-active {
		background-color: $btn-secondary-bg-hover
	}
}
.c-product-listing__info-item__ni {
	margin-bottom: 40px;
}
.c-product-info__table, .c-product-info__table th, .c-product-info__table td {
	border:solid 1px $gray-pale;
	padding:5px;
}