.js-btn-search {
	top:15px;
	@media(min-width: $screen-sm) {
		top:0;
	}
}
.o-global-search {
	.container {
		padding:0;
	}
}

.c-global-search__wrapper {
	&.form-group {
		margin:0;
	}
}
.c-global-search__textbox, .twitter-typeahead {
	width:100%;

	@media(min-width: $screen-sm) {
		width:79%;
		padding-left:0;
	}
}
.c-inline-search {
	.c-global-search__textbox, .twitter-typeahead {
		@media(min-width: $screen-md) {
			width:84%;
		}
	}
	.tt-suggestion {
		margin:0 15px;
	}
	.tt-dataset {
		background:$color-white;
	}
	.tt-menu {
		background:$color-white;
		border: solid 1px #ccc;
		border-top: 0 none;
	}
	.o-btn {
		min-width: inherit;
		z-index:9;
		margin-top:0;
	}
	.o-btn-clear-search {
	    margin-top:0;
	    @media(min-width: $screen-md) {
			right:15%;
		}
	}
}

.twitter-typeahead {
	.c-global-search__textbox {
		width:100%;
		padding-left:30px;
		padding-right:30px;
		@media(min-width: $screen-sm) {
			padding-left:0;
			padding-right:40px;
		}
	}

	@media(min-width: $screen-sm) {
		float:left;
	}
}
.c-global-search__textbox {
    font-size: $font-size-h2;
    line-height: 36px;
	text-transform: none;
	border:0 none;
	border-bottom:solid 1px #ccc;
	box-shadow:none;
	height: auto;
	padding-left:0;

	&:focus {
		border-color: $brand-primary;
		box-shadow:none;
	}
}

.o-btn-clear-search {
	border:0 none;
	width:30px;
	padding:0;
	text-indent:-999px;
	background:none;
	position:absolute;
	right:0;
	top:1%;
	background: url("../svgs/cross.svg") right center no-repeat;
    background-size:15px;
    min-width:20px;
    margin-top:0;

    @media(max-width: ($screen-sm - 1)) {
		padding:0;
	}
    @media(min-width: $screen-sm) {
		right:20%;
		background-position: center center;
	}
}
.tt-dataset {
	font-size:$font-size-h3;
}
.tt-menu {
	width:100%;
	padding:15px 0;
}
.tt-suggestion {
	cursor:pointer;
	padding:1px 0;
	p {
		font-size: $font-size-h3;
		padding: 6px 10px;
    	margin: 0;

		&:hover {
			 color:$gray-dark;
			 background-color: rgba(0,0,0,.05);
		}
	}

	&.tt-cursor p {
		color:$gray-dark;
		background-color: rgba(0,0,0,.05);
	}
}
.tt-dataset-keywordSearchDefault {
	border-bottom: 0 none;
	.tt-suggestion:last-child {
		border-bottom: solid 1px #ccc;
		padding-bottom:10px;
		margin-bottom:15px;
	}
}