/*Featured Tweet Left*/

.c-social-feed-post__copy {
	@media(min-width: $screen-sm) { 
		padding-top:2%;
	}
}
.c-social-feed-post__author-details {
	font-size: $font-size-h5;
	margin:15px 0;
}
.c-social-feed-post__thumbnail-img {
	max-width:100%;
}

.c-social-feed-post__profile-image {
	margin:5px 0;
}