.o-quick-panel, .c-social-gallery__panel, .c-social-gallery-carousel__panel {
	width: 100%;
	display:none;
    background: $gray-pale;
    z-index: 1;
    position: absolute;

    &.active {
    	display:block;
    }
}
.c-social-gallery-carousel__panel {
	position:relative;
	.o-arrow__prev,.o-arrow__next{
		@media(max-width: ($screen-sm - 1)) {
     		top:18%;
    	}
	}
	
}
.o-quick-panel__content, .c-social-gallery__panel-content, .c-social-gallery-carousel__panel-content {
	@media (min-width: $screen-sm) {
		padding-top:5%;
	}
	@media (max-width: $screen-sm) {
		padding:0;
	}
}
.o-quick-panel__desc, .c-social-gallery__panel-desc, .c-social-gallery-carousel__panel-desc {
	font-weight: italic;
}
.js-btn-social-gallery__close, .js-btn-social-gallery-carousel__close, .o-btn--close__social {
	position: absolute;
	right:15px;
	top:15px;
	border:0 none;
	background: url("../svgs/sprites/cross.svg") center no-repeat;
	width: 20px;
    height: 20px;
    text-indent: -9999px;
    @media (min-width: $screen-sm) {
		right:30px;
		top:30px;
		width: 30px;
	    height: 30px;
	}
}
.o-quick-panel__icon, .c-social-gallery__panel-icon, .c-social-gallery-carousel__panel-icon {
	margin-top:10px;
	.c-svg {
		width:18px;
		height:18px;
	}	
}
.o-quick-panel__wrap, .c-social-gallery__panel-wrap, .c-social-gallery-carousel__panel-wrap {
	padding:30px 50px;
	
	@media (max-width: ($screen-sm)) and (min-width: ($screen-xs)) {
		padding:30px 15px;
	}
	@media (max-width: ($screen-xs)) {
		padding:30px 8px;
	}		
}
.o-quick-panel__authordetails, .c-social-gallery__panel-authordetails, .c-social-gallery-carousel__panel-authordetails {
	font-size: $font-size-h5;
	margin:10px 0;
}
.o-quick-panel__item-arrow, .c-social-gallery__item-arrow, .c-social-gallery-carousel__item-arrow {
	content: "";
    position: absolute;
    bottom:-30px;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 0;
    margin-left:-15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid $gray-pale;
    @media (min-width: $screen-sm) {
		border-left: 20px solid transparent;
    	border-right: 20px solid transparent;
    	border-bottom: 20px solid $gray-pale;
    	margin-left:-20px;
	}
}

.o-arrow__prev, .o-arrow__next {
	position:absolute;
	top:43%;
	z-index: 2;
	width:17px;
	height:40px;
	border:0 none;
	text-indent: -9999px;
	display:none;
	@media(max-width: ($screen-sm - 1)) {
     		top:25%;
    }
}

.o-arrow__prev {
    background:url("../svgs/arrow-left.svg") no-repeat;
    background-size: 17px 40px;
    left:25px;
   @media(max-width: ($screen-xs)) {
     	left:10px;
    }
}
.o-arrow__next {
    background:url("../svgs/arrow-right.svg") no-repeat;
    background-size: 17px 40px;
    right:25px;
    @media(max-width: ($screen-xs)) {
     	right:10px;
    }
    
}
.o-quick-panel__content {
	.o-icon-article {
		background-position: left center;
	    background-size: 15px;
	    padding: 0 15px 0;
    	border-radius: 0;
    	background-color:transparent;
    @media(max-width: ($screen-xs)) {
     	padding:0 10px 0;
    }
    	
	}
	.o-btn{

		@media(max-width: ($screen-sm)) {
			padding:0 15px;
		}
		
	}
}

.c-svg-social-youtube {
	width:18px;
	height:18px;
	display:inline-block;
	background: transparent url("../svgs/sprites/youtube.svg") 0 0 no-repeat;
	background-size: 18px 18px;	
}
.c-svg-social-twitter{
	width:18px;
	height:18px;
	display:inline-block;
	background: transparent url("../svgs/sprites/twitter.svg") 0 0 no-repeat;
	background-size: 18px 18px;	
}
.c-svg-social-facebook{
	width:18px;
	height:18px;
	display:inline-block;
	background: transparent url("../svgs/sprites/facebook.svg") 0 0 no-repeat;
	background-size: 18px 18px;	
}
.c-svg-social-instagram{
	width:18px;
	height:18px;
	display:inline-block;
	background: transparent url("../svgs/sprites/instagram.svg") 0 0 no-repeat;
	background-size: 18px 18px;
}