@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&subset=latin-ext');
// Typography
// -------------------------
$font-family-custom: 'Libre Baskerville', serif;
$font-family-sans-serif:  Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif;

$font-size-base:          14px !default;
$font-size-x-large:       40px !default;
$font-size-large:         27px !default;
$font-size-medium:        18px !default;
$font-size-small:         17px !default;
$font-size-x-small:       $font-size-base !default;
$font-size-xx-small:      12px !default;

$font-size-h1:            $font-size-x-large;
$font-size-h2:            $font-size-large;
$font-size-h3:            $font-size-medium;
$font-size-h4:            $font-size-small;
$font-size-h5:            $font-size-base !default;
$font-size-h6:            $font-size-base !default;

$line-height:			1.5em;

$line-height-base:        1.2 !default;
$line-height-computed:    floor($font-size-base * $line-height-base) !default; // ~20px

$headings-font-family:    $font-family-base;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;