.c-product-copy-v2 {
    &-sub-heading__text {
        font-style: italic;
    }

    &-content {
        &__item {
            padding: 10px 0px;    
        }
        
        ul {
            list-style-position: inside;
            margin: 0;
            padding: 0;
            
            li {
                margin-bottom: 10px;
            }
        }
    }
    
    blockquote {
        border: 0;
    }
}