.o-featured-products {
    text-align:center;
    position:relative;
    margin: 0;

    .o-text__heading-1 {
        font-size:$font-size-h2;
        line-height:normal;
        @media(min-width: 480px) {
            font-size:$font-size-h1;
            line-height:50px;
        }
    }
}
