.c-quote {
    text-align: center;
    margin: 0 auto 50px;
    padding: 10px 20px;
    float:none;
    @media(min-width: $screen-sm) {
        max-width: 510px;
    }

    &.c-feature-quote-left {
		margin: 0 auto 35px auto;
		@media (max-width: $screen-xs-max) {
			margin-left: -15px;
		}	
    }
}
.o-article-wrapper {
    .c-quote {
        width:100%;
    }
}

.c-quote__icon {
    background: url("../svgs/sprites/quote.svg") center center no-repeat;
    height: 52px;
    background-size: contain;
    margin-bottom: 20px;
    svg {
        width: 62px;
        height: 44px;
        fill: $brand-secondary;
    }
}

.c-quote__textblock {
    margin-bottom: 25px;
    @media (max-width: $screen-xs-max) {
        width: 85%;
        margin: 0 auto;
    }
}

.c-quote__text{
    font-size: 22px;
    line-height: $font-size-x-large;

}
.c-quote__link {
   
    span, svg {
        display: inline-block;
        vertical-align: middle;
    }
    svg {
        margin-left: 10px;
        margin-top: 2px;
        height: 9px;
        width: 4px;
        fill: white;
    }
}

/*FEATURE ARTICLE*/
.c-feature-quote-left {
    text-align: left;
    position: relative;
	padding:0 15px;

    .c-quote__icon, .c-quote__textblock {
        display: block;
        vertical-align: top;
        @media(min-width: $screen-sm) {
            display: inline-block;
        }
    }
    .c-quote__icon {
        width: 60px;
        margin-left: -15px;
        margin-right: 5px;
        margin-bottom: 10px;
        
		@media (max-width: $screen-xs-max) {
			margin-left: -6px;
		}		
        @media(min-width: $screen-sm) {
            margin: 0;
            position: absolute;
            left: -11%;
            top: -8%;
        }

    }
    .c-quote__textblock {
        width: 100%;
        margin-bottom: 0;
	}
    .c-feature-quote-social {
        @media(min-width: $screen-sm) {
            margin-left: -10%;
            margin-top: -8px;
        }
    }
}
.c-feature-quote-center {
	.c-feature-quote-social {
		float: left;
		margin-left: -10%;
		.addthis_toolbox a {
			margin-bottom: 0;
		}
		@media (max-width: $screen-xs-max) {
			margin-left: 0;	
		}		
	}
	@media (max-width: $screen-xs-max) {			
		.o-link {
			clear: both;
			display: block;
		}
	}
}

