/* iPads (portrait and landscape) */
    .hotspot {
        .hotspot-content {
            display: none;
        }
    }

    .hotspot-pointer {
        @include background("hotspot/pointer.png");
        background-size: 100% auto;
        cursor: pointer;
        height: 24px;
        position: absolute;
        width: 20px;

        @media only screen and (min-width: $screen-sm) {
            height: 38px;
            width: 32px;
        }

        &.arrow:before{
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            content: "";
            left: 5px;
            position: absolute;
            top: -25px;
            z-index: 999999;
        }
    }

    .base-image {
        position: relative;

        img{
            width: 100%;
        }
    }

    .hotspot-content {
        .image{
            &.hotspot-image {
                position: relative;
                margin-bottom: 0;

                .close{
                    float: none;
                    opacity: 1;
                    position: absolute;
                    right: 5px;
                    top: 3px;
                }

                img {
                    width: 100%;
                }
            }
        }

        .content {

            margin: 0;
            padding: 02px 0 0;
            width: 100%;

                @media only screen and (min-width: $screen-lg) {
                    padding: 5px 0 0;
                }

            &.with-image {
                padding: 5px 0 0;

                @media only screen and (min-width: $screen-lg) {
                    padding: 10px 0 0;
                }
            }

            .title{
                margin: 0;
                text-transform: uppercase;

                 @media only screen and (min-width: $screen-lg) {
                    margin: 0 0 4px;
                 }
            }

            .desc{
                margin: 0;
            }
        }

    }

    .image-title {
        padding: 0.75em 0 0.75em 0.5em;
        text-transform: uppercase;

        @media only screen and (min-width: $screen-sm) {
            padding: 1.25em 0.25em 1em 4.1em;
        }
    }

    .tooltipster-default {
        border-radius: 0;
        border: none;
        max-width: 100px;

        .tooltipster-content {
            padding: 5px;

            @media only screen and (min-width: $screen-sm) {
                padding: 8px 9px;
            }
        }

        @media only screen and (min-width: $screen-sm) {
             max-width: 198px;
        }

        @media only screen and (min-width: $screen-lg-min){
            max-width: 198px;
        }

    }

    .icon-close-light {
        @media only screen and (min-width: $screen-sm) {
            font-size: 30px;
        }
    }