.text-image-blocks {
    @include cf;
    margin-top: $base-spacing*2;
    margin-bottom: $base-spacing*2;

    .caption {
        @include breakpoint(medium) {
            @include span(6);
        }

        p {
            margin: $base-spacing 0;
        }

        h2 {
           color: #fff;
           @include font-size(40px);
           position: relative;
           display: inline-block;
           padding: $base-spacing;
           margin-top: $base-spacing;
           background: url('../images/dig/title-bar-orange.png') no-repeat top center;

           @include breakpoint(large) {
               margin-top: 0;
               background-size: contain;
           }
        }
    }

    .plain-image {

        img {
            width: 100%;
        }

        @include breakpoint(medium) {
            @include span(6 last);
        }
    }

    &.image-left {

        .plain-image {
            @include breakpoint(medium) {
                @include span(6);
            }
        }

        .caption {
            @include breakpoint(medium) {
                @include span(6 last);
            }

            h2 {
                background: url('../images/dig/title-bar-blue.png') no-repeat top center;
            }
        }
    }

    &.module {
        @include cf;

            @include breakpoint(medium) {
                 @include span(6);
            }

            @include breakpoint(large) {
                 @include span(4);
            }

            &:not(:last-child) {
                margin-bottom: $base-spacing*2;
            }

                .caption {

                    h3 {
                        color: #fff;
                        font-family: $font-family-sans-serif;
                        text-align: center;
                        @include font-size(24px);
                        position: relative;
                        top: -20px;
                        margin-bottom: 0;
                        padding: $base-spacing;
                        z-index: 5;
                        margin-top: -5px;
                        width: 100%;
                        display: inline-block;

                        &:before {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 110%;
                            background: $digDarkOrange;
                            transform: skew(-2deg, 0deg);
                            z-index: -1;
                            height: 100%;
                            top: 0;
                            left: -5%;
                        }
                    }

                    h4 {
                        color: #fff;
                        padding: $base-spacing;
                    }
                }

                .plain-image {
                    width: 100%;
                    position: relative;
                    z-index: -5;

                    img {
                        float: none;
                        margin: 0;
                        display: block;
                    }
                }

            .thumbnail {
                background: url('../images/dig/module-bg.png') no-repeat top center;
                background-size: 100% 100%;
                margin: 0;
                padding: 12px;

                &:after {
                    content:"";
                    width: 100%;
                    height: $base-spacing*2;
                    background: $digOrange;
                    display: block;
                    transform: skew(0deg, -1deg);
                    position: relative;
                    top: -15px;
                }
            }

            .btn {
                @include buttonTheme($digOrange, orange);
            }

            .caption {
                background: $digOrange;
            }
    }
}
