.c-featured-product-v2 {   
    margin: 50px auto;
    position: relative;
	
	@media screen and (max-width: ($screen-sm - 1)) {
        margin: 150px 0 70px 0;
    }

    &__image {
        z-index: 2;
        height: 100%;
        img {
            position:relative;
            top: 10%;
			@media (max-width: $screen-xs) {
				display: block;
				margin: -70px auto 0;
			}
        }

    }
    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden; 
    } 
    &__content {
        padding-top: 50px;
        padding-bottom: 50px;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        min-height: 450px;
		@media (max-width: $screen-xs) {
			position:relative;
			top:-280px;
			z-index:10;
		}
    } 
	&__link {
		display:block;
		margin-top:10px;
		@media (max-width: $screen-xs) {
			margin-bottom:20px;
		}
	}
	&__tag--customizable {
		margin:20px auto;
	}
	&__awards {
		padding-top:70px;
		@media (max-width: $screen-xs) {
			padding-top:10px;
		}
	}
	&__content-block {
		@media (max-width: $screen-xs) {
			position: relative;
			background-color: $gray;
			color:$color-white;
			& {
				max-width: 450px;
			}
			margin: 0 auto;
			padding: 0 30px;
			
			.o-text__heading-2 {
				margin-top:10px;
				margin-bottom:20px;
			}
		}
	}
}
    