.c-body-copy-steps {
    @media (min-width: $screen-md) {
        max-width: 950px;
    }
    @media (min-width: $screen-lg) {
        max-width: 1024px;
    }
    z-index:1;
}
.o-step-list {
    margin-bottom:50px;
    position: relative;
    padding: 0;
    
    @media (min-width: $screen-sm) {
        margin-left:-15%;
       
    }
	
    li {
        list-style: none;
        min-height: 290px;
        position: relative;
       
        @media (min-width: $screen-sm) {
            padding-left:5%;

        }

    }
    .o-text__heading-2 {
        color: $gray;
       
    }
   
}


.c-step-list_number--wrap,
.c-step-list_content--wrap {
    padding: 0;
}

.c-step-list_content--wrap{
    position: relative;
    padding-top: 35px;
    @media(min-width: $screen-md) {
        padding-top: 0;
    }
    
}


.c-step-list_number--wrap {
    z-index:-1;
    position: absolute;
    right:0;
    left:0;
    top:0;
  
    @media(min-width: $screen-xs-max) {
        left:auto;
    }
    
    @media(min-width: $screen-sm) {
        right:2%;

    }
    @media(min-width: $screen-md) {
        left:auto;
    }
}


.c-step-list_content {
    padding: 30px 30px 30px 0;
    background-color: $color-white;
    z-index:2;
    text-align: center;
    display:inline-block;
    margin-top: 230px;

    @media(min-width: $screen-sm) {
        padding: 30px;
        text-align: right;
        margin-top: 0;
        margin-right:42%;
        margin-left:0;

    }
    @media(min-width: $screen-md) {
        margin-right:45%;

    }
    @media(max-width: $screen-sm - 1) {
        padding-left: 30px;
    }

    h3 {
        margin-bottom: 25px;

        @media(min-width: $screen-xs-max) {
            margin-bottom: 14px;
        }
    }
}

.c-step-list_content--table-cell {
    display: table-cell;
    vertical-align: middle;
}

.c-step-list--align-left {
    .c-step-list_number--wrap {
        @media(min-width: $screen-xs-max) {
            right:auto;
            left:10%;
        }
        @media(min-width: $screen-md) {
            right:auto;
            left:0;
        }
    }
    .c-step-list_content {
        padding-left: 30px;
        @media(min-width: $screen-xs-max) {
            margin-right:0;
            text-align: left;
            @include theme("men-care") {
                margin-left: 0;
                padding-right: 0;
            }
        }
        @media (min-width: $screen-sm) {
            margin-left: 45%;

        }
        @media (min-width: $screen-md) {
            margin-left: 34%;
        }

    }

}


.c-step-list_number {
    $bgWidth: 267px;
    $bgHeight: 292px;
    background: url("../svgs/circle-gold.svg") center no-repeat;
    background-size: contain;
    height: 280px;
    width: 280px;
    font-size: 80px;
    color: #e0c586;
    position: relative;
    margin: 0 auto;
    display:table;

        background-image: url("../svgs/circle-gold.svg");
        background-repeat: no-repeat;
        background-position: center;
        @media (min-width: $screen-sm) {
            height: 290px;
            width: 290px;
        }

    span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }


}




