table{
 border-collapse: inherit;
}

h1 { 
	color:#002663; 
}

.address-txt > p:nth-child(1) {
    margin-left: 4px;
    margin-top: -1px;
}

.address-txt p {									
	font-size: 14px;
    margin: 15px 3px 0px;
	font-weight: normal;
}

.address-txt {
	margin-top: -65px;
    position: absolute;
    margin-left: 89px;
    z-index: -1;
}

td {
	font-weight:bold;
	font-size:14px;
	padding: 10px 0px;
}

td a{
	font-weight:bold;
}

tr.footer {
   text-align:center;
}

.footer td a {
   color: grey;
   font-weight: normal;
   text-decoration:underline;
    &:hover{
      text-decoration:none;
      color:blue;
    }
}

table.email-body-copy {
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;

}

@media(min-width: $screen-xs) and (max-width: $screen-sm - 1) { 
    .address-txt {
        text-align: center;
        margin: 0px;
        position: relative;
    }
    
    .footer td{
        display:block;
    }
    
    .from-and-to-txt {
        text-align: center;
    }
    
    .email-body-copy {
         width: 98%;
         margin-left: 4px;
    }
    
    p{
        word-break: break-word;
    }
}

@media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) { 
    .address-txt {
        margin-left: 53px;
    }
}

@media only screen and (min-width: $screen-sm) and (max-width: $screen-md - 1) {
    
    .email-footer{
       width:80%; 
    }
    
    .address-txt {
        margin-left: 53px;
    }
    
    .from-and-to-txt {
        width: 80%;
    }
}

