.featured-content-recipe-detail,
.featured-content-text-image {
  background: #fbf4e3;
  padding: 57px 0;

  .c-featured-content__content {
    position: relative;

    .container {
      position: relative;
    }

    .c-featured-content-copy__wrapper {
      display: block;
    }

    .c-featured-content-image {
      padding: 0;
      margin-right: 27px;

      &__link {
        padding: 0;
      }
    }

    .c-featured-content-copy {
      float: right;
      margin: 0;
      text-align: left;
      width: 45%;
      padding: 0;
    }

    .c-featured-content-copy-headline {
      color: #004976;
      font-size: 42px;
      margin: 0;

      &:after {
        content: '';
        background: #004976;
        display: block;
        height: 1px;
        margin: 17px 0;
        width: 10%;
      }

      &__link {
        color: #004976;
        font-family: $font-family-custom;
        font-style: italic;
      }

      &__link:hover {
        text-decoration: none;
      }
    }

    .c-featured-content-copy__teaser-description {
      color: #333333;
      font-size: 18px;
      line-height: 24px;
      margin: 0 0 29px 0;
    }

    .o-featured-tags {
      display: none;
    }

    .c-featured-content-copy__link {
      background: #004976;
      border-radius: 5px;
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      padding: 17px 30px;
      text-transform: uppercase;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media(max-width: 767px) {
  .featured-content-recipe-detail,
  .featured-content-text-image {
    .c-featured-content__content {
      .container {
        padding-top: 76%;
      }

      .c-featured-content-copy {
        background: none;
        display: block;
        float: none;
        width: 100%;

        &__wrapper {
          padding: 0 6px;
        }

        &__teaser-description {
          font-size: 1em;
        }

        &__link {
          font-size: 1em;
        }
      }

      .c-featured-content-copy-headline {
        font-size: 1.875em;
      }

      .c-featured-content-image {
        margin-right: 15px;
        position: absolute;
        top: 0;
      }
    }
  }
}