@import 'featured-content-recipe-home';
@import 'featured-content-text-image';
@import 'featured-content-recipe-detail';

.c-featured-content {
    position:relative;
    margin: 0;
    min-height: 0;
    margin-bottom: 0;

    &-bg {
        width: 100%;
        height: 100%;
    }

    &__container {
        padding: 0;
        position: relative;
    }

    &__content {
        margin-left: 0;
        margin-right: 0;
        position: absolute;
        top: 0;
        width: 100%;

        .container {
            position: static;
        }
    }

    &-copy {
        margin-top:20px;
        text-align:center;
        background-color: white;
        min-height: 250px;

        @media (min-width: $screen-sm) {
            display: table;
            align-items: center;
            min-height: 320px;
            background-color: transparent;
        }

        @media (min-width: $screen-md) {
            min-height: 450px;
        }
    }

    &-copy__wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    &-center {
        text-align:center;
    }

    &-copy__link {
        text-decoration:none;
        padding: 10px;

        &:hover {
            background: $color-white !important;
            color: #004976 !important;
        }
    }

    &-copy__teaser-description {
        margin: 30px 0;
    }

    &-image__link {
        padding: 60px;
        display: inline-block;
    }

    &__tags {
        margin-bottom: 40px;
    }
}

.c-featured-content-bg {
    display: none;
}