.recipe-detail-page {

  .featured-content-recipe-detail {
    min-height: 0;
    
    .c-featured-content {      
      &-copy {
        box-sizing: border-box;
        max-width: none;
        min-height: auto;
        padding-left: 15px;
        width: 50%;
        
        &-headline {
          font-size: 34px;
          
          &__link:focus {
            text-decoration: none;
          }
        }

        &__wrapper {
          max-width: 500px;
        }
      }

      &-image {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        padding-right: 15px;

        &__link {
          max-width: 407px;
          float: right;
        }
      }
    }
  }
}

//mobile
@media screen and (max-width: 767px) {
  .recipe-detail-page {
    .featured-content-recipe-detail {
      padding: 40px 4.6875%;

      .c-featured-content {
        &__wrapper,
        &__content .container {
          padding: 0;
        }

        &-copy,
        &-image {
          display: block;
          padding: 0;
          width: 100%;
        }

        &-copy {
          padding-top: 80%
        }
      }
    }

    &__listing-recipes,
    .related-products {
      .rich-text-v2__description {
        &:before,
        &:after {
          top: 25%;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .recipe-detail-page {
    .featured-content-recipe-detail .c-featured-content__content {
      .c-featured-content-copy {
        &__wrapper {
          padding: 0 10px;
        } 
      }
    }
  }
}
