.featured-content-recipe-home {
  display: inline-block;
  width: 100%;
  max-width: 730px;

  .c-featured-content__container {
    padding: 0;
  }

  .c-featured-content-copy__wrapper {
    text-align: left;
  }

  .c-featured-content__content {
    position: relative;
  }

  .container {
    padding: 0;
    position: relative;
  }

  .c-featured-content-copy {
    background-color: rgba(0, 73, 118, 0.4);
    width: 100%;
    padding: 28px 19px;
    min-height: 0;
    position: absolute;
    bottom: 0;
    z-index: 1;

    &:before {
      background: url("../images/top_arrow_pattern.png");
      background-repeat: repeat-x;
      position: absolute;
      top: -8px;
      left: 0;
      height: 8px;
      display: block;
      content: '';
      clear: both;
      width: 100%;
    }
  }

  .c-featured-content-copy-headline {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .c-featured-content-copy__link {
    display: none;
  }

  .c-featured-content-copy-headline__link {
    color: #fff;
    //font-family: $font-family-custom;
    font-style: italic;

    &:hover {
      text-decoration: none;
    }
  }

  .c-featured-content-copy__teaser-description {
    display: none;
  }

  .c-featured-content-image {
    width: 100%;
  }

  .c-featured-content-image__link {
    padding: 0;
  }

  .c-featured-content-image {
    padding: 0;

    img {
      max-width: 100%;
      max-height: 409px;
    }
  }
}

@media (max-width: 767px) {
  .featured-content-recipe-home {
    font-size: 16px;

    .c-featured-content {
      &-copy {
        padding: 3.125% 0 3.125% 4.6875%; //rever
      }

      &-copy-headline {
        font-size: 1.8em;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .featured-content-recipe-home {
    font-size: 18px;
    padding: 6.125% 0; //rever

    .c-featured-content {
      min-height: 1px !important;
      margin: 0 auto;
    }
  }
}