.home-story {

    &-modules {
        @include cf;

        li {
            background: url('../images/dig/module-bg.png') no-repeat top center;
            background-size: 100% 100%;
            margin: 0;
            padding: 12px;
            color: #fff;
            margin-bottom: $base-spacing;

            .home-story-image {
                position: relative;
                display: block;
                margin-bottom: $base-spacing*2;

                img {
                    width: 100%;
                    position: relative;
                    z-index: 8;
                    padding: 12px;
                }

                &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: url('../images/dig/module-border.png') no-repeat center center;
                    background-size: 100% 100%;
                    position: absolute;
                    padding: $base-spacing;
                    z-index: 11;
                }

                h3 {
                    text-align: center;
                    @include fs-body;
                    @include font-size(24px);
                    position: absolute;
                    top: 85%;
                    left: 0;
                    padding: $base-spacing;
                    z-index: 12;
                    margin-top: -5px;
                    width: 100%;
                    display: inline-block;
                    color: #fff;

                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 110%;
                        background: $digDarkOrange;
                        @include transform (skew(-2deg, 0deg));
                        z-index: -1;
                        height: 100%;
                        top: 0;
                        left: -5%;
                    }
                }
            }

            p {
                margin: 0;
            }

            .btn {
                @include buttonTheme($digOrange, orange);
                margin-bottom: $base-spacing;
                @include fs-body;
            }

            @include breakpoint(medium) {
                @include gallery(6);
            }

            @include breakpoint(large) {
                @include gallery(4);
            }
        }
    }

    &-body-copy {
        display: block;
        margin: $base-spacing;
    }
}
