.c-back-to-top-cta {
    .arrow-up {
        width: 10px;
        height: 10px;
        stroke: #fff;
        stroke-width: 3px;
        display: block;
        margin: 0 auto;
    }
    
    &__link {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: #333;
        display: block;
        float: right;
        text-align: center;
        padding-top: 10px;
        color: #fff;
        
        &:hover {
            color: #fff;
            background: #5a5a5a;
        }
    }
}