/* the base class name is the name added to each component in the component view js (home.js) */

/* For theme whitelabel */
@include theme('whitelabel') {

    .related-content-list {
        
        color: $gray;
		a{
			color:$gray;
		}


        .content-list-wrapper {
            border-bottom: 1px solid $gray;
        }

        .related-content-header {
            border-bottom: 1px solid $gray;
        }

    }
}

