.recipe-detail-page {
  .c-tags {
    text-align: center;
    margin-bottom: 28px;
  }

  .c-tags__wrapper {
    text-align: center;
    display: inline-block;
    border-radius: 5px;
  }

  .c-tags-list {
    background-color: transparent;
    border-radius: 3px;
    font-size: 0;
    margin: 0 auto;
    padding: 1px;
    max-width: 1200px;
    width: 100%;
  }

  .c-tags-heading {
    display: none;
  }

  .c-tags-list-item {
    margin: 0 20px 0 0;
    &:last-child {
      margin-left: 0;
    }
  }

  .c-tags-list-item__link {
    border-radius: 5px !important;
    border: 1px #fff solid;
    color: #fff !important;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: auto;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color .2s,color .2s ease;

    &:hover {
      background-color: #fff;
      color: $font-hightlight !important;
    }
  }
}
