@import 'tags-recipe-detail-suggested-recipe';

.c-tags {

    &-sub-heading__text {
        font-style: italic;
    }

    &__wrapper {
        text-align: left;
    }

    &__title {
        margin-bottom: 30px;
    }

    &-list {
        list-style: none;
        margin: 0;
        padding: 0;

        &-item {
            display: inline-block;
            margin: 0px 6px 10px 0px;

            &__link {
                border: 1px solid $gray-lighter;
                padding: 0 16px;
                display: inline-block;
                line-height: 32px;
                height: 32px;
                color: $gray-darker;
                border-radius: 16px;

                &:link,
                &:visited,
                &:hover,
                &:active {
                    text-decoration: none;
                }
            }
        }
    }
}