.o-product-copy {
	margin-top:30px;
}
.c-product-info {
	.container {		
		@media(max-width: $screen-sm) {
	        padding:0;
	    }
	}
    
    .c-expandcollapse {
        float: none;
        margin: 5px auto 0;
        overflow: hidden;
    }
}
.o-product-copy {
    margin-top: 0;
    margin-bottom: 50px;
    
	> :first-child .container:before {
		content: "";
        display: block;
        border-top: solid 1px $gray-lighter;
        margin: 0 auto;
        @media(min-width: $screen-sm) {
			max-width:80%;
		}
		@media(min-width: $screen-md) {
			max-width:67%;
		}
	}
	.c-svg.plus {
		position: absolute;
		right: 15px;

	}
}

.c-product-info {
	.c-expandcollapse {
		@media(min-width: $screen-sm) {
			max-width:80%;
		}
		@media(min-width: $screen-md) {
			max-width:67%;
		}
	}
}
.c-expandcollapse__body{
	background-color:transparent;
}