.c-diagnostic-tool {
    @media (max-width: ($screen-sm - 1)) {
        margin-top: 60px;
    }
    
    .o-text__heading-2 {
        @media (max-width: ($screen-sm - 1)) {
            font-size: 22px;
        }
    }
    
    &-panel {
        display: none;
        
        &.active-panel {
            display: block;
        }
    }
    
    .c-intro {
        text-align: center;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        
        &-panel {
            text-align: center;
        }
        
        .position-center {
            @media (max-width: $screen-xs-max) {
                width: 70%;
                height: auto;
            }
        }
    }
    
    .c-questionnaire {
        &__header {
            overflow: hidden;
            .o-btn--primary{
                &:active,&:hover,&:focus{
                    color:#fff;
                }
            }
        }
        &__step-indicator{
            display: inline-block;
            float: right;
            font-size: 20px;
            margin: 20px 0px 6px 0px;
        }
        &__quenum {
            display: inline-block;
            float: right;
            font-size: $font-size-h3;
            font-weight: bold;
            margin-top: 10px;
            line-height: 35px;
        }
        
        &__progress-bar {
            height: 24px;
            background-color: $gray-lighter;
            width: 0;
            
            &-wrap {
                border: 2px solid $gray;
                clear: both;
            }
        }
        
        &__prev-btn {
            display: none;
        }
        
        &__next-btn[disabled] {
            background-color: $gray-light;
        }
        
        .c-que {
            display: none;
            text-align: center;
            position: relative;

            &.que-active {
                display: block;
            }

            &__timer {
                display: none;
            }
        }
        
        .c-single-ans-yes-no-que{
            .c-res-wrap{
                position: relative;
            }
        }
        
        .c-single-ans-scale-que {
            .position-center {
                @media (max-width: $screen-sm - 1) {
                    width: 80%;
                }
            }
            
            .c-res-wrap{
                position: relative;
                &__absolute-container{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
                &__options-titles-container{
                    position: relative;
                    padding-top: 40px;
                }
                &__options-titles-wrapper{
                    display: inline-block;
                    position: relative;
                    &::before{
                        width: 98%;
                        height: 2px;
                        content: "";
                        background: grey;
                        display: block;
                        position: absolute;
                        bottom: 23px;
                    }
                }
                &__caption-container {
                    top: auto;
                    height: auto;
                }
            }

            .c-res {
                &:first-child{
                    margin-left:0;
                }
                &:last-child{
                    margin-right: 0;
                }
                input.radio{
                    position: relative;
                    width: auto;
                    height: auto;
                    top: auto;
                    right: 0px;
                    opacity: 1;
                }
                label{
                    display:none;
                    position: absolute;
                    top: -25px;
                    left: 0;
                    right: 0;
                }
                .active-radio{
                    display:none;
                }
                &__bgimg-wrap{
                    display:none;
                    &.img-active{
                        display: block;
                    }
                }
                &.res-active{
                    label{
                        display: block;
                    }
                }
            }
        }
        
        .c-res {
            display: inline-block;
            text-align: center;
            margin: 15px;
            vertical-align: top;
            
            &__heading {
                font-weight: normal;
                font-size: 18px;
                margin: 10px 0px;
            }

            &__img {
                &-highlight {
                    padding: 10px;
                }

                &-wrap {
                    position: relative;
                    cursor: pointer;
                }
            }
            
            &__text{
                display: none;
            }
            
            input.radio {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0px;
                right: 0px;
                opacity: 0;
            }

            input.checkbox {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0px;
                right: 0px;
                opacity: 0;
            }

            &.res-active {
                .c-res__img-highlight {
                    border: 2px solid $gray;
                }
                
                .c-res__text{
                    display:block;
                }
                
                .c-res__heading {
                    font-weight: bold;
                }
            }
        }
        
        .show-prev {
            display: inline-block;
        }
        
        .show-timer {
            display: block;
        }
        
        .c-section-divider {
            position: relative;
        }
    }
    
    .c-results {
        .c-textonly-wrapper {
            position: relative;
            margin-bottom: 25px;
        }
        
        .c-articles {
            text-align: center;
        }

        .c-products {
            text-align: center;
            
            .aggregateRating > div + div {
                left: 0;
                margin-top: 0;
                position: absolute;
                top: 0;
            }
            
            .slick-slider {
                padding-bottom: 50px;
            }
        }
        
        .slick-slider {
            padding-bottom: 25px;

            img {
                display: inline-block;
            }
        }
        
        .c-result-section-v2 {
            .c-textonly-wrapper {
                width: 40%;
                float: left;
                
                @media (max-width: ($screen-sm - 1)) {
                    width: 100%;
                }
            }
            
            .c-articles {
                width: 60%;
                float: left;
                
                @media (max-width: ($screen-sm - 1)) {
                    width: 100%;
                }
                
                &-item {
                    width: 50%;
                }
            }
            
            .c-products {
                width: 60%;
                float: left;
                
                @media (max-width: ($screen-sm - 1)) {
                    width: 100%;
                }
                
                &-item {
                    width: 50%;
                }
            }
        }
        
        .c-articles-products-view {
            .c-products {
                margin-top: 50px;    
            }
            
            .c-single-product-view {
                clear: both;
                width: 100%;
                margin: 30px 0px;
                float: left;
                
                .c-products-item-image {
                    float: left;
                    width: 50%;
                    
                    @media (max-width: ($screen-sm - 1)) {
                        width: 100%;
                    }
                }

                .c-single-products-item {
                    width: 100%;
                    @media (max-width: ($screen-sm - 1)) {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    &-content {
                        float: left;
                        width: 50%;
                        text-align: left;
                        padding-right: 15px;
                        
                        @media (max-width: ($screen-sm - 1)) {
                            width: 100%;
                            order: 2;
                        }
                    }
                    
                    &-image {
                        float: left;
                        width: 50%;
                        text-align: center;
                        
                        @media (max-width: ($screen-sm - 1)) {
                            width: 100%;
                            margin: 20px 0px;
                        }
                    }
                }
            }
        }
        
        .c-products-summary {
            .c-result-text {
                text-align: center;
                margin-bottom: 20px;
            }
            
            .c-products-item {
                @media (max-width: ($screen-sm - 1)) {
                    width: 50%;
                }
            }
        }
        
        .c-social-sharing-inline {
            text-align: center;
            ul {
                margin: 0;
            }
        }
    }
    
    .position-center {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto
    }
    
    .bin-widget-overlay {
        background: #fff;
        position: absolute;
        display: none;
        width: 100%;
        padding: 50px;
        top: 0;
        border: solid 2px $gray;
        
        .o-btn--close {
            position: absolute;
            right: 20px;
            top: 20px;
            border: 0 none;
            background: none;
        }
        
        .icon-cross {
            width: 30px;
            height: 30px;
        }
    }
    
    .c-result-sec-email {
        margin: 30px 0px;
        text-align: center;
        
        
        p {
            font-size: 18px;
            line-height: 24px;
            margin: 0;
            padding: 0;
            color: $gray;
        }
        
        
        &__form-email {
            display: inline-block;
            width: 40%;
            height: 37px;
            padding: 0px 10px;
            line-height: 37px;
            
            @media (max-width: ($screen-sm - 1)) {
                width: 60%;
            }
        }
        
        &__success, &__failure {
            display: none;
            margin-top: 15px;
        }
        
        &__success a {
            border: solid 1px $gray;
            color: $gray;
            background-color: $btn-default-bg;
            padding: 0 20px;
            line-height: 35px;
            outline: none;
            position: relative;
            overflow: hidden;
            display: inline-block;
            cursor: pointer;
            font-size: 14px;
            text-align: center;
            margin-top: 10px;
            border-radius: 1.5px;
        }
    }
}