/* the base class name is the name added to each component in the component view js (home.js) */
.social-share-print {
    text-align: right;
    
    img {
        width: 32px;
        height: 32px;
        margin-right: 12px;
    }

    .addthis_toolbox > a {
        display: inline-block;
        cursor: pointer;
        margin-right: 37px;
		text-transform: uppercase;
		text-decoration: none;

        span {
            display: inline-block;
            vertical-align: middle;
        }

    }

    @media (max-width: $bp-medium) {
        .addthis_toolbox > a {
            margin-right: 0;

            span {
                display: none;
            }

            img {
                margin-right: 11px;
            }
        }
    }
}

.atm {
    display: none;
}
