.c-search-listing {
	float:none;
	@include u-margin(50px, auto, 20px, auto);
	min-height:250px;

	@media(min-width: $screen-xs) {
		padding:0;
	}
 	.o-preloader {
 		height:80%;
 	}
 	.o-product__tag--customizable {
		margin-left:0;
		@media(min-width: $screen-sm) {
 			margin-top:15px;
 			margin-left:10px;
 		}
 	}
}

.c-inline-search {
	@include u-margin-tb(5px, 25px);
	@media(min-width: $screen-sm) {
		@include u-margin-tb(15px, 40px);
	}
}

.c-search-listing__wrap {
    position:relative;
	top: 30px;
	opacity: 0;
}

.c-search-filters {
	display:none;
	padding-bottom:25px;
	@include u-margin-tb(0, 0);
	
	@media(min-width: $screen-sm) {
		padding-bottom:40px;
	}
	border-bottom:solid 1px $gray-lighter;
}

.js-text-suggest {
	border-bottom:solid 1px $gray-lighter;
	padding-bottom:30px;
}

.c-search-filters__select {
	margin-right:0;
	font-size:$font-size-h4;
	margin-left:10px;
	padding:0 50px 0 20px;
	text-transform: lowercase;
	@media(min-width: $screen-sm) {
		font-size:$font-size-h3;
		padding-top:0;	
		min-width:182px;
		margin-left:15px;
		padding:0 65px 0 20px;
	}
}

.c-search-listing__list {	
	list-style:none;
	padding:0;
	min-height:200px;
	&.c-search-listing__suggestions {
		margin-top:30px; 
	}
}

.c-search-listing__item {
	background: url("../svgs/arrow-right-search.svg") 98% center no-repeat;
	background-size:8px;
	border-bottom:solid 1px $gray-lighter;
	padding:15px 0;
	&:first-child {
		border-top:0 none;
	}

	.o-text__heading-3 {
		color: $brand-primary;
	}

	.u-desc {
		@include u-margin-tb(5px, 5px);
   		font-size: 16px;
	}
	
	.c-search-listing__item-wrap {
		line-height:180px;
		.c-search-listing__link, .c-search-listing__item-copy {
			display:inline-block;
			vertical-align:middle;
			line-height:normal;
			width:100%;
		}
		@media(min-width: $screen-mobile-landscape) {
			line-height:115px;
		}
	}

	.c-search-listing__image {
		width:50px;
		height:50px;
		border-radius:50%;
		border:solid 1px $gray-lighter;	
		margin:0 auto;

		@media(min-width: $screen-sm) {
			width:80px;
			height:80px;
		}

		.icon-page-alt {
			background: url('../svgs/icon-page-alt.svg') center center;
			background-size: 15px 18px;
			@media(min-width: $screen-sm) {
				background-size: 25px 28px;
			}
		}

		.icon-page-alt, .icon-article-alt {		
			stroke: $gray-dark;
			width:15px;
			height: 18px;
			margin:12px auto 0;	
			@media(min-width: $screen-sm) {
				width:25px;
				height: 28px;
				margin:23px auto 0;
			}
		}

		.icon-article-alt {
			width:15px;
			height:17px;
			margin:8px auto 0;	
			background: url('../svgs/icon-article-alt.svg') center center;
			background-size: 15px 17px;
			@media(min-width: $screen-sm) {
				width:30px;
				height:33px;
				margin:23px auto 0;	
				background-size: 30px 33px;
			}
		}	
	}
}

.c-search-listing__detail .c-search-listing__link {
	padding-right:10px;
	display:block;
	@media(min-width: $screen-sm) {
		padding-right:35px;
	}
}

.c-search-listing__link, .c-search-listing__link:hover, .c-search-listing__link:focus {
	color:$gray;
	text-decoration:none;
}

.c-search-listing__breadcrumbs {
	.c-breadcrumb__list {
		margin:0;
		@include text-align(left, left);
	}
	.c-breadcrumb__item {
		padding:5px 0 0;
		
		.c-svg.arrow-right {
			background: url('../svgs/arrow-right-medium.svg') center center;
			width:8px;
			height:8px;
			margin:3px 8px 0;
		}
	}
	ul.c-breadcrumb__list {
		text-align: left;
	}
}

.c-inline-search__no-results {
	.matching-keyword {
		color:$brand-primary;
		font-weight:600;
	}
	.u-desc {
		margin:20px 0 40px;
	}
	.did-you-mean {
		@media(min-width: $screen-sm) {
			margin-top:-30px;
		}
	}
}

.c-search-listing__header {
	.c-search-listing__tag {
		margin-top:2px;
	}
	
	@media(min-width: $screen-sm) {
		.c-search-listing__tag, .o-text__heading-3 {	   
		   float: left;
		}
		.c-search-listing__tag {
			margin-left:5px;
			margin-top:0;
		}
	}
}

.c-search-listing__noimage {
	background: url("../images/default-image.png") no-repeat 0 center;
	width:50px;
	height:155px;
	background-size:50px;
	display:block;
	margin:0 auto;

	@media(min-width: $screen-sm) {
		width:70px;
		height:105px;
		background-size:70px;
	}

	@media(min-width: $screen-lg) {
		width:100px;
		height:100px;
		background-size:100px;
	}
}

.js-btn-loadmore {
	@include u-margin-tb(35px, 0);
}

.c-search-listing__loadmore {
	min-height:80px;
	.o-preloader {
		background-position:center center;
		top:0;
		min-height:80px;
		height:100%;
	}
}

.c-search-listing__tagwrapper {
	margin-left:10px;
	display:inline-block;
}