/* the base class name is the name added to each component in the component view js (home.js) */

@include theme('whitelabel') {
        .hotspot-pointer {
            &.arrow:before{
                border-top: 20px solid $color-white;
            }
        }

        .hotspot-content {
            .image{
                &.hotspot-image {
                    .close{
                        color: $color-white;
                    }
                }
            }

            .cross-icon-tooltip {
                background-color: $gray;
            }

            .content {
                .desc{
                    font-size: $font-size-x-small;
                  
                }
            }
        }

        .tooltipster-default {
            background: $color-white;
            color: $color-black;
            @include box-shadow(2px, 0px, 6px, 0, $gray);
        }

        .hotspot-content {
            background-color: $color-white;

            .content {

                .title{
                    
                    font-size: $font-size-x-small;
                    
                }
            }
        }

        .image-title {
            
            font-size: $font-size-x-large;
            
        }

}
