@import "default";

.o-absolute-header {
    .o-navbar {
        position: absolute;
    }
}

.o-navbar, .c-secondary-nav {
    background: none;
    left: 50%;
    max-width: 1138px;
    position: fixed;
    text-align: center;
    top: 0px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    z-index: 25;
}

.c-secondary-nav + .global-navigation .o-navbar {
    top: 40px;
}

.c-secondary-nav {
    height: 40px;
    background: #f0f0f0;
    padding: 5px 15px;
    .c-smartLabel {
        background: #fff none repeat scroll 0 0;
        color: $gray-darker;
        display: inline-block;
        margin-left: 15px;
        padding: 5px 15px 5px 10px;
        text-decoration: none;
    }

    .adaptive-image {
        display: inline-block;
        margin-right: 15px;
		float:left;
    }

	.image-link{
        position: absolute;
		bottom:12px;

        img {
            height: 31px;
            width: auto;
        }
	}
}
.c-nav-list {
    display: inline-block;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    list-style: none;
    vertical-align: middle;

    li {
        display: inline-block;
        margin-right: 10px;
        @media(min-width: $screen-sm) {
            margin-right: 15px;
        }
        a {
            background: $color-white none repeat scroll 0 0;
            color: $color-white;
            display: inline-block;
            font-size: 18px;
            padding: 5px 10px;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.o-navbar-logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-indent: -9999px;
    margin: 0;
    z-index: 1;
    width:170px;
    height: 125px;

    img {
        display: block;
        max-width: 100%;
    }
}

.c-search-wrapper {
    display: inline-block;
    height: 19px;
    margin: 30px 0 22px 20px;
    overflow: hidden;
    position: relative;
    text-indent: 0;
    vertical-align: top;
    width: 22px;
}

.icon-search {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    float: left;
    display: inline-block;
}

.o-navbar-header {
    display: block;
    position: absolute;

    @media(min-width: $screen-md) {
        display: none;
    }
}

.o-navbar-collapse {
    background-color: transparent;
    margin:0 auto;
    text-align: center;
    min-height:52px;
    @media(min-width: $screen-md) {
        display: inline-block;
        min-height:inherit;
        text-align:left;
        vertical-align: top;
    }
}

.o-navbar-overlay {
    background-color: $global-navigation;
    width: 100%;
    min-height:450px;
    position: absolute;
    left: 0;
    opacity: 0;
    display: none;
    @media(max-width: ($screen-md - 1)) {
       z-index:-1;
    }
    .background-image {
        display:none;
    }
}

.o-navbar-overlay-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index:3;
    display: none;
    cursor: pointer;
    fill: $gray-lighter;
    display:none;

    &:hover {
        stroke: white;
    }
    @media(min-width: $screen-md) {
        display:block;
    }
}

.overlay-close-btn {
    display: none;

    .o-navbar-overlay-close {
        position: absolute;
        top: 90px;
        right: 20px;
        width: 30px;
        height: 30px;
        z-index:3;
        display: none;
        cursor: pointer;
        fill: $gray-lighter;
        display:none;

        &:hover {
            stroke: white;
        }
        @media(min-width: $screen-md) {
            display:block;
        }
    }
}

.o-navbar-tier1-scroller-wrapper {
    @media(min-width: $screen-md) {
        width:auto;
        display:inline-block;
        margin:30px 0 22px;
        vertical-align: top;
    }
}

.o-navbar-tier1-wrapper {
    padding: 0;
    background: none;
    display: none;
    position: absolute;
    top: 160px;
    width: 100%;
    height: auto;

    @media(min-width: $screen-md) {
        display: block;
        max-width: inherit;
        position: static;
    }

    > li {
        padding: 0;
        margin: 22px 15px;
        border: 0 none;

        @media(min-width: $screen-md) {
            display: inline-block;
            margin:0 15px;
        }
    }


}

.o-navbar-tier1-item,
.c-search-wrapper,
.o-navbar-toggle {

    > .o-navbar-label {
        text-shadow: 1px 2px 2px $color-black;
        text-transform: uppercase;
        color: $color-white;
        padding: 0;
        font-size: 16px;
        font-weight: bold;
        transition: color .2s ease;

        &:hover {
            text-decoration: none;
            color: #004976;
        }
    }
}


.o-navbar-tier1-item {
  text-align: center !important;

  &:first-child {
    padding-left: 0 !important;
  }

  &:last-child {
   display: none;
   padding: 0;
   margin: 0;
  }

  &:nth-child(4){
    width: 198px;
  }

  > .o-navbar-label {
    @media(min-width: $screen-md) {
        position: relative;
    }

    .o-navbar-marker {
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        stroke:$gray;
        margin: 0 auto;
        display:none;
        width: 18px;
        height: 8px;
    }
  }
}

.o-navbar-tier2-wrapper {
    position: absolute;
    left: 0;
    right:0;
    width:100%;
    top: 0;
    margin: 78px auto 0 auto;
    visibility: hidden;
    opacity: 0;
    z-index:2;
    overflow: visible;

    @media(min-width: $screen-md) {
        overflow: hidden;
    }
}

.o-navbar-tier3-wrapper, .o-navbar-tier4-wrapper {
    top:0;
}
.o-navbar-tier4-wrapper {
    visibility: hidden;
    opacity: 0;
    height: 0px;
}

.o-navbar-dropdown-menu {
    padding:0 0 50px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    text-align: center;
    @media(min-width: $screen-md) {
        padding: 0;
        overflow:hidden;
    }
    li {
        list-style-type: none;
        margin:10px 0;

        @media(min-width: $screen-md) {
            display: inline-block;
            vertical-align: top;
            text-align: left;
            float: left;
            margin-left: 40px;
        }
        span, a {
            color: $gray-darker;
            position: relative;
            padding-top: 1px;

            .c-svg {
                height: 16px;
                width: 16px;
                stroke: $gray-pale;
                stroke-width: 2px;
                position:absolute;
                right:0;

                @media(max-width: $screen-md) {
                    display: none;
                }
                &.o-navbar-label-cross {
                    visibility: hidden;
                }
            }
        }
        li {
            display:block;
            float:none;
            width:inherit;
        }
    }
}

.o-navbar-opened {
    position: fixed;
    width: 100%;
}

.o-navbar-tier1-item, .o-navbar-tier2-item, .o-navbar-tier3-item {
    &.submenu {
        @media(max-width: $screen-sm) {
            background: url("../svgs/arrow-right-nav.svg") right center no-repeat;
            background-size: 10%;
        }
    }
}

.o-navbar-tier1-item {
  box-sizing: border-box;
  min-width: 103px;
  padding: 0 10px !important;
  margin: 0 !important;

    .level1-background-image {
        display: none;
        position: absolute;
        margin: 50px 0px 0 0px;
        left: 0;
    }
}

.o-navbar-tier2-item {
    >.o-navbar-label{
        display:block;
        margin-bottom:20px;
        font-size:20px;
        margin-left: 40px;
        &:hover {
            text-decoration:none;
        }
    }
    >.o-navbar-label .c-svg {
        display:none;
    }
}
.o-navbar-tier3-item {
    >.o-navbar-label {
        display:block;
        margin-bottom:15px;
        padding-right:20px;
    }
    &.submenu .o-navbar-label {
        margin-bottom:0;
    }
}

.level2-background-image, .level3-background-image, .level4-background-image {
    display: none;
    position: absolute;
    left: 0;
    z-index: -1;
    top: -5px;
}

.o-navbar-menu-wrapper {
  width: auto;
  font-size: 0;
  margin-left: 66px;

    @media(max-width: $screen-sm) {
        position: absolute;
        margin: 0;
        width:100%;

        .o-navbar-label {
            color: white;
            width:80%;
            font-size: 20px;
            line-height: 30px;
            display: block;
            margin: 0 auto;

            &:hover, &:focus {
                color: white;
            }
        }
    }


}

.o-navbar-back {
    margin: 0 auto;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    cursor:pointer;
    display: none;
    color:$white;

    .o-navbar-arrow-back {
        width: 10px;
        height: 10px;
        display: inline;
        stroke: white;
    }
    @media(min-width: $screen-md) {
        display:none;
    }
}

.o-navbar-toggle {
    position: relative;
    z-index: 2;
    display: block;
    cursor: pointer;

    .o-navbar-label {
        display: inline-block;
        padding-top: 23px;
        padding-left: 45px;
        padding-bottom: 20px;
    }
}


.o-navbar-toggle-icon {
    max-width: 60px;
    height: 20px; //rever
    max-height: 40px;
    font-size: 0;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px; //rever

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

    .o-navbar-bar {
        display: block;
        position: absolute;
        height: 20%;
        width: 80%;
        background: $color-white;
        border-radius: 3px;
        opacity: 1;
        left: 0;
        top: -5px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }

    :nth-child(1) {
        top: 0px;
        left: 10%;
    }

    :nth-child(2), :nth-child(3) {
        top: 40%;
        width: 100%;
    }

    :nth-child(4) {
        top: 78%;
        left: 10%;
    }
}

.o-navbar.open {
    .o-navbar-collapse {
        display: block;
    }

    .o-navbar-toggle-icon {
        :nth-child(1) {
            top: 5px;
            width: 0%;
            left: 50%;
        }

        :nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        :nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        :nth-child(4) {
            top: 5px;
            width: 0%;
            left: 50%;
        }
    }
}

/* Custom menu */
.o-navbar {
    .o-navbar-custom-module-wrapper {
        position: relative;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        display: none;
        visibility: hidden;
        opacity: 0;
        margin-top:50px;

        @media(min-width: $screen-md) {
            overflow-x: hidden;
            overflow-y: scroll;
            margin-right: -16px;
        }

        @media(max-width: ($screen-sm - 1)) {
            overflow: visible;
        }

        &::-webkit-scrollbar {
            display: none;
        }
        &.active {
            display: block;
            visibility: visible;
            opacity: 1;
        }
    }

    .o-navbar-custom-module {
        margin: 20px auto 0;
        -ms-overflow-style: none;

        .o-modal-header {
            margin: 0 auto 25px auto;

            @media(max-width: ($screen-sm - 1)) {
                text-align: center;
            }

            .c-search-logo {
                display: none;

                @media(min-width: $screen-md) {
                    display: inline;
                }

                img {
                    vertical-align: inherit;
                }
            }
        }

        .c-global-search__form {
            padding-bottom: 50px;
            margin:0 auto 50px;
            max-width:600px;

            .o-text__heading-3 {
                color:white;
            }
        }

        .c-global-search__textbox {
            font-size: 20px;
            color: $gray;
            background-color: white;
            padding-top: 8px;
            padding-left: 40px;
            padding-right: 35px;
            @media(min-width: $screen-sm) {
                padding-left: 10px;
                padding-right: 50px;
            }
        }

        .o-btn-search {
            @media(max-width: ($screen-sm - 1)) {
                left: 6px;
                top: 12px;
            }
        }

        .o-navbar-custom-module-separator {
            font-size: 30px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 100%;
            display: block;
            text-align: center;
            top: 145px;
            color:$white;


            @media(max-width: ($screen-sm - 1)) {
                font-size: 20px;
                width: 92%;
            }

            &:after {
                content: '';
                border-bottom: 1px solid $white;
                height: 1px;
                width: 45%;
                position: absolute;
                bottom: 40%;
                left: 0;
            }

            &:before {
                content: '';
                border-bottom: 1px solid $white;
                height: 1px;
                width: 45%;
                position: absolute;
                bottom: 40%;
                right: 0;
            }
        }

        .o-navbar-custom-module-list {
            padding-left: 0;

            @media(max-width: ($screen-sm - 1)) {
                margin-top: 0;
            }
        }

        .o-navbar-custom-module-menu {
            text-align: center;
            position: initial;

            .o-navbar-custom-module-menu-item {
                list-style-type: none;
                width:100%;
            }

            .o-navbar-dropdown-menu li {
                text-align:center;
            }

            .o-navbar-label {
                color: white;
                text-decoration: none;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;

                @media(max-width: ($screen-sm - 1)) {
                    line-height: 30px;
                }
            }

            > .o-navbar-label {
                font-size: 20px;
                line-height: 50px;
            }

            .o-navbar-custom-module-list-wrapper {
                @media(max-width: ($screen-sm - 1)) {
                    display: none;
                    position: absolute;
                    visibility: hidden;
                    opacity: 0;
                    margin-top: 0;
                    top:10px;
                }
            }

            &.submenu {
                @media(max-width: ($screen-sm - 1)) {
                    background: url("../svgs/arrow-right-nav.svg") right center no-repeat;
                }
            }
        }

        .tt-menu {
            background-color: white;
            padding: 0;
        }
    }
}

/* secondary menu */

.c-secondary-nav {
    background: #f0f0f0;
    padding: 25px 0px;
    position: fixed;
    z-index: 25;
    width: 100%;
    border-bottom: solid 1px $gray-lighter;
    top: 0;
    height: 55px;

    .c-login-register {
        padding: 0px;
        z-index: -1;
        position: fixed;
        width: 100%;
        margin-top: -15px;
		float:right;
    }

    .c-login-register-info {
        margin: 0px;
    }
    .c-profile-logout-info {
        padding:10px;
    }
}

.global-navigation{
	@media(max-width: $screen-sm) {

    }
}

@media (max-width: 991px) {
    .o-navbar-logo {
        max-width: 152px;
        width: 23.75%;
    }


    .c-search-wrapper {
        margin: 0;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .o-navbar-tier1-item {
        font-size: 16px;

        .o-navbar-label {
            width: 100%;
            text-align: center;
            margin: 0;
            font-size: 1em;
        }

        &:first-child {
            padding-left: 25px !important;
        }

        &:nth-child(4) {
            display: none;
        }
    }
}
