.c-category-overview {
    margin-bottom: 40px;
	background:$gray-pale;
	position:relative;

	.c-expandcollapse__header {
		@media(min-width: $screen-sm) and (max-width: ($screen-md -1)) {
			margin:20px 0;
		}
	}
	@media(max-width: ($screen-md - 1)) {
		.c-expandcollapse__title, .c-expandcollapse__body {
			padding-left:0;
			padding-right:0;
		}
		.c-expandcollapse__link, .c-expandcollapse__link:hover, .c-expandcollapse__link:focus {
			padding-left:0;
			padding-right:0;
		}
	}
}
.c-category-overview__link, .c-category-overview__link:hover {
	color:$gray;
}

