
.component-wrapper:first-child .article-listing {
    margin-top: 50px;
}
.c-article-listing {
    margin: 0 auto;
    max-width: 340px;
    @media(min-width: $screen-sm) {
        max-width: 795px;
        margin-bottom: 20px;
    }
}

.c-article-listing__item {
    margin-bottom: 30px;
    display: none;
    @media(min-width: $screen-sm) {
        display: block;
    }
}

.c-article-listing__headLine {
    text-align: center;
    margin-bottom:40px;
}

.c-article-listing__img {
    width: 100%;
    height: auto;
    img {
        width: 100%;
        height: 100%;
    }
    &.article-listing__img-mask {
        height: 157px;
        overflow: hidden;
        display: block;
        position: relative;
        .c-product-listing__tag {
            position: absolute;
            bottom: -10px;
            right: 0px;
            margin: 7px 0 0;
        }

        picture {
            @media(min-width: $screen-sm) {
                top: -60%;
            }
        }
    }
}

.c-article-listing__article-title {
    a {
        text-decoration: none;
		font-size:$font-size-h3;
		color:currentColor;
    }
}

.c-article-listing__tag {
    a {
        text-decoration: none;
		color: #333;
		font-size:$font-size-h4;
    }
}

.c-article-listings__link {
    span, svg {
        display: inline-block;
        vertical-align: middle;
    }
    .c-svg.arrow-right {
        height: 9px;
        stroke: #666666;
        stroke-width: 3px;
        margin: 3px 0px;
    }

}

/*Tripple A & C*/

.c-article-listing__item-a, .c-article-listing__item-c {
    @media(min-width: $screen-sm) {
        height: 215px;
    }

    .c-article-listing__detail-block {
        overflow: visible;
        height: 100%;

        @media(min-width: $screen-sm) {
            margin-top: 0px;
            display: table;

        }

    }

    .c-article-listing__detail-container {
        vertical-align: middle;
    }
    .c-article-listing__img {
        overflow: hidden;
        width: 100%;
        position:relative;
        @media(min-width: $screen-sm) {
            width: 72.4%;
            height: 100%;
            padding-right: 15px;
            float: left;
        }
        .c-product-listing__tag {
            position: absolute;
            bottom: -10px;
            right: 17px;
            margin: 7px 0 0;
        }
    }
    .c-article-listings__link {
        display: none;
		color: currentColor;
        @media(min-width: $screen-sm) {
            display: block;
        }
        .arrow-right {
            float: none;
        }
    }
}

/* C */

.c-article-listing__item-c {
    picture {
        left: 0;
    }
    .c-article-listing__detail-block {
        padding-left: 15px;
    }

    .ie11 &, .ie10 &, .ie9 & {
        .c-article-listing__detail-block {
            @media(min-width: $screen-sm) {
                float: right;

            }
        }
    }

    .c-article-listing__img {
        right: auto;

        @media(min-width: $screen-sm) {
            left: 15px;
        }
    }
}




/*DOUBLE TEXT D*/

.c-article-listing__item-d {
    height: 210px;


    .c-article-listing__body-copy {
        line-height: 1.4em;
        margin-top: 4px;
        overflow: hidden;
        max-height: 110px;
        @media(min-width: $screen-sm) {
            max-height: 78px;
        }
        .o-text__quote {
            overflow: hidden;
            text-overflow: ellipsis;
            height: 5.5em;
        }
    }
    .c-article-listings__link {
        .c-svg.arrow-right {
            float: none;
            display: inline-block;
            vertical-align: middle;
        }
    }

}

.c-article-listing__show-mobile {
    display: block;
}

.c-article-listing__more-link {
    margin-bottom: 7px;
    text-transform: lowercase;
    @media(min-width: $screen-sm) {
        margin-bottom: 30px;
    }
    @media (max-width: $screen-xs-max) {
        margin-bottom: 27px;
    }
}

/*B Single*/
.c-article-listing__item-b{
    .c-article-listing__img.article-listing__img-mask{
        picture{
            @media(min-width: $screen-sm) {
                top:-25%;
            }
        }
    }
}
.c-article-listing__detail-block{
	text-align:center;
	padding-top:15px;
}

.c-article-listing__more-mobile {
    display: none;

    @media(max-width: $screen-sm) {
        display: inline-block;
    }
}






