.featured-product {
    @include cf;
    padding: $base-spacing*2 0;

    &-wrap {
        background: url('../images/dig/featured-product-bg.png') top center;
        background-size: cover;
        width: 100%;
    }

    &-info {
        @include breakpoint(medium) {
            @include span(4);
        }

        h3 {
            @include fs-body;

            a {
                color: $digBlue;
                @include font-size(28px);

            }
        }
    }

    &-image {
        @include breakpoint(medium) {
            @include span(8 last);
        }

        img {
            width: 100%;
        }

    }

    .button {
        @include fs-body;
    }
}
