.c-category-overview {
	@include text-align(center, center);

	.c-expandcollapse__wrapper__outer {
		border-bottom:solid 1px $gray-light;

		&:last-child {
			border-bottom: none;
		}

		@media screen and (min-width: $screen-sm) {
			width: 83.33333%;
			margin: 0 auto;
		}
	}
	.c-expandcollapse__wrapper {
		width: auto;
		display: table;
		margin: 0 auto;
		@media screen and (max-width: $screen-sm - 1) {
			width: 100%;

		}
	}

	.c-expandcollapse {
		@include make-md-column(12);
		//display: table;
		border: none;
		&.last--item {
			border:0 none;
            @include theme("men-care") {

                margin-top:20px;
            }
			.c-expandcollapse__body {
				@media(min-width: $screen-sm) {
				 	padding-bottom:0;
				}
			}
		}
	}
	.o-text__heading-2 {
		@include text-align(center, center);
		margin:20px 0 10px;

		@media(min-width: $screen-sm) {

            @include theme("whitelabel") {
				margin: 35px 0 0;
                //margin-bottom:10px;
            }

            @include theme("men-care") {
                margin-bottom:0;
            }
		}
		@include theme("men-care") {
			color: $brand-primary;
		}
	}
	.c-expandcollapse__body {
		background:none;
		//@extend .o-hidden;
	}
	.c-expandcollapse__header {
		@media(min-width: $screen-sm) {
			padding: 0;
			@include theme("men-care") {
				margin: 25px 0 5px;
			}
		}
		@media(min-width: $screen-sm) {
			//display: table-cell;
			line-height: 16px;
			margin: 25px 0 5px;
			text-align: center;
			white-space: nowrap;
		}
	}
	.c-expandcollapse__body {
		@media(min-width: $screen-sm) {
			display: block;
			padding:10px 0 25px 0;
			@include theme("men-care") {
				padding-bottom: 10px;
			}
			text-align: left;
			width: 100%
		}
	}

	.c-expandcollapse__title {
		@media(min-width: $screen-md) {
			line-height: 16px;
			padding-right: 0px;
		}
	}
	.c-expandcollapse__link {
		svg {
			position: absolute;
			right: 0;
		}
	}
}
.c-category-overview__list {
	list-style-type:none;
	margin:0;
	padding:0;
	text-align: center;
}
.c-category-overview__item {
	margin:15px 0;
	&:first-child {
		//margin-top:10px;
	}
	@media(min-width: $screen-sm) {
	 	display: inline-block;
		margin:0;
		padding:0 10px 10px;
		line-height: 16px;
	}
	.c-svg.arrow-right {
		float:none;
		margin:5px 0 0;
		width:15px;
		stroke-width:3px;
	}
}
