.instagram-feed {

    .instagram-feed-wrapper {
        margin: 0 auto;

        img {
            width: 100%;
        }
    }

    p {
        word-wrap: break-word;
        padding: 15px 0 0 0;
        line-height: 1.4;
        margin-bottom: 0;
    }
	
	.instagram-feed-header {
        padding: 18px 8px;
        display: table;
        width: 100%;

        .instagram-logo, .instagram-title {
            display: table-cell;
            vertical-align: middle;
            float: none;
        }

        .instagram-logo {
            text-align: right;
        }

        h2 {
            padding-bottom: 12px;
            text-transform: uppercase;
            margin: 0;
        }

        p {
            margin-bottom: 0;
        }

        img {
            width: 100px;
            height: 23px;
        }

        @media (min-width: $bp-large) {
            padding: 18px 15px;

            h2 {
                padding-bottom: 12px;
            }

            img {
                width: 182px;
                height: 40px;
            }
        }

        @media (min-width: $bp-extra-large) {
            padding: 20px 15px 10px 15px;
            min-height: 100px;
            height: auto;

            h2 {
                font-size: 24px;
                padding-bottom: 5px;
            }

            p {
                padding-top: 0;
            }

            img {
                width: 178px;
                height: 40px;
            }
        }
    }

	.instagram-feed-wrapper {
		padding: 20px 8px 0px 8px;

		.thumbnail {
			margin-bottom: 0;
			padding: 15px;
			height: 100%;
		}

		.feeds, .thumbnail {
			border: none;
		}

		h3 {
			margin: 0 0 8px 0;
		}

		@media (max-width: $bp-large) {
			.feeds {
				margin-bottom: 10px;
			}
		}

		@media (min-width: $bp-large) {
			padding: 30px 15px 0 15px;

			.feeds {
				padding: 0px 10px 30px;
			}
		}

		@media (min-width: $bp-extra-large) {
			padding-top: 40px;
			.feeds {
				padding: 0px 10px 40px;
			}
		}
	}

    .small-container, .x-small-container {
        .instagram-feed-header {
            padding: 18px 15px;
            min-height: 50px;

            h2 {
                padding-bottom: 12px;
            }

            p {
                margin-bottom: 0;
            }

            img {
                width: 100px;
                height: 23px;
            }
        }

        .instagram-feed-wrapper {
            padding: 30px 15px 0 15px;

            .feeds {
                padding: 0px 10px 30px;
            }
        }
    }

    .medium-container {
        .instagram-feed-header {
            padding: 18px 8px;
            min-height: 50px;

            h2 {
                padding-bottom: 12px;
            }

            p {
                margin-bottom: 0;
            }

            img {
                width: 124px;
                height: 32px;
            }
        }

        .instagram-feed-wrapper {
            .feeds {
                margin-bottom: 10px;
            }
        }
    }
}

.no-caption {
    padding: 5px !important;

    p {
        display: none;
    }
}
