.c-product-overview {
    margin-bottom: 40px;
    @include transition(margin-top 1s ease-in-out);
    
    .c-thumb-carousel__img {
        text-align: center;
        height: 270px;

        @media(min-width: ($screen-sm - $screen-xs)) {
            height: 334px;
        }

        @media(min-width: $screen-sm) {
            height: 457.5px;
        }
        picture {
            display: block;
            position: relative;
            margin: 0 auto;
            width: 260px;

            @media(min-width: ($screen-sm - $screen-xs)) {
                width: 334px;
                height: 334px;
            }

            @media(min-width: $screen-sm) {
                width: 457.5px;
                height: 457.5px;
            }
        }
        img {
            width: 100%;
        }
    }

    .c-thumb-carousel__img--thumb {
        background-position: center center;
        background-size: 70% 70%;
        background-repeat: no-repeat;
    }

    .c-thumb-carousel-nav__product--small {
        background-position-y: 0;
    }
    .o-btn--primary {
        display: inline-block;
    }
	
	.etale-popup {
		height: 560px;
        border: 1px solid #000;
        width:500px;
         @media(min-width: $screen-sm) {
            width: 100%;
        }
	}
	
	.c-etale-popup {
		width: 305px;
		margin: 20px auto;
	}

    /* DROPDOWN */
    .c-dropdown {
        float: left;
        width: 100%;
        display: block;
        margin: 0 auto;
        @media(min-width: $screen-sm) {
            width: 100%;
            display: inline-block;
        }
    }
}

.c-product-overview__btn {
    display: inline-block;
    width: 100%;
    @media(min-width: $screen-sm) {
        width: 29%;
        margin-left: 3%;
    }
}

.c-product-overview__pricing {
    border-top: $gray-pale solid 2px;
    padding-top: 30px;
}

.c-product-overview__zoom {
    @include rounded(50%);
    @include transition(all 1s ease-in-out);
    text-align: center;
    outline: none;
    background: none;
    border: $gray-lighter 1px solid;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 15px;
    right: 10%;
    color: $gray;
    padding: 0;
    svg {
        stroke: $gray;
    }
    
    span {
        display: block;
    }
    @media(min-width: $screen-sm) {
        right: 22%;
    }
    .c-zoom-btn-copy{
        width: 100%;
        margin-top: -4px;
    }
}

.c-thumb-carousel__product--small {
    .c-product-overview__zoom {
        top: 50px;
        @media(min-width: $screen-sm) {
            right: 22%;
        }
    }
    .c-product-overview__thumb-carousel{
        margin-top: 70px;
        @media(min-width: ($screen-sm - $screen-xs)) {
            margin-top: 0;
        }
    }
}

.c-product-overview__zoom-svg {
    width: 11px;
    height: 11px;
    stroke-width: 3px;
}

.c-product-overview__zoom__close {
    position: absolute;
    top: 20px;
    right: 20px;
    pointer-events: none;
    svg {
        width: 35px;
        height: 35px;
        position: relative;
        fill: $gray-light;
        @include transform(rotate3d(0, 0, 1, 225deg));
    }
    @media(min-width: ($screen-md + 35)) {
        display: none;
    }
}

.c-product-overview__thumb-carousel {
    opacity: 0;
    background-position: top center;
    background-size: auto 90%;
    background-repeat: no-repeat;
    position: relative;

    margin-bottom: 10px;
    @media(min-width: ($screen-sm)) {
        margin-bottom: 20px;
    }
}

.c-product-overview__title {
    margin-bottom: 7px;
    display: inline-block;
}

.o-product-overview__details {
    margin: 0 auto;
    width: 100%;
    @media(min-width: $screen-sm) {
        width: 60%;
    }

    @media(min-width: $screen-md) {
        max-width: 45%;
    }
}

.c-product-overview__description {
    margin: 0 auto;
    margin-bottom: 10px;
}

.c-product-overview__price {
    margin-bottom: 25px;
    span {
        padding: 0 2px 0 2px;
    }
}

.c-product-overview__unit--single{
 display: block;
    margin-bottom: 20px;
}

.o-product-overview__details {
    text-align: center;
}
.c-product-overview__customisable-wrap {
	text-align:center;
	margin-top:50px;
	
    .o-text__heading-5 {
		margin-top:25px;
		margin-bottom:20px;
	}

	.c-field-tooltip-wrapper {
		display:inline-block;
		margin-left:10px;
	}
	.c-product-overview__customisable--price{
		font-size:20px;
		display:block;
		margin-bottom:10px;
	}
    .c-product-overview__customisable--desc {
        margin:20px 0;
    }
}



.c-product-overview__store-locator
{
    text-align: center;
    margin: 0 auto;
}

.c-product-overview__storewrapper
{
    display:none;   
}


.c-buyStore__form
{
    max-width: 449px;
    margin:0 auto;
    border:solid 1px #f0f0f0;
    padding:10px;
    text-align: left;
    margin-top:20px;
     .input-md{
            height:50px;
            margin-top: 10px;
        }
    .o-dropdown
        {
            margin-left: 0px;
        }
    .buystore-form-seperator--or
        {
            width: 20px;
            margin: 2px auto;
            text-align: center;
            font-weight:700;
        }
        .postalCode{
                width: 95%;
        }
        .c-form-help-info{
                top:26%;
                right: 2%;
            @media(max-width: ($screen-md - 1)) {
                 top:13%;
                right: 0%;
            }
        }
    .c-tooltip-form{
         .c-tooltip-info__copy{
            left:-70px;
            min-width:165px;
           @media(max-width: ($screen-md - 1)) {
                left:-175px;
            }
        }
    }
       
}
    
.c-product-overview__review {
    margin-bottom:20px;
}

.c-buyStore__quick-close {
    position: absolute;
    right: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: url("../svgs/sprites/cross.svg") center no-repeat;
    

    @media (max-width: $screen-sm - 1) {
        width: 20px;
        height: 20px;
        padding: 20px;
        background-size: 30px;
		top:3px;
        right: 0;
    }
}
.c-product-overview__turntowrapper {
    border-top: $gray-pale solid 2px;
    padding: 20px 0;
}
