@import "anchor-link-our-story";
@import "anchor-link-recipe-category";

.product-page {
    .anchor-link-navigation-v2 {
    display: table;
    margin: 0 auto;
    background: url('../images/pattern-navigation.jpg') 0 0 repeat;
    width: 100%;
    max-width: initial;
    position: relative;
    z-index: 1;
    padding: 0;

    .c-navigation-sticky__item {
        padding: 0 !important;

        &:last-child {
            .c-navigation-sticky__button:after {
                content: none;
            }
        }
    }

    .c-navigation-sticky__button,
    .js-navigation-sticky__anchor-text {
        font-size: 16px;
        color: #004976;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
    }

    &.js-container-sticky {
        left: 0;
        background: url('../images/pattern-navigation.jpg') 0 0 repeat;
        padding: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
        // padding: 10px 0 20px;

        @media(min-width: $screen-sm) {
            .c-navigation-sticky__item.cell {
                margin-top: 0;
            }
        }
    }

    .c-navigation-sticky-wrapper {
        position: relative;
        margin-right: 40px;
        margin-left: 40px;

        @media(max-width: ($screen-sm - 1)) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .c-navigation-sticky {
        margin: 0 auto;
        padding: 0;
        display: block;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        height: auto;

        @media(min-width: $screen-sm) {
            width: auto;
        }

        &-mobile {
            position: relative;
            height: 48px;
            padding: 15px 10px;

            &:after {
                content: '';
                position: absolute;
                right: 20px;
                top: 18px;
                background-image: url(../svgs/arrow-drop.svg);
                background-repeat: no-repeat;
                height: 13px;
                width: 24px;
                transform: rotate(180deg);
            }

            &.is-close{
                &:after {
                    transform: rotate(0deg);
                }
            }
        }
    }

    .c-navigation-sticky__item {
        vertical-align: middle;
        position: relative;
        padding: 0;

        @media(min-width: $screen-sm) {
            display: inline-block;
        }

        &.cell {
            display: block;
            padding: 15px 0;
            cursor: pointer;

            @media(min-width: $screen-sm) {
                display: inline-block;
                border-bottom: none;
                padding: 0 15px;

                &.is--selected {
                    padding: 10px;
                    margin-left: 15px;
                }
            }
        }
    }

    .c-brand-logo {
        display: none !important;
        float: left;
        position: absolute;
        @media(min-width: $screen-sm) {
            position: relative;
        }
    }

    .js {
        .anchor-link-navigation-v2 {
            opacity: 0;
        }
    }

    .js-navigation-sticky--active {
        .c-navigation-sticky__button {
            color: $brand-primary;
        }
    }
    .pl2-page,.range-page,.hub-page,.need-page {
        .anchor-link-navigation-v2 {
            margin-bottom: 50px;
        }
    }

    .js-navigation-sticky__anchor-text {
        display: block;
        text-align: center;
        cursor: pointer;
    }
}
}
@media (max-width: 991px) {
.produc-page {
    .anchor-link-navigation-v2 {
        padding: 10px 7px 20px 7px;
    }

    .c-navigation {
        display: block !important;

        &-sticky__item {
            display: inline-block !important;

            &:nth-child(2n):before {
                font-size: 1em;
            }
        }

        &-sticky__button {
            font-size: 1em;
        }
    }

    .c-navigation-sticky-mobile {
        display: none !important;
    }
}
}

@media (min-width: 992px) {
    .product-page {
        .c-navigation {
            &-sticky__item {
                &:nth-child(2n):before {
                    font-size: 18px;
                }
            }

            &-sticky__button {
                font-size: 18px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .product-page {
        .anchor-link-navigation-v2 {
            .c-navigation-sticky__item {
                &:nth-child(2n) {
                    &:before {
                        content: 'Jump to:';
                        font-weight: normal;
                        color: #004976;
                        display: inline-block;
                        text-transform: uppercase;
                        margin-right: 10px;
                    }
                }
            }
        }
        .c-navigation-sticky__button {
            &:after {
                content: '';
                display: inline-block;
                vertical-align: middle;
                border-left: 1px solid #004976;
                margin: 0 15px;
                height: 25px;
            }
        }
    }
}

