.recipe-category-page {
  &.o-sticky-nav-enabled { padding-top: 0; }
  .anchor-link-navigation-v2 {
    background: url('../images/pattern-navigation.jpg') 0 0 repeat;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .c-navigation {
    list-style: none;
    margin-bottom: 0;
    padding: 0;

    .c-navigation-sticky__button {
      text-transform: uppercase;
      color: $font-hightlight;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      background-color: #ccdbe4;
      border-radius: 4px;
      padding: 10px 20px;
      position: relative;
      transform: translateX(50%);

      &:before {
        content: "Searching for something specifc?";
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        font-family: $font-family-custom;
        font-style: italic;
        font-weight: normal;
        margin-left: -70px;
        position: absolute;
        text-transform: none;
        left: -100%;
      }
    }

    .c-brand-logo { display: none !important; }
  }
}

// mobile-tablet
@media screen and (max-width: 991px) {
  .recipe-category-page {
    .anchor-link-navigation-v2 {
      display: none !important;
    }
  }
}