.our-story-page {
  &.o-sticky-nav-enabled { padding-top: 0; }
  .anchor-link-navigation-v2 {
  }

  .c-navigation {
    bottom: 5%;
    color: #fff;
    display: inline-block !important;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 3%;
    font-weight: bold;
    text-align: right;
    z-index: 1000;

    &-sticky__item {
      display: block;
      margin-bottom: 10px;
      cursor: pointer;
    }

    &-sticky__button {
      text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);

      &:after {
        content: "";
        height: 10px;
        width: 10px;
        border: 3px #fff solid;
        display: inline-block;
        margin-left: 5px;
        border-radius: 50%;
        box-shadow: 2px 2px 2px rgba(150, 150, 150, .5);
      }
    }

    .c-brand-logo { display: none !important; }
  }
}

// mobile-tablet
@media screen and (max-width: 991px) {
  .our-story-page {
    .anchor-link-navigation-v2 {
      display: none !important;
    }
  }
}