.anchor-link-navigation {
    background-color: #fff;
	width: auto;
	max-width: initial;
	position: relative;
	z-index: 1;

	&.js-container-sticky {
	    position: fixed;
	    background:#fff;
	    top: 0;
	    padding: 0;
	    width: 100%;
	    z-index: 10;
		left: 0;
	}

.o-sticky-nav-enabled {
	.c-navigation-sticky__marker,
	.c-highlighted-line {
		display: block;
	}

	.c-navigation-sticky-wrapper {
		border-top: none;
	}
}

.c-highlighted-line-container {
	width: 0;
	overflow: hidden;
	height: 75px;
	position: absolute;
	left: -10%;
	opacity: 0;

	@media(max-width: ($screen-sm - 1)) {
	    left: -30%;
	    height: 60px;
	}
}

.c-highlighted-line {
	position: absolute;
	width: 0;
	height: 75px;

	@media(max-width: ($screen-sm - 1)) {
    	height: 60px;
	}
}

.c-highlighted-curve {
    border-radius: 0 0 50% 50%;
}

.c-navigation-sticky-wrapper {
	position: relative;
	margin-right: 40px;
	margin-left: 40px;

	@media(max-width: ($screen-sm - 1)) {
		margin-left: 25px;
		margin-right: 25px;
	}

}

.c-navigation-sticky {
	margin: 0 auto;
	padding: 0;
	display: table;
	width: auto;
	text-align: center;
	height: 80px;

	@media(max-width: ($screen-sm - 1)) {
		height: 60px;
    }
}

.anchor-link-navigation.line .c-navigation-sticky {
	height: 60px;
}

.c-navigation-sticky__item {
	vertical-align: middle;
	position: relative;
	padding: 0;

	@media(min-width: $screen-md) {
		padding: 0 20px;
    }

	@media(max-width: $screen-sm) {
		max-width: 100px;
    }

	&.cell {
		display: table-cell;
	}
}

.c-navigation-sticky__button {
	display: inline-block;
	cursor: pointer;
}

.c-navigation-sticky__marker {
	
	@include rounded(25px);
	height: 8px;
	width: 8px;
	display: block;
	position: absolute;
	left: -20px;
	display: block;
}

.c-navigation-sticky__arrow {
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 8px;
	position: absolute;
	top: 0;
	width: 8px;
	height: 50px;
	display: none; /* Reveal via JS */

	@media(min-width: $screen-sm) {
		height: 60px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 1px;
		width: 60px;
		height: 75%;
		z-index: 0;

		@media(max-width: ($screen-sm - 1)) {
			width: 20px;
		}
	}
}

.c-navigation-sticky__arrow--right {
	background-image: url("../svgs/arrow-right.svg");
	right: 25px;

	@media(max-width: ($screen-sm - 1)) {
		right: 10px;
	}
}

.c-navigation-sticky__arrow--left {
	background-image: url("../svgs/arrow-left.svg");
	left: 25px;

	@media(max-width: ($screen-sm - 1)) {
		left: 10px;
	}
}

.js {
	.anchor-link-navigation {
        opacity: 0;
    }
}
.c-navigation-sticky-wrapper {
	@media(max-width: ($screen-sm - 1)) {
		border-top: 1px solid $gray-lighter;
	}
}

.c-highlighted-line {
	border-bottom: 2px solid $brand-primary;
}

.c-navigation-sticky__button {
	color: $gray-dark;
	font-family: $font-family-base;
	font-size: 16px;
	padding:2px 6px;
}

.js-navigation-sticky--active {
	.c-navigation-sticky__button {
		color: $brand-primary;
	}
}

.c-navigation-sticky__marker {
	background-color: $brand-primary;
}
.pl2-page,.range-page,.hub-page,.need-page {
    .anchor-link-navigation {
        margin-bottom: 50px;
    }
}
}