.c-product-range {
	background: url('../images/product-range/product-range-bg.jpg') no-repeat;
}

.c-product-range__wrapper {
	display: table;
	padding: 15px 0px;
}

.c-product-range__image {
	vertical-align: middle;
	padding: 0 15px;
	text-align: center;

	@media (min-width: $screen-sm) {
		width: 50%;
		display: table-cell;
	}

	@media (max-width: $screen-sm) {
		display: table-header-group;
	}

	img {
		width: 100%;
	}
}

.c-product-range__copy {
	vertical-align: middle;
	padding: 0 15px;

	@media (min-width: $screen-sm) {
		width: 50%;
		display: table-cell;
	}

	@media (max-width: $screen-sm) {
		display: table-footer-group;
	}

	.c-product-range__heading {
		@media (max-width: $screen-sm) {
			margin-top: 15px;
		}
	}

	.c-product-range__description {
		margin: 30px 0px 60px 0px;
	}
}

.c-product-range__group {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
