.c-e-gifting-configurator {
    &__wrapper {
        text-align: center;
    }
    
    &__personalise-desc {
        margin: 10px 0;
    }
    
    &__conditions-wrapper {
        position: relative;
        display: inline-block;
        padding-right: 35px;
        text-align: left;
    }
    
    .c-tooltip__wrapper {
        position: absolute;
        right: 0px;
        top: 0px;
    }
}