.c-inline-review  {		
	img{
		width: 60px !important;
		border-radius:0;
	}
	
	.rr-widget-container{
		margin:0;
	}
	.aggregateRating {
		text-align: left;
		@media(min-width: ($screen-sm)) {
			margin-bottom:10px;
		}
	}
	.aggRtng, .tRtng, .wRtng {
		display:none;
	}
	.aggregateRating div, .c-inline-review .aggregateRating img {
		vertical-align:middle !important;
	}
	@media(max-width: ($screen-sm - 1)) {
		.agRatingSelect {
			margin-top:-20px !important;
		}
	}
	.rr-widget-container {
		line-height:1.3em;
	}
	.rr-widget-container .aggregateRating > div + div {
		margin-top: 0px !important;
	}
}