.c-tooltip-info {
	margin-top:5px;
	position: relative;
	display:inline-block;

	.c-tooltip-info__icon {
		width:20px;
		height:20px;
		position:absolute;
		right:10px;
		top:25%;
		cursor: pointer;
		display:inline-block;
		background: transparent url("../svgs/icon-info.svg") 0 0 no-repeat;
    	background-size: 20px 20px;
    	&.is-active {
    		background-image: url("../svgs/icon-info-on.svg");
    	}
    	@media (min-width: $screen-sm) {
			right:0;
			top:10%;
		}
	}
	.o-text__body {
		margin-top:0;
		width:auto;
	}
}
.c-tooltip-info__title {
	font-size:$font-size-h4;
	text-align: left;
	padding-right:20px;
	display:inline-block;
	vertical-align: middle;
}
.c-tooltip-info__wrap {
	margin-left:5px;
	display:inline-block;
	vertical-align: middle;
	line-height:$line-height-base;
}
.c-tooltip-info__copy {
	min-width:280px;
	background:#fff;
	position:absolute;
	display:none;
	right:0;
	top:50px;
	border: solid 1px $gray-lighter;
	z-index:9;

	&::before {
	    position: absolute;
	    top: -10px;
	    right: 10px;
	    content: "";
	    display: inline-block;
	    width: 0.4em;
	    height: 0.4em;
	    border-left: 10px solid transparent;
    	border-right: 10px solid transparent;
	    border-bottom: 10px solid $gray-lighter;
	}
	@media (min-width: $screen-sm) {
		top:40px;
		right:-30px;
		&::before {
		    right:30px;
		}
	}
}
.c-tooltip-info__copy--text {
	margin-top:5px;
	display:block;
	padding:15px;
	margin-right:5px;
}
.c-field-tooltip__close {
	width:15px;
	height:15px;
    stroke: #333;
    stroke-width: 2px;
    position:absolute;
    right:10px;
    top:10px;
    cursor:pointer;
}