/* _layout.scss  */

// Common Styles
// --------------------------------------------------

.o-content-wrapper {
    overflow:hidden;
    margin:0;
}

.container {
    position:relative;
}
.o-content-border {
    position: relative;
	clear:both;
}

.o-absolute-header .o-content-wrapper {
    margin-top: 0;
}

.o-sticky-nav-enabled {
    padding-top: 100px;
}

.o-content-wrapper__in {
    position: relative;
    z-index: 1;
}

.o-no-padding {
    padding: 0;
}
.o-desc {
    margin:20px 0;
}

/** TEXT **/


// p, .o-text__body {
//     font-size: $font-size-h4;
//     line-height: 20px;
//     color: $gray;
// }
// .o-text__bold {
//     font-weight:bold;
// }

// @mixin o-text__heading-1() {
//     font-size: $font-size-h1;
//     line-height: 53px;
//     color: $brand-primary;
// }

// .o-text__heading-1 {
//     @include o-text__heading-1;
// }

// @mixin o-text__heading-2() {
//     font-size: $font-size-h2;
//     line-height: 36px;
//     color: $brand-primary;
//     margin-bottom:20px;
// }

// .o-text__heading-2 {
//     @include o-text__heading-2;
//     a, a:hover, a:focus {
//         text-decoration:none;
//         color: $brand-primary;
//     }
// }

// @mixin o-text__heading-3() {
//     font-size: $font-size-h3;
//     line-height: 24px;
//     color: $gray;
// }

// @mixin o-text__heading-4() {
//     font-size: $font-size-h4;
//     line-height: 20px;
//     color: $gray;
// }

// .o-text__heading-4 {
//     font-size: $font-size-h3;
//     line-height: 18px;
//     color: $brand-primary;
// }

// .o-text__heading-3 {
//     @include o-text__heading-3;
// }

// .o-text__small {
//     a {
//         color: $gray-dark;
//         text-decoration: underline;
//     }
// }

// .o-tag {
//     font-size: 14px;
//     height: 24px;
//     margin-bottom: 0;
//     line-height: 24px;
//     background-color: $brand-secondary;
//     color: $color-white;
//     padding: 0 10px;
//     display: inline-block;
// }

// .o-continue-arrow {
//     background-image: url("../svgs/arrow-drop.svg");
//     background-color: white;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 70%;
//     @include rounded(25px);
//     height: 35px;
//     width: 15px;
//     position: fixed;
//     bottom: 50px;
//     left: 0;
//     right: 0;
//     margin: 0 auto;
//     padding: 20px;
//     border: 1px solid $gray-lighter;
//     opacity: 0;
//     z-index: 999;
// }
.o-modal-open {
    position:fixed;
    overflow:hidden;
    width: 100%;
}

.o-play-icon {
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    left:50%;
    margin:-16px 0 0 -18px;
    background: url("../svgs/play-video.svg") center no-repeat;
    background-size: 36px;
    z-index: 6;
    cursor: pointer;

    @media (min-width: $screen-sm) {
        width: 70px;
        height: 70px;
        background-size: 70px;
        margin:-34px 0 0 -35px;
    }
}

picture img {
    max-width:100%;
}

picture.is-loading, picture.is-lazyload {
    background:url(../images/loader/ajax-loader.gif);
    height: 100%;
    background-size: 26px;
    min-height: 100px;
    width: 100%;
    margin: 0 5px 5px 0;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;

}

.o-preloader {
    background: #fff url(../images/loader/ajax-loader.gif) center 50px no-repeat;
    position:absolute;
    width:100%;
    z-index:2;
    min-height:200px;
    height:100%;
    text-indent:-9999px;
}
pre {
    display: block;
    font-family: inherit;
    margin: 0;
    padding:0;
}
html {
   -ms-overflow-style: scrollbar;
}

/* CSS for error pages */
.error-page {
	text-align: center;
	width: 100%;
	height: 100%;
}
.error-page .c-homepage-link {
	font-weight: bold;
	text-decoration: none;
}
.error-page a:hover {
	text-decoration: none;
	color: #666666;
}
.error-page .c-error-title {
	max-width: 500px;
	margin: 0 auto;
	padding: 0 20px;
}
.error-page .c-error-wrapper {
	margin: 20px 0 30px;
	padding: 0 30px;
}

/* Disclaimer and Terms & Condition Pages */
.o-text__termsDisclaimer {
	margin: 59px 32px;
	@media(min-width: $screen-md) {
		margin: 59px 172px;
	}
	.o-text__heading-1 {
		text-align: center;
		margin-bottom: 40px;
	}

	.c-termsDisclaimer-center__article {
		text-align: center;
		margin: 0 30px 25px;
		@media(min-width: $screen-md) {
			margin:0 80px 25px;
		}
	}

	.o-text-content__termsDisclaimer li {
		margin-bottom: 20px;
	}
}

.u-blur-background {
    filter: blur(5px);
}
