// Typography
// -------------------------

$font-family-sans-serif:  "museo-sans", sans-serif !default;
$font-family-serif:       "Brush", serif !default;

$base-font-size: 16px;
$base-font-color: #484848;
$base-lineHeight: 1.45; // Camel case to avoid Susy conflict.

// Spacing
// --------------------------------------------------

$base-spacing: 20px;
