.c-recipe-hero {
	display: inline-block;
	padding: 5px;

	img.c-img-responsive {
		max-width:100%;
		height: auto;
	}
    
	.c-recipe-video {
		cursor: pointer;
	}
    
	&-video object {
		min-width: 560px;
		min-height: 315px;
	}
	.c-video-player__wrap img {
		max-width: 100%;
	}
}