.c-payment-form {
	max-width: 500px;
	margin: 0 auto 40px;

	.form-control {
		&.input-sm {
			width:40%;
			float:left;
			margin-right:30px;
		}
	}
	.c-control-label {
		display:block;
	}
	.c-form-copy-content__headline {
		margin-top:0;
	}
}
.c-payment-form__wrap {
	position:relative;
	min-height:100px;
	.o-preloader {
		min-height:inherit;
	}
}
#payCardButton {
	@media (min-width: $screen-sm) {
		float:right;
	}
}
#cvv.form-control {
	width:92%;
	float:left;
	margin-right:10px;
}
.c-payment-form__input {
  	padding:0 12px;
}
.braintree-hosted-fields-invalid {
	border:solid 1px $color-error;
}
.c-payment-form__errorwrap {
	padding-bottom:20px;
	border:solid 1px $color-error;
}

.c-payment-form__paymenttype {
	padding:20px 0 0;
}
#paypalWrapper {
	margin: 20px auto;
}
.c-payment-form_buttons {
	text-align: center;
}
.c-payment-form_buttons .is-active {
	background-color: $btn-secondary-bg-hover
}
.c-form-submit-btn {
	margin:50px auto;
}
.braintree-msg-list {
	margin:0;
	padding:0;
}
.braintree-msg-item {
	list-style: none;
	margin:5px 0;
}
#braintree-paypal-button {
	margin:0 auto;
}
.help-block-error {
	margin-top:5px;
	display:block;
}