.c-ad-choices {
    &__wrapper{
		display: inline-block;
	}
	
	&__link {
		display: table;
	}
	
	&__img,
	&__text	{
		display: table-cell;
	}
	
	&__text {
		padding-left: 5px;
		vertical-align: middle;
	}
}