/* the base class name is the name added to each component in the component view js (home.js) */
@include theme('whitelabel') {
    .plain-text-image {
        .thumbnail {
            
        }

        .caption {
            font-size: $font-size-small;

            h3 {
                font-size: $font-size-large;
            }

            .btn-primary {
                border-bottom: 1px solid $gray;
                font-family: $font-family-base;
                font-size: $font-size-large;
            }
        }

        a[disabled] {

            &:hover {
                color: #000;
            }
        }


        /* iPads (portrait and landscape) */
        @media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) {
            .caption {
                h4 {
                    font-size: $font-size-medium;
                }
            }
        }


        @media only screen and (min-width: $screen-lg-min) {

            .caption {
                h4 {
                    font-size: $font-size-large;
                }

                 h3 {
                    font-size: $font-size-h3;
                }
            }
        }
    }
    
    .plain-text-image {
        .caption {

            color: $gray;

            h3 {
                color: $color-black;
            }
        }
    }
}

