/* _author.scss  */

// Common Styles
// --------------------------------------------------

.wcmmode-edit, body.product-gifting-page.wcmmode-edit {
	margin-top:0;
}  
.wcmmode-edit .o-navbar {
	position: relative;
}  

.wcmmode-edit header{
	padding-bottom: 20px;
}

.wcmmode-edit.contact-page, .wcmmode-edit.form-page, .wcmmode-edit.sign-up-page {
	.social-sharing {
		display: block;
	}
}

