/* The below are colors from the official IEA style guide */

// Grays
// -------------------------

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee
$gray-pale:          	 lighten(#000, 94%) !default; // #efefef (pale gray)


// primary colors
// -------------------------

$color-white:       	#fff !default;
$color-black:       	#000 !default;
$color-error:			#d0021b !default;
$brand-primary:			#333 !default;
$brand-secondary:  		#888 !default;
$brand-secondary-lt:    #999 !default;
$brand-link:			#546e98 !default;
$text-color:			$brand-primary;

$brand-success:         $gray;
$brand-warning:         $color-error;
$brand-danger:          $color-error;
$brand-info:            $gray-dark;


/* THe below is the customized colors for IEA components*/

$color-twitter-header: 		#15577c !default;
$color-panel-tab: 			#ebebeb !default;
$color-panel-border: 		#f3f3f3 !default;
$color-tab-border: 			#008eab !default;
$color-panel-border-bottom: #00bde3 !default;
$color-search-btn: 			#393939 !default;
$color-btn-border: 			#167FA3 !default;

$color-iea-faded:       	#ccc !default;

$color-pinterest-header: 	#c72527 !default;

$color-navigation-border: 	#4D4D4D !default;
$color-navigation-bg: 		#292929 !default;
$color-navigation-border: 	#15577c !default;
$color-navigation-border: 	#15577c !default;

$color-iea-background: 		#efece5 !default;
$color-iea-footer-grey: 	#c5bfbb !default;

$color-iea-shadow-dark: 	#c8c6c0 !default;
$color-iea-expandcollapse-background: #f2f1eb !default;
$color-iea-sec-nav: 		#f2f1eb !default;

// Buttons
// -------------------------

$btn-font-weight:                normal !default;

$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             darken($btn-warning-bg, 5%) !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              darken($btn-danger-bg, 5%) !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                darken($btn-info-bg, 5%) !default;

$btn-link-disabled-color:        $gray-light !default;

// Bootstrap Overrite
// -------------------------
$body-bg:               $color-white;
$black:					$color-black;
$white:					$color-white;

$light:					#ddd;
$lighter:				#e5e5e5;
$nav-dark-gray: 		#777;

$silver: 				#ccc;
$silver-light: 			#f5f5f5;
$silver-lighter: 		#f9f9f9;
$color-noimg: 			#be3730 !default;

// Links
// -------------------------

$link-color:            $brand-link !default;
$link-hover-color:      darken($link-color, 15%) !default;

// Components
// -------------------------
$component-active-color:         $color-white !default;
$component-active-bg:            $brand-primary !default;

// Tables
// -------------------------

$table-bg:                           transparent !default; // overall background-color
$table-bg-accent:                    $silver-lighter !default; // for striping
$table-bg-hover:                     $silver-light !default;
$table-bg-active:                    $table-bg-hover !default;
$table-border-color:                 $light !default; // table and cell border


// Forms
// -------------------------

$color-error-fill:		#ffd4d9 !default;
$input-bg:                       $color-white !default;
$input-bg-disabled:              $gray-lighter !default;
$input-color:                    $gray !default;
$input-border:                   $silver !default;
$input-border-focus:             #66afe9 !default;
$input-color-placeholder:        $gray-light !default;
$legend-color:                   $gray-dark !default;
$legend-border-color:            $lighter !default;
$input-group-addon-bg:           $gray-lighter !default;
$input-group-addon-border-color: $input-border !default;

// Dropdowns
// -------------------------

$dropdown-bg:                    $color-white !default;
$dropdown-border:                rgba(0,0,0,.15) !default;
$dropdown-fallback-border:       $silver !default;
$dropdown-divider-bg:            $lighter !default;
$dropdown-link-color:            $gray-dark !default;
$dropdown-link-hover-color:      darken($gray-dark, 5%) !default;
$dropdown-link-hover-bg:         $silver-light !default;
$dropdown-link-active-color:     $component-active-color !default;
$dropdown-link-active-bg:        $component-active-bg !default;
$dropdown-link-disabled-color:   $gray-light !default;
$dropdown-header-color:          $gray-light !default;
$dropdown-caret-color:           $black !default;


// Navbar
// -------------------------

// Basics of a navbar

$navbar-default-color:             $nav-dark-gray !default;
$navbar-default-bg:                #f8f8f8 !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                $nav-dark-gray !default;
$navbar-default-link-hover-color:          $gray-dark !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         $gray !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       $silver !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           $light !default;
$navbar-default-toggle-icon-bar-bg:        $silver !default;
$navbar-default-toggle-border-color:       $light !default;


// Inverted navbar
//
// Reset inverted navbar basics
$navbar-inverse-color:                      $gray-light !default;
$navbar-inverse-bg:                         #222 !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

// Inverted navbar links
$navbar-inverse-link-color:                 $gray-light !default;
$navbar-inverse-link-hover-color:           $color-white !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-color:          $color-white !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            $gray-dark !default;
$navbar-inverse-toggle-icon-bar-bg:         $color-white !default;
$navbar-inverse-toggle-border-color:        $gray-dark !default;

// Navs
// -------------------------

$nav-link-hover-bg:                         $gray-lighter !default;

$nav-disabled-link-color:                   $gray-light !default;
$nav-disabled-link-hover-color:             $gray-light !default;

$nav-open-link-hover-color:                 $color-white !default;
$nav-open-caret-border-color:               $color-white !default;

// Tabs
$nav-tabs-border-color:                     $light !default;

$nav-tabs-link-hover-border-color:          $gray-lighter !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          $gray !default;
$nav-tabs-active-link-hover-border-color:   $light !default;

$nav-tabs-justified-link-border-color:            $light !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;

// Pills
$nav-pills-active-link-hover-bg:            $component-active-bg !default;
$nav-pills-active-link-hover-color:         $component-active-color !default;


// Close
// ------------------------
$close-font-weight:           bold !default;
$close-color:                 $black !default;
$close-text-shadow:           0 1px 0 $color-white !default;


// Code
// ------------------------
$code-color:                  #c7254e !default;
$code-bg:                     #f9f2f4 !default;

$pre-bg:                      $silver-light !default;
$pre-color:                   $gray-dark !default;
$pre-border-color:            $silver !default;

// Type
// ------------------------
$text-muted:                  $gray-light !default;
$abbr-border-color:           $gray-light !default;
$headings-small-color:        $gray-light !default;
$blockquote-small-color:      $gray-light !default;
$blockquote-border-color:     $gray-lighter !default;
$page-header-border-color:    $gray-lighter !default;

// Miscellaneous
// -------------------------

// Hr border color
$hr-border:                   $gray-lighter !default;

// Pagination
// -------------------------

$pagination-bg:                        $color-white !default;
$pagination-border:                    $light !default;
$pagination-hover-bg:                  $gray-lighter !default;
$pagination-active-bg:                 $brand-primary !default;
$pagination-active-color:              $color-white !default;
$pagination-disabled-color:            $gray-light !default;


// Pager
// -------------------------

$pager-disabled-color:                 $gray-light !default;

// Form states and alerts
// -------------------------

$state-success-text:             #468847 !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #3a87ad !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #c09853 !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #b94a48 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;

// Popovers
// -------------------------
$popover-bg:                          $color-white !default;
$popover-border-color:                rgba(0,0,0,.2) !default;
$popover-fallback-border-color:       $silver !default;

$popover-title-bg:                    darken($popover-bg, 3%) !default;
$popover-arrow-color:                 $color-white !default;

$popover-arrow-outer-color:           rgba(0,0,0,.25) !default;
$popover-arrow-outer-fallback-color:  $gray-light !default;


// Labels
// -------------------------

$label-default-bg:            $gray-light !default;
$label-primary-bg:            $brand-primary !default;
$label-success-bg:            $brand-success !default;
$label-info-bg:               $brand-info !default;
$label-warning-bg:            $brand-warning !default;
$label-danger-bg:             $brand-danger !default;

$label-color:                 $color-white !default;
$label-link-hover-color:      $color-white !default;


// Modals
// -------------------------
$modal-content-bg:                             $color-white !default;
$modal-content-border-color:                   rgba(0,0,0,.2) !default;
$modal-content-fallback-border-color:          $gray-light !default;

$modal-backdrop-bg:           $black !default;
$modal-header-border-color:   $lighter !default;
$modal-footer-border-color:   $modal-header-border-color !default;


// Alerts
// -------------------------
$alert-success-bg:            $state-success-bg !default;
$alert-success-text:          $state-success-text !default;
$alert-success-border:        $state-success-border !default;

$alert-info-bg:               $state-info-bg !default;
$alert-info-text:             $state-info-text !default;
$alert-info-border:           $state-info-border !default;

$alert-warning-bg:            $state-warning-bg !default;
$alert-warning-text:          $state-warning-text !default;
$alert-warning-border:        $state-warning-border !default;

$alert-danger-bg:             $state-danger-bg !default;
$alert-danger-text:           $state-danger-text !default;
$alert-danger-border:         $state-danger-border !default;


// Progress bars
// -------------------------
$progress-bg:                 $silver-light !default;
$progress-bar-color:          $color-white !default;

$progress-bar-bg:             $brand-primary !default;
$progress-bar-success-bg:     $brand-success !default;
$progress-bar-warning-bg:     $brand-warning !default;
$progress-bar-danger-bg:      $brand-danger !default;
$progress-bar-info-bg:        $brand-info !default;


// List group
// -------------------------
$list-group-bg:               $color-white !default;
$list-group-border:           $light !default;

$list-group-hover-bg:         $silver-light !default;
$list-group-active-color:     $component-active-color !default;
$list-group-active-bg:        $component-active-bg !default;
$list-group-active-border:    $list-group-active-bg !default;

$list-group-link-color:          $gray !default;
$list-group-link-heading-color:  $gray-dark !default;


// Panels
// -------------------------
$panel-bg:                    $color-white !default;
$panel-inner-border:          $light !default;
$panel-footer-bg:             $silver-light !default;

$panel-default-text:          $gray-dark !default;
$panel-default-border:        $light !default;
$panel-default-heading-bg:    $silver-light !default;

$panel-primary-text:          $color-white !default;
$panel-primary-border:        $brand-primary !default;
$panel-primary-heading-bg:    $brand-primary !default;

$panel-success-text:          $state-success-text !default;
$panel-success-border:        $state-success-border !default;
$panel-success-heading-bg:    $state-success-bg !default;

$panel-warning-text:          $state-warning-text !default;
$panel-warning-border:        $state-warning-border !default;
$panel-warning-heading-bg:    $state-warning-bg !default;

$panel-danger-text:           $state-danger-text !default;
$panel-danger-border:         $state-danger-border !default;
$panel-danger-heading-bg:     $state-danger-bg !default;

$panel-info-text:             $state-info-text !default;
$panel-info-border:           $state-info-border !default;
$panel-info-heading-bg:       $state-info-bg !default;


// Thumbnails
// -------------------------
$thumbnail-bg:                $body-bg !default;
$thumbnail-border:            $light !default;
$thumbnail-caption-color:     $text-color !default;


// Wells
// -------------------------
$well-bg:                     $silver-light !default;


// Badges
// -------------------------
$badge-color:                 $color-white !default;
$badge-link-hover-color:      $color-white !default;
$badge-bg:                    $gray-light !default;
$badge-active-color:          $link-color !default;
$badge-active-bg:             $color-white !default;
$badge-font-weight:           bold !default;

// Breadcrumbs
// -------------------------
$breadcrumb-bg:               $silver-light !default;
$breadcrumb-color:            $silver !default;
$breadcrumb-active-color:     $gray-light !default;
$breadcrumb-separator:        "/" !default;

// Carousel
// ------------------------

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default;
$carousel-control-color:                      $color-white !default;
$carousel-indicator-active-bg:                $color-white !default;
$carousel-indicator-border-color:             $color-white !default;
$carousel-caption-color:                      $color-white !default;

// IEA Framework FIX
// -------------------------
$color-iea-white:         #fff !default;
$color-iea-dark-grey:   lighten(#000, 33.5%) !default; // #555
$color-iea-black:     #000;
$color-iea-blue:      #000;
$color-iea-medium-grey:   #000;
$color-iea-custom-grey:   #000;
$color-iea-light-blue:    #000;
$color-iea-light-grey:    #000;
$color-instagram-blue:    #000;
$color-instagram-blue:    #000;
