/* _layout.scss  */

// Common Styles
// --------------------------------------------------

picture.is-loading, picture.is-broken {
    width:auto;
    min-height:inherit;
}

@media screen and (device-aspect-ratio: 40/71) {
    input[type=text]:focus, select:focus, textarea:focus { 
        font-size:16px;
    }
}