/*Featured Tweet Left*/
.c-featured-instagram-post {
	margin: 40px 0;
	padding-bottom: 40px;
	border-bottom: 1px solid $gray-lighter;
	
	.container{
		min-height: 270px;
	}
}
.c-featured-instagram-post__desc {
    font-style: italic;
}

.c-featured-instagram-post__icon {
	margin-bottom: 20px;
	.c-svg-instagram {
		display: block;
		margin: 0 auto;
		padding: 0px;
		width: 30px;
		height: 30px;

		@media(min-width: $screen-sm) {
			display: block;
		}
	}
}

.c-featured-instagram-post__copy {
	@media(min-width: $screen-sm) { 
		padding-top:5%;
	}
}
.c-featured-instagram-post__author-details {
	font-size: $font-size-h5;
	margin:15px 0;
}

.c-featured-instagram-post__profile-panel{
	display: block;
	.c-featured-instagram-post__profile-img{
		width: 40px;
	}
}
.c-featured-instagram-post__social{
	@media(min-width: $screen-sm) { 
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-left:15px;
	}
}
.c-featured-instagram-post__image{
	img{
		margin: 0 auto;
	}
}
.c-social-feed-post-img {
	max-width:100%;
}
.c-feature-quote-social{
	margin-top: 20px;
}