.c-purchase-order-confirmation {
    &__wrapper {
        position: relative;
        text-align: center;
    }
    
    &__heading {
        font-size: 27px;
        color: $gray-dark;
        margin: 15px 0 35px 0;
        font-weight: bold;
    }
    
    &__message a {
        color: #333;
        font-weight: bold;
        cursor: pointer;
    }
    
    &__icon {
        height: 28px;
        width: 20px;
        margin: 20px 0 0 0;
    }
    
    &__cta-btn {
        margin: 0;
        text-align: center;
    }
}