.c-live-chat-v2 {
    
    &__wrapper {
        margin: 20px 0 0 70px;
        width:35%;
    }
    
    &__livechat-offline-image {
        width: 50px;
        height: 65px;
        background-image: url("../svgs/offline.svg");
        position: absolute;
        left: 10px;
        background-color: #efefef;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
    &__livechat-online-image {
        width: 50px;
        height: 65px;
        background-image: url("../svgs/online.svg");
        position: absolute;
        left: 10px;
        background-color: green;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
    &__heading {
        position: relative;
        margin: 0 0 0 45px;
        top: -40px;
        font-size: 17px;
        font-weight: bold;
    }
    
    &__message {
        position: relative;
        margin: 0 0 0 45px;
        top: -40px;
    }
    
}