.recipe-detail-page {
  .related-products {
    background-image: url('../images/product-page/pattern.jpg');
    text-align: center;

    .js-product-listing__list-item {
      display: inline-block;
      vertical-align: top;

      &:after {
        clear: both;
        content: '';
        display: block;
      }
    }

    .c-product-listing__product-wrap {
      float: none;
      display: inline-block;
      margin: 0;
    }

    .c-product-listing__overlay,
    .c-product-overview__awards {
      display: none;
    }

    .c-inline-review > .c-inline-review {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
    .c-rich-text-v2 {
      font-size: 42px;
    }

    .col-sm-offset-2,
    .col-sm-offset-4 {
      margin-left: 0;
    }
  }
}

//tablet 
@media screen and (min-width: 768px) and (max-width: 991px) {
  .recipe-detail-page {
    .product-listing {
      .c-product-listing {
        &__product-wrap {
          margin-bottom: 40px;
          width: 300px;
        }

        &__product-item {
          margin-bottom: 30px;
        }
      }
    }
  }
}

//mobile 
@media screen and (max-width: 767px) {
  .recipe-detail-page {
    .product-listing {
      display: block;
    }
  }
}