.c-related-products {
    &__wrapper {
        text-align: center;
    }
    
    &-item {
        position: relative;
        &-content {
            padding: 20px;
            
            &__publish-date {
                display: block;
            }
        }
        &-image__container {
            img {
                display: inline-block;
            }
        }
        &.active {
            .o-quick-panel__item-arrow {
                opacity: 1;
                z-index:10;
            }
        }
    }
    
    .slick-slider {
        padding-bottom: 40px;
    }
    
    .slick-prev {
        left: 15%;
        top: 100%;
        z-index: 9999;
        width: 10px;
        background-size: 10px 20px;
        margin-top: -23px;
        
        @media(min-width: $screen-sm) {
            left: 0;
            top: 50%;
            margin-top: -10px;
        }
    }
    
    .slick-next {
        background-position: top right;
        right: 15%;
        top: 100%;
        z-index: 9999;
        width: 10px;
        background-size: 10px 20px;
        margin-top: -23px;
        
        @media(min-width: $screen-sm) {
            right: 0;
            top: 50%;
            margin-top: -10px;
        }
    }
    
    &__quick-cta {
        display: inline-block;
        border: 1px solid #ccc;
        padding: 0px 10px;
        cursor: pointer;
        height: 34px;
        line-height: 34px;
        
        &:after {
            display: inline-block;
            content: "";
            height: 12px;
            float: left;
            margin-top: 12px;
            padding-left: 25px;
            background: url(../svgs/sprites/plus-quick.svg) center center no-repeat;
            vertical-align: middle;
        }
    }
    
    &__tags {
        span {
            display: inline-block;
            padding: 0px 12px;
            border: 1px solid $gray-lighter;
            height: 30px;
            line-height: 30px;
            border-radius: 15px;
            background: $lighter;
            margin: 0 5px;
        }
    }

    &-quickview {
        &__wrapper {
            padding: 60px 40px 40px;
        }
        &__variants {       
            .c-dropdown {
                float: left;
                width: 100%;
                display: block;
                margin: 20px auto;
                @media(min-width: $screen-sm) {
                    width: 100%;
                    display: inline-block;
                }
                &-label {
                    &--single {
                        position: static;
                        background: transparent;
                        width:auto;
                        span {
                            float: none;
                        }
                    }
                    &__price {
                        line-height: 2.6em;
                    }
                }
            }
        }
    }

    .o-quick-panel__item-arrow {
        content: "";
        position: absolute;
        bottom: -30px;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0;
        margin-left:-15px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid $gray-pale;
        @media (min-width: $screen-sm) {
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid $gray-pale;
            margin-left:-20px;
        }
    }

    .o-btn--close {
        position: absolute;
        right: 20px;
        top: 20px;
        .icon-cross {
            width: 30px;
            height: 30px;
        }
    }

    .bin-widget-overlay {
        background: $color-white;
        position: absolute;
        display: none;
        width: 100%;
        min-height: 400px;
        padding: 50px;
        top: 0;
        margin-left: -150px;
        border: solid 2px $gray;

        @media (min-width: $screen-sm) {
            width: 650px;
            height: 400px;
            margin-left: -325px;
        }
        .etale-popup {
            width: 100%;
            height: 100%;
        }
        .js-modal-etale, .bin-modal-content {
            height: 100%;
        }

        .o-btn--close {
            border: 0 none;
        }
    }
}