.c-recipe-nutrients {
    display: inline-block;
    width: 100%;
    text-align: center;
    &__serving,
    &__total {
        float: left;
        width: 78%;
        .c-table-heading,
        .c-table-content {
            width: 50%;
            float: left;
            border: 1px solid #000;
            margin: 0;
            @media(max-width: $screen-sm) {
                min-height: 45px;
            }
        }
    }
    &__total {
        float: left;
        width: 20%;
        .c-table-heading,
        .c-table-content {
            width: 100%;
        }
    }
    &__heading {
        cursor: pointer;
        font-weight: bold;
        .o-expand,
        .o-collapse {
            background: url("../svgs/dropdown-arrow.svg") no-repeat right center;
            background-size: 45px 28px;
            display: inline-block;
            width: 34px;
            height: 10px;
        }
        .o-expand {
            @include transformRotate(180deg);
        }
    }
    &-info {
        display: none;
        .c-table-heading {
            font-weight: bold;
        }
        .c-table-content__qty {
            @media(max-width: $screen-sm) {
                text-align: right;
            }
        }
    }
}
