/* MODAL*/

.o-modal {
    background: rgba(255, 255, 255, .9);
    width: 100%;
    height: 100%;
    display: none;
    zoom: 1;
    top: 0;
    left: 0;
    padding: 0;
    position: fixed;
    z-index: 26;
    @include transform(translateZ(1px));
    -webkit-overflow-scrolling: touch;

}

.o-modal-content {
    padding: 0;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    overflow: scroll;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    @include transform(scaleX(1));
    -ms-overflow-style: none;

    @media(min-width: $screen-md) {
        height: 100%;
        width: 100%;
        background-position: center center;
    }
}

.js-modal-image-swap {
    opacity: 0;
}

.o-modal-slider-nav {
    position: fixed;
    top: 50%;
    width: 50px;
    height: 90px;
    z-index: 5;
    display: block;
    stroke: $gray-light;
    background-color: rgba(255, 255, 255, 0.7);
    @media(min-width: $screen-md) {
        background-color:transparent;
    }

    svg {
        margin: 25px auto;
        display: block;
        width: 18px;
        height: 40px;
        text-align: center;
    }
}

.o-modal-prev {
    left: 0;
    @include rounded(0 50px 50px 0);
    @media(min-width: $screen-md) {
        left: 20px;
    }
    svg {
        margin-left: 12px;
    }

}

.o-modal-next {
    right: 0;
    @include rounded(50px 0 0 50px);
    @media(min-width: $screen-md) {
        right: 20px;
    }
    svg {
        margin-right: 12px;
    }

}

.o-modal-image {
    position: absolute;
    background-repeat: no-repeat;
    background-size: auto 95%;
    background-position: center;
        cursor: url("../images/animations/zoom-close.png"), url("/etc/ui/whitelabel/clientlibs/core/core/images/animations/zoom-close.ico"), not-allowed;
}


.c-zoom-modal .o-modal-content
{
     @media(min-width: $screen-md) {
        overflow-x: hidden;
     }
}
