/* the base class name is the name added to each component in the component view js (home.js) */




    .search-result  {

        .load-more {
        //    @include button-variant($color:$btn-primary-color,$background:$btn-link-disabled-color,$border:$btn-link-disabled-color);
        }

        .result-count {
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
        }

        article {
            border-bottom: 1px solid $gray;
        }
 
    }
	.search-result-container{
		a{
			color:$gray;
		}
	}

