.question {	
    .c-qusAns-banner__container {
        position: relative;
        margin: 10px 0 30px;
    }
    .c-qusAns-answer__container {
        overflow: hidden;
    }	
    .c-qusAns-question {
        height: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }	
    .c-qusAns-answer-txt input, .c-qusAns-answer-txt-img input {
        position: absolute;
        left: -99999px;
    }	
    .c-qusAns-answer label, .c-qusAns-answer img {
        cursor: pointer;
        font-weight:normal;
    }
    c-qusAns-answer-txt label{
        margin-bottom: 10px;
        min-height: 55px;
    }
    .c-qusAns-answer-txt-img label{
        margin-bottom: 10px;
        min-height: 100px;
    }
    .c-qusAns-answer.selected label {
        font-weight: bold;
    }
}