.c-quick-poll-wrap {
	.c-qusAns-banner__container {
		position: relative;
		margin: 10px 0 30px;
	}
	.o-btn-quick-poll{
		margin: 30px 0;
	} 
	.c-qusAns-answer__container {
		overflow: hidden;
	}
	
	.c-qusAns-question {
		height: 50%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
	}
	
	.c-qusAns-answer-txt input, .c-qusAns-answer-txt-img input {
		position: absolute;
		left: -99999px;
	}
	
	.c-qusAns-answer label, .c-qusAns-answer img {
		cursor: pointer;
		font-weight:normal;
	}
	c-qusAns-answer-txt label{
		margin-bottom: 10px;
		min-height: 55px;
	}
	.c-qusAns-answer-txt-img label{
		margin-bottom: 10px;
		min-height: 100px;
		display: block;
	}
	
	.c-rec-cont-wrap {
		width: 300px; 
		margin: 0 auto;
		clear: both;
	} 
	
	.character-left{
		float: right;
		top: 0;
		position: relative;
	}
	.c-rec-cont-img {
		float: left;
		width: 45px;
		overflow: hidden;
	}
	.c-rec-cont-txt{
		float: left;
		margin-left: 10px;
		width: 240px;
	}
	.c-rec-cont-txt h3{
		margin-top: 0;
	}
	.c-rec-cont-txt p{
		font-size: 14px;
	}
	.c-quick-poll-res-data {
		margin: 30px 0;
	}
	
	g.nv-series {
		display: none;
	}
	
	svg:not(:root) {
		width: 100%;
	}
	
	.c-qusAns-answer.selected label {
		font-weight: bold;
	}
	
	.c-quick-poll-res {
		display: block;
	}
	
	
	progress, progress[role] {
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  appearance: none;
	  border: none;
	  background-size: auto;
	  height: 30px;
	  width: 80%;
	}
	.c-bar-chart-list {
	  list-style: none;
	  margin: 0;
	}
	.c-bar-chart-item {
	  margin-bottom: 30px;
	  position: relative;
	}
	.c-bar-chart-item h5 {
	  color: #fff;
	  left: 1em;
	  line-height: 1;
	  position: absolute;
	  top: 0;
	}
	.c-bar-chart-item span {
		display:block;
	}
	.o-bar-status::-webkit-progress-value {
	  background: #333;
	}
	.o-bar-status::-moz-progress-bar {
	  background: #333;
	}
	
	@media(max-width: $screen-sm) {
		margin-top: 55px;
	}
}