.multiple-related-articles,  .multiple-related-articles-sidebar{
    .o-curve-shadow {
        display: none;
    }
}
.multiple-related-articles-sidebar {
    .c-multiple-related-articles-sidebar {
        display:block;
        @media (min-width: $screen-md) {
            display: none;
        }
    }
}
	
.js-multiple-related-placeholder {
    .c-multiple-related-articles-sidebar {
        display:none;
        margin-bottom: 50px;
        @media (min-width: $screen-md) {
            display: block;
        }
    }
}

.o-multiple-related-articles {
    padding-top: 25px;
    margin-bottom: 30px;
    padding-bottom: 35px;
    margin-left: 0;
    margin-right: 0;

    &.is-expanded {

        margin-bottom: 10px;
        padding-bottom: 0;
    }

    @media (min-width: $screen-sm) {
        border-bottom: none;
        margin-top: 50px;
        margin-bottom: 0;
        padding-bottom: 10px;
    }

    @media (min-width: $screen-md) {
        background: none;
        padding-bottom: 19px;
        margin-top: 0;
        margin-right: 0px;
        padding-top: 50px;
		border:1px solid $breadcrumb-arrow-color;  
	}
    @media (min-width: $screen-lg) {
        margin-left: 15px;
    }
}

.c-multiple-related-placeholder{
    @include transition(opacity 1s ease-in-out);
    .o-multiple-related-articles{
        background: none;
    }
}

.c-multiple-related-articles__heading {
	margin-bottom: 20px;
    h3 {
		background: url("../svgs/sprites/book.svg") no-repeat;
        background-size: 23px;
        padding-left: 40px;
        @media(min-width: $screen-md) {
            background-position: top center;
            padding-left: 0;
            padding-top: 33px;
        }
    }

}

.c-multiple-related-articles__content-wrap {
    a, a:hover {
        text-decoration: none;
		color:currentColor;
        &:hover{
            color:$gray-dark;
        }
    }
    @media (min-width: $screen-md) {
        padding-left: 30px;
        padding-right: 30px;
    }
    h5 {
        margin-top: 20px;
        margin-bottom: 10px;
		color: $gray-dark;
    }
    img {
        margin: 0 auto;
        height: auto;
        display: block;
		max-width: 50%;
            @media (min-width: $screen-md-min) {
                max-width: 65%;
            }
            
    }
}

.c-multiple-related-articles__description {

    margin-bottom: 15px;
	
    @media (min-width: $screen-md) {
       
		margin-bottom: 10px;
    }
}

.c-multiple-related-articles__articles {
    padding: 0;
    overflow: hidden;
	min-height:auto;

        & .c-multiple-related-articles__content-wrap:nth-child(n+4) {
            display: none;
        }

        @media (min-width: $screen-sm) {
            & .c-multiple-related-articles__content-wrap:nth-child(n+4) {
                display: block;
            }
        }
    @media (min-width: $screen-sm) and (max-width: $screen-md) {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.c-multiple-related-articles__load-more {
   a {
        margin-top: 15px;
		@media (min-width: $screen-sm) {
            width:auto;
        }
    }
}

	