/**
 * Button.
 */

@mixin c-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    background-color: transparent;
    border: 2px solid $gray-light;
    font-size: 14px;
    cursor: pointer;
    content: "";
    display: block;
    padding: 19px 19px;
    background: url('../svgs/cheveron.svg') no-repeat 97% center;
    background-size: 20px 20px;
    padding: 15px 70px 15px 20px;
}
.c-dropdown select:focus {
    outline: none;
}

select.c-dropdown {
    @include c-dropdown;
}

.c-dropdown__item {

}

.c-dropdown__item__span {
    float: right;
}