/**
 * Dropdown mixin.
 */

@mixin c-dropdown__select {
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    @media(min-width: $screen-md) {
        display: inline-block;
    }
    @media(min-width: $screen-sm) {
        width: 100%;
    }
}

.c-dropdown__select select:focus {
    outline: none;
}

.c-dropdown {
    position: relative;
}

label.c-dropdown__label {
    left: 10px;
    top: 5px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    background-color: white;
    pointer-events: none;
    width: 76%;
	height: 60%;

    @media(min-width: ($screen-xs + 200)) {
        width: 88%;
    }
    @media(min-width: $screen-md) {
        width: 85%;
    }
    span {
        padding: 0 2px 0 2px;
		line-height: 3em;

        &.c-dropdown__unit{
            padding-left: 10px;
        }
    }
    .c-dropdown__item__span, .c-dropdown__price {
        float: right;
        margin-top: 5px;
    }
    .c-dropdown__price {
        margin-top: -7px;
    }
}

select.c-dropdown__select {
    @include c-dropdown__select;
    .lt-ie10 & {
        background-image: none;
        padding: 0;
    }
}
.c-dropdown__item__span {
    float: right;
}