.media-gallery{

    .media-gallery-container {
        margin: 0;
        padding: 10px;
    }

    .media-thumbnail-container {
        position: relative;
        margin: 0;
        padding: 5px 20px;
    }

    .media-slide {
        padding-left: 0;
        padding-right: 0;
    }

    .thumbnail {
        border: none;
        margin: 0;
        position: relative;
        padding: 1px;

        .icon-Enlarge {
            position: absolute;
            top: 5px;
            right: 2px;
            font-size: 30px;
            display: none;
        }

        &.active {
            .icon-Enlarge {
                display: block;
            }
        }

        img {
            width: 100%;
        }

        .caption {
            display: none;
            position: absolute;
            bottom: 0;
            width: 100%;

            h4 {
                margin: 0;
            }
        }
    }

    .media-thumbnail {
        &.active {
            .icon-Enlarge {
                display: block;
            }
        }
    }

    @media(min-width: $screen-sm) {
        .media-gallery-heading {
            padding-bottom: 9px;
        }

        .media-gallery-subheading {
            padding-bottom: 18px;
        }
    }

    @media(min-width: $screen-lg) {
        .media-gallery-heading {
            padding-top: 10px;
        }
    }

    @media(min-width: $bp-small) and (max-width: $screen-sm-max) {
        .media-gallery-container{
            padding: 0;
        }

        .media-gallery-heading {
            padding: 5px 10px 12px;
        }

        .media-gallery-subheading {
            display: none;
        }

        .thumbnail {
            padding: 0;
        }
    }

    .media-thumbnail-container {
        .bx-wrapper .bx-controls-direction a {
            .icon-arrow-left, .icon-arrow-right {
                font-size: 20px;
                font-weight: 300;
            }

            &.bx-prev, &.bx-next {
                background-color: transparent;
                width: 20px;
                padding: 25px 0;
                @include opacity(1);
                margin-left: -20px;
                margin-right: -20px;
            }
        }
    }

	.media-gallery-heading {
		text-transform: uppercase;
	}

	.bx-wrapper {
		position: relative;
	}

	@media(min-width: $bp-small) and (max-width: $screen-sm-max) {

		.thumbnail {
			a, a:hover {
				text-decoration: none;
			}

			.caption {
				display: block;
				position: static;
			}
		}
	}
}

