.search-result-page {
  .search-listing-v2 {
    display: block;
    margin: 0 auto;
    margin-top: 180px;
    max-width: 1170px;
    width: 100%;

    .container {
      padding: 0;
    }

    .c-search-listing-v2 {
      margin: 0;
      width: 100% !important;
      
      &__tab-wrapper,
      .o-text__heading-3,
      .c-inline-search {
        box-sizing: border-box;
        display: block;
        margin: 0 auto;
        max-width: 590px;
      }

      .o-text__heading-3 {
        color: $color-white;
        font-family: $font-family-sans-serif;
        font-size: 36px;
        font-weight: bold;
        line-height: 38px;
        padding-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
      }

      .c-inline-search {
        text-align: center;
        width: auto;

        .twitter-typeahead {
          float: none;
          width: auto;
        }

        .c-global-search {
          &__wrapper {
            display: inline-block;
            float: none;
            margin: 0 auto;
            position: relative;
            width: auto;
          }

          &__textbox {
            background-color: $color-white;
            color: $neutral-5-color;
            font-size: 16px;
            float: none;
            height: 50px;
            line-height: 50px;
            padding: 0;
            padding-left: 15px;
            width: 310px;

            &:webkit-input-placeholder {
              font-size: 14px;
              color: $neutral-50-color;
            }
          }
        }

        .o-btn {
          background-color: $light-blue-button;
          border: 0;
          border-radius: 5px;
          box-sizing: border-box;
          display: inline-block !important;
          float: right;
          font-size: 0;
          height: 50px;
          margin-left: 10px;
          padding: 0;
          position: relative;
          vertical-align: top;
          width: 50px;
          
          &:before {
            color: $font-hightlight;
            content: "\e631";
            font-family: 'icomoon';
            font-size: 26px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            left: 50%;
            line-height: 1;
            position: absolute;
            speak: none;
            text-transform: none;
            top: 50%;
            transform: translate(-50%, -50%);
          }

          &-clear-search {
            display: none !important;
          }
        }
      }
      
      &-tabs {
        margin: 30px 0;
        height: auto;
        min-height: unset;

        &__list {
          font-size: 0;
          margin: 0;
          padding: 0;

          &-item {
            margin: 0 10px;

            &-a {
              background-color: transparent;
              border: 1px solid $color-white;
              border-radius: 4px;
              box-sizing: border-box;
              color: $color-white;
              font-family: $font-family-sans-serif;
              font-size: 14px;
              font-weight: 600;
              height: 40px;
              line-height: 38px;
              margin: 0;
              max-width: 110px;
              min-width: 90px;
              padding: 0 12px;
              text-align: center;

              &.active {
                background-color: $color-white;
                color: $font-hightlight;
              }
            }
          }
        }
      }

      &__wrap {
        margin-top: 130px;
      }

      &__list {
        box-sizing: border-box;
        display: block;
        font-size: 0;
        margin: 0 auto;
        margin: 0;
        padding: 0;
        width: 100%;
      }

      &__item {
        display: inline-block;
        box-sizing: border-box;
        margin: 0;
        margin-right: 2.5641025%;
        margin-bottom: 30px;
        padding: 0;
        position: relative;
        width: 31.62393162%;


        &:nth-child(3n+0) {
          margin-right: 0;
        }

        .thumbnail {
          height: 100%;
          margin: 0;
          padding: 0;
          width: 100%;
        }

        .c-search-listing-v2 {

          &__detail {
            background-color: $bg-bar-color;
            bottom: 0;
            box-sizing: border-box;
            height: 112px;
            left: 0;
            margin: 0;
            padding: 15px 20px;
            position: absolute;
            width: 100%;

            &__container {
              text-align: left;

              p,
              .c-recipe-attributes,
              .c-recipe-dietary-attributes,
              .c-recipe-listing__cta {
                display: none !important;
              }
            }

            &:before {
              background: url("../images/top_arrow_pattern.png");
              background-repeat: repeat-x;
              content: '';
              display: block;
              height: 8px;
              left: 0;
              position: absolute;
              top: -8px;
              width: 100%;
            }
          }

          &__heading {
            font-family: $font-family-custom;
            font-size: 16px;
            line-height: 20px;
            padding: 15px 20px;
          }

          &__header .o-text__heading-3 {
            color: $color-white;
            font-family: $font-family-custom;
            font-size: 24px;
            font-style: italic;
            font-weight: 500;
            line-height: 27px;
            padding: 0;
            text-align: left;
            text-transform: none;
          }

          &__desc,
          &__breadcrumbs {
            display: none;
          }

          &__link {
            margin: 0;
            padding: 0;
          }

          &__item-wrap {
            line-height: unset;

            .aggregateRating {
              margin-top: 5px;
              float: left !important;
            }
          }          
        }
      }
    }
  }
}

// TABLET
@media screen and (min-width: 768px) and (max-width: 991px) {
  .search-result-page {
    .search-listing-v2 {
      padding: 0 30px;
      
      .c-search-listing-v2 {
        &__item {
          margin-right: 4% !important;
          width: 48% !important;

          &:nth-child(2n+0) {
            margin-right: 0 !important;
          }

          &:nth-child(3n+0) {
            margin-right: initial;
          }
        }
      }
    }  
  }
}

// MOBILE
@media screen and (max-width: 767px) {
  .search-result-page {
    .search-listing-v2 {
      padding: 0 4.6875%;
      margin-top: 28.125vw;

      .c-search-listing-v2 {
        .o-text__heading-3 {
          font-size: 26px;
          line-height: 30px;
          margin: 0 auto;
          max-width: 90%;
          padding-bottom: 50px;
        }

        .c-inline-search {
          font-size: 0;

          .twitter-typeahead {
            float: left;
            width: 80.76923076%;
          }

          .c-global-search {
            &__wrapper {
              width: 100%;
            }

            &__textbox {
              padding-left: 15px;
              width: 100%;

              &:webkit-input-placeholder {}
            }
          }

          .o-btn {
            float: right;
            margin-left: 0;
            top: 0;

            &-clear-search,
            &-search {
              display: none !important;
            }
          }
        }

        &__wrap {
          margin-top: 120px;
        }

        &__item {
          margin: 0 !important;
          margin-bottom: 25px !important;
          width: 100% !important;
        }

        &-tabs {
          &__list-item {
            margin: 0 5px;
            margin-bottom: 10px;

            &-a {
              min-width: 90px;
            }
          }
        }
      }
    }
  }
}
