.c-section-navigation-v2 {
    margin-top:20px;
    
    &-heading {
        text-align: center;
    }
    
    &-sub-heading__text {
        font-style: italic;
    }
    
    &-item {
        border-bottom: 1px solid $gray-darker;
        margin: 0 15px;
        text-align: center;
        
        ul {
            list-style: none;
        }
        
        &:last-child {
            border: none;
        }
        
        &__heading {
            position: relative;
            margin: 0;
            
            @media (min-width: $screen-sm-min) {
                margin: 25px 0 5px;
            }
            
            a {
                @media (max-width: $screen-xs-max) {
                    padding: 15px 0px 18px
                }
            }
            
            .c-svg.plus {
                fill: $gray-darker;
                height: 20px;
                stroke: $gray-darker;
                width: 20px;
                margin-top: 4px;
                position: absolute;
                right: 0;
                
                @media (max-width: $screen-xs-max) {
                    margin-top: 0;
                }
            }
        }
        
        &__body {
            @media (max-width: $screen-xs-max) {
                display: none;
            }
        }
        
        //TODO : to be moved as a mixin
        a {
            &:link,
            &:visited,
            &:hover,
            &:active {
                text-decoration: none;
            }
        }
        
        &-list {
            margin: 0;
            padding: 0;
            
            &-item {
                display: inline-block;
                margin: 15px 0;
                
                @media (max-width: $screen-xs-max) {
                    width: 100%;
                }
                
                &-link {
                    display: inline-block;
                    
                    .arrow-down {
                        width: 10px;
                        height: 10px;
                        margin: 3px 0;
                        stroke: $gray-darker;
                        stroke-width: 3px;
                        display: inline-block;
                    }
                    
                    &__img {
                        display: block;
                        margin-bottom: 10px;
                    }
                    
                    &__text {
                        float: left;
                        margin-right: 10px
                    }
                }
                
                &:after {
                    border-left: 1px solid $gray-darker;
                    content: '';
                    height: 16px;
                    margin: 0 10px;
                    display: inline-block;
                    
                    @media (max-width: $screen-xs-max) {
                        content: none;
                    }
                }
                
                &:last-child:after {
                    content: none;
                }
            }
        }
    }

    .c-section-navigation-form {
        &__wrapper {
            .tt-menu {
                background-color: $gray-lighter; 
                border: 1px solid $gray-dark;     
            }

            .twitter-typeahead {
                margin-right: 10px;
            }

            .o-btn {
                margin-top: 0;
            }
        }

        &__textbox.form-control {
            height: 37px;
        }
    }
}


.c-section-navigation-v2-sidebar {
    margin: 0 15px;
    
    .c-section-navigation-v2 {
        &__wrapper {
            text-align: left;
        }
        
        &-heading {
            text-align: left;
        }
        
        &-item {
            margin: 0;
            text-align: left;
            
            &-list {
                &-item {
                    display: block;
                    
                    &:after {
                        content: none;
                    }
                    
                    &-link {
                        &__img {
                            display: inline-block;
                            margin: 0 10px 10px 0;
                        }

                        &__text {
                            float: none;
                        }

                        .arrow-down {
                            margin: 0;
                        }
                    }
                }
            }
            
            &-sublist {
                display: none;
                &-item {
                    margin-bottom: 10px;
                    &-link {
                        &__img {
                            display: inline-block;
                            margin: 0 10px 10px 0;
                        }
                        
                        .arrow-down {
                            width: 10px;
                            height: 10px;
                            stroke: $gray-darker;
                            stroke-width: 3px;
                            display: inline-block;
                        }
                        
                        &__text {
                            margin-right: 10px
                        }
                    }
                }
            }
            
            &__body {
                padding: 0;
            }
        }
    }
}