.virtual-agent { 
    .virtual-agent-container{
        background: #fff;
        margin: 10px 10px 50px;
        padding: 30px 20px;
        border: 1px solid #AAA;
        border-top: 8px solid #AAA;
        border-bottom: 0;
        box-shadow: 0 3px 0 #AAA;
        border-radius: 0;
    }
}

.virtual-agent-introduction {
    font-size:30px;
    @media(min-width: $screen-xs) and (max-width:767px) {
		font-size:25px;
        font-weight: 600;
	}
}

.virtual-agent-container__loadmore .o-preloader {
    background-position: center center;
    top: 45px;
    min-height: 120px;
    right: 62px;
    /* background-color: antiquewhite; */
    z-index: 0;
    @media(min-width: $screen-xs) and (max-width:767px) {
        right: 0px;
        margin-top: -12px;
    }  
}

.result-container{
    padding: 10px;
    position:relative;
    .virtual-agent-result{
        background: #fff;
        padding-top: 20px;
        padding-bottom: 1px;
        border: 1px solid #AAA;
    }
    .virtual-agent-label{
        font-weight: 700;
        margin:0 0 15px;
        @media(min-width: $screen-xs) and (max-width:767px) {
            margin-bottom: 25px;
        }
    }
    p{
        font-size: 14px;
        margin:0px 0px 8px;
        clear: both;
    }
    .related-topics{
        border: 1px solid #e5e4e4;
        margin: 20px 0px; 
        //border-bottom:none;
        //margin-bottom: -1px;
        h3{
            font-size: 30px;
            padding: 8px;
            /* border-bottom: 1px solid #e5e4e4; */
            margin: 0px 0px 9px 0px;
            font-family: serif;
        }
        
        .c-expandcollapse {
            border-bottom: none;
            margin-bottom: -9px;
        }
        
        .c-expandcollapse__header { 
            clear: both;
            margin-top: -9px;  
        }   
        .c-expandcollapse__link {
            border-bottom: 1px solid #e5e4e4;
            border-top: 1px solid #e5e4e4;
            margin-bottom: -1px;
            clear: both;
            display:block;
            @media(min-width: $screen-xs) and (max-width:767px) {
                padding: 15px 15px 22px;
            }
        }   
        .c-expandcollapse__title {
            margin-left: 12px;
            @media(min-width: $screen-xs) and (max-width:767px) {
                margin-left:0px;
            }
        }   
        .c-expandcollapse__body {
            margin-left: 25px;
            @media(min-width: $screen-xs) and (max-width:767px) {
                margin-left:0px;
            }
        }
        .c-expandcollapse__desc p {
            margin: 0px 0px -30px 0px;
        }
    }
    .virtual-agent-action-links{
        background: #fff;
        position:relative;
        /*.virtual-agent-transcript{
            a{
                color:#666666;
                font-weight: 700;
            }
        }*/
        .virtual-agent-contactus{
            position:relative;
            float:left;
            padding: 10px 0px 0px 0px;
            .o-btn{
                width: auto;
                padding: 0 20px;
                height: 51px;
                line-height: 50px;
                outline: none;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                font-size: 16px;
                text-align: center;
                margin-top: -15px;
                margin-left: 10px;
            }
        }
    }
}

.c-virtual-agent-search {	
	@include u-margin(0px, auto, 75px, auto);
    @media(min-width: $screen-xs) {
		padding:0px;
	}
 	.o-preloader {
 		height:80%;
        top:68px;
        @media(min-width: $screen-xs) and (max-width:767px) {
		  top:40px; 
	    }
 	}
	/* min-height:250px;*/
    /*.o-btn--ternary {
        @media(min-width: $screen-xs) and (max-width:767px) {
            display: block !important;
            width: 100%;
            &:hover{
                background-color: none;            
            }
        }
    }*/
    .c-global-search__textbox {
        @media(min-width: $screen-xs) and (max-width:767px) {
            font-size:20px !important;
        } 
        @media(min-width: $screen-sm) {
            font-size:30px !important;
        } 
    }
}

.c-inline-search {
	@include u-margin-tb(5px, 25px);
	@media(min-width: $screen-sm) {
		@include u-margin-tb(15px, 40px);
	}
 }



