.c-product-images {
    margin: 80px 0 40px;
    
    &-thumbnail__img {
        text-align: center;
        margin-bottom: 40px;  
    }
    .slick-loading {
        .c-product-images-thumbnail__img {
            opacity: 0;
            display: none;
            &:first-child {
                opacity: 1;
                display: block;
            }
        }
        .c-product-images-nav__img {
            opacity: 0;
            display: none;
        }      
    }
    
    &-nav {
        margin: 0 auto;
        @media(min-width: $screen-sm) {
            width: 50%;
        }
        &__img {
            border: solid 2px $color-white;
            padding: 5px;
            cursor: pointer;
            &.slick-current {
                border: solid 2px $gray;
            }
        }
    }
    
    .slick-slider {
        img {
            margin: 0 auto;
        }
        .slick-dots {
            position: static;
        }
        .slick-arrow {
            top: 15px;
            @media(min-width: $screen-sm) {
                top: 50%;
            }
            &.slick-next {
                right: 5%;
                @media(min-width: $screen-sm) {
                    right: -25px;
                }
            }
            &.slick-prev {
                left: 5%;
                @media(min-width: $screen-sm) {
                    left: -25px;
                }
            }
        }
    }

    .o-btn--zoom {
        position: absolute;
        top: -60px;
        right: 8%;
        @media(min-width: $screen-sm) {
            right: 20%;
        }
    }

    &-zoom__icon {
        width: 12px;
        height: 12px;
        stroke-width: 2px;
        stroke: $gray-dark;
        display: block;
        margin: 5px auto 0;
    }
}
.open-zoom-modal {
    margin-top: 0;
    
    header {
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
    .u-blur-background {
        -webkit-filter: blur(0);
        filter: blur(0);

        .c-product-images, header {
            -webkit-filter: blur(5px);
            filter: blur(5px);
        }
    }
}