.video-player {
    margin: 35px 0;
}

.hub-page .video-player, .range-page .video-player {
    max-width: 795px;
    margin: 35px auto;
    padding: 0px 10px;
}

.c-video-player__title {
    margin-bottom: 20px;
    background: url("../svgs/play-alt.svg") left 3px no-repeat;
    background-size: 16px;
    text-indent: 0;
    padding-left: 26px;

}

.c-video-player__wrap {
    position: relative;
    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        background: url("../svgs/play-video.svg") center no-repeat;
        background-size: 90px;
        cursor: pointer;
    }

    .c-video-btn {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
    }

	.lazy-load > img{max-width: 100%;}
}

.c-video-player__placeholder {
    width: 100%;
}

.c-video-player__video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
    display: none;
    z-index: 1;
    .js-video-player__open & {
        opacity: 1;
    }
}

