.c-cleanipedia {
    &__wrapper {
        width: 75%;
        margin: 0 auto;
        background-color: rgba(199, 198, 198, 0.09);
        position: relative;
        
        .o-preloader {
            background-position: center center;
            top: 0;
            right: 0;
            z-index: 0;
            background-color: rgba(199, 198, 198, 0.09);
            @media(min-width: $screen-xs) and (max-width:$screen-sm - 1) {
                right: 0px;
                margin-top: -12px;
            }  
        }
    }
    
    &__heading {
        padding: 5px 10px;
    }
    
    h2 {
        &:after {
            background: url("../images/cleanipedia/cleanipedia-logo.png") no-repeat;
            content: " ";
            position: absolute;
            width: 121px;
            height: 36px;
            margin: 0px 0 0 10px;
        }
    }
     
    @media (min-width: $screen-xs) and (max-width: $screen-sm - 1) { 
        .c-cleanipedia__paired-content-container {
            margin-top: 30px;
        }
        
        &__heading {
            margin-top: 70px;
        }
        
        h2 {
            &:after {
                position: relative;
                float: left;
                margin: 0;
            }
        }
    }
    
    &__related-content-heading {
        font-size: 27px;
        margin: 10px 10px 20px;
    }
    
    /************** Paired Content Articles CSS **************/
    
    .paired-content-articles {
        border: 1px solid #ececec;
        margin: 5px 10px 20px;
        position: relative;
        
        &__paired-content-image {
            float: left;
            width: 275px;
            height: 188px;
            img {
                width: 275px;
                height: 188px;
            }
        }
        
        &__contents {
            margin-left: 275px;
            padding: 5px 10px;
            line-height: 24px;
        }
        
        &__article-heading {
            font-size: 20px;
            font-weight: bold;
            margin: 5px 10px 0px;
        }
        
        &__article-description {
            font-size: 14px;
            margin: 5px 10px 0px;
        }
        
        &__read-more {
            margin: 5px 10px 0px;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
        }
        
        @media (min-width: $screen-xs) and (max-width: $screen-sm - 1) { 
            &__paired-content-image {
                width: 100%;
                height: 100%;
                img{
                    max-width: 100%;
                }
            }

            &__contents {
                margin-left: 0;
            }
        }
    }
    
    /************** Related Content Articles CSS **************/
    
    .related-content-articles {
        padding: 0;
        border: 1px solid #ececec;
        position: relative;
        margin: 10px 10px 20px;
        
        &__related-content-image {
            float: left;
            width: 150px;
            height: 150px;
        }

        &__contents {
            margin-left: 150px;
            padding: 1px 5px;
            line-height: 23px;
        }

        &__article-heading {
            font-size: 16px;
            font-weight: bold;
            margin: 5px 10px 0px;
        }

        &__article-description {
            font-size: 12px;
            margin: 5px 10px 0px;
        }

        &__read-more {
            margin: 5px 10px 0px;
            text-decoration: none;
            font-size: 12px;
            font-weight: bold;
        } 
        
        @media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
            &__related-content-image {
                width: 100%;
                height: 100%;
                img{
                    max-width: 100%;
                }
            }
            
            &__contents {
                margin-left: 0;
            }
       }  
    }  
}
