/* the base class name is the name added to each component in the component view js (home.js) */
/*TODO: change font variables */
.search-result {
    margin-top: 18px;

    .result-count {
        padding: 20px 0;
        margin: 0;
    }

    article {
        padding: 25px 0;
        margin: 0;

        figure {
            margin: 0;
        }

        img {
            width: 100%;
        }

        p {
            margin: 0;
        }
    }

    .load-more {
        margin: 50px 0;
        @include button-variant($color:$btn-primary-color,$background:$btn-link-disabled-color,$border:$btn-link-disabled-color);
    }

    @media (max-width: $screen-xs-max) {
        article {
            figure {
                margin: 7px 0 20px 0;
            }
        }
    }

    .result-count {
        border-top: 1px solid $gray-light;
        border-bottom: 1px solid $gray-light;
        padding: 16px 0;
    }

    article {
        border-bottom: 1px solid $gray-light;
    }
    
    h1 {
        font-family: $font-family-base;
        margin: 0 0 22px;
        text-transform: uppercase;
        line-height: 1em;
        padding-left: 15px;
        padding-right: 15px;
    }

    h2 {
        margin: 0 0 12px 0;
        font-family: $font-family-base;
        line-height: 1;

        a {
            text-decoration: none;
        }
    }
	
	@media (min-width: $bp-large) {

		.result-count {
			p {
				padding-bottom: 0 !important;
				margin-bottom: 0 !important;
			}
		}
	}
	
	@media (min-width: $bp-extra-large) {          
		.load-more {
			margin: 60px 0;
		}

		article {
			padding: 37px 0;

			figure {
				margin: -16px 0 -16px 0;
			}
		}
	}
}
