.c-page-divider {
    background-repeat: no-repeat;
    background-position: top center;
}

.c-page-divider__variant-a {
    background: url("../images/page-divider/happy-shadow-tabl.png") center no-repeat;
    height: 90px;
    width: 100%;
    background-size: 85%;
    @media (min-width: $screen-md){
        height: 150px;
        background-size: 70%;
    }      
}

.c-page-divider__variant-b {
    background: url("../images/page-divider/product-overview-shadow.png") center;
    height: 80px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    display:none;

    @media (min-width: $screen-sm){
        display: block;
    }
}