.c-social-gallery-carousel-expanded {
	.slick-prev, .slick-next {
		background-size: 12px 30px;
		top:75px;
		width:12px;
		height:30px;
	}
	.slick-prev {
		@media (max-width: ($screen-sm - 1)) {
			left:-10px;
			top:35px;
		}
	}
	.slick-next {
		@media (max-width: ($screen-sm - 1)) {
			right:-10px;
			top:35px;
		}
	}
	.slick-disabled {
		display:none;
		opacity:0;
	}
	.c-social-gallery-carousel__panel-authordetails{
		margin-bottom: 20px;
	}
	.c-social-gallery-carousel__thumbnail{
		span{
			cursor: pointer;
		}
	}
}
.c-social-gallery-carousel-expanded__copy {
	float:none;
	margin:0 auto 10px;
}
.c-social-gallery-carousel-expanded__list {
	margin: 40px 0;
	
	@media(min-width: $screen-sm) {
		text-align: center;	
	}
	
	.slick-track{
		min-width: 100%;
		.c-social-gallery-carousel__item{
			&.slick-slide{
				display: inline-block;
				float: none;
			}
		}
	}
}

.c-social-gallery-carousel__item {
    margin-bottom:30px;
    padding:0 8px;

    &.active {
    	.c-social-gallery-carousel__item-arrow {
    		opacity:1;
    	}
    }
}

.c-social-gallery-carousel__product-thumbnail{
	float: left;

	@media (max-width: ($screen-sm - 1)) {
			margin-right:0;
	}

}
.c-social-gallery-carousel__product-detail{
	text-align: left;

	@media (max-width: ($screen-sm - 1)) {
			text-align:center;
	}
}