.search-input {
	@media (min-width: $bp-extra-large) {
		.search-icon {
			display: none;
		}
	}

	.btn {
		.glyphicon-search {
			font-size: 19px;
		}
	}

	.search-icon-wrapper {
		margin-top: 16px;
		text-align: right;

		@media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) {
			margin-top: 8px;
		}

		@media only screen and (min-width: $screen-xs) and (max-width: $screen-sm-max) {
			margin-top: 5px;
		}
	}

	.search-submit-btn, .search-textbox {
		border: none;
		height: 36px;
	}

	.btn-iea {
		padding: 7px 15px 6px;
		font-size: $font-size-base;
		height: 36px;
	}

	label {
		padding: 5px;
		margin-bottom: 5px;
	}

	.input-group-btn {
		vertical-align: bottom;
	}

	.btn[disabled] {
		@include opacity(1);
	}
}

.toggle-absoulte {
    position: absolute !important;
    width: 100%;
}