.c-global-footer-v2 {
	background: $gray-pale;
    margin: 50px 0 0;
    padding: 0;

    &__wrapper {
        color: $gray;
        width: 100%;
        padding: 40px 0;
    }
	
	&-list {
		margin: 20px 0 0;
		padding: 0;
		
		&__item {
			list-style: none;

            .c-social-container {
                text-align: center;
                overflow: hidden;
                
                &__list {
                    display: inline-block;
                    margin: 0 10px 0 0;
                }
                
                &__img {
                    border: 1px solid $gray;
                    border-radius: 50%;
                }
                
                &__icon {
                    padding: 5px;
                    width: 32px;
                }
            }

            .c-language-selector {
                margin-top: 10px;
                text-align: center;
                border-bottom: 1px solid $gray;
                
                @media(min-width: $screen-sm){
                    text-align: left;
                    border-bottom: none;
                }
                
                &__lang {
                    &-list {
                        margin: 0;
                        padding: 0;
                    }
                    
                    &-list__item {
                        display: inline-block;
                        height: 44px;
                        list-style: none;
                        margin: 0 8px;
                        width: 44px;
                    }
                }
            }

            .c-country-selector {
                &__link {
                    display: table;
                    margin: 0 auto;
                    @media(min-width: $screen-sm) {    
                        margin: 0;
                    }
                }
                
                &__flag {
                    height: 20px;
                    margin-right: 10px;
                    width: 20px;
                }
                
                &__label {
                    display: table-cell;
                    font-size: $font-size-base;
                    line-height: 20px;
                    vertical-align: middle;
                }
                
                text-align: center;
                border-top: 1px solid $gray;
                padding-top: 20px;
                
                @media(min-width: $screen-sm) {    
                    border-top: none;
                    padding-top: 0;
                }
            }    
		}
		
		&__logo {
			display: block;
			width: 132px;
			margin: 20%;
		}
	}
	
	&-list:nth-child(1) &-list__item:nth-child(2), 
	&-list:nth-child(1) &-list__item:nth-child(3), 
	&-list:nth-child(1) &-list__item:nth-child(4) {
        @media(min-width: $screen-sm) {
            border-left: 1px solid $gray;
            min-height: 160px;
        }
	}
	
	&-links-list {
		margin: 0;
		padding: 0;
        column-count: 1;
		text-align: center;
        
        @media(min-width: $screen-sm) {
            column-count: 2;
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-rule: 1px solid $gray;
            -webkit-column-rule: 1px solid $gray;
            -moz-column-rule: 1px solid $gray;
            padding: 15px 0;
        }
        
		&__item {
			list-style: none;
			margin: 0 0 20px;
		}	
	}
	
	&-copyright {
        text-align: center;
        margin-top: 20px;
		img {
			width: 32px;
		}
	}
	
	&-copyright__text {
		display: inline-block;
	}
    
    .hide-links-mobile {
        @media(max-width: ($screen-sm)-1) {
            display: none;
        }
        
        @media(min-width: $screen-sm) and (orientation: portrait) {
            display: none;
        }
    }
    
    .hide-link-desktop {
        @media(min-width: $screen-sm) {
            display: none;
        }
        
        @media(min-width: $screen-sm) and (orientation: portrait) {
            display: none;
        }
    }
}