.section-navigation {
    a {
        padding: 15px 20px 0;
        display: block;
        cursor: pointer;
        &:focus, &:hover, &:active  {
            outline: 0;
            text-decoration: none;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .title { 
        padding: 10px 20px;
    }

    .parent-label {
        padding: 15px 20px;
    }
    
    .expandable {
        display: none; 
        padding-left: 12px;
        padding-bottom: 15px;
        .expandable {
            padding-left: 20px;
        }
    }

    .sub-menu {

        > a {
            @include multi-box-shadow('none');
            padding: 15px 20px 0;
            display: inline-block;
            width: 100%;
            &:before {
                float: right;
            }
        }
    }
    .nav {
        >li > a {
            padding: 15px 20px;
        }
    }
    .navbar {
        height: auto;
        &.navbar-default {
            background-color: transparent;
        }
    }


    .navbar-default .navbar-toggle {
        margin-right: 15px;
    }

    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
        max-height: none;

    }

    .nav-stacked > li + li {
        margin-top: 0;
    }

    .navbar-header {

        > span {
            float: left;
            padding: 15px 20px;
        }
        
        @media (min-width: $bp-large) {
            display: none;
        }
    }

    .parent-label {
        display: none;
        @media (min-width: $bp-large) {
            display: block;
        }
    }
}