/* the base class name is the name added to each component in the component view js (home.js) */
.video {

}

@include theme('whitelabel') {

    .video {

        .video-details {
            h5 {
            
                font-weight: normal;
                
            }
        }

        div.video-frame, .video-container{
            background-color: $color-black;
        }

        legend {
            &.video-title {
                font-size: bold;

                 @media (min-width: $bp-large) { 
                    font-size: bold;
                 }

                 @media (min-width: $bp-extra-large) { 
                    font-size: bold;
                 }
            }
        }

        .video-details {
            p {
                color: $color-black;
                font: normal 1em $font-family-base;
            }
        }
    }

    .mfp-content .video-container{
        background-color: $color-black;
    }
}

