.c-ordered-list {
    position: relative;
    padding: 0;
	margin:50px auto;

    &__item {
        list-style: none;
        min-height: 290px;
        position: relative;
    }
	&--wrap{
		position: relative;
	}
	&_number--wrap {
		z-index:-1;
		position: absolute;
		right:50%;
		left:0;
		top:0;
		padding: 0;
  
		@media(max-width: $screen-sm) {
			right:0;
			text-align:center;
		}
		@media(min-width: $screen-sm) {
			left:auto;
			text-align:center;
		}
	}
	&_content {
		padding: 30px 30px 30px 0;
		z-index:2;
		text-align: center;
		display:inline-block;
		margin-top: 230px;

		@media(min-width: $screen-sm) {
			padding: 30px;
			text-align: right;
			margin-top: 0;
			margin-left:0;
			width:25%;
		}
		@media(min-width: $screen-md) {
			margin-right:45%;
		}
		@media(max-width: $screen-sm - 1) {
			padding-left: 30px;
		}
	}
	&_content--table-cell {
		display: table-cell;
		vertical-align: middle;
	}
	&--align-left {
		.c-ordered-list_number--wrap {
			@media(min-width: $screen-xs-max) {
				right:auto;
				left:10%;
			}
		}
		.c-ordered-list_content {
			@media(min-width: $screen-xs-max) {
				margin-right:0;
				text-align: left;
			}
			@media (min-width: $screen-sm) {
				margin-left: 45%;
			}
			@media (min-width: $screen-md) {
				margin-left: 34%;
			}
		}
	}
	&_number {
		position: relative;
		margin: 0 auto;
		font-size: $font-size-large;
		span {
			text-align: center;
			position:absolute;
			top:50%;
			transform: translate(0,86px); 
		}
	}
}














