/* the base class name is the name added to each component in the component view js (home.js) */
.media-gallery{

    /*white label theme  goes here*/
    @include theme('whitelabel') {
      
        .media-gallery-heading {
            font-size: $font-size-x-large;
        }

        .thumbnail {

            .icon-Enlarge {
                color: $color-white;
            }

            .caption {
                h4 {
                    font-size: $font-size-x-small;
                 }
            }
        }

        @media(min-width: $screen-sm) {
            .media-gallery-subheading {
                font-size: $font-size-large;
            }
        }

        .thumbnail {

            &.active {
                background-color: $color-white;
            }

            .caption {
                background-color: $color-white;
            }

            h4 {
                color: $color-black;
            }
        }

        @media(min-width: $bp-small) and (max-width: $screen-sm-max) {
            .media-thumbnail-container {
                background-color: $gray-lighter;
            }

            .thumbnail {
                .caption {
                    
                    color: $color-white;
                }

                h4 {
                    color: $color-black;
                }
            }
        }
    }

}