    nav[role=navigation] {
        clear: both;
        transition: all 0.3s ease-out;
    }

    .js nav[role=navigation] {
        overflow: hidden;
        max-height: 0;
    }

    nav[role=navigation] {

        &.active {
            max-height: 20em;
        }

        ul {
            margin: $base-spacing*2 0;
            padding: 0
        }

        li {

            &:not(:last-child) {
                margin-bottom: $base-spacing;
            }

            a {
                display: block;
                padding: 0.8em;
                color: #fff;
                text-align: center;
                @include font-size(18px);
                background: $digBlueDarken;
                padding: 14px 18px;

                &:hover,
                &:focus {
                    background: #fff;
                    color: $digBlueDarken;
                }
            }
        }

    }

    @include breakpoint(medium) {

        a.menu-link {
           display: none;
        }

        .js nav[role=navigation] {
            max-height: none;
        }

        nav[role=navigation] {

             ul {
                margin: 0 0 0 -0.25em;
                border: 0;
                float: right;

                li {
                    display: inline-block;
                    margin: 0 0.25em;

                    &:not(:last-child) {
                        margin-bottom: 0;
                    }

                    a {
                        border: 0;
                    }
                }
            }
        }
    }

// Nav Mobile Menu Icon
$duration: 0.5s;

.menu-link {
    float: right;
    display: block;
    padding: $base-spacing;
    position: relative;
    @include transition($duration/2);
    cursor: pointer;
    user-select: none;

    .trans-icon:before, .trans-icon:after {
        @include transition($duration/2);
    }

    &:hover {
        @include transition($duration);

    .trans-icon:before, .trans-icon:after {
        @include transition($duration/2);
    }

    .trans-icon:before { top: .825rem; }
    .trans-icon:after { top: -.825rem; }
    }

    @include breakpoint(medium) {
        display: none;
    }
}

.trans-icon {
    position: relative;
    width: 2.5em;
    height: 5px;
    background: #fff;
    @include transition($duration/2);

    &:before, &:after {
        display: block;
        content: "";
        height: 5px;
        width: 2.5em;
        background: #fff;
        position: absolute;
        @include transition($duration, $duration/2);
    }

    &:before { top: 10px; }
    &:after { top: -10px; }
}

.open:not(.steps) .trans-icon:before,
.open:not(.steps) .trans-icon:after {
    top: 0 !important;
}

.open .trans-icon:before,
.open .trans-icon:after {
    @include transition($duration);
}

.open {
    .trans-icon {
        background: transparent;

        &:before { @include transform(rotate(-45deg)); }
        &:after { @include transform(rotate(-45deg)); }
    }
}
