/*
 * Start: version 1
 *
*/
.c-multiple-related-articles-carousel, .c-multiple-related-carousel-placeholder {
        position: relative;

        .c-related-article-wrapper{
            position: relative;
			margin-left:15px;
			padding-top:20px;
			display: inline-block;
			.c-related-article__image-container{
				text-align: center;
			}
        }
        display: block;
        @media (min-width: $screen-md) {
            display: none;
        }
        .slick-center {
            @media (min-width: $screen-sm) and (max-width: $screen-md) {
                .c-related-article__item {
                    transform-origin: center bottom 0px;
                    transform: matrix(1.3, 0, 0, 1.3, 0, 0);
                    margin-bottom:-100px;
                }
                .c-related-article__image {
                    display:block;
                    opacity:1;
                    right:-75px;
                    top:40px;
                }
            }
        }

        .c-related-article__item {
            background-color: rgb(255, 255, 255);
            margin: 0 10px ;
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
			text-align:center;
			

            @media (min-width: $screen-sm) {
               
                opacity: 1;
                

                .c-related-article__icon {
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
                .c-related-article__link {
                    display: block;
                    opacity: 1;
                }
                .c-related-article__tag {
                    display: block;
                }
            }
			@media (max-width: $screen-sm){
				display:table;
				padding-top:0px;
				width:180px;
				margin:0 auto;
			}

            @media (min-width: $screen-md) {

                .c-related-article__link {
                    display: inline-block;
					width:150px;
					margin:0 auto;
                }
                .c-related-article__tag {
                    display: block;
                }
            }
     
			.c-related-article__content{
				@media(max-width:$screen-sm){
						display:table-cell;
						vertical-align:middle;
				}
			}
            .o-text__heading-2 {
                padding: 29px 0 0 0;
                background: url("../svgs/article_alt.svg") no-repeat top center;
                background-size: 20px 20px;
                line-height: 20px;
                @media (min-width: $screen-sm) {
                    padding-top: 24px;
                    font-size: 20px;
                    height: 80px;
                    width:300px;
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }

        .slick-center {
            .c-related-article__item {
                opacity: 1;
                @media (min-width: $screen-sm) {
                    .c-related-article__link {
                        opacity: 1;
                        display: inline-block;
                        margin: 10px auto 0;
                        height: 40px;
                        line-height: 34px;
                        font-size: 13px;

                        @media (min-width: $screen-md) {
                            height: 50px;
                            line-height: 40px;
                        }
                    }
                    .c-related-article__tag {
                        display: none;
                    }
                }
            }
        }

        .c-related-article__link {
            @media(max-width: $screen-sm){
				display:block;
				margin-top:5px;
			}
        }
        .c-related-article__tag {
            display: none;
        }

        .c-related-article__image {
            display: inline-block;
            opacity: 1;
            z-index: 1;
			
			@media(max-width: $screen-sm){
				img {
					width: 185px;
					
				}
			}
        }
		
        .slick-next {
			background: url("../svgs/arrow-right.svg") no-repeat;
			background-size: 30px 60px;
            z-index: 1;
			right:-36px;
            height: 100%;
            width: 58px;
			top:130px;
			@media(min-width: $screen-md){
				top: 185px;
			}	
			@media(max-width: $screen-xs-max){
				background:transparent;
			}
			
           
        }
        .slick-prev {
			background: url("../svgs/arrow-left.svg") no-repeat;
			background-size: 30px 60px;
            z-index: 1;
			left:-3px;
            height: 100%;
            width: 58px;
			top:130px;
            @media(min-width: $screen-md){
				top: 185px;
			}
			@media(max-width: $screen-xs-max){
				background:transparent;
			}
            
        }

    }
    /*CAROUSEL VERSION ONLY*/

    .c-multiple-related-articles-carousel {

        @media (min-width: $screen-sm) {
            display: block;
        }
        @media print {
            display: none;
        }

        .c-multiple-related-carousel-click-target {
            content: "";
            width: 200px;
            height: 200px;
            display: block;
            background-color: black;
            position: absolute;
            bottom: 0;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 20;
            opacity: 0;
            .c-related-article__item {
                padding-top: 15px;
            }

            @media (min-width: $screen-sm) {
                width: 300px;
                height: 300px;
            }
        }
    }

/*CLONED VERSION ONLY*/
.c-multiple-related-carousel-placeholder {
    display: none;


    @media (min-width: $screen-sm) {
        display: none;
        overflow: hidden;
    }

    .c-multiple-related-carousel-click-target{
        display: none;
    }

    .c-related-article-wrapper {
        display: inline-block;
        vertical-align: middle;
        width: 33%;
		text-align:center;
		.slick-next{
			background: url("../svgs/arrow-right.svg") no-repeat;
			background-size: 8.5px 20px;
			z-index:10;
		}

        @media (max-width: $screen-md) {
            width: 32%;
            margin-bottom: 0;
        }
    }
	.c-related-article__item {
		.c-related-article__content {
			margin-top: -10px;
			.c-related-article__tag {
				width:160px;
				line-height: normal;
				white-space:nowrap;
				overflow:hidden;
				text-overflow:ellipsis;
				
			}
		}
	}
}
.multiple-related-articles-carousel, .multiple-related-articles {
    margin-bottom:50px;
   
    @media (min-width: $screen-sm) {
    	margin-bottom:75px;
    }
}

/*
 * version 2
 *
*/

.c-multiple-related-articles-vertical {

    text-align: center;
    .c-related-article-wrapper {

        .c-related-article__item {

            position: relative;
            display: table;
            margin: 0 auto 60px auto;
           
        }
        &:last-child .c-related-article__item {
                margin-bottom: 0;
        }
        

        &:nth-child(odd) {
 
            .c-related-article__image-container {
                @media screen and (min-width: $screen-tablet) {

                    float: right;
                    margin-left: -60px;
                }
            }

            .c-related-article__content {
                @media screen and (min-width: $screen-tablet) {

                    float: left;
                }
            }
        }

        &:nth-child(even) {

            .c-related-article__image-container {

                @media screen and (min-width: $screen-tablet) {

                    float: left;
                }
            }

            .c-related-article__content {

                @media screen and (min-width: $screen-tablet) {

                    float: right;
                    margin-left: -60px;
                }
            }
        }
    }

    .c-related-article__image-container {

        width: 320px;
        height: 320px;
        overflow: hidden;
         margin-top: 60px;
       
        img {
            width: 100%;
        }

        @media screen and (min-width: $screen-desktop) {

            width: 320px;
            height: 320px;
        }

        @media screen and (max-width: ($screen-desktop - 1)) and (min-width: $screen-tablet) {

            width: 300px;
            height: 300px;
        }

        @media screen and (max-width: ($screen-tablet - 1)) {
            margin-top: 0;
            width: 273px;
            height: 273px;

        }
    }

    .c-related-article__content {

        position: relative;
        width: 320px;
        height: 320px;
		display:table;
        background-color: $color-white;
        border: 1px solid $gray-border;
        
        @media screen and (min-width: $screen-desktop) {
            width: 320px;
            height: 320px;  
        }

        @media screen and (max-width: ($screen-desktop - 1)) and (min-width: $screen-tablet) {
            width: 300px;
            height: 300px;
        }

        @media screen and (max-width: ($screen-tablet - 1)) {

            z-index: 1;
            border: none;
            width: 273px;
            margin-top: -50px;
            height: auto;
            padding: 10px 10px 20px 10px;
                &:before {
					content: '';
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    top: -15px;
                    border-radius: 50%;
                    width: 100%;
                    height: 40px;
                    background: inherit;
                }

                .o-text__heading-2 {
                    padding: 40px 20px 0 20px;
                    background-position: top center;
					font-size:20px;
                }

                .o-text-tight {
                    display: none;
                }
            
        }
    }
	.c-related-article__content-container{
		display:table-cell;
		vertical-align:middle;
	}
    .o-text__heading-2 {
        padding: 0 44px 50px 44px;
        margin-bottom: 25px;
        background: url("../svgs/sprites/book.svg") no-repeat bottom center;
		background-size: 30px;
    }
	
	.c-multiple-related-article-title {
		margin-bottom: 50px;

        .o-text__heading-2 {
            background: none;
            padding: 0 44px 25px 44px;
        }
	}
	
    .o-text-tight {
		margin-bottom: 0;
        padding: 0 22px;
        font-size: 14px;
    }
}

