.c-store-search {
	&--heading{
		padding:30px;
	}
	.c-store-search-list {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: 10px;
			min-height: 90px;
            position: relative;
			a {

				div {
					vertical-align: top;
				}
				&:link, &:visited, &:hover, &:active, {
					text-decoration: none;
				};
			}

			li {
				margin: 0 0 0 100px;
				min-height: 30px;
			}
		}
	}

        .c-form-help-info{
                top:10%;
                right: 28%;
        }
        .c-tooltip-info__copy{
            left:-70px;
            min-width:165px;
           @media(max-width: ($screen-md - 1)) {
                left:-175px;
            }
        }

       .o-dropdown{
            @media(max-width: $screen-sm) {
               width: 65%;
            }
        }

	.c-store-search-info {
		padding: 0px 10px;
	}

	.c-store-search-variant__list {
		margin: 0px;
		padding: 10px 0px;
		list-style: none;
		overflow: inherit !important;
	}

	.c-store-search__select {
		margin: 0 0 15px 0;
	}


	.c-store-search__form .input-md {
	    height: 50px;
	}

	.c-store-search__form-wrapper {
		display: none;
		background: $gray-pale;
		z-index:2;

		select {
			margin: 0;
		}
	}

	.c-store-search-thumb  {
		margin: 0 auto;
		max-height:140px;
		max-width:140px;
	}

	.etale-popup {
		height: 560px;
        border: 1px solid #000;
        width:500px;
         @media(min-width: $screen-sm) {
            width: 100%;
        }
	}

	.c-etale-popup {
		width: 305px;
		margin: 20px auto;
	}

	.c-buyonline{
		margin-bottom:20px;
		.addtobag{
			margin-top: 15px;
			.btn{
				line-height: 49px;
				padding: 0 20px;
			}
		}
	}
}
.o-store-search-header{
	margin:20px;
}
.o-store-search-product--header{
	padding-top: 20px;
	padding-bottom: 20px;
}
.js-btn-bss{
	margin-bottom:30px;
}

.c-product-details{
	height: 400px;
}

.c-store-search__form-wrapper{
    position: absolute;
    height: auto;
    top: 225px;

    @media(min-width: $screen-sm) {
        top: 400px;
    }
}
.js-store-search__more-link {
	margin-top:50px;
}

@import "store-search-where-to-buy";