.store-search {
  margin: 0 auto;
  max-width: 1190px;
  min-height: 689px;
  width: 100%;

  .container {
    max-width: 100%;
    padding: 0;
  }

  .col-sm-offset-4 {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }

  .o-store-search-header {
    color: #ffffff;
  }

  .c-store-search {
    &--heading  {
      width: 100%;

      .o-text__heading-2 {
        padding-bottom: 0;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        font-size: 32px;
      }
    }
  }

  .o-store-search-body {
    .select {
      float: none;
      margin: 0 auto;
      width: 370px;
    }
  }
}

// Products Listing of the Store Search

.store-search {

  .o-store-search-product--header {
    padding-top: 55px;

    h3 {
      color: #004976;
      font-size: 24px;
    }
  }

  .c-store-search {
    &-list {
      font-size: 0;
      text-align: center;

      li {
        box-sizing: border-box;
        border: 0;
        border-radius: 5px;
        display: inline-block;
        float: none;
        height: 275px;
        margin: 0 15px 58px;
        padding: 0;
        vertical-align: top;
        width: 212px;

        &.active {
          background-color: #b2c8d6;
          margin-bottom: 478px;
        }

        &:hover {
          background-color: #b2c8d6;
        }
      }
    }
  }

  .c-product-details {
    background: none !important;
    background-color: unset !important;
    opacity: 1 !important;
    height: auto;
    margin: 0;
    max-height: 275px !important;
    min-height: 275px !important;
    padding: 21px 0;
    position: relative;
    width: 212px;
    
    .c-store-search-thumb {      
      max-width: 75px;
    }

    .c-store-search-info {
      padding: 0 !important;

      h4 {
        font-size: 20px;
        font-family: $font-family-custom;
        font-style: italic;
        line-height: 30px;
      }

      p {
        display: none;
      }

      .choose-variant  {
        background-color: transparent !important;
        border-radius: 5px;
        border: none;
        color: transparent;
        height: 100%;
        left: 0;
        position: absolute;
        top: -10px;
        width: 100%;
      }
    }
  }
}

// Form Product selected at Store Search

.store-search {

  .c-store-search__form-wrapper {
    background-color: #f2f6f8;
    height: 420px;
    top: 333px;
    width: 100% !important;

    .o-store-search-header {
      display: none;
    }

    .c-store-search__form-list {
      margin-top: 60px;

      .form-group {
        margin-bottom: 0;
        display: block;
        width: 100%;
        margin-left: 0;

        .text,
        .select {
          width: 370px;
          margin: 10px auto;
        }
      }

      input {
        border-radius: 4px;
        border: 0;
        box-shadow: none;
        box-sizing: border-box;
        line-height: 50px;
        margin: 10px 0 !important;
        padding: 0;
        padding-left: 20px;
      }

      select {
        border: 1px solid $font-hightlight;
        border-radius: 4px;
        box-shadow: none;
        color: $font-hightlight;
        margin: 10px 0 !important;
        padding-left: 20px;
      }

      .col-sm-12 {
        .o-btn {
          width: 370px;
          margin: 15px auto 15px;
          padding: 6px 0;
          text-align: center;
        }

        .c-storeprefix-text {
          color: $font-hightlight;
          font-family: $font-family-sans-serif;
          font-weight: bold;
          line-height: 28px;
          margin: 0;
          padding: 0;
          text-align: center;
          text-transform: lowercase;
        }

        button,
        .c-buyonline a {
          background-color: $font-hightlight;
          border: 0;
          border-radius: 4px;
          color: $color-white;
          font-family: $font-family-sans-serif;
          font-weight: 600;
          height: 50px;
          line-height: 50px;
          margin: 10px 0 !important;
          padding: 0 !important;
          text-align: center;
          text-transform: uppercase;
        }

        .c-buyonline a {
          background-color: $brand-yellow-button;
          color: $font-hightlight;
        }
      }
    }
  }
}

// TABLET 
@media screen and (min-width: 768px) and (max-width: 991px) {
  .where-to-buy {
    .store-search {
      padding: 0 4.6875%;

      .o-dropdown {
        widows: 100%;
      }

      .c-store-search {
        &-list {
          li {
            margin-top: 15px;
            margin-bottom: 15px;

            &:last-child {
              margin-bottom: 58px;
            }
          }
        }
      }
    }
  }
}

// MOBILE
@media screen and (max-width: 767px) {
  .where-to-buy {
    .store-search {
      width: 100%;

      .container {
        padding: 0 4.6875%;
      }
      
      .o-dropdown {
        width: 100%;
      }
      
      .c-store-search {
        &-step2 {
          overflow: visible;
        }

        &--heading {
          margin-top: 28.125vw;
        }

        &-list {
          font-size: 0;
          text-align: center;

          li {
            height: 38.28125vw; //rever
            margin: 0 0 30px;
            width: 100%;

            &.active {
              margin-bottom: 510px;
            }
              
            .c-product-details {
              display: block;
              font-size: 0;
              margin: 0;
              min-height: auto !important;
              padding: 0;
              top: 50%;
              transform: translateY(-50%);
              vertical-align: middle;
              width: 100%;
            }

            .c-store-search {
              &-thumb {
                display: inline-block;
                max-height: 90%;
                max-width: none;
                vertical-align: middle;
                width: 25%;

                img {
                  max-height: 115px !important;
                  vertical-align: middle;
                  width: auto;
                }
              }

              &-info {
                display: inline-block;
                vertical-align: middle;
                width: 75%;
                
                h4 {
                  font-size: 24px;
                  line-height: 28px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
      
      .c-store-search__form-wrapper {
        height: auto;
        top: 39vw;
        margin-left: -4.6875%;
        padding: 0 4.6875%;
        width: 100vw !important;

        .c-store-search__form-list {
          margin-bottom: 60px;

          .form-group {
            padding-left: 0;
            padding-right: 0;

            .text,
            .select {
              width: 100%;
            }
          }
          
          input {
            border: 2px solid #91b1c4;
            border-radius: 0;
            margin: 10px auto;
            padding-left: 15px;
            width: 100%;
          }

          select {
            border-width: 2px;
            margin: 10px auto;
            padding-left: 15px;
            width: 100%;
          }

          .js-btn-shareLoc {
            display: none !important;
          }

          .col-sm-12 {
            padding-left: 0;
            padding-right: 0;

            .c-storeprefix-text {
              margin: 15px auto;
            }

            button,
            .c-buyonline a {
              margin: 15 auto;
              width: 100%;
            }
          }
        }
      }

      .o-store-search {
        &-body {
          .text,
          .select {
            width: 100%;
          }
        }

        &-product--header {
          padding-top: 105px;
        }
      }
    }
  }
}
