.c-product-tags {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto 50px;
	float:none;

    @media (max-width: $screen-sm) {
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto 20px;
    }
}

.c-product-tags__title {
    margin-top: 0;
    margin-bottom: 35px;
   
    @media (max-width: $screen-md) {
        margin-top: 0;
    }
}

.c-product-tags__tags {
    padding-left: 0;
    li {
        margin-left: 0px;
        margin-right: 6px;
        margin-bottom: 10px;
        list-style: none;
        display: inline-block;

        @media (min-width: $screen-sm) {
            margin-left: 0;
            margin-right: 6px;
        }
    }
}

.o-tag-btn {
    background-color: $color-white;
    border: 1px solid $gray-lighter;
    color: $gray;
    cursor: pointer;
    font-size: $font-size-h5;
    width: auto;
    line-height: 32px;
    outline: none;
    overflow: hidden;
    padding: 0 16px;
    padding-top: 2px;
    position: relative;
    text-transform:none;
    &:hover, &:active,&:focus {
        text-decoration: none;
        color: currentColor;
    }
	display: inline-block;
	-o-transition: background-color .6s ease-out, border-color .6s ease-out;
    -ms-transition: background-color .6s ease-out, border-color .6s ease-out;
    -moz-transition: background-color .6s ease-out, border-color .6s ease-out;
    -webkit-transition: background-color .6s ease-out, border-color .6s ease-out;
    transition: background-color .6s ease-out, border-color .6s ease-out;

  
}
