.c-store-search-pdp {
    &__wrapper {        
        padding: 0 15px;
        margin: 0 auto;
        @media(min-width: $screen-sm) {
            width: 50%;
        }
    }

    &-header {      
        text-align: center;
        margin-bottom: 30px;

        &__link {
            display: inline-block;
            color: $gray-dark;

            &:hover, &:focus {
                color: $gray-dark;
            }
        }

        .icon-pin {
            width: 25px;
            height: 25px;
            float: left;
            margin-right: 10px;
        }
    }

    &__form {
        .form-group {
            position: relative;
            
            .form-control {
                border: solid 1px $gray-lighter;
                height: 50px;
            }
            .icon-gps {
                width: 25px;
                height: 25px;
                position: absolute;
                right: 25px;
                top: 12px;
                cursor: pointer;
            }
        }
        .form-button {
            text-align: center;
        }
        .help-block {
            padding: 15px;
            clear: left;
        }
    }
}