.c-login-register {
	padding-top: 10px;
    margin-top: 50px;
	/*position: relative;*/
	visibility: hidden;

	.c-login-wrap {
		background-color: $color-white;
		visibility: hidden;
		border: 2px solid #ccc;
		box-shadow: 0px 2px 10px 2px #ccc;
		-moz-box-shadow: 0px 2px 10px 2px #ccc;
		-webkit-box-shadow: 0px 2px 10px 2px #ccc;
		padding: 10px;
		position: absolute;
		margin-bottom: 10px;
		width: 320px;
		z-index: 9999;
		right:60px;
		top:45px;
		@media (max-width: $screen-sm) {
			top:90px;
		}
	}
	.c-login-wrap form {
		margin: 15px 0;
	}
	.c-profile-logout-info, .c-login-register-info {
		overflow: auto;
		float:right;
	}
	.c-profile-logout-info li, .c-login-register-info li {
		list-style: none;
		float: left;
		margin-right: 10px;
	}
	.c-login-register-info li a {
		line-height: 31px;
		display: inline-block;
	}
	.c-login-register-info .o-btn {
		margin-top: 0;
		height: 31px;
		line-height: 25px;
	}
	.c-profile-logout-info {
		display: none;
	}
	.c-login__quick-close {
		position: absolute;
		right: 10px;
		width: 15px;
		height: 15px;
		cursor: pointer;
		background: url("../svgs/sprites/cross.svg") center no-repeat;
	}
	.o-text__body {
		font-size: $font-size-base;
	}
	.plain-image {
		float: left;
	}
	.plain-text-image .caption {
		float: left;
	}
	.plain-text-image .caption h3 {
		margin-bottom: 10px;
	}
	.plain-text-image .caption h4 {
		margin: 0 0 10px 15px;
		float: left;
	}
	.plain-text-image .plain-image {
		width: 5%;
	}
	.secure-frame {
		border: none;
		min-height: 520px;
	}

	@media(max-width: 480px) {
		.c-login-wrap {
			width: 100%;
			right: 0px;
		}
	}
}
.c-forgotYourPassword{
	padding-left:15px;
}
.c-login-wrapper{
	max-width:450px;
	margin-left:auto;
	margin-right:auto;
}