/* the base class name is the name added to each component in the component view js (home.js) */
.carousel {

    overflow: hidden;

        ul.iea-carousel {
            margin: 0;
            padding: 0;
            width: 99999px;

            li {
                float: left;
            }
        }

        .bx-wrapper {
            position: relative;

            .bx-prev {
                    @include background("carousel/arrow_left.png");
                    left: 1.7%;

                    .icon-arrow-left {
                        display: none;
                    }
                }

                .bx-next {
                    @include background("carousel/arrow_right.png");
                    right: 1.7%;

                    .icon-arrow-right {
                        display: none;
                    }
                }

                .bx-controls-direction a {
                    background-color: transparent;
                    background-size: 12px 20px;
                    width: 12px;
                    height: 20px;
                }

                .bx-prev:hover,
                .bx-next:hover {
                    background-position: 0 0;
                }
            }

        .bx-pager {
            bottom: 10%;
            position: absolute;
            text-align: center !important;
            width: 100% !important;
        }

        .bx-viewport {
            border: none;
            left: 0;
        }

        .media {
            overflow: hidden;
        }

        img {
            width: 100%;
        }


        iframe, object, video{
            height: 100%;
            width: 100%;
        }

        .carousel-video .video-details{
            display: none;
        }


    .bx-pager.bx-default-pager {
        a {
            @include background("carousel/pager_default.png");
            border-radius: 0;
        }

        a:hover,
        a.active {
            @include background("carousel/pager_current.png");
        }
    }

    .bx-controls-auto {
        display: none;
    }

    .panel-overlay {
        padding: 5.75% 7.75%;
        pointer-events: none;
        position: absolute;
        text-align: center;
        bottom: 0;
        width: 100%;

        &.top-center {
            top: 0;
        }

        .text {

            &> *{
                width: 100%;
                margin: 0 auto;
            }

            &> h3 {
                margin-bottom: 3%;
            }

            .text-small {
                font-weight: bold;
            }

            a {
                pointer-events: auto;
            }
        }

        .animate-header-button {
            margin: 5.5% auto;

            .link {
                display: inline;
            }

            a {
                pointer-events: auto;
            }
        }
    }

    @media only screen and (min-width: $screen-md) {
        .bx-wrapper {
            .bx-controls-direction a {
                background-size: 25px 40px;
                width: 25px;
                height: 40px;
            }
        }
    }

    /* iPads (portrait and landscape) */


    @media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) {
        img {
            height: initial;
            width: 100%;
        }

        .panel-overlay {
            .text {
                &> h3 {
                    margin-bottom: 4.25%;
                }

            }
            .animate-header-button {
                margin: 4.5% auto;
            }
        }
    }

    /* iPads (portrait) ----------- */
    @media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) and (orientation: portrait) {
        .bx-wrapper {
            .bx-prev {
                left: 2.09%;
            }

            .bx-next {
                right: 2.09%;
            }
        }
        .panel-overlay {
            padding: 12% 7%;
            .text {

                &> * {
                    width: 75%;
                }
            }
        }

        .bx-pager {
            bottom: 12%;
        }

    }

    /* iPads (landscape) */
    @media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) and (orientation: landscape) {
        .bx-wrapper {
            .bx-prev {
                left: 0.94%;
            }

            .bx-next {
                right: 0.94%;
            }
        }
        .panel-overlay {
            padding: 7.75% 0.94%;
            .text {

                &> * {
                    width: 52.5%;
                }

                &> h3 {
                    margin-bottom: 0.75%;
                }
            }

            .animate-header-button {
                margin: 0.75% auto;
            }
        }

        .bottom-left {
            .animate-header-button {
                margin-left: 0;
                margin-right: 0;
            }
        }

        .bottom-left{
            &> * {
                margin-left: 0;
                margin-right: 0;
                text-align: left;
            }
        }

        .bottom-right {
            &> * {
                margin-left: 0;
                margin-right: 0;
                text-align: right;
            }
        }

        .top-center {
            bottom: initial;
            top: 1%;
        }

        .bx-pager {
            bottom: 9%;
        }
    }

    @media only screen and (min-width: $screen-lg-min) {

        img {
            height: initial;
            width: 100%;
        }
        .panel-overlay {
            padding: 5.5% 13%;
            .text {


                &.bottom-right > * {
                    margin-left: 0;
                    text-align: right;
                }

                &.bottom-left > * {
                    margin-left: 0;
                    text-align: left;
                }

                &.top-center {
                    bottom: initial;
                    top: 1%;
                }

                .text-small {
                    line-height: 1em;
                    margin-bottom: 1.55em;
                }

                &> *{
                    margin: 0 auto;
                }

                &> h3 {
                    line-height: 1em;
                    margin-bottom: 0.7em;
                }
            }

            .animate-header-button {
                margin: 0 auto 0;

                a {
                    margin-right: 10px;
                }
            }
        }

        .bottom-left .animate-header-button {
            margin: 2.1em 0 0;
        }

        .bottom-left {
            &> * {
                text-align: left;
            }
        }

        .bottom-right {
            &> * {
                text-align: right;
            }
        }

        .bx-wrapper {
            .bx-prev {
                left: 13.25%;
            }

            .bx-next {
                right: 13.25%;
            }
        }

        .bx-pager {
            bottom: 3.4%;
        }
    }
    .cq-list-placeholder {
        height: 74px;
        width: 74px;
    }
}
