/* The below are colors from the official IEA style guide */

$color-iea-blue:         #03addf !default;
$color-iea-light-blue:   #21addd !default;
$color-iea-black:        #000 !default;
$color-iea-light-grey:   #999 !default;
$color-iea-medium-grey:  #666 !default;
$color-iea-dark-grey:    #333 !default;
$color-iea-white:        #fff !default;
$color-style-error:         #ff0000 !default;
$color-iea-custom-grey:  #434343 !default;
$color-iea-nav-grey:     #efefef !default;
$color-instagram-blue:      #3b678d !default;
$color-success-green:       #808000 !default;
