/* ----------------------------------------------------------------------------- *\
   CONFIG
\* ----------------------------------------------------------------------------- */

$theme: '<%= theme %>';

$font-path: '<%= fontPath %>';
$image-path: '<%= imagePath %>';

$bp-small: <%= breakpointSmall %>;
$bp-medium: <%= breakpointMedium %>;
$bp-large: <%= breakpointLarge %>;
$bp-extra-large: <%= breakpointXlarge %>;
$bp-desktop: <%= breakpointXlarge %>;

$containerSmall: <%= containerSmall %>;
$containerMedium: <%= containerMedium %>;
$containerLarge: <%= containerLarge %>;
$containerXLarge: <%= containerXLarge %>;


/* ----------------------------------------------------------------------------- *\
   MIXINS
\* ----------------------------------------------------------------------------- */

@import "mixins/rem";
@import "mixins/font-face";
@import "mixins/vw-font-size";
@import "mixins/box-shadow";
@import "mixins/opacity";
@import "mixins/grayscale";
@import "mixins/rounded";
@import "mixins/background-size";
@import "mixins/background";
@import "mixins/gradient";
@import "mixins/cq";
@import "mixins/placeholder";
@import "mixins/column-count";
@import "mixins/appearance";
@import "mixins/font-feature-settings";
@import "mixins/typography";
@import "mixins/theme";
@import "mixins/transition";
@import "mixins/utils";
@import "mixins/animations";
@import "mixins/form";
@import "../js/libs/vendor/sass-bootstrap/lib/_mixins.scss";


/* ----------------------------------------------------------------------------- *\
   THEME
\* ----------------------------------------------------------------------------- */

@import "themes/<%= theme %>/bootstrap-variables";


/* ----------------------------------------------------------------------------- *\
   OBJECTS STYLES
\* ----------------------------------------------------------------------------- */

@import "themes/whitelabel/layout";
@import "themes/whitelabel/buttons";

/* ----------------------------------------------------------------------------- *\
   COMPONENT STYLES
\* ----------------------------------------------------------------------------- */

@import "../../../app/<%= name %>/sass/views/diagnostic-tool-question/diagnostic-tool-question";


<%
for (var key in templatePath) {
    if (templatePath.hasOwnProperty(key)) {
        var filepath = "../../../app/" + name + "/sass/views/" + key + "/"+ key,
            actualPath = "app/" + name + "/sass/views/" + key + "/_" + key + ".scss";
        if ( grunt.file.exists(actualPath)) {
%>
@import "../../../app/<%= name %>/sass/views/<%= key %>/<%= key %>";
<%    }}} %>



/* ----------------------------------------------------------------------------- *\
   PARTIALS
\* ----------------------------------------------------------------------------- */
@import "../../../app/<%= name %>/sass/views/partials/partials";
/* ----------------------------------------------------------------------------- *\
   UTILS
\* ----------------------------------------------------------------------------- */
@import "themes/whitelabel/utils";

/* ----------------------------------------------------------------------------- *\
   PRINT
\* ----------------------------------------------------------------------------- */
@import "print";
