@media print{
    .recipe-detail {
        @page{
            margin: 30px;
        }
        
        header,
        footer,
        .c-recipe-hero,
        .o-social-sharing,
        .c-recipe-related-products,
        .c-recipe-nutrients {
            display: none;
        }
        
        .row {
            position: relative;
        }
        
        .o-content-wrapper{
            border: 1px solid $gray;
        }
        
        .c-recipe-attributes{
            .c-recipe-attributes__list{
                border-top: 1px solid $gray;
                border-bottom: 1px solid $gray;
                
                .c-recipe-attributes__list-item{
                    border-top: 0;
                    border-bottom: 0;
                }
            }
        }
        
        .c-recipe-content{
            text-align: center;
        }
        
        .c-recipe-ingredients{
            float: left;
            width: 50%;
            padding: 0 20px;
            text-align: left;
        }
        
        .c-recipe-cooking-method{
            float: right;
            width: 50%;
            padding: 0 20px;
            border-left: 1px solid $gray;
        }
        
        .c-recipe-copy__tips{
            border-width: 1px 0 0 0;
        }
        
    }
}