.c-sitemap {

    padding-left: 15px;
    padding-right: 15px;
    max-width: 1024px;
    margin: 100px auto 0 auto;

    .o-text__heading-1 {

        margin-bottom: 50px;
    }

    .o-text__heading-2 {

        color: $gray;
        margin-bottom: 20px;
    }

    h3 {

        font-weight: bold;
        margin-bottom: 5px;
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
}

.c-sitemap__pages-column {

    margin-bottom: 50px;
    padding: 0;
    letter-spacing: 1px;
    text-align: center;

    @media screen and (min-width: $screen-sm) {

        text-align: left;
        padding-right: 25px;

        &:nth-child(3n + 4) {

            clear: both;
        }
    }
    @media screen and (min-width: $screen-md) {
        padding-right: 45px;
    }
}

.c-sitemap__section-btn,
.c-sitemap__subsection-btn {

    display: block;
    margin-bottom: 20px;
    line-height: 22px;
    -webkit-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
	color:$gray-darker;
	
	&:active, &:focus{
		color: $gray-darker;
		text-decoration: none;
	}
    &:hover {
        color: $gray-darker;
        text-decoration: underline;
    }
}

.c-sitemap__pages__item {
    padding-right: 40px;
}

.c-sitemap__section-btn {

    font-weight: bold;
}