.c-social-carousel {
	.slick-prev, .slick-next {
		background-size: 12px 30px;
		top:65px;
		width:12px;
		height:30px;
		z-index: 9;
	}
	.slick-prev {
		@media (max-width: ($screen-sm - 1)) {
			left:-10px;
			top: 45px;
		}
	}
	.slick-next {
		@media (max-width: ($screen-sm - 1)) {
			right:-10px;
			top: 45px;
		}
	}
	.slick-disabled {
		display:none;
		opacity:0;
	}
	.c-social-carousel__panel-authordetails {
		margin-bottom: 20px;
	}
	.o-quick-panel {
		position: relative;
		text-align: left;
	}
}
.c-social-carousel__wrapper{
	margin-bottom: 50px;
}
.c-social-carousel__copy {
	float:none;
	margin:0 auto 10px;
}
.c-social-carousel__thumbnail-img, .c-social-carousel__panel--img {
	max-width: 100%;
}
.c-social-carousel__list {
	margin: 15px 0;
	font-size: 0px;
	@media(min-width: $screen-sm) {
		text-align: center;
		margin: 20px 0;
	}
	
	.slick-track{
		min-width: 100%;
	}
}

.c-social-carousel__item {
    margin-bottom:15px;
	margin-top: 15px;
    padding:0 8px;
	display: inline-block;
	float: none;
	font-size: 14px;
	
	&.slick-slide{
		display: inline-block;
	}

    &.active {
    	.o-quick-panel__item-arrow {
    		opacity:1;
    	}
    }
}

.c-social-carousel__product-thumbnail{
	float: left;
	margin-right: 15px;
}
.c-social-carousel__product-detail{
	text-align: left;
}
.c-social-carousel__thumbnail {
	.o-icon-article{
		position: absolute;
		left: 15px;
		bottom: 8px;
	}
}
.c-social-carousel__panel-content{
	margin-top: 15px;
	@media(min-width: $screen-sm) {
		margin-top: 0;
	}
}
.c-social-carousel__panel-icon{
	.c-svg{
		display: block;
		margin-bottom: 10px;
	}
	.c-social-carousel__panel-viewcount{
		font-size: 14px;
	}
}
