 .navigation {
    .dropdown-menu {
        min-width: 310px;
    }
    @media (max-width: $bp-medium) {
        ul.navbar-nav>li {
            padding-left: 15px;
        }
    }

    &.top-navigation {
        .navbar-toggle {
            width: 40px;
            font-size: 32px;
            float: left;

            @media only screen and (min-width: $screen-xs) and (max-width: $screen-md-max) {
                margin: 0;
            }
        }

        .navbar {
            height: 50px;
        }

        .navbar-nav {
            margin: 0;

            li {
                padding: 0;
            }
        }
    }
}

.dropdown-menu {
    border: none;
    padding: 0;
    z-index: 99999;
    position: static;
    display: block;
    min-width: 310px;

    .dropdown &, .btn-group & {
        position: absolute;
        display: none;
    }

    .dropdown.open &, .btn-group.open & {
        display: block;
    }

    &.columns-2 {
        min-width: 620px;
    }

    &.columns-3 {
        min-width: 930px;
    }

    &.columns-4 {
        min-width: 1240px;
    }

    li a{
        padding: 5px 15px;
        font-weight: 300;
    }

    .alpha {
        padding-right: 0;
    }

    .omega {
        padding-left: 0;
    }
}

@media (min-width: $bp-extra-large) {
    .navigation .dropdown {
        &.open {
            &:after, &:before {
                bottom: 0;
                left: 50px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                border-color: rgba(77, 77, 77, 0);
                border-width: 15px;
                margin-left: -15px;
            }
            &:before {
                border-color: rgba(0, 0, 0, 0);
                border-width: 16px;
                margin-left: -16px;
            }
        }
    }
}

.multi-column > div {
    div:first-child {
        border-left: none;
    }
}

.multi-column-dropdown {
    list-style: none;
    margin: 0;
    padding: 0;

    li a {
        display: block;
        clear: both;
        line-height: 1.428571429;
        white-space: normal;
        text-decoration: none;
    }
}

@media (max-width: $screen-lg-min) {
    .content {
        width: 90%;
        margin: 50px auto;
        padding: 10px;
    }
}

@media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) {
    .navbar-nav {
        .open {
            .dropdown-menu {
                border: 0 none;
                box-shadow: none;
                float: none;
                margin-top: 0;
                width: auto;
            }
        }
    }
}

.navbar {
    border: none;
    margin-bottom: 0;

    @media (min-width: $bp-extra-large) {
        height: 67px;

        .navbar-brand {
            padding: 32px;
            text-transform: capitalize;
        }
    }

    a {
        text-transform: uppercase;
    }
}

.navbar-default {
    .navbar-toggle {
        outline: none;
    }
}

.dropdown-menu {
    li img {
        padding: 5px 15px;
    }
    li a img {
        padding: 0;
    }
}

.multi-column-dropdown {

    li span {
        padding: 5px 15px;
        display: block;
        line-height: 1.428571429;
        white-space: normal;
        text-transform: uppercase;
    }

}

.navbar-header {

    .navbar-toggle {
        border: none;
        background-color: transparent;
        margin-right: 0px;

        &:focus {
            border: none;
            background-color: transparent;
        }
    }
}

.collapse {

    &.navbar-collapse {
        .glyphicon-chevron-down,
         .glyphicon-chevron-up{
            font-size: 10px;
        }
    }
}

ul.navbar-nav {

    @media (min-width: $bp-extra-large) {

        > li {
            padding: 8px 5px;
        }

        .divider {
            padding: 0;
        }
    }
}

.dropdown-menu {
    @media (min-width: $bp-extra-large) {
        padding: 20px 0;
    }
}

.navbar-default .navbar-nav, .dropdown-menu {
    > .open {
        > a,
        > a:hover,
        > a:focus {
            font-weight: bold;
        }
    }

    > li > a {
        &:hover, &:focus {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }

    li a {
        &:hover, &:focus {
            font-weight: bold;
        }
    }
}

.dropdown {
    &.open {

        @media (min-width: $bp-extra-large) {

            h4 {
                text-transform: uppercase;
                margin-left: 8px;
            }

            img {
                width: 100%;
            }
        }
    }
}