.panel {
    border: none;
}

.component.panel {

    position: relative;

    img {
        width: 100%;
    }

	iframe, object{
		height: 100%;
		width: 100%;
	}

    .panel-overlay {
        padding: 5.75% 7.75%;
        pointer-events: none;
        position: absolute;
        text-align: center;
        bottom: 0;
        width: 100%;
		
        &.top-center {
            top: 0;
        }

        .text {

            &> *{
                width: 100%;
                margin: 0 auto;
            }

            &> h3 {
                margin-bottom: 5%;
            }
        }
        .animate-header-button {
            margin: 5.5% auto;

            .link {
                display: inline;
            }
        }

        a {
            pointer-events: auto;
        }
    }

    .video {
        .video-details {
            p {
                margin: 0;
            }
        }
    }
	
    @media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) {

        img {
            height: initial;
            width: 100%;
        }
        .panel-overlay {
            .text {
                &> h3 {
                    margin-bottom: 4.25%;
                }
            }
            .animate-header-button {
                margin: 4.5% auto;
            }
        }
    }

    @media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) and (orientation: portrait) {
        .panel-overlay {
            padding: 12% 7%;
            .text {

                &> * {
                    width: 75%;
                }
            }
        }

    }

    @media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) and (orientation: landscape) {
        .panel-overlay {
            padding: 7.75% 0.94%;
            .text {

                &> * {
                    width: 52.5%;
                }

                &> h3 {
                    margin-bottom: 0.75%;
                }
            }
            .animate-header-button {
                margin: 0.75% auto;
            }
        }

        .bottom-left {
            .animate-header-button {
                margin-left: 0;
                margin-right: 0;
            }
        }

        .bottom-left{
            &> * {
                margin-left: 0;
                margin-right: 0;
                text-align: left;
            }
        }

        .bottom-right {
            &> * {
                margin-left: 0;
                margin-right: 0;
                text-align: right;
            }
        }

        .top-center {
            bottom: initial;
            top: 1%;
        }

    }

    @media only screen and (min-width: $screen-lg-min) {

        img {
            height: initial;
            width: 100%;
        }
        .panel-overlay {
            padding: 5.5% 13%;
            .text {

                &.bottom-left > *,
                &.bottom-right > * {
                    margin-left: 0;
                }

                &.top-center {
                    bottom: initial;
                    top: 1%;
                }

                .text-small {
                    line-height: 1em;
                    margin-bottom: 1.55em;
                }

                &> *{
                    width: auto;
                    margin: 0 auto;
                }

                &> h3 {
                    line-height: 1em;
                    margin-bottom: 0.7em;
                }
            }
            .animate-header-button {
                margin: 0 auto 0;

                a {
                    margin-right: 10px;
                }
            }
        }
        

        .bottom-left .animate-header-button {
            margin: 2.1em 0 0;
        }

        .bottom-left {
			&> * {
				text-align: left;
			}
        }

        .bottom-right {
            &> * {
                text-align: right;
            }
        }

    }
}
