/* the base class name is the name added to each component in the component view js (home.js) */
@include theme('whitelabel') {

    .experts-module {
        @include cf;
        color: #fff;
        margin-top: $base-spacing*3;
        margin-bottom: $base-spacing*3;
        position: relative;

        .experts-image {
            display: block;
            position: relative;
            margin: 0 auto;
            text-align: center;
            z-index: 40;

            @include breakpoint(large) {
                @include with-layout($removeGutters) {
                    @include span(4);
                }
            }

            h3 {
                position: absolute;
                bottom: 0;
                left: 0;
                @include fs-body;
                color: #fff;
                display: inline-block;
                padding: $base-spacing;
                margin-top: $base-spacing;
                background: url('../images/dig/title-bar-green-dark.png') no-repeat top center;
                width: 100%;
                text-align: center;

                @include breakpoint(large) {
                    width: 110%;
                    margin-left: -$base-spacing;
                    margin-top: 0;
                    background-size: cover;
                }

            }

            img {
                width: 100%;
                padding: $base-spacing;

                @include breakpoint(large) {
                    width: auto;
                }
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../images/dig/expert-frame.png') no-repeat top center;
                background-size: 100% 100%;
            }

        }

        .caption {
            background: $digGreen;
            padding: $base-spacing $base-spacing*2;
            z-index: 30;

            @include breakpoint(large) {
                @include with-layout($removeGutters) {
                    @include span(8 last);
                    @include center(y);
                    right: $base-spacing/2;
                }
            }

            .btn {
                display: block;
                text-align: center;
                margin: 0 auto;
                @include buttonTheme($digGreen, green);
                @include fs-body;
                cursor: pointer;
            }
        }
    }

    .featured-module {
        @include cf;
        margin-top: $base-spacing*3;
        margin-bottom: $base-spacing*3;

        @include with-layout($removeGutters) {

            .caption {
                color: #fff;
                background: #35a4cd;
                padding: $base-spacing*2;
                position: relative;
                z-index: 5;
                @include skew($bg: #35a4cd, $deg: -2deg, $right: 0, $width: 100%);

                h2 {
                    text-align: center;
                    @include fs-body;
                }

                .btn {
                    @include buttonTheme($digBlue, blue);
                }

                @include breakpoint(medium) {
                    @include span(6);
                    left: 3%;
                }

                @include breakpoint(large) {
                    @include span(4);
                }

            }

            .featured-image {
                position: relative;
                display: block;

                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    background: url('../images/dig/featured.png') no-repeat top center;
                    background-size: 100% 100%;
                    width: 100%;
                    height: 100%;
                }

                img {
                    width: 100%;
                    padding: $base-spacing;
                }

                @include breakpoint(medium) {
                    @include span(6 last);
                }

                @include breakpoint(large) {
                    @include span(8 last);
                }
            }
        }
    }

    .standard-module {
        margin-top: $base-spacing*3;
        margin-bottom: $base-spacing*3;
        @include cf;

        img {
            width: 100%;
        }

        .caption {
            @include breakpoint(medium) {
                @include span(5);
            }
        }

        .standard-image {
            @include breakpoint(medium) {
                @include span(7 last);
            }
        }

    }
} // End Theme Wrapper
