.c-product-related {
    margin-bottom: 50px; 
	
}
.u-block {
    margin-bottom: 0;
}
.multiple-related-products-alternate, .multiple-related-products-complimentary {
	.c-product-listing__product-wrap{
		min-height:321px;
	}
}