.country-language-selector {

    .selector-header {
        cursor: pointer;
        padding: 16px 0;

        > img {
            width: 21px;
            height: 21px;
            margin-top: 0;
        }
    }

    .selector-body {
        list-style: none;
        display: none;
        padding: 0;
        width:100%;
        left: 0;
        position: absolute;
        top: 50px;

        &.left-align {
            left: 0;
        }

        .global-title {
            text-align: center;
            line-height: 50px;
            height: 50px;
        }

        .region-group {
            border-right: none;
            padding: 18px 20px;
            .region-title {
                a:before {
                    float: right;
                    margin-right: 10px;
                }
            }
        }

        .country-list {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
            padding-top: 18px;

            > li {
                padding-bottom: 10px;
                overflow: hidden;
                > a {
                    float: left;
                    padding: 0;
                    img {
                        width: 40px;
                        height: 40px;
                        margin-top: 0;
                    }

                    &.is-broken {
                        width: 40px;
                        height: 40px;
                    }
                }

                span {
                    padding: 0 0 0 10px;
                }

                ul {
                    list-style-type: none;
                    padding: 6px 0 0 45px;

                    li {
                        float: left;
                        padding-left: 5px;

                        &:last-child {
                            &:after {
                                content: "";
                            }
                        }

                        a {
                            padding: 0 0 0 1px;
                        }
                        &:after {
                            content: "|";
                            display: block;
                            padding: 0 0 0 2px;
                            display: inline;
                        }
                    }
                }

                &:last-child {
                    padding: 0 0 0 1px;
                }
            }
        }

        &.desktop {
            width: 600px;
            padding-bottom: 40px;

            .region-group {
                width: 48%;
                display: inline-block;
                overflow: hidden;
                vertical-align: top;
                border: none;
                padding: 20px 0 0 30px;

                .country-list {
                    margin-bottom: 0;
                }

                .region-title a:before {
                    display: none;
                }
            }
            &.left-align {
                left: 0;
                &:after {
                    left: 45px;
                }
            }

            &.right-align {
                left: -510px;
                &:after {
                    left: 545px;
                }
            }
        }

        &.mobile {
            .region-group {
                padding-top: 0;
                .region-title {
                    padding-top: 18px;
                }
                .country-list {
                    display: none;
                    &.in {
                        display: block;
                    }
                }
            }
        }

    }

    .dropdown-menu {
        &:after {
          position: absolute;
          top: -15px;
          left: 10px;
          display: inline-block;
          content: '';
        }
        &.right-align:after {
            right: 86vw;
        }
    }
    .dropdown.open {
        .dropdown-menu {
            display: block;
        }
    }
}

