.c-home-story {
    position: relative;
}

.c-home-story__bg-images {
    position: relative;
}

.o-home-story__bg-image {
    position: absolute;
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
    height: 100%;
}

.c-home-story-image__container {
    display: table;
}

.c-home-story__bg--left {
    left: 0;
    &.is-product {
        z-index: 1;
        @media screen and (min-width: $screen-tablet) {
            width: 35%;
            .c-home-story-image__container{
                margin: 0 auto;
            }
        }

        @media screen and (max-width: ($screen-tablet - 1)) {
            position: absolute;
            left: 10px;
			z-index:2;
        }
    }

    &.is-no-product {
        .c-home-story-image__container {
            position: absolute;
            left: 0;
        }
    }
	
	@media screen and (max-width: ($screen-tablet - 1)) {
		&.is-no-product{
			z-index:1;
			
		}           
    }

    &.bg-image-centered {

        @media screen and (max-width: ($screen-tablet - 1)) {
            width: 100%;
            left: 0;

            .c-home-story-image__container {
                left: 0;
                right: 0;
                margin: 0 ;
            }
        }
    }
}

.c-home-story__bg--middle {
    top: 0;
	left:auto;
	right:auto;

    .c-home-story-image__container {
        margin: 0 auto;
    }
}
.c-home-story__bg--middle img {
	width:100%;
}
.c-home-story__bg--right {
    right: 0;
    &.is-product {
        z-index: 1;
        @media screen and (min-width: $screen-tablet) {
            .c-home-story-image__container{
                margin: 100px auto 0;
            }
        }

        @media screen and (max-width: ($screen-tablet - 1)) {
            position: absolute;
            left:50%;
        }
    }

    &.is-no-product {
        .c-home-story-image__container {
            position: absolute;
            right: 0;
        }
    }
	 @media screen and (max-width: ($screen-tablet - 1)) { 
		&.is-no-product{
			z-index:1;
		}
	}
}

.c-home-story__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    list-style-type: none;
}

.c-home-story__item {
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
}

.c-home-story__content {
    text-align: center;
    box-sizing: border-box;
    white-space: nowrap;
	.o-text__heading-2 {
        word-wrap: break-word;
    }
}

.c-home-story__content-wrapper {
    display: table-cell;
    vertical-align: middle;
	height:100%;	
}

.c-home-story__quote {
    display: table;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.c-home-story__bg--right .c-home-story__quote {
    left:auto;
}

.c-home-story__bg--left .c-home-story__quote {
    right:auto;
}
.c-home-story {
    max-width: 1024px;
    margin: 50px auto 0 auto;
    min-height: 10px;

    @media (min-width: $screen-sm) {
        margin-bottom: 50px;

    }
}

/*NO PARALLAX*/
.c-home-story__no-parallax {
    .c-home-story__item {
        @media screen and (max-width: ($screen-tablet - 1)) {
            height: 430px;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .c-home-story__bg-images {
        @media screen and (max-width: ($screen-tablet - 1)) {
            height: 500px;
        }
    }
}

.c-home-story__parallax {
    .c-home-story__bg-images {
        @media screen and (max-width: ($screen-tablet - 1)) {
            height: 500px;
            margin: 0 auto;
            max-width: 380px;
        }
    }

    .c-home-story__item {
        @media screen and (max-width: ($screen-tablet - 1)) {
            height: 460px;
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.c-home-story__item,
.c-home-story__bg-images {
    @media screen and (min-width: $screen-md) {
        height: 500px;
        .c-home-story__quote {
            min-width: 300px;
            bottom: 50px;
            .o-text__quote {
                font-size: $font-size-large;
                margin-bottom: 10px;
            }
        }
        .c-home-story__bg--middle {
            top: -40px;
        }
    }

    @media screen and (max-width: ($screen-md - 1)) and (min-width: $screen-sm) {
        height: 580px;
        .c-home-story__quote {
            bottom: -20px;
        }
    }
}

.c-home-story__bg--left {
    left: 44px;
    &.is-product {
        left: 0;
    }

    @media screen and (max-width: ($screen-tablet - 1)) {
        left: 10px;
    }
}

.c-home-story__bg--left {
    .c-home-story-image__container {
        @media screen and (min-width: $screen-desktop) {
             width: 250px;
             height: 250px;            
        }

        @media screen and (max-width: ($screen-desktop - 1)) and (min-width: $screen-tablet) {
            width: 200px;
            height: 200px;
        }

        @media screen and (max-width: ($screen-tablet - 1)) {
            width: 150px;
            height: 150px;
        }

        img {
            width: 100%;
        }
    }
}

.c-home-story__bg--right {
    right: 144px;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        &.is-product {
            width: auto;
        }
    }

    @media screen and (max-width: ($screen-tablet - 1)) {
        &.is-product {
            z-index: 1;
        }
    }
    .c-home-story-image__container {
        margin-top:100px;
        @media screen and (min-width: $screen-desktop) {           
            width: 250px;
            height: 250px;           
        }

        @media screen and (max-width: ($screen-desktop - 1)) and (min-width: $screen-tablet) {
            width: 200px;
            height: 200px;
        }

        @media screen and (max-width: ($screen-tablet - 1)) {
            width: 150px;
            height: 150px;
        }

        img {
            width: 100%;
        }
    }
}

.c-home-story__bg-images--testimonial {
    .c-home-story__quote {
        width: 150px;
        @media screen and (min-width: $screen-sm) {
            width: 225px;
        }
        @media screen and (min-width: $screen-md) {
            width: 300px;
        }
    }
}

.c-home-story__content {
    background-color: $color-white;
    position: absolute;
    height: auto;
    padding: 20px;
    max-width: 400px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;  
    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 30px;
        background: inherit;
    }

    &:before {
        top: -15px;
        clip: rect(0px, 800px, 15px, 0);
    }

    &:after {
        bottom: -15px;
        clip: rect(15px, 800px, 30px, 0);
    }

    @media screen and (min-width: $screen-sm) {
        top: 50%;
        left: 50%;
        display: table;
        width: 270px;
        height: 270px;
        padding: 0;
        margin-top: -190px;
        margin-left: -190px;
    }
    @media screen and (min-width: $screen-md) {
        width: 335px;
        height: 335px;
        padding: 0 65px;
        margin-top: -217px;
        margin-left: -217px;
    }

    h2, h3, div {
        white-space: normal;
    }

}

.c-home-story__quote {
    padding-top: 20px;
    .c-svg {
        width: 62px;
        height: 44px;
        margin-bottom: 5px;
    }

    @media screen and (max-width: ($screen-tablet - 1)) {
        display: none;
    }
}

.c-home-story__item--video {
    .c-home-story__content {
        .c-svg,
        .c-home-story_icon--play-alt {
            width: 40px;
            height: 40px;
            margin: 0 auto 10px auto;

            @media screen and (max-width: $screen-sm) {
                display: none;
            }
        }
    }
}

.c-home-story__text {
    padding: 0 5%;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: $screen-sm) {
        margin-bottom: 25px;
        padding:0;
    }
}

.c-home-story-button {
    margin-top: 30px;
    .o-btn {
        padding: 0 30px;
    }
}


