.c-recipe-dietary-attributes {	
	margin: 0 5px;  
    
	&__list {
        position: relative;
        display: inline-block;
        padding: 0px;
        margin: 0px;
        
		&-item {
			list-style: none;
			padding: 5px;
            font-size: 11px;
            
            .c-recipe-dietary-attributes__icon{
                float: left;
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
            .c-recipe-dietary-attributes__label{
                display: inline-block;
                vertical-align: middle;
            }
        }
	}
}