.c-social-gallery-v2 {
	min-height: 500px;
	&-header {
		text-align: center;
		margin-bottom: 40px;

		@media(min-width: $screen-sm) {
			width: 50%;
			margin: 0 auto 40px;
		}
	}
	.o-quick-panel__item-arrow {
		content: "";
	    position: absolute;
	    bottom: -30px;
	    left: 50%;
	    width: 0;
	    height: 0;
	    opacity: 0;
	    margin-left:-15px;
	    border-left: 15px solid transparent;
	    border-right: 15px solid transparent;
	    border-bottom: 15px solid $gray-pale;
	    @media (min-width: $screen-sm) {
			border-left: 20px solid transparent;
	    	border-right: 20px solid transparent;
	    	border-bottom: 20px solid $gray-pale;
	    	margin-left:-20px;
		}
	}

	&-item {
		@media(min-width: $screen-sm) {
			width: 33.3%;
			float: left;
			padding: 0 15px;
			margin-bottom: 40px;
			position: relative;
		}
		&.active {
			.o-quick-panel__item-arrow {
				opacity: 1;
				z-index:10;
			}
		}
        &__link {
            position: relative;
        }
        &__icon {
            position: absolute;
            right: 15px;
            top: -70px;            
        }
        
        &__icon .social-channel {
            width: 30px;
            height: 30px;
        }
	}

	&-panel {
		width: 100%;
    	display: none;
    	background: $gray;
    	z-index: 1;
    	position: absolute;
    	color: $color-white;
    	&.item-active {
    		display: block;
    	}
	} 
	
    &__loadmore {
		text-align: center;
	}
}

.c-social-v2-carousel {
    .slick-prev, .slick-next {
		background-size: 12px 30px;
		top:65px;
		width:12px;
		height:30px;
		z-index: 9;
	}
	.slick-prev {
		@media (max-width: ($screen-sm - 1)) {
			left:-10px;
			top: 45px;
		}
	}
	.slick-next {
		@media (max-width: ($screen-sm - 1)) {
			right:-10px;
			top: 45px;
		}
	}
	.slick-disabled {
		display:none;
		opacity:0;
	}
	
    &__panel-authordetails {
		margin-bottom: 20px;
	}
    
	.o-quick-panel {
		position: relative;
		text-align: left;
	}
    
    &__wrapper{
        margin-bottom: 50px;
    }
    
    &__copy {
        float:none;
        margin:0 auto 10px;
    }
    
    &__thumbnail {
        position: relative;
    }
    
    &__thumbnail-link-img, 
    &__panel--img {
        max-width: 100%;
    }
    
    &__list {
        margin: 15px 0;
        font-size: 0px;
        @media(min-width: $screen-sm) {
            text-align: center;
            margin: 20px 0;
        }
        
        .slick-track {
            min-width: 100%;
        }
    }
    
    &__item {
        margin-bottom:15px;
        margin-top: 15px;
        padding:0 8px;
        display: inline-block;
        float: none;
        font-size: 14px;
        
        &.slick-slide{
            display: inline-block;
        }

        &.active {
            .o-quick-panel__item-arrow {
                opacity:1;
            }
        }
    }
    
    &__icon {
        position: absolute;
        right: 15px;
        top: 5px;
        
        .social-channel {
            width: 30px;
            height: 30px;
        }
    }
    
    &__product-thumbnail {
        float: left;
        margin-right: 15px;
    }
    
    &__product-detail{
        text-align: left;
    }
    
    &__thumbnail {
        .o-icon-article{
            position: absolute;
            left: 15px;
            bottom: 8px;
        }
    }
    
    &__panel-content{
        margin-top: 15px;
        @media(min-width: $screen-sm) {
            margin-top: 0;
        }
    }
    
    &__panel-icon {
        .c-svg {
            display: block;
            margin-bottom: 10px;
        }
    }
}

.c-social-gallery-v2-panel {
    .icon-cross {
        width: 30px;
        height: 30px;
    }
    
    .o-btn--close {
        float: right;
    }
    
    .c-featured-panel {
        padding: 30px 50px;
    }
}