.breadcrumb {

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		span {
			padding-left: 2px;
		}

		&.active {
			a {
				cursor: default;
			}
		}
	}

	li + li:before {
	 	padding: 0 4px;
	}
}