/*Featured Tweet Left*/
.c-featured-tweet {
	margin: 60px 0;

	.c-svg.arrow-right {
		height: 9px;
		stroke: $gray;
		stroke-width: 3px;
		float: none;
		margin-left: 10px;
		display: inline-block;
	}
}
.c-featured-tweet__desc {
    font-style: italic;
}

.c-featured-tweet__icon {
	margin-bottom: 20px;
	.c-svg-twitter {
		display: block;
		margin: 0 auto;
		padding: 0px;
		width: 30px;
		height: 30px;

		@media(min-width: $screen-sm) {
			display: block;
		}
	}
}

.c-featured-tweet__copy, .c-featured-tweet__image {
	text-align: center;
	
	@media(min-width: $screen-sm) {
		width: 50%;
		padding: 0 15px;
		float: left;
		text-align: left;
	}
}

.c-featured-tweet__copy {
	@media(min-width: $screen-sm) { 
		padding-top:5%;
	}
}
.c-featured-tweet__author-details {
	font-size: $font-size-h5;
	margin:15px 0;
}

.c-featured-tweet-agg{
	.c-featured-tweet__profile-image{
		
	}
}

.c-featured-tweet-post{
	padding-bottom: 40px;
	border-bottom: 1px solid $gray-lighter;
}

.c-social-feed-post__profile-panel{
	max-width: 60px;
	@media(max-width: $screen-sm - 1) { 
		margin:0 auto;
	}
}