.product-listing {
  .o-text__heading-2,
  .c-rich-text-v2 .htworte {
    color: $font-hightlight;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.c-product-listing__container {
  // max-width: 1170px;
}

.js-product-listing__list-item {
  //float: none;
  //display: inline-block;
}

.c-product-listing__product-wrap {
  width: 24.99%;
  //float: none;
  //display: inline-block;
}

.c-product-listing__product-item {
  text-align: left;
  //height: 408px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.c-product-listing__image-wrap {
  margin-bottom: 0;
}

.c-product-listing__title {
  background-image: url('../images/product-listing/product-info_bg.png');
  background-repeat: no-repeat;
  background-position: 0 100%;
  color: $font-hightlight;
  font-size: 20px;
  font-family: $font-family-custom;
  line-height: 30px;
  font-style: italic;
  height: 131px;
  padding: 20px;
}

.js-product-listing__more-link {
  display: none !important;
}

.c-product-listing__quick-panel {
  .o-text__heading-2 {
    font-family: $font-family-custom;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-listing {
    .c-product-listing {

      &__product-wrap {
        width: 100%;
      }
      
      &__product-list {
        font-size: 0;
      }

      &__product-item {
        height: auto;
      }
    }

    .js-product-listing {
      &__list-item {
        width: 33.33333%;
      }
    }
  }
}

@media(max-width: 767px) {
  .product-listing {
    display: none;

    .c-product-listing__product-wrap {
      float: none;
      display: block;
      margin: 0 auto 30px;
      width: 100%;
      max-width: 300px;
    }
  }
}

@media(min-width: 992px) {
  .product-detail,
  .recipe-detail-page {
    .c-product-listing__product-wrap {
      width: 272px;
    }
  }
}