.c-product-listing__container {
	@media (min-width: $screen-sm) {
		.u-listing-col-offset-3 {
			margin-left:12.5%;
		}
		.u-listing-col-offset-1 {
			margin-left:37.5%;
		}
	}
}

.product-listing {
    margin-bottom: 0;
    .c-dropdown__select {
        min-width: 250px;
    }
}

.c-dropdown {
	float:none;
}
.c-dropdown__select {
	min-width:250px;
}
.c-product-listing__btn {
    margin: 0;
    padding: 0 30px;
}

.c-product-listing__quick-panel {
    .c-inline-review {
        height: 20px;
        width: 100%;
        margin:0;
        margin-bottom: 20px;
        @media (max-width: ($screen-sm - 1)) {
            display: none;
        }
    }
}
.c-product-listing__overlay {
    position: static;
    width: 100%;
    display: block;
    margin-bottom:40px;

    .o-dropdown {
        border: none;
        background-color: transparent;
    }
}
.c-product-listing__overlay-wrap {
    padding: 0;
    background-color: $gray-pale;
    position: relative;
}
.c-product-listing__filter-block {
    display: none;
    margin-bottom: 0px;
    .is-open & {
        display: inline-block;
    }
    @media (max-width: $screen-xs-max){
        margin-bottom: 25px;
    }
    @media (min-width: $screen-sm) {
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 15px;

    }
}

.c-product-listing__form {
    position: relative;
    display: block;
    z-index: 3;
}
.c-product-listing__filter-cta-block {
    display: inline-block;
    @media (max-width: $screen-xs-max) {
        display: block;
    }
}
.c-product-listing__filter-count {
    color: $gray-light;
    font-size: 16px;

}
.c-product-listing__filter-cta-1,
.c-product-listing__filter-cta-2 {
    font-size: 16px;
    margin-left: 20px;
    cursor:pointer;
    display: inline-block;

}

.c-product-listing__filter-cta-1 {
    display: inline-block;
    .is-open & {
        display: none;
    }
}
.c-product-listing__filter-cta-2 {
    display: none;
    .is-open & {
        display: inline-block;
    }
}
.c-product-listing__filter-cta {
    stroke: #666666;
    stroke-width: 3;
    @media (min-width: $screen-sm) {
        display: none !important;
    }
}

.c-product-listing__view {
    display: none;
    @media (max-width: $screen-xs-max) {
        display: none;
    }
}

.c-product-listing__view-wrap {
    background-color: $gray-pale;
    overflow: hidden;
    padding: 20px;
    border-radius: 5px;
}

.c-product-listing__filter-list {
    margin: 20px 0;
}

.c-product-listing__product-list {
    position: relative;
    z-index: 1;

}

.product-listing {
    .c-product-listing__product-wrap {
        min-height:408px;
    }
}

.c-product-listing__product-wrap {
    opacity: 1;
	margin-bottom: 5px;

    & .c-product-listing__product-wrap-arrow, .c-product-listing__info-wrap-arrow {
        content: "";
        position: absolute;
        bottom:0;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #EFEFEF;

    }

    &.js-product-listing__product-active .c-product-listing__product-wrap-arrow  {
        opacity: 1;

    }
}

.c-product-listing__product-item {
    margin: 10px 0 0 0;
    position: relative;
    text-align: center;
}

.c-product-listing__quick-cta-panel {
    display: none;
}

.js-btn__info-panel {
    display: none;
}

.c-product-listing__quick-panel-wrap {
    display: none;
    .js-product-listing__product-active + & {
        display: block;
        overflow: hidden;
        width: 100%;
        background: #efefef;
        z-index: 1;
        position: absolute;
        overflow-y: scroll;

        .quick-view-panel-active {
            display: block;
        }
    }
}

.c-product-listing__quick-panel {
    height: 450px;
    position: relative;

    @media (max-width: $screen-xs-max) {
        height: 330px;
    }

	.container {
        z-index: 1;
    }

    .o-text__heading-2 {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    & .o-dropdown {
        display: block;
        margin: 0 0 20px 0;
    }

    @media (max-width: $screen-sm - 1){
        padding-top: 35px;
        padding-bottom: 35px;

        & .o-btn--primary {
            display: block;
            width: 100%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        & .o-dropdown {
            width: 100%;
            margin: 0 0 20px 0;
        }
        & .c-product-listing__link {
            width:217px;
        }
    }
}

.c-product-listing__description {
    margin-bottom: 10px;
    @media (max-width: $screen-sm - 1) {
        margin-bottom: 15px;
        padding: 0 10px;
        text-align: center;
    }
}

.c-product-listing__price {
    margin-bottom: 20px;
    color: $gray-light;
    font-size: 12px;
    b {

        font-size: 20px;
		color: $brand-primary;
        margin: 0 5px;
    }
    @media (max-width: $screen-sm - 1) {
        text-align: center;
    }
}

.c-product-listing__quick-close, .c-product-listing__ni-close {
    position: absolute;
    top: 30px;
    right: 100px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url("../svgs/sprites/cross.svg") center no-repeat;
    z-index: 9999;


    @media (max-width: $screen-sm - 1) {
        width: 20px;
        height: 20px;
        padding: 20px;
        background-size: 30px;
		top:3px;
        right: 0;
    }
}

.c-product-listing__middle {
    @media (min-width: $screen-sm) {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        height: 450px;
    }
}

.c-product-listing__image-wrap {
    margin-bottom:15px;
    display:block;
    position: relative;
}

.c-product-listing__bottom {
    height: 450px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
    @media (max-width: $screen-xs-max) {
        display: none;
    }
}

.c-product-listing__quick-cta, .js-btn__info {
    display: none;
    .is-product-listing__quick & {
        display: inline-block;
        border: 1px solid $gray-lighter;
        padding: 6px 8px;
        padding-bottom: 4px;
        margin-top: 0;
        cursor: pointer;
        border-radius: 3px;
        margin-bottom:20px;
    }
}

.c-product-listing__quick-cta {
    background-color: transparent;
    border: 0 !important;
    display: inline-block;
    font-size: 0;
    padding: 0;
    position: absolute;
    right: 7px;
    top: 7px;

    &:hover {
        background-color: transparent;
    }

    &:before {
        content: "";
        display: block;
        width: 43px;
        height: 29px;
        background-image: url("../images/product-landing/view.png");
    }
}

.c-product-listing__f-btn {
    vertical-align: middle;
    margin-left: 10px;
}

.c-product-listing__content {
    height: 40px;
}

.c-product-listing__title {
    display: block;
    @include o-text__heading-4();
    @media (min-width: $screen-sm) {
        padding: 0 20px;
    }


    &:hover, &:active, &:focus {
        text-decoration: none;
        color: $gray;
    }

    span {
        display: block;
		padding-bottom:10px;
    }


	@media (max-width: $screen-sm) {
        word-wrap:break-word;
    }
}

.c-product-listing__rating {
    color: $brand-secondary;
    margin: 10px 0;
}

.c-product-listing__more-link {
    margin-top: 30px;
    padding: 4px 30px;
    line-height: 41px;
}
.o-tag-wrap {
    margin-bottom: 10px;
    display: inline-block;
}

.c-product-listing__tag {
    position: absolute;
    bottom: -20px;
    right: 0;
	margin: 7px 0 0;
	@media (max-width: $screen-sm - 1) {
		bottom:14px;
	}
}

#width-tmp {
    display: none;
	font-size:20px;
}


.u-block {
    margin-bottom: 50px;
}

.u-center {
    text-align: left;
}

.u-hide {
    display: none;
}

.u-show {
    display: block;
}

@import 'default';

