.plain-text-image {
    .thumbnail {
        background: transparent;
        border: none;
        padding: 0;
        @include box-shadow(none);
    }

    img {
        float: none;
        margin: 0 0 5px 0;
        width: 100%;
    }

    .caption {
        padding: 0;

        h3 {
            margin: 0 0 25px;
        }

        h4 {
            margin: 0 0 25px;
        }

        .btn-info {
            margin: 0 0 25px;
        }

        .btn-primary {
            border: none;
            padding: 9px 24px;
        }
    }

    a[disabled] {

        &:hover {
            text-decoration: none;
        }
    }

    .no-thumb {
        position: static;
    }

    /* iPads (landscape) */
    @media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) and (orientation: landscape) {
        .plain-image {
            width: 50%;
        }

        img {
            float: left;
            margin: 0 18px 5px 0;
            width: 100%;
        }
    }

    @media only screen and (min-width: $screen-lg-min) {
        .plain-image {
            width: 50%;
        }

        img {
            float: left;
            margin: 0 20px 8px 0;
            width: 100%;
        }
    }
}
