.arrow-dove {
	width: 9px;
	height: 17px;
	background-position: 0 0;
}

.arrow-down {
	width: 22px;
	height: 12px;
	background-position: -15px 0;
}

.arrow-left {
	width: 43px;
	height: 92px;
	background-position: -45px 0;
}

.arrow-right {
	width: 43px;
	height: 92px;
	background-position: -95px 0;
}

.arrow-right-medium {
	width: 12px;
	height: 22px;
	background-position: -145px 0;
}

.arrow-right-small {
	width: 12px;
	height: 22px;
	background-position: -165px 0;
}

.arrow-up {
	width: 22px;
	height: 12px;
	background-position: -185px 0;
}

.book {
	width: 48px;
	height: 45px;
	background-position: -215px 0;
}

.book-alt {
	width: 48px;
	height: 45px;
	background-position: -270px 0;
}

.book-alt-men+care {
	width: 43px;
	height: 40px;
	background-position: -325px 0;
}

.burger {
	width: 30px;
	height: 28px;
	background-position: -375px 0;
}

.cards {
	width: 624px;
	height: 54px;
	background-position: -410px 0;
}

.checkbox-checked {
	width: 30px;
	height: 31px;
	background-position: -1040px 0;
}

.cheveron {
	width: 20px;
	height: 12px;
	background-position: -1075px 0;
}

.cross {
	width: 56px;
	height: 56px;
	background-position: -1100px 0;
}

.cross-search-overlay {
	width: 31px;
	height: 32px;
	background-position: -1165px 0;
}

.cross-white {
	width: 56px;
	height: 56px;
	background-position: -1205px 0;
}

.dairyProductFree {
	width: 512px;
	height: 512px;
	background-position: -1270px 0;
}

.dropdown {
	width: 24px;
	height: 14px;
	background-position: -1790px 0;
}

.eggFree {
	width: 512px;
	height: 512px;
	background-position: -1820px 0;
}

.email {
	width: 36px;
	height: 26px;
	background-position: -2340px 0;
}

.facebook {
	width: 14px;
	height: 30px;
	background-position: -2385px 0;
}

.flag-globe {
	width: 30px;
	height: 30px;
	background-position: -2405px 0;
}

.flag-uk {
	width: 31px;
	height: 21px;
	background-position: -2440px 0;
}

.global-nav-marker {
	width: 35px;
	height: 16px;
	background-position: -2480px 0;
}

.glutenFree {
	width: 512px;
	height: 512px;
	background-position: -2520px 0;
}

.heart {
	width: 32px;
	height: 32px;
	background-position: -3040px 0;
}

.how-to {
	width: 51px;
	height: 48px;
	background-position: -3080px 0;
}

.how-to-alt {
	width: 51px;
	height: 48px;
	background-position: -3140px 0;
}

.icn-award-small {
	width: 22px;
	height: 36px;
	background-position: -3200px 0;
}

.icn-locked {
	width: 38px;
	height: 48px;
	background-position: -3230px 0;
}

.icon-article-alt {
	width: 100px;
	height: 99px;
	background-position: -3275px 0;
}

.icon-award {
	width: 44px;
	height: 67px;
	background-position: -3380px 0;
}

.icon-gps {
	width: 50px;
	height: 50px;
	background-position: -3430px 0;
}

.icon-info {
	width: 50px;
	height: 50px;
	background-position: -3485px 0;
}

.icon-page-alt {
	width: 38px;
	height: 44px;
	background-position: -3540px 0;
}

.icon-pin {
	width: 44px;
	height: 49px;
	background-position: -3585px 0;
}

.icon-shopping-bag {
	width: 40px;
	height: 44px;
	background-position: -3635px 0;
}

.instagram {
	width: 30px;
	height: 30px;
	background-position: -3680px 0;
}

.lactoseFree {
	width: 512px;
	height: 512px;
	background-position: -3715px 0;
}

.lock-icon {
	width: 55px;
	height: 58px;
	background-position: -4235px 0;
}

.nutFree {
	width: 512px;
	height: 512px;
	background-position: -4295px 0;
}

.page-first {
	width: 23px;
	height: 20px;
	background-position: -4815px 0;
}

.page-last {
	width: 23px;
	height: 20px;
	background-position: -4845px 0;
}

.page-next {
	width: 15px;
	height: 24px;
	background-position: -4875px 0;
}

.page-prev {
	width: 15px;
	height: 24px;
	background-position: -4895px 0;
}

.paleoFree {
	width: 512px;
	height: 512px;
	background-position: -4915px 0;
}

.pdfmyurl {
	width: 512px;
	height: 512px;
	background-position: -5435px 0;
}

.play {
	width: 42px;
	height: 52px;
	background-position: -5955px 0;
}

.play-alt {
	width: 42px;
	height: 52px;
	background-position: -6005px 0;
}

.play-video {
	width: 184px;
	height: 184px;
	background-position: -6055px 0;
}

.plus {
	width: 56px;
	height: 56px;
	background-position: -6245px 0;
}

.plus-quick {
	width: 23px;
	height: 24px;
	background-position: -6310px 0;
}

.pregnancySafe {
	width: 512px;
	height: 512px;
	background-position: -6340px 0;
}

.print {
	width: 512px;
	height: 512px;
	background-position: -6860px 0;
}

.quote {
	width: 120px;
	height: 90px;
	background-position: -7380px 0;
}

.rawFood {
	width: 512px;
	height: 512px;
	background-position: -7505px 0;
}

.renren {
	width: 256px;
	height: 256px;
	background-position: -8025px 0;
}

.search {
	width: 36px;
	height: 36px;
	background-position: -8290px 0;
}

.share {
	width: 30px;
	height: 29px;
	background-position: -8335px 0;
}

.star {
	width: 26px;
	height: 24px;
	background-position: -8370px 0;
}

.star-fill {
	width: 25px;
	height: 24px;
	background-position: -8405px 0;
}

.star-half {
	width: 26px;
	height: 25px;
	background-position: -8435px 0;
}

.tqq {
	width: 256px;
	height: 256px;
	background-position: -8470px 0;
}

.tsina {
	width: 100px;
	height: 86px;
	background-position: -8735px 0;
}

.twitter {
	width: 30px;
	height: 25px;
	background-position: -8840px 0;
}

.unilever {
	width: 66px;
	height: 73px;
	background-position: -8875px 0;
}

.vegan {
	width: 512px;
	height: 512px;
	background-position: -8950px 0;
}

.vegetarian {
	width: 512px;
	height: 512px;
	background-position: -9470px 0;
}

.wheatFree {
	width: 512px;
	height: 512px;
	background-position: -9990px 0;
}

.youtube {
	width: 49px;
	height: 35px;
	background-position: -10510px 0;
}

.arrow-dove, .arrow-down, .arrow-left, .arrow-right, .arrow-right-medium, .arrow-right-small, .arrow-up, .book, .book-alt, .book-alt-men+care, .burger, .cards, .checkbox-checked, .cheveron, .cross, .cross-search-overlay, .cross-white, .dairyProductFree, .dropdown, .eggFree, .email, .facebook, .flag-globe, .flag-uk, .global-nav-marker, .glutenFree, .heart, .how-to, .how-to-alt, .icn-award-small, .icn-locked, .icon-article-alt, .icon-award, .icon-gps, .icon-info, .icon-page-alt, .icon-pin, .icon-shopping-bag, .instagram, .lactoseFree, .lock-icon, .nutFree, .page-first, .page-last, .page-next, .page-prev, .paleoFree, .pdfmyurl, .play, .play-alt, .play-video, .plus, .plus-quick, .pregnancySafe, .print, .quote, .rawFood, .renren, .search, .share, .star, .star-fill, .star-half, .tqq, .tsina, .twitter, .unilever, .vegan, .vegetarian, .wheatFree, .youtube {
	background-size: 10565px 520px;
	background-repeat: no-repeat;
	background-image: url("../img/symbol-sprite.png");
}

.svg .arrow-dove, .svg .arrow-down, .svg .arrow-left, .svg .arrow-right, .svg .arrow-right-medium, .svg .arrow-right-small, .svg .arrow-up, .svg .book, .svg .book-alt, .svg .book-alt-men+care, .svg .burger, .svg .cards, .svg .checkbox-checked, .svg .cheveron, .svg .cross, .svg .cross-search-overlay, .svg .cross-white, .svg .dairyProductFree, .svg .dropdown, .svg .eggFree, .svg .email, .svg .facebook, .svg .flag-globe, .svg .flag-uk, .svg .global-nav-marker, .svg .glutenFree, .svg .heart, .svg .how-to, .svg .how-to-alt, .svg .icn-award-small, .svg .icn-locked, .svg .icon-article-alt, .svg .icon-award, .svg .icon-gps, .svg .icon-info, .svg .icon-page-alt, .svg .icon-pin, .svg .icon-shopping-bag, .svg .instagram, .svg .lactoseFree, .svg .lock-icon, .svg .nutFree, .svg .page-first, .svg .page-last, .svg .page-next, .svg .page-prev, .svg .paleoFree, .svg .pdfmyurl, .svg .play, .svg .play-alt, .svg .play-video, .svg .plus, .svg .plus-quick, .svg .pregnancySafe, .svg .print, .svg .quote, .svg .rawFood, .svg .renren, .svg .search, .svg .share, .svg .star, .svg .star-fill, .svg .star-half, .svg .tqq, .svg .tsina, .svg .twitter, .svg .unilever, .svg .vegan, .svg .vegetarian, .svg .wheatFree, .svg .youtube {
	background-image: url("../img/symbol-sprite.svg");
}
