.c-search-listing {	
	margin: 20px auto;
	float:none;
	@media(min-width: $screen-xs) {
		padding:0;
	}
}
.c-search-filters {
	margin:15px 0;
}

.c-search-listing__list {
	list-style:none;
}

.c-search-listing__item {
	border-bottom:solid 1px $gray-lighter;
	background: url("../svgs/arrow-right-search.svg") 96% center no-repeat;
	background-size:8px auto;
	@media(min-width: $screen-sm) {
		background-position:right center;
	}
	
	padding:15px 0;
	&:first-child {
		border-top:solid 1px $gray-lighter;
	}
	.thumbnail {
		border:0 none;
		margin:0;
		text-align:center;
		img {
			max-width:100%;
			margin:0 auto;
		}
	}
}
.c-search-listing__link, .c-search-listing__link:hover, .c-search-listing__link:focus {
	color:$gray;
}
.c-search-listing__link {
	color:$gray;
	
}
.c-search-listing__breadcrumbs {
	.c-breadcrumb__list {
		padding-left:0;
	}
}
.c-search-listing__loadmore {
	display:none;
}