@import 'default';
@import 'accordion-v2-product-landing';
@import 'accordion-v2-article-landing';
@import 'accordion-v2-contact-us';

// Accordion v2 component
.accordion-v2 {

  &-panel-heading {
    border-top: 1px solid $gray;
  }

  &-panel-heading__title {
    position: relative;
    font-size: 17px;
    line-height: 1.3;
    padding-left: 10px;
    margin: 16px 0;
  }

  // Accordion Panel, and Accordion sub-component
  &-panel-heading__link {
    position: relative;
    z-index: 110;
    display: block;
  }

  &-panel-heading__icon-expand {
    display: none;
  }

  &-panel-heading__icon-collapse,
  &-panel-heading--is-collapsed &-panel-heading__icon-expand {
    display: block;
    width: 10px;
    height: 10px;
    margin: 3px 10px;
    stroke-width: 2px;
    stroke: #000;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
  }

  &-panel-heading--is-collapsed &-panel-heading__icon-collapse {
    display: none;
  }

  &-panel__body {
    padding: 10px;
  }

  &-panel__body--is-collapsed {
    display: none;
  }
}