// Accordion v2 component
.article-landing-page {
  .accordion-v2 {
    width: 100%;
    max-width: 960px;
    margin: 0 auto 50px;

    &-panel-heading__title {
      background: transparent;
      padding: 17px 9px 17px 34px;
      display: block;
      cursor: pointer;
    }

    &-panel-heading__link {
      text-transform: none;
    }

    &-panel-heading__icon-collapse,
    &-panel-heading__icon-expand {
      top: 17px !important;
      left: 0 !important;
    }

    .icon-arrow-down {
      transform: rotate(-90deg);
    }
  }
}
