.contact-us-page {
  .contry-contacts {
    .content {
      &-wrapper {
        padding: 0;
        width: 100%;
      }

      &-country {
        color: $font-hightlight;
        font-family: $font-family-custom;
        font-size: 24px;
        font-style: italic;
        line-height: 1;
        margin-bottom: 18px;
      }

      &-data {
        margin-bottom: 25px;
        display: block;
        width: auto;

        &__title {
          color: $font-hightlight;
          font-family: $font-family-sans-serif;
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
        }

        &__content,
        &__list-item {
          color: $neutral-5-color;
          font-family: $font-family-sans-serif;
          font-size: 16px;
          margin-top: 10px;
        }

        &__list {
          display: block;
          list-style: none;
          margin: 0;
          padding: 0;

          &-item {
            display: block;
            margin: 0;
            padding: 3px 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .contact-us-page {
    .contry-contacts {
      .accordion-v2-panel-heading__title {
        background: #e5ecf1;
        border-radius: 0;
        font-family: $font-family-custom;
        font-style: italic;
        padding: 17px 22px;
        text-transform: none;
      }

      .accordion-v2-panel-heading__link {
        font-size: 24px;
        font-weight: normal;
        text-transform: none;
      }

      .accordion-v2-panel__body {
        background: #cedbe4;
        padding: 10px 23px;
      }

      .content-country {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .contact-us-page {
    .contry-contacts {
      padding: 0 37px;
    }
  }
}

@media screen and (min-width: 768px) {
  .contact-us-page {
    .contry-contacts {
      .accordion-v2 {
        display: block;
        font-size: 0;
        margin: 0 auto;
        max-width: 1090px;
        width: 100%;

        &-panel {
          display: inline-block;
          padding: 50px 0;
          vertical-align: top;
          width: 50%;

          &-heading {
            display: none !important;
          }

          &__body {
            display: block !important;
            padding: 0;
          }

          &:first-child {
            .content-wrapper {
              float: right;
              max-width: 375px;
            }
          }
        }
      }
    }

    .enquire {
      .accordion-v2 {
        display: block;
        font-size: 0;
        margin: 0;
        width: 100%;

        &-panel {
          padding: 60px 0;
          max-width: 1090px;
          width: 100%;
        }
      }
    }
  }
}