.accordion-v2 {
  display: block;
  margin: 0 auto;
  max-width: 1090px;
  width: 100%;

  &-products {
    .accordion-v2-panel__body {
      display: block !important;
    }

    .accordion-v2-panel-heading {
      display: none;

      &__title {
        background: #b2c8d6;
        border-radius: 0;
        padding: 0;
        text-align: left;
      }

      &__link {
        border-bottom: 1px solid #fff;
        font-family: $font-family-custom;
        font-size: 1.5em;
        font-style: italic;
        font-weight: normal;
        padding: 8px 11%;
        text-transform: none;
      }

      &__icon-collapse,
      &--is-collapsed .accordion-v2-panel-heading__icon-expand {
        display: block !important;
        right: 41px;
        top: 13px;
      }

      &__icon-expand {
        display: block;
        width: 10px;
        height: 10px;
        margin: 3px 10px;
        stroke-width: 2px;
        stroke: #000;
        position: absolute;
        right: 41px;
        top: 13px;
        z-index: 100;
      }
    }

    .product-listing {
      display: block;
    }
  }
}

.product-page {
  .anchor-link-navigation-v2 {
    .js-navigation-sticky__item {
      min-height: 25px;
    }
  }
}

@media(max-width: 767px) {
  .accordion-v2-products {
    .o-text__heading-2 {
      display: none;
    }

    &-heading {
    }

    .accordion-v2-panel {
      &-heading {
        display: block !important;

        &__icon {
          &-collapse {
            display: none !important;
          }
          &-expand {
            display: block !important;
          }
        }

        &--is-collapsed {
          .accordion-v2-panel-heading__icon {
            &-expand {
              display: none !important;
            }

            &-collapse {
              display: block !important;
            }
          }
        }
      }

      &__body {
        &--is-collapsed {
          display: none !important;
        }
      }
    }
  }

  .product-page {
    .anchor-link-navigation-v2 {
      .js-navigation-sticky__anchor-text {
        color: #004976;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
      }

      .js-navigation-sticky__item {
        min-height: auto;
      }
    }
  }
}