.accordion-v2 {
  width: 91%;

  .accordion-v2-panel-heading {
    border-top: 0;

    &__title {
      margin: 0;
      padding: 17px 9px;
      border-radius: 5px;
      background: #e7eef2;
      text-align: left;
      z-index: 1;
    }

    &__link {
      font-size: 16px;
      font-weight: bold;
      color: #004976;
      text-transform: uppercase;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .accordion-v2-panel-heading__icon-collapse,
  .accordion-v2-panel-heading--is-collapsed .accordion-v2-panel-heading__icon-expand {
    right: 9px;
    top: 17px;
  }

  .icon-arrow-down:before,
  .icon-arrow-up:before {
    color: #125680;
    font-size: 17px;
    font-weight: bold;
  }
}

@media (max-width: 991px) {
  .accordion-v2 {
    width: 100%;
  }
}