.c-svg.arrow-right {
	width:5px;
	height:10px;
	float:right;
	margin:3px 10px;
	stroke:$gray;
	stroke-width:2px;
}

.c-breadcrumb__item {
	display: inline-block;
	padding:15px 0;	
	
	&.is-active {
		&:after {
			content: "";
			padding:0;
		}
		font-weight:600;
	}
}

ul.c-breadcrumb__list {
	font-size:$font-size-x-small;
	text-align:center;
}

.c-breadcrumb__link, .c-breadcrumb__link:hover {
	color:$gray;
}