
.c-page-listing-v2 {

  &__loadmore {
    min-height: 100px;
    position: relative;

    .o-preloader {
      min-height: inherit;
    }
  }

  &-filter {
    text-align: center;
    padding-bottom: 20px;
  }

  &-heading {
    text-align: center;

    &__sub-heading-container {
      font-size: 17px;
    }

    &__heading-container {
      margin: 20px 0;
      font-size: 27px;
    }
  }

  &-listing__list {
    list-style: none;

    li:nth-child(3n+4) {
      clear: left;
    }
  }

  &-filter__block,
  &-filter__container,
  &-filter-cta {
    display: inline-block;
  }

  &-filter__dropdown {
    width: auto;
  }

  &-listing-item {
    text-align: center;
    margin-bottom: 40px;

    // Inherited from Bootstrap col-sm-4
    position: relative;
    min-height: 1px;
    padding: 0 15px;

    @media (min-width: 768px) {
      float: left;
      width: 33.33333%;
    }

    &__image {
      width: 100%;
    }

    &__title {
      margin: 20px 0;
    }

    &__copy-text {
      margin: 20px 0;
    }

    &__publish-date {
      padding: 10px;
    }

    &-cta__container {
      margin: 10px;
    }

    &-cta__anchor {
      padding: 10px 30px;
      border: 1px solid black;
      display: inline-block;
    }

    &__tags {
      list-style: none;
      text-align: right;
      padding: 0;
      margin: 0;
    }

    &__tag {
      line-height: 20px;
      background-color: $gray-light;
      margin-bottom: 8px;
      margin-left: 4px;
      color: $white;
      padding: 5px 15px;
      display: inline-block;
    }
  }

  &-pagination,
  &__loadmore {
    text-align: center;
  }

  &-pagination {
    .o-btn--primary:focus {
      color: #fff;
    }

    &__first-btn[disabled],
    &__last-btn[disabled],
    &__next-btn[disabled],
    &__previous-btn[disabled] {
      opacity: 0.65;
      background-color: $gray-light;
    }

  }
}