.c-featured-category {
	margin:50px 0;
	position:relative;
	overflow:hidden;
}
.c-featured-category__bg {
	position:absolute;
	width:100%;
	height:100%;
}
.c-featured-category__container {
	padding:20px 0;
}
.c-featured-category__lifestyle {
	background:$gray-pale;
}
.c-featured-category__image-wrap, .c-featured-category__center {
	text-align:center;
}
.c-featured-category__image-wrap picture {
	margin:0 auto;
}
.c-featured-category__image-wrap a, .c-featured-category__copy {
	@media (min-width: $screen-sm) {
        display: -webkit-flex;
        display: flex;
        align-items: center;
        min-height: 450px;
    }
}
.c-featured-category__copy {
	margin-top:20px;
	text-align:center;
	@media (min-width: $screen-sm) {
		margin-top:0;
		text-align:left;
	}
}
.c-featured-category__center {
	 .c-featured-category__copy-block {
	 	margin:0 auto;
	 	text-align:center;
	 }
}
.c-featured-category__left {
	.c-featured-category__image, .c-featured-category__copy {
		float:right;
	}
}