//----------------------------------------------\\
// THEME FOUNDATIONS
//----------------------------------------------\\

.dig-container {
    margin: 0 auto;
    width: 92%;
    max-width: 1400px;
    @include cf;
}

.main-content {
    position: relative;
}

.main-panel {
    position: relative;
    padding: $base-spacing*2 0;
    @include cf;

    @include breakpoint(medium) {

        &:before {
            content:"";
            background: url('../images/dig/content-rip.png') top center;
            width: 100%;
            height: 43px;
            position: absolute;
            top: -40px;
        }
    }
}
