@mixin buttonTheme($color, $bgColor) {
    background-color: transparent;
    color: $color;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 50%;
    position: relative;
    z-index: 1;
    font-size: 28px;
    font-weight: 700;
    width: 160px;
    height: 49px;
    background: url('../images/dig/buttons/button-#{$bgColor}.png') center center;
    background-size: 160px 49px;
    @include fs-body;

    &:hover,
    &:focus {
        top: 3px;
    }
}

.button-blue {
    @include buttonTheme(#fff, block-blue);
}

.button-orange {
    @include buttonTheme(#fff, block-orange);
}

.icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;

    &-left {
        margin-right: $base-spacing/2;
    }

    &-right {
        margin-left: $base-spacing/2;
    }
}
