//----------------------------------------------\\
// SUSY
//----------------------------------------------\\

@import "../js/libs/vendor/susy/sass/susy";

$susy: (
  columns: 12,
  global-box-sizing: border-box,
  gutters: 4
);

$removeGutters: (
  gutters: 0,
);
