
.related-content-list {

    img {
        width: 100%;
    }

    figure {
        padding: 0;
    }

    h1 {
        text-transform: uppercase;
        padding-bottom: 2px;
    }
	
	.picture {
		margin: 0;
	}
	
	p {
		margin-bottom: 10px;
	}
	
	h2 {
		padding: 5px 0 8px 0;
	}

	.content-list-wrapper {
		margin: 0 8px;
		padding: 20px 0;
	}
	
	@media (min-width: $bp-large) {

		h2 {
			padding-top: 0;
			margin-top: 0;
		}

		figure {
			padding-right: 5px;
		}

		.content-list-wrapper {
			margin: 0 20px;
		}

	}
	
	@media (min-width: $bp-extra-large) {

		h2 {
			font-size: 24px;
		}

		.content-list-wrapper {
			margin: 0;
		}
	}

}