.o-whats-new {
	text-align: center;
	margin-bottom: 20px;
	padding:0;

	@media (min-width: $screen-sm) {
		margin-bottom: 50px;
	}

	.o-text__heading-1 {
		margin-bottom: 30px;
		@media (min-width: $screen-sm) {
			margin-bottom: 60px;
		}
	}

	.o-text__heading-2 {
		margin-bottom: 14px;
		@media (min-width: $screen-sm) {
			margin-top: 0;
		}
	}

	.c-whats-new-products {
		margin-bottom: 30px;
		padding:0;
		&:last-child {
			margin-bottom: 0;
		}
		@media (min-width: $screen-sm) {
            float: left;
            width: 33%;
		}
	}
	.o-text__body {
		margin-bottom: 20px;	
	}

	.c-whats-new__tag {
		margin-top: 10px;
		margin-bottom: 10px;
		@media (min-width: $screen-sm) {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}
.o-curve-shadow {
    z-index: -1;
    max-width: 1024px;
    margin: 0 auto 20px auto;

    @media (min-width: $screen-md) {
        height: 110px;
    }

    @media (min-width: $screen-sm) and (max-width: ($screen-md - 1)) {
        height: 90px;
    }

    @media (max-width: ($screen-sm - 1)) {
        display: none;
        height: 0;
    }

    background-size: 100%;

}
.c-whats-new-products--table {
	display: table;
    width: 100%;
    margin: 10px 0px;
}
.c-whats-new-products--table-cell {
	display: table-cell;
	vertical-align: middle;
	@media (min-width: $screen-xs) {
		picture {
			img {
				width: 100%;
				background-size: 100%;
				max-width: -moz-fit-content;
				max-width: -webkit-fit-content;

				.ie11 & {
					width: auto;
				}
			}
		}
	}


}

.c-whats-new-products__image {
    width: 100%;
    margin-left: 0;
    right: 0;
}

.c-whats-new-quote {
	width: 23px;
	height: 23px;
}



@media (min-width: $screen-sm) {
	
	.c-whats-new-products__image {
		text-align: center;
	}

	.c-whats-new-products__product-details {
		text-align: left;
	}
}

@media (min-width: $screen-md) {
	.c-whats-new-products__product-details {
		text-align: center;
	}
}

@media (min-width: $screen-md) {
	.c-whats-new-products--align-right {
		text-align: right;
	}

	.c-whats-new-products--align-left {
		text-align: left;
	}
}

