/* the base class name is the name added to each component in the component view js (home.js) */

    .pinterest {
        .pinitfeeds {
            color: $gray;
            font-size: $font-size-small;
        }

        .item {
            background-color: $color-white;
            border: 1px solid $gray-light;
        }

        .pinterest-header {
            
            color: $gray;

        }
    }

