.c-hero-image {
    position: relative;
    overflow: hidden;
}

.c-hero-body {
    text-align:center;
}

.c-hero-button-readmore, .c-hero-button-readmore:hover, .c-hero-button-readmore:focus {
    position: relative;
    padding-right: 0;
    text-decoration: none;

    .c-svg.plus {
        width:12px;
        height:12px;
        margin:4px 0 0 10px;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
        -webkit-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        stroke: $link-color;
    }

}

.js-button-more {
    .js-show-more {
        display: inline-block;
    }
    .js-show-less {
        display: none;
    }
    .c-svg.plus {
        transition: all
    }
}

.js-button-less {

    .js-show-more {
        display: none !important;
    }

    .js-show-less {
        display: inline-block !important;
    }
    .c-svg.plus {
        @include transformRotate(45deg);
    }
}

.is-hero-video {
	.c-hero-play {
        background-size: 90px;
        background-image: url("../svgs/play-video.svg");
	}
}

.o-hero-section {
	margin-bottom: 20px;
    .c-hero-body-wrap {
		float: none;
		margin:0 auto 20px auto;
	}

    .c-hero-image-adaptive {
        @media (min-width: $screen-sm) {
            padding-top:30%;
            PICTURE {
                position:absolute;
                top:-25%;
                width:100%;
            }
        }
    }
}
.c-hero-variation-small {

    .ie11 & .c-hero-image {
        overflow: visible;
    }


    .c-hero-image-adaptive {

        &:before {

            @media (max-width: $screen-xs-max) {
                padding-top: 43%;
            }
            @media (min-width: $screen-sm) {
                padding-top: 31%;
            }
            @media (min-width: $screen-md) {
                padding-top: 21%;
            }
        }
        .is-loading{
            background-position: center 104%;
        }

        PICTURE {

            @media (max-width: $screen-xs-max) {
                top: 0;
                left: -19%;
                width: 140%;
            }
            @media (min-width: $screen-sm) {
                top: 0;
            }
            @media (min-width: $screen-md) {
                top: -56%;
            }
        }
    }
}



