.our-story-page {
	.c-product-listing-v2 {
		&-heading,
		&-filter,
		&-pagination,
		&-item-awards,
		&__quick-cta {
			display: none;
		}

		&__list {
			text-align: center;
		}

		&__list-item {
			float: none;
			display: inline-block;
		}


		.o-text__heading-3 {
			font-weight: bold;
			text-transform: uppercase;
			color: #fff;
			font-size: 25px;
			margin-top: 20px;

			a {
				text-decoration: none;
				color: #fff;
			}
		}
	}

	.explore {
		background-image: url("../images/bg-recipe-listing.jpg");
		background-repeat: repeat;
		position: relative;

		&:after {
			content: "";
			background-image: url("../images/recipe-bottom-section.png");
			background-repeat: repeat-x;
			width: 100%;
			display: inline-block;
			position: absolute;
			height: 18px;
			bottom: -17px;
		}
	}
}

// mobile
@media screen and (max-width: 767px) {
	.our-story-page {
		.c-product-listing-v2 {
			&__wrapper { padding: 0; }
			&__list-item {
				width: 100%;
				display: block;
			}
		}
	}
}

// mobile
@media screen and (min-width: 768px) and (max-width: 991px) {
	.our-story-page {
		.c-product-listing-v2 {
			&__wrapper { padding: 0; }
			&__list-item {
				width: 48%;
			}
		}
	}
}
