@import "our-story-explore";
@import "recipe-landing-product-listing";

.c-product-listing-v2 {
    &__loadmore {
        min-height: 100px;
        position: relative;
        text-align: center;

        .o-preloader {
            min-height: inherit;
        }
    }

    &-filter {
        text-align: center;
        padding-bottom: 50px;
    }

    &-heading {
        text-align: center;

        &__sub-heading-container {
            font-size: 17px;
        }

        &__heading-container {
            margin: 20px 0;
            font-size: 27px;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        position: relative;

        .active {
            .o-quick-panel__item-arrow {
                opacity: 1;
                z-index:10;
            }
        }
        &-item {
            &:nth-child(2n+1) {
                clear: left;
            }
            @media(min-width: $screen-sm) {
                &:nth-child(2n+1) {
                    clear: none;
                }
                &:nth-child(3n+1) {
                    clear: left;
                }
            }
        }
    }

    &-filter {
        &__wrapper, &__block, &__container, &-cta {
            display: inline-block;
        }

        &__dropdown {
            width: auto;
        }
    }

    &-item {
        text-align: center;
        margin-bottom: 40px;
        position: static;

        &-awards{
            background: url("../svgs/icn-award-small.svg") center center no-repeat $gray-light;
            width: 35px;
            height: 35px;
            border: solid 1px #efefef;
            background-size: 20px 20px;
            margin-top: -35px;
            position: relative;
            top: 60px;
        }

        &-content {
            &__container {
                &-tags {
                    margin: 10px 0;
                }
            }
        }
    }

    .c-inline-review {
        margin-top: 7px;
    }

    &-quickview {
        &__wrapper {
            padding: 60px 40px 40px;
        }
        &__variants {
            .c-dropdown {
                float: left;
                width: 100%;
                display: block;
                margin: 20px auto;
                @media(min-width: $screen-sm) {
                    width: 100%;
                    display: inline-block;
                }
                &-label {
                    &--single {
                        position: static;
                        background: transparent;
                        span {
                            float: none;
                        }
                    }
                    &__price {
                        line-height: 2.6em;
                    }
                }
            }
        }
    }
    .o-quick-panel__item-arrow {
        content: "";
        position: absolute;
        bottom: -30px;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0;
        margin-left:-15px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid $gray-pale;
        @media (min-width: $screen-sm) {
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid $gray-pale;
            margin-left:-20px;
        }
    }
    .o-btn--close {
        position: absolute;
        right: 20px;
        top: 20px;
        .icon-cross {
            width: 30px;
            height: 30px;
        }
    }

    .bin-widget-overlay {
        background: $color-white;
        position: absolute;
        display: none;
        width: 100%;
        min-height: 400px;
        padding: 50px;
        top: 0;
        margin-left: -150px;
        border: solid 2px $gray;

        @media (min-width: $screen-sm) {
            width: 650px;
            height: 400px;
            margin-left: -325px;
        }
        .etale-popup {
            width: 100%;
            height: 100%;
        }
        .js-modal-etale, .bin-modal-content {
            height: 100%;
        }

        .o-btn--close {
            border: 0 none;
        }
    }
    .c-store-search-pdp {
        &__wrapper {
            width: auto;
            padding: 0;
        }
        &-header {
            margin-top: 40px;
            text-align: left;
        }
        .form-button {
            text-align: left;
        }
        .help-block {
            padding-bottom:0;
        }
    }
}