.recipe-landing-page {
  .c-page-listing-v2 {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1170px;
    padding-top: 50px;
    width: 100%;

    &-heading,
    &-filter,
    &__loadmore {
      display: none;
    }

    &-listing {
      padding: 0;

      &__list {
        padding: 0;
      }

      &-item {
        box-sizing: content-box;
        padding: 0 1.28205128205%;
        margin-bottom: 30px;
        width: 31.62393162393%;
        
        &__image{
          width: 100%;
          height: auto;
        }

        &__title {
          color: $font-hightlight;
          font-size: 24px;
          font-weight: bold;
          letter-spacing: 0.3px;
          line-height: 26px;
          text-transform: uppercase;
        }

        &__long-copy,
        &__publish-date,
        &-cta__container,
        &__tags {
          display: none;
        }

        &:after {
          display: block;
          clear: both;
          content: '';
        }
      }
    }
  }
}


//computers only
@media screen and (min-width: 992px) {
  .js-product-listing__list-item {
    &:first-child,
    &:nth-child(1n+2) {
      > .c-page-listing-v2-listing-item {
        padding-left: 0 !important;
      }
    }

    &:nth-child(3n+0) {
      > .c-page-listing-v2-listing-item {
        padding-right: 0 !important;
      }
    }
  }
}

//tablet
@media screen and (min-width: 768px) and (max-width: 991px) {
  .recipe-landing-page {
    .c-page-listing-v2 {
      width: 100%;

      &-listing {
        font-size: 0;

        &-item {
          float: none;
          display: block;
          padding: 0 2%;
          width: 98%;
        }
      }
    }
  }

  .js-product-listing__list-item {
    display: inline-block;
    float: none;
    font-size: 0;
    width: 50%;

    &:first-child,
    &:nth-child(2n+1) {
      > .c-page-listing-v2-listing-item {
        padding-left: 0 !important;
      }
    }

    &:nth-child(2n+0) {
      > .c-page-listing-v2-listing-item {
        padding-right: 0 !important;
      }
    }
  }
}

//mobile 
@media screen and (max-width: 767px) {
  .recipe-landing-page {
    .c-page-listing-v2 {
      padding-top: 30px;
      width: 100%;
      
      &__wrapper {
        padding: 0 4.6875% !important;
      }

      &-listing {
        font-size: 0;

        &-item {
          float: none;
          display: block;
          padding: 0;
          width: 100%;
        }
      }
    }
  }

  .js-product-listing__list-item {
    width: 100%;
  }
}
